#{extends 'main.html' /}
#{set title:"Vireo Thesis and Dissertaion Submital System - Invalid Token" /}

<div class="row pageHead">
	<h3 class="red">Invalid Token</h3>
</div>
<br />
<div class="row">
	<div class="span">
		<h4>Instructions:</h4>
		<p>The URL you provided is invalid. The URL may have been broken
		   across multiple lines in your email client, like this:</p>
		<br />
<pre>
 @@{Authentication.register}?token=LRdwGrXgGA75fln5Ih1O_EFFlk6OhjT3A
 xYzVkFg1nvWQ
</pre>
		<br />
		<p>If so, copy and paste the entire URL directly into your
		   browser's address bar, rather than simply clicking on the link. The
		   address bar should then contain something like:</p>
		<br />
<pre>
@@{Authentication.register}?token=LRdwGrXgGA75fln5Ih1O_EFFlk6OhjT3AxYzVkFg1nvWQ
</pre>
		<br />
	</div>
</div>