#{extends 'main.html' /}
#{set title:'Vireo Thesis and Dissertaion Submital System - Select an Authentication Method' /}

<div class="row pageHead">
	<h3>Please select an authentication method</h3>
</div>
<br />
<div class="row">
	<div class="span8">
		<p><h4>Please select one of the available authentication methods.</h4></p>
	</div>
</div>
<br />
#{list items:visibleMethods, as:'method'}
<div class="row">
	<span class="span3 center">
	   <a href="@@{Authentication.loginMethod(method.getBeanName())}" class="btn">${method.getDisplayName()}</a>
	</span>
	<span class="span7">
	   <p>#{verbatim}${method.getDisplayDescription()}#{/verbatim}</p>
	</span>
</div>
<br />
#{/list}
<br />
