<div class="row admin-page">
	<div class="col-sm-2"></div>
	<div class="col-sm-10" ng-controller="SubmissionListController">

		<modal 
			modal-id="customizeSubmissionListModal" 
			modal-view="views/modals/submissions/customizeSubmissionListModal.html" 
			modal-header-class="modal-header-primary">
		</modal>

		<h1>List ETDs</h1>
		<hr>
		<a href="" ng-click="openModal('#customizeSubmissionListModal')">Customize view</a>

		 <table ng-table-dynamic="tableParams with userColumns" show-filter="false" class="table table-bordered table-striped" id="etd-table">
			<tr ng-repeat="row in $data track by row.id">
				<td ng-repeat="col in $columns">{{getSubmissionProperty(row, col)}}</td>
			</tr>
		</table>

	</div>
</div>
