<div class="item-view" ng-controller="ItemViewController">

	<div class="row">
		<h1>
			<span ng-if="!submission">Loading Submission...</span>
			<span ng-if="submission">{{title}}</span>
		</h1>
		<hr>	
	 	<tabs>
			<tab class="item-view" ng-repeat="workflowStep in submission.submissionWorkflowSteps" ng-if="showTab(workflowStep)" label="{{workflowStep.name}}" path="admin/view/{{workflowStep.id}}/{{submission.id}}" view="views/admin/info/workflowStep.html"></tab>
		</tabs>
	</div>
	
	<div class="row">	
		<h1>REVIEWER NOTES</h1>
		<div class="form-inline reviewer-notes">
			<span ng-if="!savingReviewerNotes && !editingReviewerNotes" class="glyphicon glyphicon-pencil toggle-href" ng-click="editReviewerNotes()"></span>
			<span ng-if="savingReviewerNotes" class="glyphicon glyphicon-refresh spinning"> </span>
			<span ng-if="!editingReviewerNotes" ng-class="{'info-empty': !submission.reviewerNotes}">{{submission.reviewerNotes || 'none'}}</span>
			<div class="input-group" ng-if="editingReviewerNotes">
				<textarea class="form-control" ng-model="submission.reviewerNotes" cols="200"></textarea>
				<span class="glyphicon glyphicon-ok toggle-href" ng-click="saveReviewerNotes()"></span>
				<span class="glyphicon glyphicon-remove toggle-href" ng-click="cancelReviewerNotes()"></span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<h1>ACTION LOG</h1>
	</div>
	
	<div class="row">
		<a name="all-files"></a> 
		<h1>ALL FILES</h1>
		<table class="table table-bordered table-striped table-hover etd-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>File</th>
					<th>Type</th>
					<th>Time</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="documentFieldValue in documentFieldValues track by $index">
					<td>{{submission.submitter.firstName + ' ' + submission.submitter.lastName}}</td>
					<td><a href ng-click="getFile(documentFieldValue)">{{documentFieldValue.fileInfo.name}}</a></td>
					<td>{{documentFieldValue.fieldPredicate.value}}</td>
					<td>{{documentFieldValue.fileInfo.time | date : 'MM/dd/yyyy h:mm:ss a' }}</td>
					<td><span class="glyphicon glyphicon-pencil toggle-href" ng-click="editFile()"></span></td>
				</tr>
			</tbody>
			<tfoot class="header">
				<tr>
					<th colspan="5"><button class="btn btn-default pull-right">Add File</button></th>
				</tr>
			</tfoot>
		</table>		
	</div>

</div>