<div class="item-view" ng-controller="ItemViewController">

	<h1>
		<span ng-if="!submission">Loading Submission...</span>
		<span ng-if="submission">{{getViewTitle()}}</span>
	</h1>
	<hr>

	<tabs target="submissionView" param="submission.id">
		<tab path="admin/view/personal" html="views/admin/info/personal.html">Personal Info</tab>
		<tab path="admin/view/document" html="views/admin/info/document.html">Document Info</tab>
		<tab path="admin/view/degree" html="views/admin/info/degree.html">Degree Info</tab>
	</tabs>

	<tabview class="item-view" for="submissionView"></tabview>

</div>