<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="closeModal()" aria-label="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Delete Workflow Step</h3>
</div>

<form ng-submit="deleteWorkflowStep(step)" novalidate>

	<validationmessage results="step.ValidationResults"></validationmessage>

	<div class="modal-body">
		<h4>Really delete workflow step "{{step.name}}"?</h4>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
		<button type="submit" class="btn btn-danger">Confirm</button>
	</div>
</form>
