#{extends 'admin.html' /}

<div id="left-column" class="pull-left">

	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Now filtering By:</div>
		</div>
		<div class="box-body">
		
		    #{if activeFilter.getSearchText().size() > 0 }
			<div class="sub-heading">SEARCH BOX</div>
			<ul class="unstyled">
			    #{list items:activeFilter.getSearchText(), as:'value'}
				<li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=text&value=${value.urlEncode()}">${value}</a></li>
				#{/list}
			</ul>
			#{/if}
			
			#{if activeFilter.getStates().size() > 0 }
            <div class="sub-heading">STATUS</div>
            <ul class="unstyled editable">
                {%
                Boolean showActive = false;
                Boolean showArchived = false;
                
                for(String stateName : activeFilter.getStates()) {
                    org.tdl.vireo.state.State state = stateManager.getState(stateName)
                    if (state.isActive()) {
                        showActive = true;
                    }
                    if (state.isArchived()) {
                        showArchived = true;
                    }
                }
                }%              
                
                <!-- List all non-active non-archive states -->
                #{list items:activeFilter.getStates(), as:'value'}
                %{ org.tdl.vireo.state.State state = stateManager.getState(value) }%
                #{if !state.isActive() && !state.isArchived() }
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=state&value=${value.urlEncode()}">${state.getDisplayName()}</a><li>
                #{/if}
                #{/list}
                
                <!-- List Active states -->
                #{if showActive }
                <li>+ Active
                <ul class="unstyled">
                #{list items:activeFilter.getStates(), as:'value'}
                %{ org.tdl.vireo.state.State state = stateManager.getState(value) }%
                #{if state.isActive() }
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=state&value=${value.urlEncode()}">${state.getDisplayName()}</a></li>
                #{/if}
                #{/list}
                </ul>
                </li>
                #{/if}
                
                <!-- List Archived states -->
                #{if showArchived}
                <li>+ Archived
                <ul class="unstyled">
                #{list items:activeFilter.getStates(), as:'value'}
                %{ org.tdl.vireo.state.State state = stateManager.getState(value) }%
                #{if state.isArchived() }
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=state&value=${value.urlEncode()}">${state.getDisplayName()}</a></li>
                #{/if}
                #{/list}
                </ul>
                </li>
                #{/if}
                
                
                
            </ul>
            #{/if}
            
            #{if activeFilter.getAssignees().size() > 0 }
            <div class="sub-heading">ASSIGNED TO</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getAssignees(), as:'person'}
                #{if person == null}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=assignee&value=null">Unassigned</a></li>
                #{/if}
                #{else}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=assignee&value=${person.getId()}">${person.getFullName()}</a></li>
                #{/else}
                #{/list}
            </ul>
            #{/if}
            
            <!-- TODO: Graduation Semester -->
            
            #{if activeFilter.getDepartments().size() > 0 }
            <div class="sub-heading">DEPARTMENT</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getDepartments(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=department&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getColleges().size() > 0 }
            <div class="sub-heading">COLLEGE</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getColleges(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=college&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getMajors().size() > 0 }
            <div class="sub-heading">MAJOR</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getMajors(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=major&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            <!-- TODO: Embargo Type -->

            #{if activeFilter.getDegrees().size() > 0 }
            <div class="sub-heading">DEGREE</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getDegrees(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=degree&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getDocumentTypes().size() > 0 }
            <div class="sub-heading">DOCUMENT TYPE</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getDocumentTypes(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=docType&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            <!-- Submission Date -->
            
            <!-- Submission Date (Range) -->
            
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Filter Options:</div>
		</div>
		<div class="box-body">
			<div class="sub-heading">MANAGE FILTERS</div>
			<ul class="unstyled">
				<li><a href="@{Review.ModifyFilter(nav)}?action=clear">Clear current filter</a></li>
				<li>Save or edit filters</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Filter Further By:</div>
		</div>
		<div class="box-body">
			<div class="sub-heading">SEARCH BOX</div>
			<ul class="unstyled">
				<li><form action="@{Review.modifyFilter(nav)}" method="POST" class="form-search">
				    <input type="hidden" name="type" value="text"/>
				    <input type="hidden" name="action" value="add"/>
					<input type="text" name="value" class="input-small">
					<button type="submit" class="btn btn-primary">Go</button>
				</form></li>
			</ul>
			<div class="sub-heading">STATUS</div>
			<ul class="unstyled">
                {%
                
                // Expand means:
                // null - don't display at all because there's nothing to add underneith it.
                // false - None of this category have been added, so display it collapsed.
                // true - Some of this category have been added, so display it expanded.
                Boolean expandActive = false;
                Boolean expandArchived = false;
                
                for(String stateName : activeFilter.getStates()) {
                    org.tdl.vireo.state.State state = stateManager.getState(stateName)
                    if (state.isActive())
                        expandActive = null;
                    if (state.isArchived())
                        expandArchived = null;
                }
                
                
                for(org.tdl.vireo.state.State state : stateManager.getAllStates()) {
                    if (expandActive == null && state.isActive() && !activeFilter.getStates().contains(state.getBeanName()))
                        expandActive = true;
                    if (expandArchived == null && state.isArchived() && !activeFilter.getStates().contains(state.getBeanName()))
                        expandArchived = true;
                }

                
                %}
                
                <!-- List all non-active non-archive states -->
			    #{list items:stateManager.getAllStates(), as:'state'}
			    #{if !state.isActive() && !state.isArchived() && !activeFilter.getStates().contains(state.getBeanName())}
			    <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=state&value=${state.getBeanName().urlEncode()}">${state.getDisplayName()}</a></li>
			    #{/if}
			    #{/list}
			    
			    <!-- List Active states -->
			    #{if expandActive != null}
                <li>#{if !expandActive}<span class="more">+ Active...</span>#{/if}<span #{if !expandActive}class="hidden"#{/if}>+ Active</span>
                <ul class="unstyled#{if !expandActive} hidden#{/if}">
                #{list items:stateManager.getAllStates(), as:'state'}
                #{if state.isActive() && !activeFilter.getStates().contains(state.getBeanName())}
                <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=state&value=${state.getBeanName().urlEncode()}">${state.getDisplayName()}</a></li>
                #{/if}
                #{/list}
                </ul>
                </li>
                #{/if}
                
                <!-- List Archived states -->
                #{if expandArchived != null}
               <li>#{if !expandArchived}<span class="more">+ Archived...</span>#{/if}<span #{if !expandArchived}class="hidden"#{/if}>+ Archived</span>
                <ul class="unstyled#{if !expandArchived} hidden#{/if}">
                #{list items:stateManager.getAllStates(), as:'state'}
                #{if state.isArchived() && !activeFilter.getStates().contains(state.getBeanName())}
                <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=state&value=${state.getBeanName().urlEncode()}">${state.getDisplayName()}</a></li>
                #{/if}
                #{/list}
                </ul>
                </li>
                #{/if}
			</ul>
			<div class="sub-heading">ASSIGNED TO</div>
			<ul class="unstyled">
			    #{if !activeFilter.getAssignees().contains(null) }
                <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=assignee&value=null">Unassigned</a>
                #{/if}
                %{ int shown = 1 // because of unassigned }%
			    #{list items:personRepo.findAllPersons(), as:'person'}
			    #{if !activeFilter.getAssignees().contains(person) }{% shown++ %}
			    #{if shown == 6}
			    <li class="more">more...</li>
			    #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=assignee&value=${person.getId()}">${person.getFullName()}</a></li>
                #{/if}
                #{/list}
			</ul>
			
			<!-- TODO: Graduation Semester -->
			
			<div class="sub-heading">DEPARTMENT</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllDepartments(), as:'dept'}
                #{if !activeFilter.getDepartments().contains(dept.getName()) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=department&value=${dept.getName().urlEncode()}">${dept.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
			
			<div class="sub-heading">COLLEGE</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllColleges(), as:'college'}
                #{if !activeFilter.getColleges().contains(college.getName()) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=college&value=${college.getName().urlEncode()}">${college.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
            
            <div class="sub-heading">MAJOR</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllMajors(), as:'major'}
                #{if !activeFilter.getMajors().contains(major.getName()) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=major&value=${major.getName().urlEncode()}">${major.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
            
            <!-- TODO: Embargo Types -->
            
            <div class="sub-heading">DEGREE</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllDegrees(), as:'degree'}
                #{if !activeFilter.getDegrees().contains(degree.getName()) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=degree&value=${degree.getName().urlEncode()}">${degree.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
			
			<div class="sub-heading">DOCUMENT TYPE</div>
			<ul class="unstyled">
			    %{ shown = 0 }%
                #{list items:settingRepo.findAllDocumentTypes(), as:'docType'}
                #{if !activeFilter.getDocumentTypes().contains(docType.getName()) }{% shown++ %}
                 #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=docType&value=${docType.getName().urlEncode()}">${docType.getName()}</a></li>
                #{/if}
                #{/list}
			</ul>
			
			<!-- TODO: Submission Date (Choose) -->
			
			<!-- TODO: Submission Date (Range) -->
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Advanced Features:</div>
		</div>
		<div class="box-body">
			<div class="sub-heading">EXPORT FUNCTIONS</div>
			<ul class="unstyled">
				<li>Export Items</li>
				<li>Export MARCXML Records</li>
				<li>Export MODS Records</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>

</div>
<div id="right-column">
	<div class="inner">
		<h1>List ETDs</h1>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<td>ID</td>
					<td>Student name</td>
					<td>Status</td>
					<td>Document title</td>
					<td>Submission date</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Danes, Claire</td>
					<td>Under Review</td>
					<td>Amazing ETD Title</td>
					<td>08 May 2012</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Thornton, Billy</td>
					<td>Submitted</td>
					<td>Bad News Bears</td>
					<td>16 May 2012</td>
				</tr>
				<tr>
					<td class="comments" colspan="5">2 matching records displayed on 1 page</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>