#{extends 'admin.html' /}

<div id="left-column" class="pull-left">

	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Now filtering By:</div>
		</div>
		<div class="box-body">
		
		    #{if activeFilter.getSearchText().size() > 0 }
			<div class="sub-heading">SEARCH BOX</div>
			<ul class="unstyled">
			    #{list items:activeFilter.getSearchText(), as:'value'}
				<li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=text&value=${value.urlEncode()}">${value}</a></li>
				#{/list}
			</ul>
			#{/if}
			
			#{if activeFilter.getStates().size() > 0 }
            <div class="sub-heading">STATUS</div>
            <ul class="unstyled editable">
                {%
                Boolean showActive = false;
                Boolean showArchived = false;
                
                for(String stateName : activeFilter.getStates()) {
                    org.tdl.vireo.state.State state = stateManager.getState(stateName)
                    if (state.isActive()) {
                        showActive = true;
                    }
                    if (state.isArchived()) {
                        showArchived = true;
                    }
                }
                }%              
                
                <!-- List all non-active non-archive states -->
                #{list items:activeFilter.getStates(), as:'value'}
                %{ org.tdl.vireo.state.State state = stateManager.getState(value) }%
                #{if !state.isActive() && !state.isArchived() }
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=state&value=${value.urlEncode()}">${state.getDisplayName()}</a><li>
                #{/if}
                #{/list}
                
                <!-- List Active states -->
                #{if showActive }
                <li>+ Active
                <ul class="unstyled">
                #{list items:activeFilter.getStates(), as:'value'}
                %{ org.tdl.vireo.state.State state = stateManager.getState(value) }%
                #{if state.isActive() }
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=state&value=${value.urlEncode()}">${state.getDisplayName()}</a></li>
                #{/if}
                #{/list}
                </ul>
                </li>
                #{/if}
                
                <!-- List Archived states -->
                #{if showArchived}
                <li>+ Archived
                <ul class="unstyled">
                #{list items:activeFilter.getStates(), as:'value'}
                %{ org.tdl.vireo.state.State state = stateManager.getState(value) }%
                #{if state.isArchived() }
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=state&value=${value.urlEncode()}">${state.getDisplayName()}</a></li>
                #{/if}
                #{/list}
                </ul>
                </li>
                #{/if}
            </ul>
            #{/if}
            
            #{if activeFilter.getAssignees().size() > 0 }
            <div class="sub-heading">ASSIGNED TO</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getAssignees(), as:'person'}
                #{if person == null}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=assignee&value=null">Unassigned</a></li>
                #{/if}
                #{else}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=assignee&value=${person.getId()}">${person.getFullName()}</a></li>
                #{/else}
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getGraduationSemesters().size() > 0 }
            <div class="sub-heading">GRADUATION SEMESTER</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getGraduationSemesters(), as:'semester'}
                %{ String monthName = new java.text.DateFormatSymbols().getMonths()[semester.month]; }%
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=semester&year=${semester.year}&month=${semester.month}">${semester.year} ${monthName}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getDepartments().size() > 0 }
            <div class="sub-heading">DEPARTMENT</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getDepartments(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=department&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getColleges().size() > 0 }
            <div class="sub-heading">COLLEGE</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getColleges(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=college&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getMajors().size() > 0 }
            <div class="sub-heading">MAJOR</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getMajors(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=major&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
             #{if activeFilter.getEmbargoTypes().size() > 0 }
            <div class="sub-heading">EMBARGO</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getEmbargoTypes(), as:'embargo'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=embargo&value=${embargo.getId()}">${embargo.getName()}</a></li>
                #{/list}
            </ul>
            #{/if}

            #{if activeFilter.getDegrees().size() > 0 }
            <div class="sub-heading">DEGREE</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getDegrees(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=degree&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getDocumentTypes().size() > 0 }
            <div class="sub-heading">DOCUMENT TYPE</div>
            <ul class="unstyled editable">
                #{list items:activeFilter.getDocumentTypes(), as:'value'}
                <li><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=docType&value=${value.urlEncode()}">${value}</a></li>
                #{/list}
            </ul>
            #{/if}
            
            #{if activeFilter.getSubmissionDateRangeStart() != null || activeFilter.getSubmissionDateRangeEnd() != null }
            <div class="sub-heading">SUBMISSION DATE</div>
            <ul class="unstyled editable">
                #{if activeFilter.getSubmissionDateRangeStart() != null}
                <li><strong>Before: </strong><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=rangeStart">${activeFilter.getSubmissionDateRangeStart().format('MM/dd/yyyy')}</a>
                #{/if}
                #{if activeFilter.getSubmissionDateRangeEnd() != null}
                <li><strong>After: </strong><a class="removable" href="@{Review.ModifyFilter(nav)}?action=remove&type=rangeEnd">${activeFilter.getSubmissionDateRangeEnd().format('MM/dd/yyyy')}</a>
                #{/if}
            </ul>
            #{/if}
            
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Filter Options:</div>
		</div>
		<div class="box-body">
			<div class="sub-heading">MANAGE FILTERS</div>
			<ul class="unstyled">
				<li><a href="@{Review.ModifyFilter(nav)}?action=clear">Clear current filter</a></li>
				<li>Save or edit filters</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Filter Further By:</div>
		</div>
		<div class="box-body">
			<div class="sub-heading">SEARCH BOX</div>
			<ul class="unstyled">
				<li><form action="@{Review.modifyFilter(nav)}" method="POST" class="form-search">
				    <input type="hidden" name="type" value="text"/>
				    <input type="hidden" name="action" value="add"/>
					<input type="text" name="value" class="input-small">
					<button type="submit" class="btn btn-primary">Go</button>
				</form></li>
			</ul>
			<div class="sub-heading">STATUS</div>
			<ul class="unstyled">
                {%
                
                // Expand means:
                // null - don't display at all because there's nothing to add underneith it.
                // false - None of this category have been added, so display it collapsed.
                // true - Some of this category have been added, so display it expanded.
                Boolean expandActive = false;
                Boolean expandArchived = false;
                
                for(String stateName : activeFilter.getStates()) {
                    org.tdl.vireo.state.State state = stateManager.getState(stateName)
                    if (state.isActive())
                        expandActive = null;
                    if (state.isArchived())
                        expandArchived = null;
                }
                
                
                for(org.tdl.vireo.state.State state : stateManager.getAllStates()) {
                    if (expandActive == null && state.isActive() && !activeFilter.getStates().contains(state.getBeanName()))
                        expandActive = true;
                    if (expandArchived == null && state.isArchived() && !activeFilter.getStates().contains(state.getBeanName()))
                        expandArchived = true;
                }

                
                %}
                
                <!-- List all non-active non-archive states -->
			    #{list items:stateManager.getAllStates(), as:'state'}
			    #{if !state.isActive() && !state.isArchived() && !activeFilter.getStates().contains(state.getBeanName())}
			    <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=state&value=${state.getBeanName().urlEncode()}">${state.getDisplayName()}</a></li>
			    #{/if}
			    #{/list}
			    
			    <!-- List Active states -->
			    #{if expandActive != null}
                <li>#{if !expandActive}<span class="more">+ Active...</span>#{/if}<span #{if !expandActive}class="hidden"#{/if}>+ Active</span>
                <ul class="unstyled#{if !expandActive} hidden#{/if}">
                #{list items:stateManager.getAllStates(), as:'state'}
                #{if state.isActive() && !activeFilter.getStates().contains(state.getBeanName())}
                <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=state&value=${state.getBeanName().urlEncode()}">${state.getDisplayName()}</a></li>
                #{/if}
                #{/list}
                </ul>
                </li>
                #{/if}
                
                <!-- List Archived states -->
                #{if expandArchived != null}
               <li>#{if !expandArchived}<span class="more">+ Archived...</span>#{/if}<span #{if !expandArchived}class="hidden"#{/if}>+ Archived</span>
                <ul class="unstyled#{if !expandArchived} hidden#{/if}">
                #{list items:stateManager.getAllStates(), as:'state'}
                #{if state.isArchived() && !activeFilter.getStates().contains(state.getBeanName())}
                <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=state&value=${state.getBeanName().urlEncode()}">${state.getDisplayName()}</a></li>
                #{/if}
                #{/list}
                </ul>
                </li>
                #{/if}
			</ul>
			
			<div class="sub-heading">ASSIGNED TO</div>
			<ul class="unstyled">
			    #{if !activeFilter.getAssignees().contains(null) }
                <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=assignee&value=null">Unassigned</a>
                #{/if}
                %{ int shown = 1 // because of unassigned }%
			    #{list items:personRepo.findPersonsByRole(org.tdl.vireo.model.RoleType.REVIEWER), as:'person'}
			    #{if !activeFilter.getAssignees().contains(person) }{% shown++ %}
			    #{if shown == 6}
			    <li class="more">more...</li>
			    #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=assignee&value=${person.getId()}">${person.getFullName()}</a></li>
                #{/if}
                #{/list}
			</ul>
			
			<div class="sub-heading">GRADUATION SEMESTER</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:subRepo.findAllGraduationSemesters(), as:'semester'}
                #{if !activeFilter.getGraduationSemesters().contains(semester) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                %{ String monthName = new java.text.DateFormatSymbols().getMonths()[semester.month]; }%
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=semester&year=${semester.year}&month=${semester.month}">${semester.year} ${monthName}</a></li>
                #{/if}
                #{/list}
            </ul>
			
			<div class="sub-heading">DEPARTMENT</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllDepartments(), as:'dept'}
                #{if !activeFilter.getDepartments().contains(dept.getName()) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=department&value=${dept.getName().urlEncode()}">${dept.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
			
			<div class="sub-heading">COLLEGE</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllColleges(), as:'college'}
                #{if !activeFilter.getColleges().contains(college.getName()) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=college&value=${college.getName().urlEncode()}">${college.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
            
            <div class="sub-heading">MAJOR</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllMajors(), as:'major'}
                #{if !activeFilter.getMajors().contains(major.getName()) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=major&value=${major.getName().urlEncode()}">${major.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
            
            <div class="sub-heading">EMBARGO</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllEmbargoTypes(), as:'embargo'}
                #{if !activeFilter.getEmbargoTypes().contains(embargo) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=embargo&value=${embargo.getId()}">${embargo.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
            
            <div class="sub-heading">DEGREE</div>
            <ul class="unstyled">
                %{ shown = 0 }%
                #{list items:settingRepo.findAllDegrees(), as:'degree'}
                #{if !activeFilter.getDegrees().contains(degree.getName()) }{% shown++ %}
                #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=degree&value=${degree.getName().urlEncode()}">${degree.getName()}</a></li>
                #{/if}
                #{/list}
            </ul>
			
			<div class="sub-heading">DOCUMENT TYPE</div>
			<ul class="unstyled">
			    %{ shown = 0 }%
                #{list items:settingRepo.findAllDocumentTypes(), as:'docType'}
                #{if !activeFilter.getDocumentTypes().contains(docType.getName()) }{% shown++ %}
                 #{if shown == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if shown >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=docType&value=${docType.getName().urlEncode()}">${docType.getName()}</a></li>
                #{/if}
                #{/list}
			</ul>
			
			<!-- TODO: Submission Date (Choose) -->
			
			<div class="sub-heading">SUBMISSION DATE (CHOOSE)</div>
		    <ul class="unstyled">
		        %{
		          Date start = activeFilter.getSubmissionDateRangeStart();
		          Date end = activeFilter.getSubmissionDateRangeEnd();
		        }%
		     
		        #{if start == null && end == null }
		        #{list items:subRepo.findAllSubmissionYears(), as:'year'}
		        #{if year_index == 6}
		        <li class="more">more...</li>
		        #{/if}
		        <li #{if year_index >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=rangeChoose&year=${year}">${year}</a></li>
		        #{/list}
		        #{/if}
		        *{ If the range is for exactly a year, then allow the user to narrow the date to a month. }*
		        #{elseif start != null && end != null && start.getYear() == end.getYear() && start.getMonth() == 0 && start.getDate() == 1 && end.getMonth() == 11 && end.getDate() == 31}
                #{list items:0..11, as:'month'}
                %{ 
                String monthName = new java.text.DateFormatSymbols().getMonths()[month]; 
                int year = start.getYear() + 1900;
                }%
                #{if month_index == 6}
                <li class="more">more...</li>
                #{/if}
                <li #{if month_index >= 6}class="hidden"#{/if}><a href="@{Review.ModifyFilter(nav)}?action=add&type=rangeChoose&&year=${year}&month=${month}">${monthName}</a></li>
                #{/list}
		        #{/elseif}
		        #{elseif start != null && end != null && start.getYear() == end.getYear() && start.getMonth() == end.getMonth() && start.getDate() == 1 && end.getDate() >= 28}
		        %{
		        int year = start.getYear() + 1900;
		        int month = start.getMonth();
		        }%
		        <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=rangeChoose&&year=${year}&month=${month}&days=1">Days 1-10</a></li>
		        <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=rangeChoose&&year=${year}&month=${month}&days=11">Days 11-20</a></li>
		        <li><a href="@{Review.ModifyFilter(nav)}?action=add&type=rangeChoose&&year=${year}&month=${month}&days=21">Days 21-31</a></li>
		        #{/elseif}
		    </ul>
			
			
			<div class="sub-heading">SUBMISSION DATE (RANGE)</div>
			<ul class="unstyled">
			    #{if activeFilter.getSubmissionDateRangeStart() == null || activeFilter.getSubmissionDateRangeEnd() == null }
			    <li><form action="@{Review.modifyFilter(nav)}" method="POST" class="form-search">
                    <input type="hidden" name="type" value="range"/>
                    <input type="hidden" name="action" value="add"/>
                    #{if activeFilter.getSubmissionDateRangeStart() == null }
                    <p class="daterange-label">After:</p>
                    <input type="text" name="startDate" class="input-small">
                    <p class="daterange-hint">MM/DD/YYYY</p>
                    #{/if}
                    #{if activeFilter.getSubmissionDateRangeEnd() == null }
                    <p class="daterange-label">Before:</p>
                    <input type="text" name="endDate" class="input-small">
                    <p class="daterange-hint">MM/DD/YYYY</p>
                    #{/if}
                    <button type="submit" class="btn btn-primary">Go</button>
                </form></li>
                #{/if}
			</ul>
			
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Advanced Features:</div>
		</div>
		<div class="box-body">
			<div class="sub-heading">EXPORT FUNCTIONS</div>
			<ul class="unstyled">
				<li>Export Items</li>
				<li>Export MARCXML Records</li>
				<li>Export MODS Records</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>

</div>
<div id="right-column">
	<div class="inner">
		<h1>List ETDs</h1>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<td>ID</td>
					<td>Student name</td>
					<td>Status</td>
					<td>Document title</td>
					<td>Submission date</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Danes, Claire</td>
					<td>Under Review</td>
					<td>Amazing ETD Title</td>
					<td>08 May 2012</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Thornton, Billy</td>
					<td>Submitted</td>
					<td>Bad News Bears</td>
					<td>16 May 2012</td>
				</tr>
				<tr>
					<td class="comments" colspan="5">2 matching records displayed on 1 page</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>