<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="box.resetBatchAssignTo()" aria-title="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Batch Assign To</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <p>This batch operation will modify the assignee of all the submissions selected by the currently active filter.</p>

            <p>This operation may take quite some time depending on how many submissions are currently selected.</p>

            <form class="form-inline" name="">
                <label class="control-title" for="newStatus"><strong>Assign To</strong>:</label>
                <select 
                    class="form-control"
                    name="assign"
                    ng-init="box.assignee = box.assignableUsers[0]"
                    ng-model="box.assignee"
                    ng-options="au as au.settings.displayName for au in box.assignableUsers">
                </select>
            </form>

        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="box.resetBatchAssignTo()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="box.batchAssignTo(box.assignee)">Assign user</button>
</div>