#{extends 'main.html' /}
#{set title:'Submission Status' /}
#{set 'moreScripts'}
<style>
	#checkBeforeNewSub-modal {
		width: 965px;
		margin: -250px 0px 0px -480px
	}
	
	#checkBeforeNewSub-wrap {
		bottom: 5%;
		right: 2%;
		padding: 10px 20px
	}
	
	#checkBeforeNewSub-modal > div.modal-header > h4 {
		margin-left: 50px
	}
	#checkBeforeNewSub-modal > h3 {
		margin-left: 60px
	}
</style>
<script type="text/javascript" >

jQuery(document).ready(function() {
	jQuery(".submission-delete").live("click", function() {
		if (jQuery(this).text().indexOf("Are you sure?") >= 0) {
			return true;
		} else {
			jQuery(this).text("Are you sure?");
			return false;
		}
	});
	
	jQuery('#checkBeforeNewSub-modal').modal({
		'show': false
 	});
});

function checkBeforeNewSub() {
	// clear out any previous errors
	jQuery("#checkBeforeNewSub-errors").html("");
	jQuery("#checkBeforeNewSub-modal .control-group").each(function () {
		jQuery(this).removeClass("error"); 
	});
	// clear out any previous appended <tr>s
	jQuery("#checkBeforeNewSub-submission-table thead").html("");
	jQuery("#checkBeforeNewSub-submission-table tbody").html("");
	
	var thead = $("#submissions-table").find("tr.sub-heading");
	var tbody = $("#submissions-table").find("tr.sub-inprogress");
	if(tbody.size() > 0) {
		jQuery("#checkBeforeNewSub-submission-table thead").append("<tr>" + thead.html()+ "</tr>");
		tbody.each(function(index, element){
			jQuery("#checkBeforeNewSub-submission-table tbody").append("<tr>" + $(element).html()+ "</tr>");
		});
		
		jQuery('#checkBeforeNewSub-modal').modal('show');
	} else {
		startNewSub();
	}
}

function startNewSub() {
	var newSubURL = "@{submit.PersonalInfo.personalInfo()}";
	window.location = newSubURL;
}
</script>
#{/set}

<ul class="breadcrumb">
	<li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
	<li class="active">Submissions</li>
</ul>
<div class="row pageHead">
    <h3 class="span11">Submission Status</h3>
</div>
<br />

<div class="row">
    <table id="submissions-table" class="table table-striped table-bordered table-condensed">
    <caption><h4>
				#{if subStatus.getSubmissionsOpen()}
						<p class="center red">Currently accepting submissions for the ${subStatus.getCurrentSemester()} semester.</p>
				#{/if}
				#{else}
						<p class="alert alert-error">The system is currently closed for new submissions; please contact your thesis office for more information.</p>
				#{/else}
	</h4></caption>
	<thead>
		<tr class="sub-heading">
			<th>Title</th>
			<th>Manuscript</th>
			<th>Status</th>
			<th>Date Submitted</th>
			<th>Assigned To</th>
			<th>Actions</th>
		</tr>
	</thead>
		<tbody>
        #{list items:submissions, as:"sub"}
	        <tr${ (sub.getState().isInProgress() || sub.getState().isEditableByStudent()) ? " class='sub-inprogress'" : ""}>
	            <td>${sub.getDocumentTitle()}</td>
				<td>${sub.getPrimaryDocument() == null ? "none" : sub.getPrimaryDocument().getName()}
				#{if sub.getPrimaryDocument() != null}
				    <a href="@{Student.viewAttachment(sub.getId(),sub.getPrimaryDocument().getId(),sub.getPrimaryDocument().getName())}">[view]</a>
				#{/if}
				</td>
				<td ${sub.getState().isEditableByStudent() ? "class='red'" : ""}>
				    ${sub.getState().getDisplayName()}
				    #{if !subStatus.getSubmissionsOpen() && sub.getState().isInProgress() }
				    <br/><span class="red">This submission was not completed by the deadline. Please contact the thesis office.</span>
				    #{/if}
				</td>
				<td>${sub.getSubmissionDate() == null ? "n/a" : sub.getSubmissionDate().format('dd MMMM yyyy')}</td>
				<td>${sub.getAssignee() == null ? "Unassigned" : sub.getAssignee().getDisplayName()}</td>
				<td> 
				#{if !subStatus.getSubmissionsOpen() && sub.getState().isInProgress() }
				    *{ submissions closed before the user was able to finish their submission. }*
				    <a id="submission-delete" class="btn btn-primary" href="@{Student.submissionDelete(sub.getId())}">Delete</a>
				#{/if}
				#{elseif sub.getState().isInProgress() }
				    <a id="submission-continue" class="btn btn-primary" href="@{submit.PersonalInfo.personalInfo(sub.getId())}">Continue</a>
				    <a id="submission-delete_${sub.getId()}" class="btn btn-primary submission-delete" href="@{Student.submissionDelete(sub.getId())}">Delete</a>
                #{/elseif} 
                #{else}
				     <a class="btn btn-primary" href="@{Student.submissionView(sub.getId())}">
				     	${ sub.getState().isEditableByStudent() ? "Edit" : "View" }
				     </a>				 
				#{/else}
				</td>
	        </tr>
        #{/list}
        </tbody>
	</table>
	#{if subStatus.getSubmissionsOpen()}
		#{if subStatus.getAllowMultiple() || !subStatus.getHasSubmissions()}
		<div class="form-actions row center">
			<a href="javascript:void(0)" onclick="checkBeforeNewSub()" class="btn btn-primary">Start a new submission</a>
		</div>
		#{/if}
		#{else}
		<div class="form-actions row center">
			<p class="alert alert-error">You've already submitted an ETD or have one in progress!</p>
		</div>
		#{/else}
	#{/if}
</div>

<div class="modal fade" id="checkBeforeNewSub-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">X</button>
		<h4>
			<p class="center red">You currently have a submission in progress!</p>
		</h4>
	</div>
	<div class="modal-body">
		<ul id="checkBeforeNewSub-errors" class="red">
		</ul>
		<table id="checkBeforeNewSub-submission-table" class="table table-striped table-bordered table-condensed">
			<caption>
				<h5>
					<div id="checkBeforeNewSub-wrap" class="alert alert-danger">
						<p>If you have a document which “Needs Corrections”, please click the Edit button next to it.
						<br/>
						If you have a document “In Progress,”  please Continue or Delete the submission instead of starting a new one.
						</p>
					</div>
				</h5>
			</caption>
			<thead>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<h3>Are you sure you want to start a new submission for a different degree?</h3>
	<div class="modal-footer">
		<a id="checkBeforeNewSub-cancel" href="javascript:void(0);" class="btn" data-dismiss="modal">Cancel</a>
		<a id="checkBeforeNewSub-start" href="javascript:void(0);" onclick="startNewSub()" class="btn btn-primary">Start a new submission anyway</a>
	</div>
</div>

