#{extends 'main.html' /}
#{set title:'View Application' /}
#{set 'moreScripts'}

<style type="text/css">
#customActionsDetails > label {
    display: inline-block;
    margin-left: 5px;
}
</style>

<script type="text/javascript" >

jQuery(document).ready(function() {
	var correctionsToggle = 0;
	jQuery("#correctionsWrap .doToggle").click(function(e) {
		e.preventDefault();
		correctionsToggle++;
		if ((correctionsToggle % 2) == 0) {
			$(this).html("[-]");
		} else {
			$(this).html("[+]");
		}
		$("#stateDetails").slideToggle();
	});
	
	var customActionsToggle = 0;
	jQuery("#customActionsWrap .doToggle").click(function(e) {
		e.preventDefault();
		customActionsToggle++;
		if ((customActionsToggle % 2) == 0) {
			$(this).html("[-]");
		} else {
			$(this).html("[+]");
		}
		$("#customActionsDetails").slideToggle();
	});
	
    jQuery("#submit_corrections").click(function() {
    	
        if (jQuery(this).val().indexOf("Are you sure?") >= 0) {
            return true;
        }
        jQuery(this).val("Are you sure?");
        jQuery("#submit-corrections-warning").slideToggle(500);
        return false;
    });
    
    jQuery("#replacePrimary").live("click",function() {
		var updateData = {"path":"@{Student.submissionView(subId)}","id":"#primaryDocumentWrap"};
		jQuery(updateData.id).fadeTo("slow",0.5,function() {
			jQuery(updateData.id).load(updateData.path+" "+updateData.id,{"replacePrimary":$(this).val()},function() {
				jQuery(updateData.id).fadeTo("fast",1);
				updateActionLog();
			});
		});
    	return false;
    });
    
    if( window.FormData !== undefined ) {
	    jQuery("#uploadPrimary").live("click",function() {
	    	var theFileSelector = document.getElementById("primaryFile");
	    	if (validateFile(theFileSelector)) {
				var theFiles = theFileSelector.files;
		   		var file = theFiles[0];
		   		if (file.type.match('application/pdf')) {
		   			var fData = {"file":{"name":"primaryDocument","file":file,"filename":file.name}};
		   			var postPath = "@{Student.submissionUploadPrimaryDocumentJSON(subId)}";
		   			var updateData = {"path":"@{Student.submissionView(subId)}","id":"#primaryDocumentWrap"};
					uploadFile(fData,postPath,updateData);
		   		} else {
					generateAjaxError("The manuscript must be in PDF format");
				}
		    }
			return false;
	    });
	
	    jQuery("#uploadAdditional").click(function() {
	    	if (($("#documentType").val() != '')) {
		    	var theFileSelector = document.getElementById("additionalFile");
		    	if (validateFile(theFileSelector)) {
					var theFiles = theFileSelector.files;
			   		var file = theFiles[0];
					var fData = {"file":{"name":"additionalDocument","file":file,"filename":file.name},
								 "inputs":[{"name":"attachmentType","value":$("#documentType").val()}]};
					var postPath = "@{Student.submissionUploadAdditionalDocumentJSON(subId)}";
					var updateData = {"path":"@{Student.submissionView(subId)}","id":"#doAdditionalUploadWrap"};
					uploadFile(fData,postPath,updateData);
	    		} 
	    	} else {
				generateAjaxError("Please specify the Document Type.");
	    	}
			return false;
	    });

	    function validateFile(theFiler) {
	    	if (theFiler.files.length > 0) {
	    		return true;
	    	}
			generateAjaxError("Please specify a file for upload.");
	    }

	    function uploadFile(fData,postPath,updateData) {
			var formData = new FormData();
			formData.append(fData.file.name, fData.file.file, fData.file.filename);

			if (fData.inputs) {
				$.each(fData.inputs,function(key,input) {
		   			formData.append(input.name,input.value);
				});
			}

		 	var xhr = new XMLHttpRequest();
			xhr.open('POST', postPath, true);
			xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
			xhr.onload = function () {
							if (xhr.status === 200) {
							data = JSON.parse(xhr.response);
							if (data.success) {
								jQuery(updateData.id).fadeTo("slow",0.5,function() {
										jQuery(updateData.id).load(updateData.path+" "+updateData.id+" > *",function() {
											jQuery(updateData.id).fadeTo("fast",1);
											updateActionLog();
										});
									});
				    			}
							  } else {
								generateAjaxError("Error uploading file.");
							  }
							};
			xhr.send(formData);

			return false;
		}
	} else {
		var formSubmitter = "${formSubmitter ?:''}";
		if (formSubmitter) {
			$("#"+formSubmitter).focus();
		}
	}

    jQuery("#addmsg").click(function(e) {
    	e.preventDefault();
		submitterId = jQuery(this).attr("id");
		statusId = submitterId+"Status";
		jQuery("#"+submitterId).prop("disabled",true);
		jQuery.ajax({
			url: '@{Student.submissionAddMessageJSON(subId)}',
			data:{
				'message': jQuery("#studentMessage").val(),
			},
			dataType:'json',
			type:'POST',
			success:function(data){
				if (data.success) {
					updateActionLog();
					jQuery("#studentMessage").val("");
					jQuery("#"+submitterId).prop("disabled",false);
				} else {
					generateAjaxError("Error adding message.");
					jQuery("#"+submitterId).prop("disabled",false);
				}
			},
			error:function(){
				generateAjaxError("Error adding message.");
				jQuery("#"+submitterId).prop("disabled",false);
			}
		});
    });

    jQuery("#removeAdditional").live("click",function() {
    	var attachmentToRemove = [];
    	$(".doRemoveAttachmentIds:checked").each(function() {
    		attachmentToRemove.push($(this).val());
    	});
    	if (attachmentToRemove.length > 0) {
			var updateData = {"path":"@{Student.submissionView(subId)}","id":"#doAdditionalUploadWrap"};
			jQuery.ajax({
				url: '@{Student.submissionRemoveAdditionalDocumentsJSON(subId)}',
				data:{
					'attachmentToRemove': attachmentToRemove,
				},
				dataType:'json',
				type:'POST',
				success:function(data){
					if (data.success) {
						jQuery(updateData.id).fadeTo("slow",0.5,function() {
							jQuery(updateData.id).load(updateData.path+" "+updateData.id+" > *",function() {
								jQuery(updateData.id).fadeTo("fast",1);
								updateActionLog();
							});
						});
						updateActionLog();
					} else {
						generateAjaxError("Error removing file.");
					}
				},
				error:function(){
					generateAjaxError("Error communicating with the server.");
				}
			});    	
    	}
		return false;
    });
    
    function updateActionLog() {
	    jQuery("#student-log-view").fadeTo("slow",0.5,function() {
			jQuery("#student-log-view").load("@{Student.submissionView(subId)} #student-log-view table",function() {
				jQuery("#student-log-view").fadeTo("fast",1);
			});
		});
	}
    
    function generateAjaxError(error) {
    	$("#confirmSubmit").append('<div id="ajaxErrors" class="alert alert-warning alert-dismissible" role="alert">'+
  	  						'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+
  	  						'<span>'+error+'</span>'+
  						 '</div>');

    }
});
</script>
#{/set}
<ul class="breadcrumb">
	<li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
	#{if allowMultiple}
	<li><a href="@{Student.submissionList()}">Submissions</a> <span class="divider">/</span></li>
	#{/if}
	<li class="active">View</li>
</ul>
<div class="row pageHead">
	<h3 class="span11">View Application</h3>
</div>
<br/>
#{ifErrors}
<br/>
<ul class="red">
    #{errors}
        <li>${error}</li>
    #{/errors}
</ul>
</br>
#{/ifErrors}
<div id="confirmSubmit" class="row">
	<form action="@{Student.submissionView(subId)}" method="post" class="form-horizontal" enctype="multipart/form-data">
		#{if sub.getState().isEditableByStudent() }
			<div id="correctionsWrap" class="alert alert-error">
				<a href="#toggleDetails" class="doToggle">[-]</a>
				<p><h4>Current Submission State: </h4><strong>${sub.getState().getDisplayName()}!</strong></p>
				<div id="stateDetails">
					<p>The application requires you to make corrections. Please make the indicated corrections and upload the
					 new manuscript. After clicking the "Corrections Completed" button you will no
					 longer be able to edit the application.
					</p>
					<p>
					<a href="#upload_manuscripts">Click here to jump down to replace manuscript</a>
					</p>
					<div class="form-actions row center">
					    <p id="submit-corrections-warning" class="hidden red">
					      After completing your corrections you will no longer be able to edit this application. Did you complete all the required changes, and upload a new manuscript?
					    </p>
						<input id="submit_corrections" type="submit" class="btn btn-primary${sub.getPrimaryDocument() == null ? " disabled" : ""}" name="submit_corrections" value="Corrections Completed"/>
					</div>
				</div>		
			</div>
		#{/if}
		#{else}
			<div id="correctionsWrap" class="alert">
				<a href="#toggleDetails" class="doToggle">[-]</a>
				<p><strong><h4>Current Submission State:</h4> ${sub.getState().getDisplayName()}</strong></p>
				<div id="stateDetails">
					<p>Your Submission cannot be changed at this time.</p>
				</div>
			</div>
		#{/else}
		#{if visibleActions.size() > 0}
				<div id="customActionsWrap" class="alert alert-info">
					<a href="#toggleDetails" class="doToggle">[-]</a>
					<p><strong><h4>Requirements Checklist:</h4></strong></p>
					<div id="customActionsDetails">
						%{
							String sActions = "";
				            for (org.tdl.vireo.model.jpa.JpaCustomActionDefinitionImpl action : visibleActions) {
				            	
				            	def found = false;
				            	for (org.tdl.vireo.model.CustomActionValue subAction : sub.getCustomActions()) {
				            		if(action.equals(subAction.getDefinition())) {
				            			String id = URLEncoder.encode(subAction.getDefinition().getLabel().replaceAll("\\s+",""), "UTF-8");
				            			sActions += "<input id=\"" + id + "\" type=\"checkbox\" class=\"checkbox custom-action\" disabled=\"disabled\" checked=\"checked\"/>";
				            			sActions += "<label for=\"" + id + "\">" + subAction.getDefinition().getLabel() + "</label>";
				            			found = true;
				            		}
				            	}
				            	if(!found){
									String id = URLEncoder.encode(action.getLabel().replaceAll("\\s+",""), "UTF-8");
				            		sActions += "<input id=\"" + id + "\" type=\"checkbox\" class=\"checkbox custom-action\" disabled=\"disabled\"/>";
				            		sActions += "<label for=\"" + id + "\">" + action.getLabel() + "</label>";
				            	}
				            	sActions += "<br/>";
				            	
				            }
				            out.print(sActions);
						}%
					</div>
				</div>

		#{/if}
	
	    #{include 'viewSubmission.include' /}
		
		<legend#{if sub.getState().isEditableByStudent() } class="alert-error"#{/if} id="upload_manuscripts">Uploaded Files</legend>
		#{ifErrors}
		<br/>
		<ul class="red">
		    #{errors}
		        <li>${error}</li>
		    #{/errors}
		</ul>
		</br>
		#{/ifErrors}
			#{ifEnabled PRIMARY_ATTACHMENT}
			<div class="control-group control-group-tall#{if errors.forKey('primaryDocument')} error#{/if}">
				<label class="control-label">#{fieldLabel PRIMARY_ATTACHMENT /}:</label>
				<div class="controls">
				#{if sub.getState().isEditableByStudent()}
					<div id="primaryDocumentWrap">
					#{if primaryDocument == null}
				        <input type="submit" value="Upload" class="uploadBtn btn" id="uploadPrimary" name="uploadPrimary">
						<input type="file" id="primaryFile" class="input-file" name="primaryDocument">
						<b><span class="red">(Your file will be renamed)</span></b>
			        #{/if}
			        #{else}
		                <p>
		                    <a href="@{Student.viewAttachment(subId,primaryDocument.getId(),primaryDocument.getName())}">${primaryDocument.getName()}</a>
		                    (${primaryDocument.getDisplaySize()})
		                    <input type="submit" value="Replace Manuscript" class="uploadBtn btn" id="replacePrimary" name="replacePrimary">
		                </p>
			        #{/else}
			        </div>
		        #{/if}		
				#{else}
					#{if primaryDocument != null}
					    <p>
					         <a href="@{Student.viewAttachment(subId,primaryDocument.getId(),primaryDocument.getName())}" target="_blank">${primaryDocument.getName()}</a>
					         (${primaryDocument.getDisplaySize()})
					     </p>
					#{/if}
					#{else}
					     <p><em>No primary document uploaded</em></p>
					#{/else}
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled [SUPPLEMENTAL_ATTACHMENT,SOURCE_ATTACHMENT,ADMINISTRATIVE_ATTACHMENT]}
	    <div id="doAdditionalUploadWrap" class="control-group control-group-tall#{if errors.forKey('additionalDocument')} error#{/if}">
	        <label class="control-label">Additional Documents:</label>
	        <div class="controls">
	            #{list items:additionalDocuments, as:'attachment'}
	            <p>
	            	#{if sub.getState().isEditableByStudent()}
	            	<label>
	            		<input type="checkbox" value="${attachment.getId()}" class="doRemoveAttachmentIds" name="attachmentToRemove">
	                    <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">
	                    	${attachment.getName()}
	                    </a> 
	                    (${attachment.getType()} - ${attachment.getDisplaySize()})
	                 </label>  
	            	#{/if}
	            	#{else}
		                <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
		                (${attachment.getType()} - ${attachment.getDisplaySize()})
		            #{/else}
	            </p>
	            #{/list}
	            #{else}
	            	<p><em>No additional documents uploaded</em></p>
	            #{/else}
	            
	            #{if sub.getState().isEditableByStudent() && additionalDocuments.size() > 0 }
	            	<input type="submit" value="Remove Selected" class="uploadBtn btn" id="removeAdditional" name="removeAdditional">                        
	            #{/if}
	        </div>
	    </div>
		#{if sub.getState().isEditableByStudent()}	
		<div class="control-group control-group-tall">
			<label class="control-label" for="additionalFile"><span class="required-star">*</span>Browse for Additional Document:</label>
				<div class="controls">
					<select id="documentType" class="input-select" name="attachmentType" style="margin-bottom:7px;">
		            	<option value="">choose type...</option>
		            	#{ifEnabled SUPPLEMENTAL_ATTACHMENT}
		               	<option value="SUPPLEMENTAL">#{fieldLabel SUPPLEMENTAL_ATTACHMENT /}</option>
		               	#{/ifEnabled}
		               	#{ifEnabled SOURCE_ATTACHMENT}
		               	<option value="SOURCE">#{fieldLabel SOURCE_ATTACHMENT /}</option>
		               	#{/ifEnabled}
		               	#{ifEnabled ADMINISTRATIVE_ATTACHMENT}
		               	<option value="ADMINISTRATIVE">#{fieldLabel ADMINISTRATIVE_ATTACHMENT /}</option>
		               	#{/ifEnabled}
		            </select>
					<input id="uploadAdditional" type="submit" value="Upload" class="uploadBtn btn" name="uploadAdditional">
					<input type="file" id="additionalFile" class="input-file" name="additionalDocument">
				</div>
	    </div>
	    #{/if}
	    #{/ifEnabled}
	    
	    #{if feedbackDocuments != null && feedbackDocuments.size() > 0}
	    <div class="control-group#{if errors.forKey('feedbackDocument')} error#{/if}">
	        <label class="control-label"><b>Feedback Document${ feedbackDocuments.pluralize() }:</b></label>
	        <div class="controls">
	            #{list items:feedbackDocuments, as:'attachment'}
	            <p>
		            <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
		            (${attachment.getDisplaySize()})
	            </p>
	            #{/list}
	        </div>
	    </div>
	    #{/if}
	    
	    
	    
		<legend>Application Activity</legend>
		<div id="student-log-view" class="control-group control-group-tall">
			<table class="span10 table table-striped table-bordered table-condensed">
				<caption><h4><p class="center">Submission Action Log</p></h4></caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Action</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					#{list items:logs, as:'log'}
					#{if !log.isPrivate() }
					<tr>
						<td>${log.getPerson()?.getFormattedName(org.tdl.vireo.model.NameFormat.FIRST_LAST)}</td>
						<td>${log.getEntry()}</td>
						<td>${log.getActionDate().format('dd/MM/yyyy hh:mm:ss a')}</td>
					</tr>
					#{/if}
					#{/list}
				</tbody>
			</table>
		</div>
	
		<legend>Leave a message</legend>
		<div class="control-group">
			<label for="studentMessage" class="control-label"><b>Message:</b></label>
			<div class="controls">
				<textarea id="studentMessage" class="span6" style="height:200px;" name="studentMessage"></textarea>
	            <input class="btn" id="addmsg" name="submit_addMessage" type="submit" value="Add Message" />
	            <div id="addmsgStatus"></div>
	            
	            <br/>
			</div>
		</div>			
		<br/>
		<br/>
		<br/>
		<br/>
	</form>
</div>