#{extends 'main.html' /}
#{set title:'View Application' /}
#{set 'moreScripts'}
<script type="text/javascript" >

jQuery(document).ready(function() {
	
	
    jQuery("#submit_corrections").click(function() {
    	
        if (jQuery(this).val().indexOf("Are you sure?") >= 0) {
            return true;
        }
        jQuery(this).val("Are you sure?");
        jQuery("#submit-corrections-warning").slideToggle(500);
        return false;
    });
})
</script>
#{/set}
<ul class="breadcrumb">
	<li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
	#{if allowMultiple}
	<li><a href="@{Student.submissionList()}">Submissions</a> <span class="divider">/</span></li>
	#{/if}
	<li class="active">View</li>
</ul>
<div class="row pageHead">
	<h3 class="span11">View Application</h3>
</div>
<br/>
#{if sub.getState().isEditableByStudent() }
	<div class="alert alert-error">
		<p><strong>${sub.getState().getDisplayName()}</strong>!</p>
		<p>The application requires you to make corrections. Please make the indicated corrections and upload the
		 new manuscript. After clicking the "Completing Corrections" button at the bottom of the page you will no
		 longer be able to edit the application.</p>
	</div>
#{/if}
#{ifErrors}
<br/>
<ul class="red">
    #{errors}
        <li>${error}</li>
    #{/errors}
</ul>
</br>
#{/ifErrors}
<div id="confirmSubmit" class="row">
<form action="@{Student.submissionView(subId)}" method="post" class="form-horizontal" enctype="multipart/form-data">
    #{include 'viewSubmission.include' /}
	
	<legend>Uploaded Files</legend>
	#{ifErrors}
	<br/>
	<ul class="red">
	    #{errors}
	        <li>${error}</li>
	    #{/errors}
	</ul>
	</br>
	#{/ifErrors}
	<div class="control-group #{if errors.forKey('primaryDocument')}error#{/if}">
		<label class="control-label">#{fieldLabel PRIMARY_ATTACHMENT /}:</label>
		<div class="controls">
			#{if sub.getState().isEditableByStudent()}
				#{if primaryDocument == null}
					<input type="file" id="primaryFile" class="input-file" name="primaryDocument"><br/>
			        <input type="submit" value="Upload" class="uploadBtn btn" name="uploadPrimary">
			        <br/>
			        <br/>               
		        #{/if}
		        #{else}
	                <p>
	                    <a href="@{Student.viewAttachment(subId,primaryDocument.getId(),primaryDocument.getName())}">${primaryDocument.getName()}</a>
	                    (${primaryDocument.getDisplaySize()})
	                    <input type="submit" value="Replace Manuscript" class="uploadBtn btn" name="replacePrimary">
	                </p>
		        #{/else}
	        #{/if}		
			#{else}
				#{if primaryDocument != null}
				    <p>
				         <a href="@{Student.viewAttachment(subId,primaryDocument.getId(),primaryDocument.getName())}" target="_blank">${primaryDocument.getName()}</a>
				         (${primaryDocument.getDisplaySize()})
				     </p>
				#{/if}
				#{else}
				     <p><em>No primary document uploaded</em></p>
				#{/else}
			#{/else}
		</div>
	</div>
	#{ifEnabled [SUPPLEMENTAL_ATTACHMENT,SOURCE_ATTACHMENT,ADMINISTRATIVE_ATTACHMENT]}
    <div class="control-group #{if errors.forKey('additionalDocument')}error#{/if}">
        <label class="control-label">Additional Documents:</label>
        <div class="controls">
            #{list items:additionalDocuments, as:'attachment'}
            <p>
            	#{if sub.getState().isEditableByStudent()}
            	<label>
            		<input type="checkbox" value="${attachment.getId()}" name="attachmentToRemove">
                    <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">
                    	${attachment.getName()}
                    </a> 
                    (${attachment.getType()} - ${attachment.getDisplaySize()})
                 </label>  
            	#{/if}
            	#{else}
	                <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
	                (${attachment.getType()} - ${attachment.getDisplaySize()})
	            #{/else}
            </p>
            #{/list}
            #{else}
            	<p><em>No additional documents uploaded</em></p>
            #{/else}
            
            #{if sub.getState().isEditableByStudent() && additionalDocuments.size() > 0 }
            	<input type="submit" value="Remove Selected" class="uploadBtn btn" name="removeAdditional">                        
            #{/if}
        </div>
    </div>
	#{if sub.getState().isEditableByStudent()}	
	<br/>
	<br/>
	<div class="control-group">
        <label class="control-label"><b>Upload additional files:</b></label>
        <div class="controls">
        	<select id="attachmentType" class="input-select" name="attachmentType" style="margin-bottom:7px;">
            	<option value="">choose type...</option>
            	#{ifEnabled SUPPLEMENTAL_ATTACHMENT}
               	<option value="SUPPLEMENTAL">#{fieldLabel SUPPLEMENTAL_ATTACHMENT /}</option>
               	#{/ifEnabled}
               	#{ifEnabled SOURCE_ATTACHMENT}
               	<option value="SOURCE">#{fieldLabel SOURCE_ATTACHMENT /}</option>
               	#{/ifEnabled}
               	#{ifEnabled ADMINISTRATIVE_ATTACHMENT}
               	<option value="ADMINISTRATIVE">#{fieldLabel ADMINISTRATIVE_ATTACHMENT /}</option>
               	#{/ifEnabled}
            </select>
            <br />
        	<input type="file" id="additionalFile" class="input-file" name="additionalDocument"><br/>
            <input type="submit" value="Upload" class="uploadBtn btn" name="uploadAdditional">
        </div>
    </div>
    #{/if}
    #{/ifEnabled}
    
    #{if feedbackDocuments != null && feedbackDocuments.size() > 0}
    <div class="control-group #{if errors.forKey('feedbackDocument')}error#{/if}">
        <label class="control-label"><b>Feedback Document${ feedbackDocuments.pluralize() }:</b></label>
        <div class="controls">
            #{list items:feedbackDocuments, as:'attachment'}
            <p>
	            <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
	            (${attachment.getDisplaySize()})
            </p>
            #{/list}
        </div>
    </div>
    #{/if}
    
    
    
	<legend>Application Activity</legend>
	<div id="student-log-view">
	<table class="span10 table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>Name</td>
				<td>Action</td>
				<td>Time</td>
			</tr>
		</thead>
		<tbody>
			#{list items:logs, as:'log'}
			#{if !log.isPrivate() }
			<tr>
				<td>${log.getPerson()?.getFormattedName(org.tdl.vireo.model.NameFormat.FIRST_LAST)}</td>
				<td>${log.getEntry()}</td>
				<td>${log.getActionDate().format('dd/MM/yyyy hh:mm:ss a')}</td>
			</tr>
			#{/if}
			#{/list}
		</tbody>
	</table>
	</div>

	<legend>Leave a message</legend>
	<div class="control-group">
		<label class="control-label"><b>Message:</b></label>
		<div class="controls">
			<textarea class="span6" style="height:200px;" name="studentMessage"></textarea>
            <input class="btn" id="addmsg" name="submit_addMessage" type="submit" value="Add Message" />
            <br/>
		</div>
	</div>			
	
	#{if sub.getState().isEditableByStudent() }
		<div class="form-actions row center">
		    <p id="submit-corrections-warning" class="hidden red">
		      After completing your corrections you will no longer be able to edit this application. Did you complete all the required changes, and upload a new manuscript?
		    </p>
			<input id="submit_corrections" type="submit" class="btn btn-primary ${sub.getPrimaryDocument() == null ? "disabled" : ""}" name="submit_corrections" value="Complete Corrections"/>
		</div>		
	#{/if}
	
	<br/>
	<br/>
	<br/>
	<br/>
</form>
</div>
