#{extends 'SettingTabs/settings.html' /}
#{set 'moreSettingScripts' }
<script type="text/javascript">
jQuery(document).ready(function(){

	// Settings toggle and input/textarea fields
     jQuery(".application-toggle").click(applicationSettingsHandler('@{settings.ApplicationSettingsTab.updateApplicationSettingsJSON()}'));
     jQuery(".application-text").change(applicationSettingsHandler('@{settings.ApplicationSettingsTab.updateApplicationSettingsJSON()}'));
     jQuery(".application-textarea").change(applicationSettingsHandler('@{settings.ApplicationSettingsTab.updateApplicationSettingsJSON()}'));

    
     // Sortable action list
     jQuery("#action-list, #action-remove").sortable({
    	 connectWith: ".action-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
        		    'action',
        		    '@{settings.ApplicationSettingsTab.reorderCustomActionsJSON()}',
        		    '@{settings.ApplicationSettingsTab.removeCustomActionJSON()}'
        		    )
     }).disableSelection().enableSelection();
   
     // Stray clicks should cancel editing
     jQuery(document).click(sortableGlobalCancelEditHandler()); 
     
     jQuery("#action-list .action-editable").live("click",sortableStartEditHandler());
     jQuery("#action-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#action-list .icon-ok").live("click",sortableSaveEditHandler('action','@{settings.ApplicationSettingsTab.editCustomActionJSON()}'));
     jQuery("#action-list input").live("keypress",sortableSaveEditHandler('action','@{settings.ApplicationSettingsTab.editCustomActionJSON()}'));
     
     jQuery("#add-action-link").click(slideToggleHandler("#add-action-dialog"));
     
     jQuery("#add-action-save").click(saveAddActionHandler('action','@{settings.ApplicationSettingsTab.addCustomActionJSON()}'));
     
     jQuery("#add-action-cancel").click(cancelAddActionHandler('action'));
     
     
  	// Register the deposit location dialog box.
 	jQuery("#deposit-location-modal").modal({
 				show: false
 			});
 	
     // Handlers for the sortable deposit location list
     jQuery("#depositLocation-list").sortable({
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'depositLocation',
                    '@{settings.ApplicationSettingsTab.reorderDepositLocationsJSON()}'
                    )
     }).disableSelection().enableSelection();
 	
 	// Deposit location management
 	jQuery(".depositLocation-editable").live("click", depositLoadModalHandler('@{settings.ApplicationSettingsTab.loadDepositLocation}'));
     jQuery("#depositLocation-add").live("click", depositAddModalHandler('@{settings.ApplicationSettingsTab.loadDepositLocation}'));
 	jQuery("#depositLocation-test").live("click", depositSaveHandler(false, 
 			'@{settings.ApplicationSettingsTab.saveDepositLocation}', 
 			'@{settings.ApplicationSettingsTab.updateDepositLocationList}'));
 	jQuery("#depositLocation-test-submit").live("click", depositSaveHandler(false, 
 			'@{settings.ApplicationSettingsTab.saveDepositLocation}', 
 			'@{settings.ApplicationSettingsTab.updateDepositLocationList}'));
 	jQuery("#depositLocation-save").live("click", depositSaveHandler(true, 
 			'@{settings.ApplicationSettingsTab.saveDepositLocation}', 
 			'@{settings.ApplicationSettingsTab.updateDepositLocationList}'));
 	jQuery("#depositLocation-delete").live("click", depositDeleteHandler(
 			'@{settings.ApplicationSettingsTab.removeDepositLocationJSON}',
 			'@{settings.ApplicationSettingsTab.updateDepositLocationList}'));
     
     
     
     // Member Management (aka who has access)
     jQuery("#add-member-modal .pager a").live("click",memberSearchHandler());
     jQuery("#add-member-modal #members-search-button").live("click",memberSearchHandler());
     jQuery("#add-member-modal .member-add-button").live("click",memberAddHandler('@{settings.ApplicationSettingsTab.updatePersonRole()}'));
     jQuery("#members-table .member-editable").live("click",memberUpdateHandler('@{settings.ApplicationSettingsTab.updatePersonRole()}'));
     
     
     // Lock the big text areas
     jQuery(".lock-control a").click(applicationUnlockField);

     // Tooltips
     jQuery('.tooltip-icon').tooltip();

     
}) // document ready
</script>
#{/set}

<h2>SUBMISSION AVAILABILITY</h2>

<div class="submissionAvailability wrap">
	<ul class="unstyled">
		<li>
			<label>Submissions are currently:</label>
			<span>
			    <div class="btn-group" data-toggle="buttons-radio">
					<button name="${org.tdl.vireo.constant.AppConfig.SUBMISSIONS_OPEN}" class="btn application-toggle #{if SUBMISSIONS_OPEN}active#{/if}" value="true">Open</button>
					<button name="${org.tdl.vireo.constant.AppConfig.SUBMISSIONS_OPEN}" class="btn application-toggle #{if !SUBMISSIONS_OPEN}active#{/if}">Closed</button>
				</div>
			</span>
		</li>
		<li>
			<label>Allow multiple submissions:</label>
			<span>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button name="${org.tdl.vireo.constant.AppConfig.ALLOW_MULTIPLE_SUBMISSIONS}" class="btn application-toggle #{if ALLOW_MULTIPLE_SUBMISSIONS}active#{/if}" value="true">Yes</button>
                    <button name="${org.tdl.vireo.constant.AppConfig.ALLOW_MULTIPLE_SUBMISSIONS}" class="btn application-toggle #{if !ALLOW_MULTIPLE_SUBMISSIONS}active#{/if}">No</button>
                </div>
            </span>
		</li>
		<li id="currentSemester">
			<label>Current submission semester:</label>
			<span>
			     <input name="${org.tdl.vireo.constant.AppConfig.CURRENT_SEMESTER}" class="application-text" type="text" value="${CURRENT_SEMESTER}" />
			     <div class="info">'Month Year' (i.e. May ${ new Date().getYear() + 1900})</div>
			</span>
		</li>
		<li id="currentSemester">
			<label>Degree Granting School:</label>
			<span>
			     <input name="${org.tdl.vireo.constant.AppConfig.GRANTOR}" class="application-text" type="text" value="${GRANTOR}" />
			     <div class="info">The full name of the institution awarding degrees.</div>
			</span>
		</li>
	</ul>
</div>

<h2>ORCID SETTINGS</h2>

<div class="submissionAvailability wrap">
	<ul class="unstyled">
		<li>
			<label>Validate ORCID ID:</label>
			<span>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button name="${org.tdl.vireo.constant.AppConfig.ORCID_VALIDATION}" class="btn application-toggle #{if ORCID_VALIDATION}active#{/if}" value="true">Yes</button>
                    <button name="${org.tdl.vireo.constant.AppConfig.ORCID_VALIDATION}" class="btn application-toggle #{if !ORCID_VALIDATION}active#{/if}">No</button>                    
                </div>
                <a href="#" class="tooltip-icon" rel="tooltip" title="This will validate the given ORCID ID with ORCID's API."><i class="icon-info-sign"></i></a>
            </span>
        </li>
        <li>
			<label>Authenticate ORCID ID:</label>
			<span>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button name="${org.tdl.vireo.constant.AppConfig.ORCID_AUTHENTICATION}" class="btn application-toggle #{if ORCID_AUTHENTICATION}active#{/if}" value="true">Yes</button>
                    <button name="${org.tdl.vireo.constant.AppConfig.ORCID_AUTHENTICATION}" class="btn application-toggle #{if !ORCID_AUTHENTICATION}active#{/if}">No</button>                    
                </div>
                <a href="#" class="tooltip-icon" rel="tooltip" title="This will compare the user information obtained from ORCID with the Student's first and last name."><i class="icon-info-sign"></i></a>
            </span>
        </li>
	</ul>
</div>

<h2>PROQUEST / UMI SETTINGS</h2>

<div class="submissionAvailability wrap">
    <ul class="unstyled">
        
        <li>
            <label>ProQuest Institution Code:</label>
            <span>
                 <input class="application-text monospace" name="${org.tdl.vireo.constant.AppConfig.PROQUEST_INSTITUTION_CODE}" type="text" value="${PROQUEST_INSTITUTION_CODE}" />
                 <a href="#" class="tooltip-icon" rel="tooltip" title="The code assigned by ProQuest/UMI to identify the institution associated with all submissions when submitting to their catalogue."><i class="icon-info-sign"></i></a>
            </span>
        </li>
        <li>
            <label>Indexed by Search Engines:</label>
            <span>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button name="${org.tdl.vireo.constant.AppConfig.PROQUEST_INDEXING}" class="btn application-toggle #{if !"false".equals(PROQUEST_INDEXING)}active#{/if}" value="true">Yes</button>
                    <button name="${org.tdl.vireo.constant.AppConfig.PROQUEST_INDEXING}" class="btn application-toggle #{if "false".equals(PROQUEST_INDEXING)}active#{/if}" value="false">No</button>
                </div>
                <a href="#" class="tooltip-icon" rel="tooltip" title="If enabled then all submissions to the ProQuest/UMI catalogue will be have their citations indexed by third parties (i.e. google, yahoo)."><i class="icon-info-sign"></i></a>
            </span>
        </li>
        <li>
        	<h4>ProQuest License Agreement</h4>
        	
        	<div class="wrap application-protected">
			    <div class="span9">
			    <p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.PROQUEST_LICENSE_TEXT}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
				<textarea class="input-xxlarge application-textarea" id="${org.tdl.vireo.constant.AppConfig.PROQUEST_LICENSE_TEXT}" name="${org.tdl.vireo.constant.AppConfig.PROQUEST_LICENSE_TEXT}" readonly="true">#{verbatim}${PROQUEST_LICENSE_TEXT}#{/verbatim}</textarea>
					
				<p class="info">Students may be required to accept this license as part of their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically.</p>
				</div>				
			</div>
        </li>
    </ul>
</div>
<div class="clear"></div>

<h2>DEGREE CODES</h2>
<p>Degree codes are used by some export formats (i.e. ProQuest) to translate degrees into abbreviated codes.</p>
<div id="degreeCodes" class="submissionAvailability wrap">
    <ul class="unstyled">
        #{list items:degrees, as:'degree'}
        %{ def config = org.tdl.vireo.constant.AppConfig.getDegreeCodeConfig(degree) }%
        <li>
            <label>${degree}:</label>
            <span>
                 <input name="${ config }" class="application-text" type="text" value="${ settingRepo.getConfigValue(config) }"
                    data-provide="typeahead" data-items="20" data-min-length="0"
                    data-source='[#{list items:proquestDegrees, as:'proquestDegree'}"${proquestDegree.escapeJavaScript()}"${ proquestDegree_isLast ? "" : ","}#{/list}]'
                    autocomplete="off">
            </span>
        </li>
        #{/list}
    </ul>
</div>

<h2>SUBMISSION LICENSE</h2>

<div class="wrap application-protected">
    <div class="span9">
    <p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.SUBMIT_LICENSE_TEXT}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
	<textarea class="input-xxlarge application-textarea" id="${org.tdl.vireo.constant.AppConfig.SUBMIT_LICENSE_TEXT}" name="${org.tdl.vireo.constant.AppConfig.SUBMIT_LICENSE_TEXT}" readonly="true">#{verbatim}${SUBMIT_LICENSE_TEXT}#{/verbatim}</textarea>
		
	<p class="info">Students are required to accept this license as part of their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically.</p>
	</div>
	<div class="clear"></div>
</div>

<h2>CUSTOM ACTIONS CHECKLIST</h2>

<div class="wrap settings-sortable">
<ul id="action-remove" class="action-sortable settings-sortable-remove" #{if actions.size() == 0}style="display: none;"#{/if}>
<p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
</ul>
<ol id="action-list" class="action-sortable settings-sortable-list">
    #{list items:actions, as:'action'}
       <li id="action_${action.getId()}"><a class="action-editable" href="javascript:void(0);"><em class="icon-pencil"></em> ${action.getLabel()}</a></li>    
    #{/list}
</ol>

</div>

<a id="add-action-link" href="#">[ADD NEW]</a>

<div id="add-action-dialog" style="display: none;">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="add-action-name">New Action</label>
                <div class="controls">
                    <input type="text" class="input-large" id="add-action-name"/>
                    <p class="help-block">Label of the new custom action</p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="add-action-save" class="btn btn-primary">Add Action</button>
                    <button id="add-action-cancel" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>

<h2>DEPOSIT LOCATIONS</h2>

<div class="wrap settings-sortable">
#{include 'SettingTabs/listDepositLocations.include' /}
</div>

<a id="depositLocation-add" href="#">[ADD NEW]</a>

<div class="modal fade" id="deposit-location-modal">
    #{include 'SettingTabs/editDepositLocation.include' /}
</div>

<h2>WHO HAS ACCESS?</h2>

<table id="members-table" class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
            <th width="190">Role</th>           
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
    #{include 'SettingTabs/listMembers.include' /}
</table>

<div class="modal fade" id="add-member-modal">
	<input type="hidden" name="embargoType-id" id="embargoType-id" value=""/>
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Add Member</h3>
	</div>
	#{include 'SettingTabs/searchMembers.include' /}
	<div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
