#{extends 'SettingTabs/settings.html' /}
#{set 'moreSettingScripts' }
<script type="text/javascript">
jQuery(document).ready(function(){

	
	
	
	 // Global handler for stray clicks to cancel editing.
     jQuery(document).click(sortableGlobalCancelEditHandler()); 

     /**
      * Auto expand the stick-note text boxes based upon the current text.
      */
     jQuery("textarea").keyup(function() {

         this.style.overflow = 'hidden';
         this.style.height = 0;
         
         if (this.scrollHeight > 52)
             this.style.height = this.scrollHeight + 'px';
         else 
             this.style.height = '52px';
         
     });
     jQuery("textarea").trigger('keyup');
	 
	 

     jQuery('#college-email-modal').modal({
         'show': false
     });
     jQuery('#embargo-type-modal').modal({
         'show': false
     });
     jQuery('#bulk-add-modal').modal({
         'show': false
     });
  
	 jQuery(".embargoType-edit-cell a").live("click",embargoOpenDialogHandler());
	 jQuery("#add-embargoType-link").click(embargoOpenDialogHandler());
     jQuery("#college-email-link").click(collegeEmailOpenDialogHandler());
	 jQuery("#timeframe-indeterminate, #timeframe-determinate").change(embargoDurationToggleHandler());
	 jQuery("#embargoType-save").click(embargoSaveDialogHandler('@{settings.ConfigurableSettingsTab.editEmbargoTypeJSON()}'));
	 jQuery("#embargoType-remove").click(embargoRemoveDialogHandler('@{settings.ConfigurableSettingsTab.removeEmbargoTypeJSON()}'));
	 jQuery("#embargoType-list").sortable({
		 placeholder: "placeholder",
		 update: embargoSortableUpdateHandler('@{settings.ConfigurableSettingsTab.reorderEmbargoTypesJSON()}'),
		 
		 // This function keeps the cell size consistent when sorting.
		 helper: function(e, tr)
		  {
		    var $originals = tr.children();
		    var $helper = tr.clone();
		    $helper.children().each(function(index)
		    {
		      // Set helper cell sizes to match the original sizes
		      $(this).width($originals.eq(index).width())
		    });
		    return $helper;
		  },
		  
		  // This allows the placeholder to have a background color
		  'start': function (event, ui) {
		        ui.placeholder.html('<td colspan="5">&nbsp;</td>');
		  }
	 });
	 
	 
	 
     // Handlers for the sortable colleges list
     jQuery("#college-list, #college-remove").sortable({
         connectWith: ".college-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'college',
                    '@{settings.ConfigurableSettingsTab.reorderCollegesJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeCollegeJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#college-list .college-editable").live("click",sortableStartEditHandler());
     jQuery("#college-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#college-list .icon-ok").live("click",sortableSaveEditHandler('college','@{settings.ConfigurableSettingsTab.editCollegeJSON()}'));
     jQuery("#college-list input").live("keypress",sortableSaveEditHandler('college','@{settings.ConfigurableSettingsTab.editCollegeJSON()}'));
     jQuery("#add-college-link").click(slideToggleHandler("#add-college-dialog","#bulk-add-college-dialog"));
     jQuery("#add-college-save").click(saveAddActionHandler('college','@{settings.ConfigurableSettingsTab.addCollegeJSON()}'));
     jQuery("#add-college-cancel").click(cancelAddActionHandler('college'));     
     jQuery("#bulk-add-college-link").click(slideToggleHandler("#bulk-add-college-dialog","#add-college-dialog"));
     jQuery("#bulk-add-college-cancel").click(cancelAddActionHandler('college'));


     
  	 // Handlers for the sortable programs list
     jQuery("#program-list, #program-remove").sortable({
         connectWith: ".program-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'program',
                    '@{settings.ConfigurableSettingsTab.reorderProgramsJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeProgramJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#program-list .program-editable").live("click",sortableStartEditHandler());
     jQuery("#program-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#program-list .icon-ok").live("click",sortableSaveEditHandler('program','@{settings.ConfigurableSettingsTab.editProgramJSON()}'));
     jQuery("#program-list input").live("keypress",sortableSaveEditHandler('program','@{settings.ConfigurableSettingsTab.editProgramJSON()}'));
     jQuery("#add-program-link").click(slideToggleHandler("#add-program-dialog","#bulk-add-program-dialog"));
     jQuery("#add-program-save").click(saveAddActionHandler('program','@{settings.ConfigurableSettingsTab.addProgramJSON()}'));
     jQuery("#add-program-cancel").click(cancelAddActionHandler('program'));
     jQuery("#bulk-add-program-link").click(slideToggleHandler("#bulk-add-program-dialog","#add-program-dialog"));
     jQuery("#bulk-add-program-cancel").click(cancelAddActionHandler('program'));
     
     // Handlers for the sortable Departments list
     jQuery("#department-list, #department-remove").sortable({
         connectWith: ".department-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'department',
                    '@{settings.ConfigurableSettingsTab.reorderDepartmentsJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeDepartmentJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#department-list .department-editable").live("click",sortableStartEditHandler());
     jQuery("#department-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#department-list .icon-ok").live("click",sortableSaveEditHandler('department','@{settings.ConfigurableSettingsTab.editDepartmentJSON()}'));
     jQuery("#department-list input").live("keypress",sortableSaveEditHandler('department','@{settings.ConfigurableSettingsTab.editDepartmentJSON()}'));
     jQuery("#add-department-link").click(slideToggleHandler("#add-department-dialog","#bulk-add-department-dialog"));
     jQuery("#add-department-save").click(saveAddActionHandler('department','@{settings.ConfigurableSettingsTab.addDepartmentJSON()}'));
     jQuery("#add-department-cancel").click(cancelAddActionHandler('department'));
     jQuery("#bulk-add-department-link").click(slideToggleHandler("#bulk-add-department-dialog","#add-department-dialog"));
     jQuery("#bulk-add-department-cancel").click(cancelAddActionHandler('department'));
     
     // Handlers for the sortable Majors list
     jQuery("#major-list, #major-remove").sortable({
         connectWith: ".major-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'major',
                    '@{settings.ConfigurableSettingsTab.reorderMajorsJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeMajorJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#major-list .major-editable").live("click",sortableStartEditHandler());
     jQuery("#major-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#major-list .icon-ok").live("click",sortableSaveEditHandler('major','@{settings.ConfigurableSettingsTab.editMajorJSON()}'));
     jQuery("#major-list input").live("keypress",sortableSaveEditHandler('major','@{settings.ConfigurableSettingsTab.editMajorJSON()}'));
     jQuery("#add-major-link").click(slideToggleHandler("#add-major-dialog","#bulk-add-major-dialog"));
     jQuery("#add-major-save").click(saveAddActionHandler('major','@{settings.ConfigurableSettingsTab.addMajorJSON()}'));
     jQuery("#add-major-cancel").click(cancelAddActionHandler('major'));
     jQuery("#bulk-add-major-link").click(slideToggleHandler("#bulk-add-major-dialog","#add-major-dialog"));
     jQuery("#bulk-add-major-cancel").click(cancelAddActionHandler('major'));
     
     // Handlers for the sortable degrees list
     jQuery("#degree-list, #degree-remove").sortable({
         connectWith: ".degree-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'degree',
                    '@{settings.ConfigurableSettingsTab.reorderDegreesJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeDegreeJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#degree-list .degree-editable").live("click",sortableStartEditHandler());
     jQuery("#degree-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#degree-list .icon-ok").live("click",sortableSaveEditHandler('degree','@{settings.ConfigurableSettingsTab.editDegreeJSON()}'));
     jQuery("#degree-list input").live("keypress",sortableSaveEditHandler('degree','@{settings.ConfigurableSettingsTab.editDegreeJSON()}'));
     jQuery("#degree-list select").live("keypress",sortableSaveEditHandler('degree','@{settings.ConfigurableSettingsTab.editDegreeJSON()}'));
     jQuery("#add-degree-link").click(slideToggleHandler("#add-degree-dialog"));
     jQuery("#add-degree-save").click(saveAddActionHandler('degree','@{settings.ConfigurableSettingsTab.addDegreeJSON()}'));
     jQuery("#add-degree-cancel").click(cancelAddActionHandler('degree'));
     
     
     // Handlers for the sortable document types list
     jQuery("#documentType-list, #documentType-remove").sortable({
         connectWith: ".documentType-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'documentType',
                    '@{settings.ConfigurableSettingsTab.reorderDocumentTypesJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeDocumentTypeJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#documentType-list .documentType-editable").live("click",sortableStartEditHandler());
     jQuery("#documentType-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#documentType-list .icon-ok").live("click",sortableSaveEditHandler('documentType','@{settings.ConfigurableSettingsTab.editDocumentTypeJSON()}'));
     jQuery("#documentType-list input").live("keypress",sortableSaveEditHandler('documentType','@{settings.ConfigurableSettingsTab.editDocumentTypeJSON()}'));
     jQuery("#documentType-list select").live("keypress",sortableSaveEditHandler('documentType','@{settings.ConfigurableSettingsTab.editDocumentTypeJSON()}'));
     jQuery("#add-documentType-link").click(slideToggleHandler("#add-documentType-dialog"));
     jQuery("#add-documentType-save").click(saveAddActionHandler('documentType','@{settings.ConfigurableSettingsTab.addDocumentTypeJSON()}'));
     jQuery("#add-documentType-cancel").click(cancelAddActionHandler('documentType'));
     
     
     // Handlers for the sortable committee member role types list
     jQuery("#committeeMemberRoleType-list, #committeeMemberRoleType-remove").sortable({
         connectWith: ".committeeMemberRoleType-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'committeeMemberRoleType',
                    '@{settings.ConfigurableSettingsTab.reorderCommitteeMemberRoleTypesJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeCommitteeMemberRoleTypeJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#committeeMemberRoleType-list .committeeMemberRoleType-editable").live("click",sortableStartEditHandler());
     jQuery("#committeeMemberRoleType-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#committeeMemberRoleType-list .icon-ok").live("click",sortableSaveEditHandler('committeeMemberRoleType','@{settings.ConfigurableSettingsTab.editCommitteeMemberRoleTypeJSON()}'));
     jQuery("#committeeMemberRoleType-list input").live("keypress",sortableSaveEditHandler('committeeMemberRoleType','@{settings.ConfigurableSettingsTab.editCommitteeMemberRoleTypeJSON()}'));
     jQuery("#committeeMemberRoleType-list select").live("keypress",sortableSaveEditHandler('committeeMemberRoleType','@{settings.ConfigurableSettingsTab.editCommitteeMemberRoleTypeJSON()}'));
     jQuery("#add-committeeMemberRoleType-link").click(slideToggleHandler("#add-committeeMemberRoleType-dialog"));
     jQuery("#add-committeeMemberRoleType-save").click(saveAddActionHandler('committeeMemberRoleType','@{settings.ConfigurableSettingsTab.addCommitteeMemberRoleTypeJSON()}'));
     jQuery("#add-committeeMemberRoleType-cancel").click(cancelAddActionHandler('committeeMemberRoleType'));
     
     // Handlers for the sortable graduation months list
     jQuery("#graduationMonth-list, #graduationMonth-remove").sortable({
         connectWith: ".graduationMonth-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'graduationMonth',
                    '@{settings.ConfigurableSettingsTab.reorderGraduationMonthsJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeGraduationMonthJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#graduationMonth-list .graduationMonth-editable").live("click",sortableStartEditHandler());
     jQuery("#graduationMonth-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#graduationMonth-list .icon-ok").live("click",sortableSaveEditHandler('graduationMonth','@{settings.ConfigurableSettingsTab.editGraduationMonthJSON()}'));
     jQuery("#graduationMonth-list input").live("keypress",sortableSaveEditHandler('graduationMonth','@{settings.ConfigurableSettingsTab.editGraduationMonthJSON()}'));
     jQuery("#add-graduationMonth-link").click(slideToggleHandler("#add-graduationMonth-dialog"));
     jQuery("#add-graduationMonth-save").click(saveAddActionHandler('graduationMonth','@{settings.ConfigurableSettingsTab.addGraduationMonthJSON()}'));
     jQuery("#add-graduationMonth-cancel").click(cancelAddActionHandler('graduationMonth'));
     
 	 // Handlers for the sortable programs list
     jQuery("#language-list, #language-remove").sortable({
         connectWith: ".language-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'language',
                    '@{settings.ConfigurableSettingsTab.reorderLanguagesJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeLanguageJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#add-language-link").click(slideToggleHandler("#add-language-dialog"));
     jQuery("#add-language-save").click(saveAddActionHandler('language','@{settings.ConfigurableSettingsTab.addLanguageJSON()}'));
     jQuery("#add-language-cancel").click(cancelAddActionHandler('language'));
     
     
}) // document ready
</script>
#{/set}

<h2>CONFIGURABLE SETTINGS</h2>

<P>Customize the data that appears in various selectable options.</P>

<div class="accordion settings-accordion configurable-settings" id="configurable-settings">	
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableEmbargoTypes"><strong>Available Embargo Types</strong></a>			
		</div>
		<div id="availableEmbargoTypes" class="accordion-body collapse ${ "availableEmbargoTypes".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
			<h2>AVAILABLE EMBARGO TYPES</h2>
			<p>
			    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllEmbargoTypes}" 
			       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> embargo types?)">
				    <em class="icon-trash"></em>
				    Remove all embargo types
				</a>
		    </p>
		    <p>
				<a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllEmbargoTypes}" 
                   data-confirm="<em class='icon-refresh'></em> (Are you sure you want to sort all embargo types by their duration?)">
                    <em class="icon-refresh"></em>
                    Sort embargo types by duration
                </a>
		    </p>
		    
			
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<td>Name</td>
						<td>Description</td>
						<td>Display</td>
						<td># of Months</td>
						<td>Edit</td>
					</tr>
				</thead>
				<tbody id="embargoType-list">
				    #{list items:embargos, as:'embargo'}
				       <tr id="embargoType_${embargo.getId()}">
				           <td class="embargoType-name-cell">${embargo.getName()}</td>
				           <td class="embargoType-description-cell">${embargo.getDescription()}</td>
				           <td class="embargoType-active-cell">#{if embargo.isActive()}Yes#{/if}#{else}No#{/else}</td>
				           <td class="embargoType-duration-cell">#{if embargo.getDuration() == null}Indefinite#{/if}#{else}${embargo.getDuration()}#{/else}</td>
				           <td class="embargoType-edit-cell"><a href="javascript:void(0);">Edit</a></td>
				       </tr>
				    #{/list}
				</tbody>
			</table>
			
			
			<p><a id="add-embargoType-link" href="javascript:void(0);">[ADD NEW]</a></p>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableColleges"><strong>Available Colleges</strong></a>			
		</div>
		<div id="availableColleges" class="accordion-body collapse ${ "availableColleges".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE COLLEGES</h2>
				
	            <p>
	                <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllColleges}" 
	                   data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> colleges?)">
	                    <em class="icon-trash"></em>
	                    Remove all colleges
	                </a>
	            </p>
	            <p>
	                <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllColleges}" 
	                   data-confirm="<em class='icon-refresh'></em> (Are you sure you want to alphabetize all colleges?)">
	                    <em class="icon-refresh"></em>
	                    Alphabetize colleges
	                </a>
                </p>
				
				<div class="wrap settings-sortable">
					<ul id="college-remove" class="college-sortable settings-sortable-remove" #{if colleges.size() == 0}style="display: none;"#{/if}>
					   <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
					</ul>
					<ol id="college-list" class="college-sortable settings-sortable-list">
					    #{list items:colleges, as:'college'}
					       <li id="college_${college.getId()}"><a class="college-editable" href="javascript:void(0);"><em class="icon-pencil"></em> ${college.getName()}</a> <a id="college-email-link" href="javascript:void(0);">[edit college emails]</a> </li>    
					    #{/list}
					</ol>
				</div>
				
				<a id="add-college-link" href="javascript:void(0);">[ADD NEW]</a> &nbsp; <a href="javascript:void(0);" id="bulk-add-college-link">[BULK ADD]</a>
				
				<div id="add-college-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				            <div class="control-group">
				                <label class="control-label" for="add-college-name">New College</label>
				                <div class="controls">
				                    <input type="text" class="input-large" id="add-college-name"/>
				                    <p class="help-block">Name of the new college</p>
				                </div>
                                <div class="controls">
                                    <input type="text" class="input-large" id="add-college-emails"/>
                                    <p class="help-block">Email(s) of the new college</p>
                                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-college-save" class="btn btn-primary">Add College</button>
				                    <button id="add-college-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
				<div id="bulk-add-college-dialog" style="display: none;">
                    <form class="form-horizontal" method="POST" action="@{settings.ConfigurableSettingsTab.bulkAdd}">
                        <input type="hidden" name="modelType" value="college"/>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="bulkAdd">Colleges</label>
                                <div class="controls">
                                    <textarea class="span4" name="bulkAdd"></textarea>
                                    <p class="help-block">Multiple colleges each on a separate line</p>
                                    
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button id="bulk-add-college-save" class="btn btn-primary">Bulk Add Colleges</button>
                                    <button id="bulk-add-college-cancel" class="btn">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
				<br/><br/>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availablePrograms"><strong>Available Programs</strong></a>			
		</div>
		<div id="availablePrograms" class="accordion-body collapse ${ "availablePrograms".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE PROGRAMS</h2>
				
				<p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllPrograms}" 
                       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> programs?)">
                        <em class="icon-trash"></em>
                        Remove all programs
                    </a>
                </p>
                <p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllPrograms}" 
                       data-confirm="<em class='icon-refresh'></em> (Are you sure you want to alphabetize all programs?)">
                        <em class="icon-refresh"></em>
                        Alphabetize programs
                    </a>
                </p>
				
				<div class="wrap settings-sortable">
					<ul id="program-remove" class="program-sortable settings-sortable-remove" #{if programs.size() == 0}style="display: none;"#{/if}>
					   <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
					</ul>
					<ol id="program-list" class="program-sortable settings-sortable-list">
					    #{list items:programs, as:'program'}
					       <li id="program_${program.getId()}"><a class="program-editable" href="javascript:void(0);"><em class="icon-pencil"></em> ${program.getName()}</a></li>    
					    #{/list}
					</ol>
				</div>
				
				<a id="add-program-link" href="javascript:void(0);">[ADD NEW]</a>  &nbsp; <a href="javascript:void(0);" id="bulk-add-program-link">[BULK ADD]</a>
				
				<div id="add-program-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				            <div class="control-group">
				                <label class="control-label" for="add-program-name">New Program</label>
				                <div class="controls">
				                    <input type="text" class="input-large" id="add-program-name"/>
				                    <p class="help-block">Name of the new program</p>
				                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-program-save" class="btn btn-primary">Add Program</button>
				                    <button id="add-program-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
				<div id="bulk-add-program-dialog" style="display: none;">
                    <form class="form-horizontal" method="POST" action="@{settings.ConfigurableSettingsTab.bulkAdd}">
                        <input type="hidden" name="modelType" value="program"/>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="bulkAdd">Programs</label>
                                <div class="controls">
                                    <textarea class="span4" name="bulkAdd"></textarea>
                                    <p class="help-block">Multiple programs each on a separate line</p>
                                    
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button id="bulk-add-program-save" class="btn btn-primary">Bulk Add Programs</button>
                                    <button id="bulk-add-program-cancel" class="btn">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
				<br/><br/>
			</div>
		</div>
	</div>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableDepartments"><strong>Available Departments</strong></a>			
		</div>
		<div id="availableDepartments" class="accordion-body collapse ${ "availableDepartments".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE DEPARTMENTS</h2>
				
				<p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllDepartments}" 
                       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> departments?)">
                        <em class="icon-trash"></em>
                        Remove all departments
                    </a>
                </p>
                <p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllDepartments}" 
                       data-confirm="<em class='icon-refresh'></em> (Are you sure you want to alphabetize all departments?)">
                        <em class="icon-refresh"></em>
                        Alphabetize departments
                    </a>
                </p>
				
				<div class="wrap settings-sortable">
					<ul id="department-remove" class="department-sortable settings-sortable-remove" #{if departments.size() == 0}style="display: none;"#{/if}>
					   <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
					</ul>
					<ol id="department-list" class="department-sortable settings-sortable-list">
					    #{list items:departments, as:'department'}
					       <li id="department_${department.getId()}"><a class="department-editable" href="javascript:void(0);"><em class="icon-pencil"></em> ${department.getName()}</a></li>    
					    #{/list}
					</ol>
				</div>
				
				<a id="add-department-link" href="javascript:void(0);">[ADD NEW]</a>  &nbsp; <a href="javascript:void(0);" id="bulk-add-department-link">[BULK ADD]</a>
				
				<div id="add-department-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				            <div class="control-group">
				                <label class="control-label" for="add-department-name">New Department</label>
				                <div class="controls">
				                    <input type="text" class="input-large" id="add-department-name"/>
				                    <p class="help-block">Name of the new department</p>
				                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-department-save" class="btn btn-primary">Add Department</button>
				                    <button id="add-department-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
                <div id="bulk-add-department-dialog" style="display: none;">
                    <form class="form-horizontal" method="POST" action="@{settings.ConfigurableSettingsTab.bulkAdd}">
                        <input type="hidden" name="modelType" value="department"/>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="bulkAdd">Departments</label>
                                <div class="controls">
                                    <textarea class="span4" name="bulkAdd"></textarea>
                                    <p class="help-block">Multiple departments each on a separate line</p>
                                    
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button id="bulk-add-department-save" class="btn btn-primary">Bulk Add Departments</button>
                                    <button id="bulk-add-department-cancel" class="btn">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
				<br/><br/>
			</div>
		</div>
	</div>
				

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableMajors"><strong>Available Majors</strong></a>			
		</div>
		<div id="availableMajors" class="accordion-body collapse ${ "availableMajors".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE MAJORS</h2>
				
				<p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllMajors}" 
                       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> majors?)">
                        <em class="icon-trash"></em>
                        Remove all majors
                    </a>
                </p>
                <p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllMajors}" 
                       data-confirm="<em class='icon-refresh'></em> (Are you sure you want to alphabetize all majors?)">
                        <em class="icon-refresh"></em>
                        Alphabetize majors
                    </a>
                </p>
				
				<div class="wrap settings-sortable">
				    <ul id="major-remove" class="major-sortable settings-sortable-remove" #{if majors.size() == 0}style="display: none;"#{/if}>
				       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
				    </ul>
				    <ol id="major-list" class="major-sortable settings-sortable-list">
				        #{list items:majors, as:'major'}
				           <li id="major_${major.getId()}"><a class="major-editable" href="javascript:void(0);"><em class="icon-pencil"></em> ${major.getName()}</a></li>    
				        #{/list}
				    </ol>
				</div>
				
				<a id="add-major-link" href="javascript:void(0);">[ADD NEW]</a>  &nbsp; <a href="javascript:void(0);" id="bulk-add-major-link">[BULK ADD]</a>
				
				<div id="add-major-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				            <div class="control-group">
				                <label class="control-label" for="add-major-name">New Major</label>
				                <div class="controls">
				                    <input type="text" class="input-large" id="add-major-name"/>
				                    <p class="help-block">Name of the new major</p>
				                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-major-save" class="btn btn-primary">Add Major</button>
				                    <button id="add-major-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
				<div id="bulk-add-major-dialog" style="display: none;">
                    <form class="form-horizontal" method="POST" action="@{settings.ConfigurableSettingsTab.bulkAdd}">
                        <input type="hidden" name="modelType" value="major"/>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="bulkAdd">Majors</label>
                                <div class="controls">
                                    <textarea class="span4" name="bulkAdd"></textarea>
                                    <p class="help-block">Multiple majors each on a separate line</p>
                                    
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button id="bulk-add-major-save" class="btn btn-primary">Bulk Add Majors</button>
                                    <button id="bulk-add-major-cancel" class="btn">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
				<br/><br/>
			</div>
		</div>
	</div>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableDegrees"><strong>Available Degrees</strong></a>			
		</div>
		<div id="availableDegrees" class="accordion-body collapse ${ "availableDegrees".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE DEGREES</h2>
				
				<p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllDegrees}" 
                       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> degrees?)">
                        <em class="icon-trash"></em>
                        Remove all degrees
                    </a>
                </p>
                <p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllDegrees}" 
                       data-confirm="<em class='icon-refresh'></em> (Are you sure you want to sort all Degrees">
                        <em class="icon-refresh"></em>
                        Sort degrees
                    </a>
                </p>
				
				<div class="wrap settings-sortable">
				    <ul id="degree-remove" class="degree-sortable settings-sortable-remove" #{if degrees.size() == 0}style="display: none;"#{/if}>
				       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
				    </ul>
				    <ol id="degree-list" class="degree-sortable settings-sortable-list">
				        #{list items:degrees, as:'degree'}
				           <li id="degree_${degree.getId()}"><a class="degree-editable" href="javascript:void(0);"><em class="icon-pencil"></em> <span class="name">${degree.getName()}</span> <span class="level info">(${degree.getLevel().name()})</span></a></li>    
				        #{/list}
				    </ol>
				</div>
								
				<a id="add-degree-link" href="javascript:void(0);">[ADD NEW]</a>
				
				<div id="add-degree-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				            <div class="control-group">
				                <label class="control-label" for="add-degree-name">New Degree</label>
				                <div class="controls">
				                    <input type="text" class="input-large" id="add-degree-name"/>
				                </div>
				            </div>
				            <div class="control-group">
				                <label class="control-label" for="add-degree-level">Degree Level</label>
				                <div class="controls">
					                <select id="add-degree-level">
					                    <option selected="true" value="-1">...choose</option>
					                    <option value="${UNDERGRADUATE.getId()}">${UNDERGRADUATE.name()}</option>
					                    <option value="${MASTERS.getId()}">${MASTERS.name()}</option>
					                    <option value="${DOCTORAL.getId()}">${DOCTORAL.name()}</option>
					                </select>
				                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-degree-save" class="btn btn-primary">Add Degree</button>
				                    <button id="add-degree-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
				<br/><br/>
			</div>
		</div>
	</div>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableDocumentTypes"><strong>Available Document Types</strong></a>			
		</div>
		<div id="availableDocumentTypes" class="accordion-body collapse ${ "availableDocumentTypes".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE DOCUMENT TYPES</h2>
				
				<p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllDocumentTypes}" 
                       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> document types?)">
                        <em class="icon-trash"></em>
                        Remove all document types
                    </a>
                </p>
                <p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllDocumentTypes}" 
                       data-confirm="<em class='icon-refresh'></em> (Are you sure you want to sort all document types?)">
                        <em class="icon-refresh"></em>
                        Sort document types
                    </a>
                </p>
				
				<div class="wrap settings-sortable">
				    <ul id="documentType-remove" class="documentType-sortable settings-sortable-remove" #{if docTypes.size() == 0}style="display: none;"#{/if}>
				       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
				    </ul>
				    <ol id="documentType-list" class="documentType-sortable settings-sortable-list">
				        #{list items:docTypes, as:'docType'}
				           <li id="documentType_${docType.getId()}"><a class="documentType-editable" href="javascript:void(0);"><em class="icon-pencil"></em> <span class="name">${docType.getName()}</span> <span class="level info">(${docType.getLevel().name()})</span></a></li>    
				        #{/list}
				    </ol>
				</div>
				
				<a id="add-documentType-link" href="javascript:void(0);">[ADD NEW]</a>
				
				<div id="add-documentType-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				            <div class="control-group">
				                <label class="control-label" for="add-documentType-name">New Document Type</label>
				                <div class="controls">
				                    <input type="text" class="input-large" id="add-documentType-name"/>
				                </div>
				            </div>
				            <div class="control-group">
				                <label class="control-label" for="add-documentType-level">Degree Level</label>
				                <div class="controls">
				                    <select id="add-documentType-level">
				                        <option selected="true" value="-1">...choose</option>
				                        <option value="${UNDERGRADUATE.getId()}">${UNDERGRADUATE.name()}</option>
				                        <option value="${MASTERS.getId()}">${MASTERS.name()}</option>
				                        <option value="${DOCTORAL.getId()}">${DOCTORAL.name()}</option>
				                    </select>
				                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-documentType-save" class="btn btn-primary">Add Document Type</button>
				                    <button id="add-documentType-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
				<br/><br/>
			</div>
		</div>
	</div>
	
	
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableCommitteeMemberRoleTypes"><strong>Available Committee Member Role Types</strong></a>			
		</div>
		<div id="availableCommitteeMemberRoleTypes" class="accordion-body collapse ${ "availableCommitteeMemberRoleTypes".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE COMMITTEE MEMBER ROLE TYPES</h2>
				
				<p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllCommitteeMemberRoleTypes}" 
                       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> committee member role types?)">
                        <em class="icon-trash"></em>
                        Remove all committee member role types
                    </a>
                </p>
                <p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllCommitteeMemberRoleTypes}" 
                       data-confirm="<em class='icon-refresh'></em> (Are you sure you want to sort all committee member role types?)">
                        <em class="icon-refresh"></em>
                        Sort committee member role types
                    </a>
                </p>
				
				<div class="wrap settings-sortable">
				    <ul id="committeeMemberRoleType-remove" class="committeeMemberRoleType-sortable settings-sortable-remove" #{if roleTypes.size() == 0}style="display: none;"#{/if}>
				       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
				    </ul>
				    <ol id="committeeMemberRoleType-list" class="committeeMemberRoleType-sortable settings-sortable-list">
				        #{list items:roleTypes, as:'roleType'}
				           <li id="committeeMemberRoleType_${roleType.getId()}"><a class="committeeMemberRoleType-editable" href="javascript:void(0);"><em class="icon-pencil"></em> <span class="name">${roleType.getName()}</span> <span class="level info">(${roleType.getLevel().name()})</span></a></li>    
				        #{/list}
				    </ol>
				</div>
				
				<a id="add-committeeMemberRoleType-link" href="javascript:void(0);">[ADD NEW]</a>
				
				<div id="add-committeeMemberRoleType-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				        	<div class="control-group warning">
				        		<label class="control-label">Warning</label>
				        		<div class="controls">
				        			<span class="help-block" style="max-width: 530px;">
				        				Committee member role types from outside the supported list may not function as expected
				        				by the export formats. The supported list of role types are: "Chair", "Co-Chair", "Supervisor",
				        				"Co-Supervisor", "Advisor", "Department Head", "Director of Research". Any role outside this list
				        				will be ignored by the built-in export formats.
				        			</span>
				        		</div>
				        	</div>
				            <div class="control-group">
				                <label class="control-label" for="add-committeeMemberRoleType-name">New Role Type</label>
				                <div class="controls">
				                    <input type="text" class="input-large" id="add-committeeMemberRoleType-name"
					                    data-provide="typeahead" data-items="20" data-min-length="0" 
					                    data-source='["Chair","Co-Chair","Supervisor","Co-Supervisor","Advisor","Department Head","Director of Research"]'
					                    autocomplete="off"
				                    />
				                </div>
				            </div>
				            <div class="control-group">
				                <label class="control-label" for="add-committeeMemberRoleType-level">Degree Level</label>
				                <div class="controls">
				                    <select id="add-committeeMemberRoleType-level">
				                        <option selected="true" value="-1">...choose</option>
				                        <option value="${UNDERGRADUATE.getId()}">${UNDERGRADUATE.name()}</option>
				                        <option value="${MASTERS.getId()}">${MASTERS.name()}</option>
				                        <option value="${DOCTORAL.getId()}">${DOCTORAL.name()}</option>
				                    </select>
				                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-committeeMemberRoleType-save" class="btn btn-primary">Add Committee Member Role Type</button>
				                    <button id="add-committeeMemberRoleType-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
				<br/><br/>
			</div>
		</div>
	</div>

				
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableGraduationMonths"><strong>Available Graduation Months</strong></a>			
		</div>
		<div id="availableGraduationMonths" class="accordion-body collapse ${ "availableGraduationMonths".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE GRADUATION MONTHS</h2>
				
				<p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllGraduationMonths}" 
                       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> graduation months?)">
                        <em class="icon-trash"></em>
                        Remove all graduation months
                    </a>
                </p>
                <p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllGraduationMonths}" 
                       data-confirm="<em class='icon-refresh'></em> (Are you sure you want to sort all graduation months?)">
                        <em class="icon-refresh"></em>
                        Sort graduation months
                    </a>
                </p>
				
				<div class="wrap settings-sortable">
				    <ul id="graduationMonth-remove" class="graduationMonth-sortable settings-sortable-remove" #{if gradMonths.size() == 0}style="display: none;"#{/if}>
				       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
				    </ul>
				    <ol id="graduationMonth-list" class="graduationMonth-sortable settings-sortable-list">
				        #{list items:gradMonths, as:'month'}
				           <li id="graduationMonth_${month.getId()}"><a class="graduationMonth-editable" href="javascript:void(0);"><em class="icon-pencil"></em> ${month.getMonthName()}</a></li>    
				        #{/list}
				    </ol>
				</div>
				
				<a id="add-graduationMonth-link" href="javascript:void(0);">[ADD NEW]</a>
				
				<div id="add-graduationMonth-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				            <div class="control-group">
				                <label class="control-label" for="add-graduationMonth-name">New Month</label>
				                <div class="controls">
				                    <input type="text" class="input-large" id="add-graduationMonth-name"/>
				                    <p class="help-block">Name of the new month</p>
				                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-graduationMonth-save" class="btn btn-primary">Add Month</button>
				                    <button id="add-graduationMonth-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
				<br/><br/>
			</div>
		</div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#availableLanguages"><strong>Available Languages</strong></a>			
		</div>
		<div id="availableLanguages" class="accordion-body collapse ${ "availableLanguages".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
				<h2>AVAILABLE LANGUAGES</h2>
				
				<p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.removeAllLanguages}" 
                       data-confirm="<em class='icon-trash'></em> (Are you sure you want to <strong>remove all</strong> languages?)">
                        <em class="icon-trash"></em>
                        Remove all languages
                    </a>
                </p>
                <p>
                    <a class="confirm" href="@{settings.ConfigurableSettingsTab.alphabetizeAllLanguages}" 
                       data-confirm="<em class='icon-refresh'></em> (Are you sure you want to alphabetize all languages?)">
                        <em class="icon-refresh"></em>
                        Alphabetize languages
                    </a>
                </p>
				
				<div class="wrap settings-sortable">
				    <ul id="language-remove" class="language-sortable settings-sortable-remove" #{if languages.size() == 0}style="display: none;"#{/if}>
				       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
				    </ul>
				    <ol id="language-list" class="language-sortable settings-sortable-list">
				        #{list items:languages, as:'language'}
				           %{ def proquestLanguage = proquestUtils.languageCode(language.getLocale()); }%
				           <li id="language_${language.getId()}"><a href="javascript:void(0);"><em class="icon-pencil"></em> ${language.getLocale().getDisplayName()}#{if proquestLanguage != null}&nbsp;&nbsp; &diams;#{/if}</a></li>    
				        #{/list}
				    </ol>
				</div>
				
				<p id="proquest-note">&diams; &mdash; Denotes a ProQuest / UMI compatable language</p>
				
				<a id="add-language-link" href="javascript:void(0);">[ADD NEW]</a>
				
				<div id="add-language-dialog" style="display: none;">
				    <form class="form-horizontal">
				        <fieldset>
				            <div class="control-group">
				                <label class="control-label" for="add-graduationMonth-name">New Language</label>
				                <div class="controls">
				                    <select class="input-large" id="add-language-name"/>
				                    #{list items:localeLanguages, as:'localeLanguage'}
				                        %{ def proquestLanguage = proquestUtils.languageCode(localeLanguage); }%
				                    	<option value="${localeLanguage.toString()}">${localeLanguage.getDisplayName()}#{if proquestLanguage != null}&nbsp;&nbsp; &diams;#{/if}</option>
				                    #{/list}	
				                    </select>
				                </div>
				            </div>
				            <div class="control-group">
				                <div class="controls">
				                    <button id="add-language-save" class="btn btn-primary">Add Language</button>
				                    <button id="add-language-cancel" class="btn">Cancel</button>
				                </div>
				            </div>
				        </fieldset>
				    </form>
				</div>
				<br/><br/>
			</div>
		</div>
	</div>
	
</div>

<div class="modal fade" id="embargo-type-modal">
    <form class="form-horizontal">
        <input type="hidden" name="embargoType-id" id="embargoType-id" value=""/>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h3>Edit Embargo</h3>
        </div>
        <div class="modal-body">
			<ul id="embargoType-errors" class="red">
			</ul>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="embargoType-name"><strong>Embargo Name</strong>:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="embargoType-name" id="embargoType-name"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="embargoType-description"><strong>Description</strong>:</label>
                    <div class="controls">
                        <textarea class="input-xlarge" name="embargoType-description" id="embargoType-description"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="embargoType-active"><strong>Display</strong>:</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="embargoType-active" id="embargoType-active" value="true"/>
                            This embargo option will be available for<br/>new submissions.
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><strong>Expiration Timeframe</strong>:</label>
                    <div class="controls">
                        <label class="radio">
			                <input type="radio" checked="" value="indeterminate" id="timeframe-indeterminate" name="embargoType-timeframe">
			                Indeterminate
			            </label>
			            <label class="radio">
                            <input type="radio" checked="" value="determinate" id="timeframe-determinate" name="embargoType-timeframe">
                            Determinate
                        </label>
                    </div>
                </div>
                <div class="control-group" id="duration-group">
                    <label class="control-label" for="embargoType-months"><strong>Embargo Duration</strong>:</label>
                    <div class="controls">
                        <input type="text" name="embargoType-months" id="embargoType-months" value="" class="input-mini"/>
                        <p class="help-block">How many months a submission should be embargoed.</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" class="btn" data-dismiss="modal">Close</a>
            <a id="embargoType-remove" href="javascript:void(0);" class="btn">Delete Embargo</a>
            <input id="embargoType-save" type="submit" class="btn btn-primary" name="submit_save" value="Save Embargo"/>
        </div>
    </form>
</div>

<div class="modal fade" id="college-email-modal">
    <form class="form-horizontal">
        <input type="hidden" name="embargoType-id" id="embargoType-id" value=""/>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h3>College Email</h3>
        </div>
        <div class="modal-body">
            <ul id="embargoType-errors" class="red">
            </ul>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="embargoType-name"><strong>Embargo Name</strong>:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="embargoType-name" id="embargoType-name"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="embargoType-description"><strong>Description</strong>:</label>
                    <div class="controls">
                        <textarea class="input-xlarge" name="embargoType-description" id="embargoType-description"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="embargoType-active"><strong>Display</strong>:</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="embargoType-active" id="embargoType-active" value="true"/>
                            This embargo option will be available for<br/>new submissions.
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><strong>Expiration Timeframe</strong>:</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" checked="" value="indeterminate" id="timeframe-indeterminate" name="embargoType-timeframe">
                            Indeterminate
                        </label>
                        <label class="radio">
                            <input type="radio" checked="" value="determinate" id="timeframe-determinate" name="embargoType-timeframe">
                            Determinate
                        </label>
                    </div>
                </div>
                <div class="control-group" id="duration-group">
                    <label class="control-label" for="embargoType-months"><strong>Embargo Duration</strong>:</label>
                    <div class="controls">
                        <input type="text" name="embargoType-months" id="embargoType-months" value="" class="input-mini"/>
                        <p class="help-block">How many months a submission should be embargoed.</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" class="btn" data-dismiss="modal">Close</a>
            <a id="embargoType-remove" href="javascript:void(0);" class="btn">Delete Embargo</a>
            <input id="embargoType-save" type="submit" class="btn btn-primary" name="submit_save" value="Save Embargo"/>
        </div>
    </form>
</div>