#{extends 'SettingTabs/settings.html' /}

<h2>AVAILABLE EMBARGO TYPES</h2>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Display?</td>
			<td># of Months</td>
			<td>Edit?</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>None</td>
			<td>The work will be published aftera approval.</td>
			<td>yes</td>
			<td>indefinite</td>
			<td></td>
		</tr>
		<tr>
			<td>Journal Hold</td>
			<td>The work will be delayed for publication by one year because of a restriction from publication in an academic journal.</td>
			<td>yes</td>
			<td>12</td>
			<td><a href="#">Edit</a></td>
		</tr>
		<tr>
			<td>Patent Hold</td>
			<td>The work will be delayed for publication by two years because of patent related activities.</td>
			<td>yes</td>
			<td>24</td>
			<td><a href="#">Edit</a></td>
		</tr>
		<tr>
			<td>Other Embargo Period</td>
			<td>The work will be delayed for publication by an indefinite amount of time.</td>
			<td>yes</td>
			<td>indefinite</td>
			<td><a href="#">Edit</a></td>
		</tr>
	</tbody>
</table>

<p><a href="#">[ADD NEW]</a></p>

<h2>AVAILABLE COLLEGES</h2>

<div class="wrap">
<ol>
	<li>College 1 <a href="#">[Remove]</a></li>
	<li>College 2 <a href="#">[Remove]</a></li>
</ol>
<a href="#">[ADD NEW]</a>
</div>

<h2>AVAILABLE DEPARTMENTS</h2>

<div class="wrap">
<ol>
	<li>Department 1 <a href="#">[Remove]</a></li>
	<li>Department 2 <a href="#">[Remove]</a></li>
</ol>
<a href="#">[ADD NEW]</a>
</div>

<h2>AVAILABLE MAJORS</h2>

<div class="wrap">
<ol>
	<li>Major 1 <a href="#">[Remove]</a></li>
	<li>Major 2 <a href="#">[Remove]</a></li>
</ol>
<a href="#">[ADD NEW]</a>
</div>

<h2>AVAILABLE DEGREES</h2>

<div class="wrap">
<ol>
	<li>MA (Masters) <a href="#">[Remove]</a></li>
	<li>PhD (Doctoral) <a href="#">[Remove]</a></li>
	<li>B.A. (Undergraduate) <a href="#">[Remove]</a></li>
</ol>
<a href="#">[ADD NEW]</a>
</div>

<h2>AVAILABLE DOCUMENT TYPES</h2>

<div class="wrap">
<ol>
	<li>Dissertation (Doctoral) <a href="#">[Remove]</a></li>
	<li>Thesis (Masters) <a href="#">[Remove]</a></li>
	<li>Thesis (Undergraduate) <a href="#">[Remove]</a></li>
</ol>
<a href="#">[ADD NEW]</a>
</div>

<h2>AVAILABLE GRADUATION MONTHS</h2>

<div class="wrap">
<ol>
	<li>May <a href="#">[Remove]</a></li>
</ol>
<a href="#">[ADD NEW]</a>
</div>