#{extends 'SettingTabs/settings.html' /}
#{set 'moreSettingScripts' }
<script type="text/javascript">
jQuery(document).ready(function(){

	
	 // Global handler for stray clicks to cancel editing.
     jQuery(document).click(sortableGlobalCancelEditHandler()); 

	 
     jQuery('#embargo-type-modal').modal({
         'show': false
     });
  
	 jQuery(".embargoType-edit-cell a").live("click",embargoOpenDialogHandler());
	 jQuery("#add-embargoType-link").click(embargoOpenDialogHandler());
	 jQuery("#timeframe-indeterminate, #timeframe-determinate").change(embargoDurationToggleHandler());
	 jQuery("#embargoType-save").click(embargoSaveDialogHandler('@{settings.ConfigurableSettingsTab.editEmbargoTypeJSON()}'));
	 jQuery("#embargoType-remove").click(embargoRemoveDialogHandler('@{settings.ConfigurableSettingsTab.removeEmbargoTypeJSON()}'));
	 jQuery("#embargoType-list").sortable({
		 placeholder: "placeholder",
		 update: embargoSortableUpdateHandler('@{settings.ConfigurableSettingsTab.reorderEmbargoTypesJSON()}'),
		 
		 // This function keeps the cell size consistent when sorting.
		 helper: function(e, tr)
		  {
		    var $originals = tr.children();
		    var $helper = tr.clone();
		    $helper.children().each(function(index)
		    {
		      // Set helper cell sizes to match the original sizes
		      $(this).width($originals.eq(index).width())
		    });
		    return $helper;
		  },
		  
		  // This allows the placeholder to have a background color
		  'start': function (event, ui) {
		        ui.placeholder.html('<td colspan="5">&nbsp;</td>');
		  }
	 });
	 
	 
	 
     // Handlers for the sortable colleges list
     jQuery("#college-list, #college-remove").sortable({
         connectWith: ".college-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'college',
                    '@{settings.ConfigurableSettingsTab.reorderCollegesJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeCollegeJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#college-list .college-editable").live("click",sortableStartEditHandler());
     jQuery("#college-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#college-list .icon-ok").live("click",sortableSaveEditHandler('college','@{settings.ConfigurableSettingsTab.editCollegeJSON()}'));
     jQuery("#college-list input").live("keypress",sortableSaveEditHandler('college','@{settings.ConfigurableSettingsTab.editCollegeJSON()}'));
     jQuery("#add-college-link").click(slideToggleHandler("#add-college-dialog"));
     jQuery("#add-college-save").click(saveAddActionHandler('college','@{settings.ConfigurableSettingsTab.addCollegeJSON()}'));
     jQuery("#add-college-cancel").click(cancelAddActionHandler('college'));
     
     // Handlers for the sortable Departments list
     jQuery("#department-list, #department-remove").sortable({
         connectWith: ".department-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'department',
                    '@{settings.ConfigurableSettingsTab.reorderDepartmentsJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeDepartmentJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#department-list .department-editable").live("click",sortableStartEditHandler());
     jQuery("#department-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#department-list .icon-ok").live("click",sortableSaveEditHandler('department','@{settings.ConfigurableSettingsTab.editDepartmentJSON()}'));
     jQuery("#department-list input").live("keypress",sortableSaveEditHandler('department','@{settings.ConfigurableSettingsTab.editDepartmentJSON()}'));
     jQuery("#add-department-link").click(slideToggleHandler("#add-department-dialog"));
     jQuery("#add-department-save").click(saveAddActionHandler('department','@{settings.ConfigurableSettingsTab.addDepartmentJSON()}'));
     jQuery("#add-department-cancel").click(cancelAddActionHandler('department'));
     
     // Handlers for the sortable Majors list
     jQuery("#major-list, #major-remove").sortable({
         connectWith: ".major-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'major',
                    '@{settings.ConfigurableSettingsTab.reorderMajorsJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeMajorJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#major-list .major-editable").live("click",sortableStartEditHandler());
     jQuery("#major-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#major-list .icon-ok").live("click",sortableSaveEditHandler('major','@{settings.ConfigurableSettingsTab.editMajorJSON()}'));
     jQuery("#major-list input").live("keypress",sortableSaveEditHandler('major','@{settings.ConfigurableSettingsTab.editMajorJSON()}'));
     jQuery("#add-major-link").click(slideToggleHandler("#add-major-dialog"));
     jQuery("#add-major-save").click(saveAddActionHandler('major','@{settings.ConfigurableSettingsTab.addMajorJSON()}'));
     jQuery("#add-major-cancel").click(cancelAddActionHandler('major'));
     
     // Handlers for the sortable degrees list
     jQuery("#degree-list, #degree-remove").sortable({
         connectWith: ".degree-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'degree',
                    '@{settings.ConfigurableSettingsTab.reorderDegreesJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeDegreeJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#degree-list .degree-editable").live("click",sortableStartEditHandler());
     jQuery("#degree-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#degree-list .icon-ok").live("click",sortableSaveEditHandler('degree','@{settings.ConfigurableSettingsTab.editDegreeJSON()}'));
     jQuery("#degree-list input").live("keypress",sortableSaveEditHandler('degree','@{settings.ConfigurableSettingsTab.editDegreeJSON()}'));
     jQuery("#degree-list select").live("keypress",sortableSaveEditHandler('degree','@{settings.ConfigurableSettingsTab.editDegreeJSON()}'));
     jQuery("#add-degree-link").click(slideToggleHandler("#add-degree-dialog"));
     jQuery("#add-degree-save").click(saveAddActionHandler('degree','@{settings.ConfigurableSettingsTab.addDegreeJSON()}'));
     jQuery("#add-degree-cancel").click(cancelAddActionHandler('degree'));
     
     
     // Handlers for the sortable document types list
     jQuery("#documentType-list, #documentType-remove").sortable({
         connectWith: ".documentType-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'documentType',
                    '@{settings.ConfigurableSettingsTab.reorderDocumentTypesJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeDocumentTypeJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#documentType-list .documentType-editable").live("click",sortableStartEditHandler());
     jQuery("#documentType-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#documentType-list .icon-ok").live("click",sortableSaveEditHandler('documentType','@{settings.ConfigurableSettingsTab.editDocumentTypeJSON()}'));
     jQuery("#documentType-list input").live("keypress",sortableSaveEditHandler('documentType','@{settings.ConfigurableSettingsTab.editDocumentTypeJSON()}'));
     jQuery("#documentType-list select").live("keypress",sortableSaveEditHandler('documentType','@{settings.ConfigurableSettingsTab.editDocumentTypeJSON()}'));
     jQuery("#add-documentType-link").click(slideToggleHandler("#add-documentType-dialog"));
     jQuery("#add-documentType-save").click(saveAddActionHandler('documentType','@{settings.ConfigurableSettingsTab.addDocumentTypeJSON()}'));
     jQuery("#add-documentType-cancel").click(cancelAddActionHandler('documentType'));
     
     // Handlers for the sortable graduation months list
     jQuery("#graduationMonth-list, #graduationMonth-remove").sortable({
         connectWith: ".graduationMonth-sortable",
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'graduationMonth',
                    '@{settings.ConfigurableSettingsTab.reorderGraduationMonthsJSON()}',
                    '@{settings.ConfigurableSettingsTab.removeGraduationMonthJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#graduationMonth-list .graduationMonth-editable").live("click",sortableStartEditHandler());
     jQuery("#graduationMonth-list .icon-remove").live("click",sortableCancelEditHandler());     
     jQuery("#graduationMonth-list .icon-ok").live("click",sortableSaveEditHandler('graduationMonth','@{settings.ConfigurableSettingsTab.editGraduationMonthJSON()}'));
     jQuery("#graduationMonth-list input").live("keypress",sortableSaveEditHandler('graduationMonth','@{settings.ConfigurableSettingsTab.editGraduationMonthJSON()}'));
     jQuery("#add-graduationMonth-link").click(slideToggleHandler("#add-graduationMonth-dialog"));
     jQuery("#add-graduationMonth-save").click(saveAddActionHandler('graduationMonth','@{settings.ConfigurableSettingsTab.addGraduationMonthJSON()}'));
     jQuery("#add-graduationMonth-cancel").click(cancelAddActionHandler('graduationMonth'));
     
     
     
}) // document ready
</script>
#{/set}



<h2>AVAILABLE EMBARGO TYPES</h2>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Display?</td>
			<td># of Months</td>
			<td>Edit?</td>
		</tr>
	</thead>
	<tbody id="embargoType-list">
	    #{list items:embargos, as:'embargo'}
	       <tr id="embargoType_${embargo.getId()}">
	           <td class="embargoType-name-cell">${embargo.getName()}</td>
	           <td class="embargoType-description-cell">${embargo.getDescription()}</td>
	           <td class="embargoType-active-cell">#{if embargo.isActive()}Yes#{/if}#{else}No#{/else}</td>
	           <td class="embargoType-duration-cell">#{if embargo.getDuration() == null}Indefinite#{/if}#{else}${embargo.getDuration()}#{/else}</td>
	           <td class="embargoType-edit-cell"><a href="#">Edit</a></td>
	       </tr>
	    #{/list}
	</tbody>
</table>


<p><a id="add-embargoType-link" href="#">[ADD NEW]</a></p>

<h2>AVAILABLE COLLEGES</h2>

<div class="wrap settings-sortable">
	<ul id="college-remove" class="college-sortable settings-sortable-remove" #{if colleges.size() == 0}style="display: none;"#{/if}>
	   <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
	</ul>
	<ol id="college-list" class="college-sortable settings-sortable-list">
	    #{list items:colleges, as:'college'}
	       <li id="college_${college.getId()}"><a class="college-editable" href="#"><em class="icon-pencil"></em> ${college.getName()}</a></li>    
	    #{/list}
	</ol>
</div>

<a id="add-college-link" href="#">[ADD NEW]</a>

<div id="add-college-dialog" style="display: none;">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="add-college-name">New College</label>
                <div class="controls">
                    <input type="text" class="input-large" id="add-college-name"/>
                    <p class="help-block">Name of the new college</p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="add-college-save" class="btn btn-primary">Add College</button>
                    <button id="add-college-cancel" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>



<h2>AVAILABLE DEPARTMENTS</h2>

<div class="wrap settings-sortable">
	<ul id="department-remove" class="department-sortable settings-sortable-remove" #{if departments.size() == 0}style="display: none;"#{/if}>
	   <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
	</ul>
	<ol id="department-list" class="department-sortable settings-sortable-list">
	    #{list items:departments, as:'department'}
	       <li id="department_${department.getId()}"><a class="department-editable" href="#"><em class="icon-pencil"></em> ${department.getName()}</a></li>    
	    #{/list}
	</ol>
</div>

<a id="add-department-link" href="#">[ADD NEW]</a>

<div id="add-department-dialog" style="display: none;">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="add-department-name">New Department</label>
                <div class="controls">
                    <input type="text" class="input-large" id="add-department-name"/>
                    <p class="help-block">Name of the new department</p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="add-department-save" class="btn btn-primary">Add Department</button>
                    <button id="add-department-cancel" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>

<h2>AVAILABLE MAJORS</h2>

<div class="wrap settings-sortable">
    <ul id="major-remove" class="major-sortable settings-sortable-remove" #{if majors.size() == 0}style="display: none;"#{/if}>
       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
    </ul>
    <ol id="major-list" class="major-sortable settings-sortable-list">
        #{list items:majors, as:'major'}
           <li id="major_${major.getId()}"><a class="major-editable" href="#"><em class="icon-pencil"></em> ${major.getName()}</a></li>    
        #{/list}
    </ol>
</div>

<a id="add-major-link" href="#">[ADD NEW]</a>

<div id="add-major-dialog" style="display: none;">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="add-major-name">New Major</label>
                <div class="controls">
                    <input type="text" class="input-large" id="add-major-name"/>
                    <p class="help-block">Name of the new major</p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="add-major-save" class="btn btn-primary">Add Major</button>
                    <button id="add-major-cancel" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>

<h2>AVAILABLE DEGREES</h2>

<div class="wrap settings-sortable">
    <ul id="degree-remove" class="degree-sortable settings-sortable-remove" #{if degrees.size() == 0}style="display: none;"#{/if}>
       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
    </ul>
    <ol id="degree-list" class="degree-sortable settings-sortable-list">
        #{list items:degrees, as:'degree'}
           <li id="degree_${degree.getId()}"><a class="degree-editable" href="#"><em class="icon-pencil"></em> <span class="name">${degree.getName()}</span> <span class="level info">(${degree.getLevel().name()})</span></a></li>    
        #{/list}
    </ol>
</div>

<a id="add-degree-link" href="#">[ADD NEW]</a>

<div id="add-degree-dialog" style="display: none;">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="add-degree-name">New Degree</label>
                <div class="controls">
                    <input type="text" class="input-large" id="add-degree-name"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="add-degree-level">Degree Level</label>
                <div class="controls">
	                <select id="add-degree-level">
	                    <option selected="true" value="-1">...choose</option>
	                    <option value="${UNDERGRADUATE.getId()}">${UNDERGRADUATE.name()}</option>
	                    <option value="${MASTERS.getId()}">${MASTERS.name()}</option>
	                    <option value="${DOCTORAL.getId()}">${DOCTORAL.name()}</option>
	                </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="add-degree-save" class="btn btn-primary">Add Degree</button>
                    <button id="add-degree-cancel" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>


<h2>AVAILABLE DOCUMENT TYPES</h2>

<div class="wrap settings-sortable">
    <ul id="documentType-remove" class="documentType-sortable settings-sortable-remove" #{if docTypes.size() == 0}style="display: none;"#{/if}>
       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
    </ul>
    <ol id="documentType-list" class="documentType-sortable settings-sortable-list">
        #{list items:docTypes, as:'docType'}
           <li id="documentType_${docType.getId()}"><a class="documentType-editable" href="#"><em class="icon-pencil"></em> <span class="name">${docType.getName()}</span> <span class="level info">(${docType.getLevel().name()})</span></a></li>    
        #{/list}
    </ol>
</div>

<a id="add-documentType-link" href="#">[ADD NEW]</a>

<div id="add-documentType-dialog" style="display: none;">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="add-documentType-name">New Document Type</label>
                <div class="controls">
                    <input type="text" class="input-large" id="add-documentType-name"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="add-documentType-level">Degree Level</label>
                <div class="controls">
                    <select id="add-documentType-level">
                        <option selected="true" value="-1">...choose</option>
                        <option value="${UNDERGRADUATE.getId()}">${UNDERGRADUATE.name()}</option>
                        <option value="${MASTERS.getId()}">${MASTERS.name()}</option>
                        <option value="${DOCTORAL.getId()}">${DOCTORAL.name()}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="add-documentType-save" class="btn btn-primary">Add Document Type</button>
                    <button id="add-documentType-cancel" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>

<h2>AVAILABLE GRADUATION MONTHS</h2>

<div class="wrap settings-sortable">
    <ul id="graduationMonth-remove" class="graduationMonth-sortable settings-sortable-remove" #{if gradMonths.size() == 0}style="display: none;"#{/if}>
       <p class="info"><em class="icon-trash"></em> Remove items by dragging them to the trash can</p>
    </ul>
    <ol id="graduationMonth-list" class="graduationMonth-sortable settings-sortable-list">
        #{list items:gradMonths, as:'month'}
           <li id="graduationMonth_${month.getId()}"><a class="graduationMonth-editable" href="#"><em class="icon-pencil"></em> ${month.getMonthName()}</a></li>    
        #{/list}
    </ol>
</div>

<a id="add-graduationMonth-link" href="#">[ADD NEW]</a>

<div id="add-graduationMonth-dialog" style="display: none;">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="add-graduationMonth-name">New Month</label>
                <div class="controls">
                    <input type="text" class="input-large" id="add-graduationMonth-name"/>
                    <p class="help-block">Name of the new month</p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="add-graduationMonth-save" class="btn btn-primary">Add Month</button>
                    <button id="add-graduationMonth-cancel" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>

<div class="modal fade" id="embargo-type-modal">
    <form class="form-horizontal">
        <input type="hidden" name="embargoType-id" id="embargoType-id" value=""/>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Edit Embargo</h3>
        </div>
        <div class="modal-body">
			<ul id="embargoType-errors" class="red">
			</ul>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="embargoType-name"><strong>Embargo Name</strong>:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="embargoType-name" id="embargoType-name"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="embargoType-description"><strong>Description</strong>:</label>
                    <div class="controls">
                        <textarea class="input-xlarge" name="embargoType-description" id="embargoType-description"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="embargoType-active"><strong>Display</strong>:</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="embargoType-active" id="embargoType-active" value="true"/>
                            This embargo option will be available for<br/>new submissions.
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><strong>Expiration Timeframe</strong>:</label>
                    <div class="controls">
                        <label class="radio">
			                <input type="radio" checked="" value="indeterminate" id="timeframe-indeterminate" name="embargoType-timeframe">
			                Indeterminate
			            </label>
			            <label class="radio">
                            <input type="radio" checked="" value="determinate" id="timeframe-determinate" name="embargoType-timeframe">
                            Determinate
                        </label>
                    </div>
                </div>
                <div class="control-group" id="duration-group">
                    <label class="control-label" for="embargoType-months"><strong>Embargo Duration</strong>:</label>
                    <div class="controls">
                        <input type="text" name="embargoType-months" id="embargoType-months" value="" class="input-mini"/>
                        <p class="help-block">How many months a submission should be embargoed.</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a id="embargoType-remove" href="#" class="btn">Delete Embargo</a>
            <input id="embargoType-save" type="submit" class="btn btn-primary" name="submit_save" value="Save Embargo"/>
        </div>
    </form>
</div>
