#{extends 'SettingTabs/settings.html' /}
#{set 'moreSettingScripts' }
<script type="text/javascript">
jQuery(document).ready(function(){
	
	// Register the deposit location dialog box.
	jQuery("#deposit-location-modal").modal({
				show: false
			});
	
    // Handlers for the sortable deposit location list
    jQuery("#depositLocation-list").sortable({
        placeholder: "placeholder",
        update: sortableUpdateHandler(
                   'depositLocation',
                   '@{settings.DepositSettingsTab.reorderDepositLocationsJSON()}'
                   )
    }).disableSelection().enableSelection();
	
	// Deposit location management
	jQuery(".depositLocation-editable").live("click", depositLoadModalHandler('@{settings.DepositSettingsTab.loadDepositLocation}'));
    jQuery("#depositLocation-add").live("click", depositAddModalHandler('@{settings.DepositSettingsTab.loadDepositLocation}'));
	jQuery("#depositLocation-test").live("click", depositSaveHandler(false, 
			'@{settings.DepositSettingsTab.saveDepositLocation}', 
			'@{settings.DepositSettingsTab.updateDepositLocationList}'));
	jQuery("#depositLocation-test-submit").live("click", depositSaveHandler(false, 
			'@{settings.DepositSettingsTab.saveDepositLocation}', 
			'@{settings.DepositSettingsTab.updateDepositLocationList}'));
	jQuery("#depositLocation-save").live("click", depositSaveHandler(true, 
			'@{settings.DepositSettingsTab.saveDepositLocation}', 
			'@{settings.DepositSettingsTab.updateDepositLocationList}'));
	jQuery("#depositLocation-delete").live("click", depositDeleteHandler(
			'@{settings.DepositSettingsTab.removeDepositLocationJSON}',
			'@{settings.DepositSettingsTab.updateDepositLocationList}'));
	
}) // document ready
</script>
#{/set}

<h2>DEPOSIT LOCATIONS</h2>

<div class="wrap settings-sortable">
#{include 'SettingTabs/listDepositLocations.include' /}
</div>

<a id="depositLocation-add" href="#">[ADD NEW]</a>

<div class="modal fade" id="deposit-location-modal">
    #{include 'SettingTabs/editDepositLocation.include' /}
</div>
