#{extends 'SettingTabs/settings.html' /}
#{set 'moreSettingScripts' }
<script type="text/javascript">
jQuery(document).ready(function(){

	// Email settings at the top of the page.
    jQuery(".email-toggle").click(emailSettingsHandler('@{settings.EmailSettingsTab.updateEmailSettingsJSON()}'));

	
     // Handlers for the sortable emailTemplates list
     jQuery("#emailTemplate-list").sortable({
         placeholder: "placeholder",
         update: sortableUpdateHandler(
                    'emailTemplate',
                    '@{settings.EmailSettingsTab.reorderEmailTemplatesJSON()}'
                    )
     }).disableSelection().enableSelection();
        
     jQuery("#emailTemplate-list .emailTemplate-editable").live("click",sortableStartEditHandler());
     jQuery("#emailTemplate-list #edit-emailTemplate-cancel").live("click",sortableCancelEditHandler());
     jQuery("#emailTemplate-list #edit-emailTemplate-save").live("click",editEmailTemplateHandler('@{settings.EmailSettingsTab.editEmailTemplateJSON()}'));
     jQuery("#emailTemplate-list #edit-emailTemplate-delete").live("click",removeEmailTemplateHandler('@{settings.EmailSettingsTab.removeEmailTemplateJSON()}'));     
     jQuery("#emailTemplate-list .retrieve").live("click",retrieveEmailTemplateHandler('@{settings.EmailSettingsTab.retrieveEmailTemplateJSON()}')); 
     jQuery("#add-emailTemplate-link").click(slideToggleHandler("#add-emailTemplate-dialog"));
     jQuery("#add-emailTemplate-save").click(saveAddActionHandler('emailTemplate','@{settings.EmailSettingsTab.addEmailTemplateJSON()}'));
     jQuery("#add-emailTemplate-cancel").click(cancelAddActionHandler('emailTemplate'));
     
}) // document ready
</script>
#{/set}

<h2>EMAIL OPTIONS</h2>

<fieldset class="default settings">
<legend class="default">Choose email options:</legend>
	<div>
	   <input name="${org.tdl.vireo.constant.AppConfig.EMAIL_DELAY_SENDING_ADVISOR_REQUEST}" type="checkbox" class="checkbox email-toggle" #{if EMAIL_DELAY_SENDING_ADVISOR_REQUEST != null}checked="true"#{/if} value="true">
	       Do not automatically send the 'Advisor Review Request' email upon initial submission.
	   </input>
	</div>
</fieldset>

<h2>EMAIL TEMPLATES</h2>

<div class="wrap settings-sortable">
	<ol id="emailTemplate-list" class="emailTemplate-sortable settings-sortable-list">
	      #{list items:templates, as:'template'}
	         <li id="emailTemplate_${template.getId()}"><a class="emailTemplate-editable" href="javascript:void(0);"><em class="icon-pencil"></em> ${template.getName()}</a></li>    
	      #{/list}
	</ol>
</div>


<a id="add-emailTemplate-link" href="#">[ADD NEW]</a>

<div id="add-emailTemplate-dialog" style="display: none;">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="add-emailTemplate-name"><strong>Name</strong></label>
                <div class="controls">
                    <input type="text" class="input-xxlarge" id="add-emailTemplate-name"/>
                    <p class="info">Name of the new template, this is never shown to students.</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="add-emailTemplate-subject"><strong>Subject</strong></label>
                <div class="controls">
                    <input type="text" class="input-xxlarge" id="add-emailTemplate-subject"/>
                    <p class="info">The email subject as students will receive it.</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="add-emailTemplate-message"><strong>Message</strong></label>
                <div class="controls">
                    <textarea id="add-emailTemplate-message" class="input-xxlarge"></textarea>
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <button id="add-emailTemplate-save" class="btn btn-primary">Add Email Template</button>
                    <button id="add-emailTemplate-cancel" class="btn">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>

<h2>TEMPLATES VARIABLES</h2>
<p>Variables can be added to the email templates, both in the subject line and in the body.Variable names are will be all uppercase, and should be surrounded by brackets if you want them to be automatically replaced with the associated values. The available values are:</p>
<table class="table table-striped table-condensed">
	<tr>
		<td><b>FULL_NAME:</b></td>
		<td>The student's full, official name.</td>
	</tr>
	<tr>
		<td><b>FIRST_NAME:</b></td>
		<td>The student's first name.</td>
	<tr>
		<td><b>LAST_NAME:</b></td>
		<td>The student's last name.</td>
	</tr>
	<tr>
		<td><b>DOCUMENT_TITLE:</b></td>
		<td>The title of the thesis or dissertation as supplied by the student.</td>
	</tr>
	<tr>
		<td><b>DOCUMENT_TYPE:</b></td>
		<td>The document type, typically 'Thesis' or 'Dissertation'. This is defined by your office.</td>
	</tr>
	<tr>
		<td><b>GRAD_SEMESTER:</b></td>
		<td>The semester in which the student indicated they will graduate.</td>
	</tr>
	<tr>
		<td><b>STUDENT_URL:</b></td>
		<td>The URL that will allow the student to view or take action on their submission.</td>
	</tr>
	<tr>
		<td><b>ADVISOR_URL:</b></td>
		<td>The URL sent to the student's advisor to request manuscript approval.</td>
	</tr>
	<tr>
		<td><b>SUBMISSION_STATUS:</b></td>
		<td>The current status of the submission; e.g. 'Approved', 'Needs Corrections', etc.</td>
	</tr>
	<tr>
		<td><b>SUBMISSION_ASSIGNED_TO:</b></td>
		<td>The name of the staff member to which this submission is currently assigned.</td>
	</tr>
	<tr>
		<td><b>REGISTRATION_URL:</b></td>
		<td>The URL back to Vireo to validate ownership of an email address. <em>(This variable is only available in select SYSTEM templates)</em></td>
	</tr>
</table>
<p>When these variables are included in a template, the text will be replaced prior to the email being sent (or the comment being recorded in the action log). For example, the string</p>
<code>Dear {FIRST_NAME} {LAST_NAME}:</code>
<p>would be replaced with:</p>
<code>Dear John Doe:</code>