#{extends 'admin.html' /}
#{set 'moreScripts' }
<script src="@{'/public/javascripts/vireo-settingstab.js'}" type="text/javascript" charset="${_response_encoding}"></script>      
<script type="text/javascript">
jQuery(document).ready(function(){
    /** 
     * Handle AJAX updates for the three profile fields, displayName,
     * currentEmailAddress, and ccEmail.
     **/
     jQuery("#displayName, #currentEmailAddress, #ccEmail").change(function () {
    	 var $this = jQuery(this);
         var field = $this.attr('name');
         var value = $this.val();
         
         if ("ccEmail" == field) {
        	 value = $this.attr('checked');
         }
         
         jQuery("#my-profile").addClass("waiting");
         jQuery("#my-preferences").addClass("waiting");

         
         var successCallback = function(data) {
        	 
        	 // Remove the ajax loading indicators
             jQuery("#my-profile").removeClass("waiting");
             jQuery("#my-preferences").removeClass("waiting");
        	 
             // Clear any previous errors
        	 $this.parent("fieldset").removeClass("error");
        	 clearAlert("profile-alert-"+field);
        	 
        	 // Username at the upper left hand corner
        	 jQuery("#personal-bar a:first-of-type b").text(data.displayName);
        	 
        	 // Profile box
        	 jQuery("#my-profile ul:first-of-type li").text(data.displayName);
        	 jQuery("#my-profile ul:last-of-type li").text(data.currentEmailAddress);
        	 
        	 // The input field
        	 jQuery("#displayName").val(data.displayName);
         }
         
         var failureCallback = function (message) {
             jQuery("#my-profile").removeClass("waiting");
             jQuery("#my-preferences").removeClass("waiting");
             
        	 $this.parent("fieldset").addClass("error");
        	 displayAlert("profile-alert-"+field,"Unable to update profile",message);
         }
         
         jQuery.ajax({
             url:'@{SettingsTab.updateProfileJSON() }',
             data:{
                 'field': field,
                 'value': value
             },
             dataType:'json',
             type:'POST',
             success:function(data){
            	 if (data.success) {
            		successCallback(data);
            	 } else {
            		 failureCallback(data.message)
            	 }
             },
             error:function(){
            	 failureCallback("Unable to communicate with the server.");
             }
             
         });  
     })
}) // document ready
</script>

#{get 'moreSettingScripts' /}
#{/set}


<div id="left-column" class="pull-left">

	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">My Profile</div>
		</div>
		<div id="my-profile" class="box-body">			
			<div class="sub-heading">NAME</div>
			<ul class="unstyled">
				<li> ${currentUser.getDisplayName()} </li>
			</ul>
			<div class="sub-heading">EMAIL</div>
			<ul class="unstyled">
				<li> ${currentUser.getCurrentEmailAddress()}</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">My Preferences</div>
		</div>
		<div id="my-preferences" class="box-body">			
			<div class="sub-heading">DISPLAY NAME</div>
			<ul class="unstyled">
				<li><fieldset class="control-group"><input id="displayName" class="input-medium" type="text" name="displayName" value="${currentUser.getDisplayName()}" /></fieldset></li>
			</ul>
			<div class="sub-heading">PREFERED EMAIL</div>
			<ul class="unstyled">
				<li><fieldset class="control-group"><input id="currentEmailAddress" class="input-medium" type="text" name="currentEmailAddress" value="${currentUser.getCurrentEmailAddress()}" /></fieldset></li>
				<li><fieldset class="control-group"><input id="ccEmail" type="checkbox" class="checkbox" name="ccEmail" #{if currentUser.getPreference("ccEmail") != null }checked="true"#{/if}> I want to receive a copy of all emails sent by the system on my behalf.</input></fieldset></li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>	
		
</div>

<div id="right-column">
	<div class="inner">
	    #{if currentUser.getRole().ordinal() >= org.tdl.vireo.model.RoleType.MANAGER.ordinal()}
		<ul class="nav nav-tabs">
			<li #{if subNav=="user"}class="active"#{/if}><a href="@{settings.UserPreferencesTab.userPreferences}">User Preferences</a></li>
			<li #{if subNav=="application"}class="active"#{/if}><a href="@{settings.ApplicationSettingsTab.applicationSettings}">Application Settings</a></li>
			<li #{if subNav=="email"}class="active"#{/if}><a href="@{settings.EmailSettingsTab.emailSettings}">Email Settings</a></li>
			<li #{if subNav=="config"}class="active"#{/if}><a href="@{settings.ConfigurableSettingsTab.configurableSettings}">Configurable Settings</a></li>
		</ul>
		#{/if}
		<div id="alert-area">*{Javascript may dynamically fill this div with errors as needed.}*</div>

		#{doLayout /}
	</div>
</div>