#{extends 'admin.html' /}
#{set 'moreScripts' }
<script type="text/javascript">

/**
 * General function to display an error message.
 * 
 * An alert box will be shown if it is not allready present, displaying the
 * error message.
 *
 * TODO: Move out to a seperate javascript file?
 */
function settingsError(heading,message) {
	if (jQuery("#settings-error").length == 0) {
		// Create first error, just after the navigation tabs
		jQuery("#right-column .nav-tabs").after("<div id='settings-error' class='alert alert-error hidden'><button data-dismiss='alert' class='close' type='button'>×</button></div>")
		jQuery("#settings-error").slideToggle();
	} 
	jQuery("#settings-error").append("<p><strong>"+heading+"</strong>: "+message+"</p>");
}



jQuery(document).ready(function(){
    /** 
     * Handle AJAX updates for the three profile fields, displayName,
     * currentEmailAddress, and ccEmail.
     **/
     jQuery("#displayName, #currentEmailAddress, #ccEmail").change(function () {
    	 var $this = jQuery(this);
         var field = $this.attr('name');
         var value = $this.val();
         
         if ("ccEmail" == field) {
        	 value = $this.attr('checked');
         }
         
         var successCallback = function(data) {
        	 $this.parent("fieldset").removeClass("error");
        	 
        	 // Username at the upper left hand corner
        	 jQuery("#personal-bar a:first-of-type b").text(data.displayName);
        	 
        	 // Profile box
        	 jQuery("#my-profile ul:first-of-type li").text(data.displayName);
        	 jQuery("#my-profile ul:last-of-type li").text(data.currentEmailAddress);
         }
         
         var failureCallback = function (message) {
        	 $this.parent("fieldset").addClass("error");
        	 settingsError("Unable to update profile",message);
         }
         
         jQuery.ajax({
             url:'@{SettingsTab.updateProfileJSON() }',
             data:{
                 'field': field,
                 'value': value
             },
             dataType:'json',
             type:'POST',
             success:function(data){
            	 if (data.success) {
            		successCallback(data);
            	 } else {
            		 failureCallback(data.message)
            	 }
             },
             error:function(){
            	 failureCallback("Unable to communicate with the server.");
             }
             
         });  
     })
}) // document ready
</script>
#{/set}


<div id="left-column" class="pull-left">

	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">My Profile</div>
		</div>
		<div id="my-profile" class="box-body">			
			<div class="sub-heading">NAME</div>
			<ul class="unstyled">
				<li> ${currentUser.getDisplayName()} </li>
			</ul>
			<div class="sub-heading">EMAIL</div>
			<ul class="unstyled">
				<li> ${currentUser.getCurrentEmailAddress()}</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">My Preferences</div>
		</div>
		<div class="box-body">			
			<div class="sub-heading">DISPLAY NAME</div>
			<ul class="unstyled">
				<li><fieldset class="control-group"><input id="displayName" class="input-medium" type="text" name="displayName" value="${currentUser.getDisplayName()}" /></fieldset></li>
			</ul>
			<div class="sub-heading">PREFERED EMAIL</div>
			<ul class="unstyled">
				<li><fieldset class="control-group"><input id="currentEmailAddress" class="input-medium" type="text" name="currentEmailAddress" value="${currentUser.getCurrentEmailAddress()}" /></fieldset></li>
				<li><fieldset class="control-group"><input id="ccEmail" type="checkbox" class="checkbox" name="ccEmail" #{if currentUser.getPreference("ccEmail") != null }checked="true"#{/if}> I want to receive a copy of all emails sent by the system on my behalf.</input></fieldset></li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>	
		
</div>

<div id="right-column">
	<div class="inner">
		<ul class="nav nav-tabs">
			<li #{if subNav=="user"}class="active"#{/if}><a href="@{settings.UserPreferencesTab.userPreferences}">User Preferences</a></li>
			<li #{if subNav=="application"}class="active"#{/if}><a href="@{settings.ApplicationSettingsTab.applicationSettings}">Application Settings</a></li>
			<li #{if subNav=="email"}class="active"#{/if}><a href="@{settings.EmailSettingsTab.emailSettings}">Email Settings</a></li>
			<li #{if subNav=="config"}class="active"#{/if}><a href="@{settings.ConfigurableSettingsTab.configurableSettings}">Configurable Settings</a></li>
		</ul>

		#{doLayout /}
	</div>
</div>