#{extends 'admin.html' /}
#{set title:'Settings' /}
#{set 'moreScripts' }
<script src="@{'/public/javascripts/vireo-settingstab.js'}" type="text/javascript" charset="${_response_encoding}"></script>      
<script type="text/javascript">
jQuery(document).ready(function(){

	// handle profile updates
    jQuery("#displayName, #currentEmailAddress, #ccEmail").change(myProfileHandler('@{SettingsTab.updateProfileJSON() }'));

}) // document ready
</script>

#{get 'moreSettingScripts' /}
#{/set}


<div id="left-column" class="pull-left">

	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">My Profile</div>
		</div>
		<div id="my-profile" class="box-body">			
			<div class="sub-heading">NAME</div>
			<ul class="unstyled">
				<li> ${currentUser.getDisplayName()} </li>
			</ul>
			<div class="sub-heading">EMAIL</div>
			<ul class="unstyled">
				<li> ${currentUser.getCurrentEmailAddress()}</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">My Preferences</div>
		</div>
		<div id="my-preferences" class="box-body">			
			<div class="sub-heading">DISPLAY NAME</div>
			<ul class="unstyled">
				<li><fieldset class="control-group"><input id="displayName" class="input-medium" type="text" name="displayName" value="${currentUser.getDisplayName()}" /></fieldset></li>
			</ul>
			<div class="sub-heading">PREFERRED EMAIL</div>
			<ul class="unstyled">
				<li><fieldset class="control-group"><input id="currentEmailAddress" class="input-medium" type="text" name="currentEmailAddress" value="${currentUser.getCurrentEmailAddress()}" /></fieldset></li>
				<li><fieldset class="control-group"><input id="ccEmail" type="checkbox" class="checkbox" name="ccEmail" #{if currentUser.getPreference(org.tdl.vireo.constant.AppPref.CC_EMAILS) != null }checked="true"#{/if}> I want to receive a copy of all emails sent by the system on my behalf.</input></fieldset></li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>	
		
</div>

<div id="right-column">
	<div class="inner">
	    #{if currentUser.getRole().ordinal() >= org.tdl.vireo.model.RoleType.MANAGER.ordinal()}
		<ul class="nav nav-tabs">
			<li #{if subNav=="user"}class="active"#{/if}><a href="@{settings.UserPreferencesTab.userPreferences}">User Preferences</a></li>
			<li #{if subNav=="application"}class="active"#{/if}><a href="@{settings.ApplicationSettingsTab.applicationSettings}">Application Settings</a></li>
            <li #{if subNav=="submission"}class="active"#{/if}><a href="@{settings.SubmissionSettingsTab.submissionSettings}">Submission Settings</a></li>
			<li #{if subNav=="theme"}class="active"#{/if}><a href="@{settings.ThemeSettingsTab.themeSettings}">Theme Settings</a></li>
			<li #{if subNav=="email"}class="active"#{/if}><a href="@{settings.EmailSettingsTab.emailSettings}">Email Settings</a></li>
			<li #{if subNav=="config"}class="active"#{/if}><a href="@{settings.ConfigurableSettingsTab.configurableSettings}">Configurable Settings</a></li>
		</ul>
		#{/if}
		<div id="alert-area">*{Javascript may dynamically fill this div with errors as needed.}*</div>
		
		#{doLayout /}
	</div>
</div>