#{extends 'SettingTabs/settings.html' /}
#{set 'moreSettingScripts' }
<script type="text/javascript">
jQuery(document).ready(function(){
	
     jQuery(".submission-settings .fields button").click(submissionSettingsHandler('@{settings.SubmissionSettingsTab.updateSubmissionSettingsJSON()}'));
	 jQuery(".submission-settings .fields input").change(submissionSettingsHandler('@{settings.SubmissionSettingsTab.updateSubmissionSettingsJSON()}'));
     jQuery(".submission-settings .fields textarea").change(submissionSettingsHandler('@{settings.SubmissionSettingsTab.updateSubmissionSettingsJSON()}'));

     jQuery(".submission-settings .sticky textarea").live("change",stickySettingsHandler('@{settings.SubmissionSettingsTab.updateStickySettingsJSON()}'));
     jQuery(".submission-settings .sticky .add-sticky-note").click(addStickySettingsHandler());
     
	 /**
	  * Toggle the display of the field forms
	  */
     jQuery(".toggle-field").click(function () {    	 
    	 if (jQuery(this).closest("li").find("form").is(":visible")) {
    		 jQuery(this).closest("li").find("a em").removeClass("icon-minus");
    		 jQuery(this).closest("li").find("a em").addClass("icon-plus");
         } else {
        	 jQuery(this).closest("li").find("a em").removeClass("icon-plus");
        	 jQuery(this).closest("li").find("a em").addClass("icon-minus");
         }
    	 
    	 jQuery(this).closest("li").find("form").slideToggle();  
    	 jQuery(this).closest("li").find("textarea").trigger('keyup');
     });
	 
	 /**
	  * Expand or Collapse all fields in the set.
	  */
	 jQuery(".toggle-all-fields").click(function () {
		 
		 if (jQuery(this).text() == "expand all") {
             jQuery(this).text("collapse all");

             jQuery(this).closest("div").find("form .toggle-field").each(function() {
            	 if (jQuery(this).is(":hidden"))
            		  jQuery(this).click();
             })
			 
		 } else {
			 jQuery(this).text("expand all");
			 
             jQuery(this).closest("div").find("form .toggle-field").each(function() {
            	 if (jQuery(this).is(":visible"))
            		   jQuery(this).click();
             })
		 }
		 
	 })
     
     /**
      * Auto expand the stick-note text boxes based upon the current text.
      */
     jQuery("textarea").keyup(function() {

    	 this.style.overflow = 'hidden';
    	 this.style.height = 0;
    	 
    	 if (this.scrollHeight > 52)
    		 this.style.height = this.scrollHeight + 'px';
    	 else 
    		 this.style.height = '52px';
    	 
     });
     jQuery("textarea").trigger('keyup');
     
     
     /** 
       * Prevent stray returns from changing the enabled field.
       */
     jQuery("input").keydown(function(event){
    	 if(event.keyCode == 13) {
    		   event.preventDefault();
    		   return false;
         }
 	 });
     
     jQuery(".remove-sticky-note").live("click",function () {
    	 
    	 var $this = jQuery(this);
    	 if ($this.attr("data-confirmed")) {
	    	 var $field = $this.closest('li').find('textarea');
	    	 $field.text("");
	    	 $field.trigger("change");
    	 } else {
    		 $this.attr("data-confirmed","true");
    		 $this.text("(Are you sure?)");
    	 }
     });
}) // document ready
</script>
#{/set}

<h2>SUBMISSION SETTINGS</h2>

<p>Customize the student submission forms using the form below by expanding
each page and specific fields. There are a set of predefined fields for each
page which you may configure along with the helpful sticky notes shown on the
list pages.</p>

<div class="accordion settings-accordion submission-settings" id="submission-accordion">
    <!-- Verify Personal Information -->
	<div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" href="#submissionStep1"><strong>Page 1)</strong> Verify Personal Information</a>
		</div>
		<div id="submissionStep1" class="accordion-body collapse ${ "submissionStep1".equals(flash.get("open")) ? "in" : "" }">
			<div class="accordion-inner">
			
			    <div class="fields span7">
				    <h3>Fields <span class="heading-note">(<a href="javascript: void(0);" class="toggle-all-fields">expand all</a>)</span></h3>
				    <p><a class="confirm" data-confirm="<em class='icon-refresh'></em> (Are you sure?)" href="@{settings.SubmissionSettingsTab.resetSettings('personal-info-fields')}"><em class="icon-refresh"></em> Reset fields</a></p>			    
				    <ul>
					    #{list items:PERSONAL_INFO_FIELDS, as:'field'}
					         #{include 'SettingTabs/submissionField.include'/}
					    #{/list}
				    </ul>
			    </div>
			    
			    <div class="sticky span4">
			        <h3>Sticky Notes</h3>
			        
			        <p><a class="confirm" data-confirm="<em class='icon-refresh'></em> (Are you sure?)" href="@{settings.SubmissionSettingsTab.resetSettings('personal-info-stickies')}"><em class="icon-refresh"></em> Reset sticky notes</a></p>
			        
			        <ul data-name="${SUBMIT_PERSONAL_INFO_STICKIES}">
			             #{list items: personalInfoStickies, as:'sticky'}
			             <li>
			                 <div class="sticky-top"></div>
			                    <div class="sticky-bottom">
			                        <a class="remove-sticky-note" href="javascript: void(0);"><em class="icon-remove-sign"></em></a>
			                        <textarea name="${SUBMIT_PERSONAL_INFO_STICKIES}" data-index="${sticky_index - 1}">${sticky}</textarea>
			                    </div>
			             </li>
			             #{/list}
			        </ul>
			       
	                <p><a class="add-sticky-note" href="javascript: void(0);"><em class="icon-plus-sign"></em> Add stick note</a></p>
                </div>
			</div>
		</div>
	</div>

    <!-- License Step -->
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#submissionStep2"><strong>Page 2)</strong> License</a>
        </div>
        <div id="submissionStep2" class="accordion-body collapse ${ "submissionStep2".equals(flash.get("open")) ? "in" : "" }">
            <div class="accordion-inner">
                
                <div class="fields span7">
	                <h3>Fields <span class="heading-note">(<a href="javascript: void(0);" class="toggle-all-fields">expand all</a>)</span></h3>
	                <p><a class="confirm" data-confirm="<em class='icon-refresh'></em> (Are you sure?)" href="@{settings.SubmissionSettingsTab.resetSettings('license-agreement-fields')}"><em class="icon-refresh"></em> Reset fields</a></p>
	                
	                <ul>
		                #{list items:LICENSE_AGREEMENT_FIELDS, as:'field'}
		                     #{include 'SettingTabs/submissionField.include'/}
		                #{/list}
	                </ul>
                </div>
            
            </div>
        </div>
    </div>
    
    <!-- Document Information -->
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#submissionStep3"><strong>Page 3)</strong> Document Information</a>
        </div>
        <div id="submissionStep3" class="accordion-body collapse ${ "submissionStep3".equals(flash.get("open")) ? "in" : "" }">
            <div class="accordion-inner">
                
                <div class="fields span7">
	                <h3>Fields <span class="heading-note">(<a href="javascript: void(0);" class="toggle-all-fields">expand all</a>)</span></h3>
	                <p><a class="confirm" data-confirm="<em class='icon-refresh'></em> (Are you sure?)" href="@{settings.SubmissionSettingsTab.resetSettings('document-info-fields')}"><em class="icon-refresh"></em> Reset fields</a></p>
	                
	                <ul>
		                #{list items:DOCUMENT_INFO_FIELDS, as:'field'}
		                     #{include 'SettingTabs/submissionField.include'/}
		                #{/list}
	                </ul>
	            </div>
                

                <div class="sticky span4">
                    <h3>Sticky Notes</h3>
                    
                    <p><a class="confirm" data-confirm="<em class='icon-refresh'></em> (Are you sure?)" href="@{settings.SubmissionSettingsTab.resetSettings('document-info-stickies')}"><em class="icon-refresh"></em> Reset sticky notes</a></p>
                    
                    <ul data-name="${SUBMIT_DOCUMENT_INFO_STICKIES}">
                         #{list items: documentInfoStickies, as:'sticky'}
                         <li>
                             <div class="sticky-top"></div>
                                <div class="sticky-bottom">
                                    <a class="remove-sticky-note" href="javascript: void(0);"><em class="icon-remove-sign"></em></a>
                                    <textarea name="${SUBMIT_DOCUMENT_INFO_STICKIES}" data-index="${sticky_index - 1}">${sticky}</textarea>
                                </div>
                         </li>
                         #{/list}
                    </ul>
                   
                    <p><a class="add-sticky-note" href="javascript: void(0);"><em class="icon-plus-sign"></em> Add stick note</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Upload Files -->
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#submissionStep4"><strong>Page 4)</strong> Upload Files</a>
        </div>
        <div id="submissionStep4" class="accordion-body collapse ${ "submissionStep4".equals(flash.get("open")) ? "in" : "" }">
            <div class="accordion-inner">
                
                <div class="fields span7">
	                <h3>Fields <span class="heading-note">(<a href="javascript: void(0);" class="toggle-all-fields">expand all</a>)</span></h3>
	                
	                <p><a class="confirm" data-confirm="<em class='icon-refresh'></em> (Are you sure?)" href="@{settings.SubmissionSettingsTab.resetSettings('upload-files-fields')}"><em class="icon-refresh"></em> Reset fields</a></p>
	                
	                <ul>
		                #{list items:UPLOAD_FILES_FIELDS, as:'field'}
		                     #{include 'SettingTabs/submissionField.include'/}
		                #{/list}
	                </ul>
                </div>
                
                <div class="sticky span4">
                    <h3>Sticky Notes</h3>
                    
                    <p><a class="confirm" data-confirm="<em class='icon-refresh'></em> (Are you sure?)" href="@{settings.SubmissionSettingsTab.resetSettings('upload-files-stickies')}"><em class="icon-refresh"></em> Reset sticky notes</a></p>
                    
                    <ul data-name="${SUBMIT_UPLOAD_FILES_STICKIES}">
                         #{list items: uploadFilesStickies, as:'sticky'}
                         <li>
                             <div class="sticky-top"></div>
                                <div class="sticky-bottom">
                                    <a class="remove-sticky-note" href="javascript: void(0);"><em class="icon-remove-sign"></em></a>
                                    <textarea name="${SUBMIT_UPLOAD_FILES_STICKIES}" data-index="${sticky_index - 1}">${sticky}</textarea>
                                </div>
                         </li>
                         #{/list}
                    </ul>
                   
                    <p><a class="add-sticky-note" href="javascript: void(0);"><em class="icon-plus-sign"></em> Add stick note</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

