#{extends 'SettingTabs/settings.html' /}
#{set 'moreSettingScripts' }
<link href="@{'/public/bootstrap-colorpicker-master/css/bootstrap-colorpicker.css'}" rel="stylesheet" type="text/css">
<script src="@{'/public/bootstrap-colorpicker-master/js/bootstrap-colorpicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
jQuery(document).ready(function(){

	// Settings toggle and input/textarea fields
     jQuery(".theme-textarea").change(applicationSettingsHandler('@{settings.ThemeSettingsTab.updateThemeSettingsJSON()}'));
     jQuery(".theme-input").blur(applicationSettingsHandler('@{settings.ThemeSettingsTab.updateThemeSettingsJSON()}')); 
	
     // Reset Theme Color
     jQuery(".color-reset").click(function(){    	
    	var $this = jQuery(this);
    	var id = $this.attr('id');    	
    	var value = $this.text();
    	jQuery('.'+id).val(value);
    	jQuery('.'+id).colorpicker('setValue',value);
    	jQuery('.'+id).blur();
     });
     
     // Lock the big text areas
     jQuery(".theme-protected .lock-control a").click(applicationUnlockField);
     
     //Set Colorpicker
     jQuery(".theme-color").colorpicker();
     
     /*
 	 * Initiate tooltip.
 	 */
 	 
 	jQuery('.tooltip-icon').tooltip();
     
}) // document ready
</script>
#{/set}

<h2>LOOK AND FEEL</h2>

<h4 style="display:inline;">Background</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Use hex color values to change the background on the student side. The main color (default #1B333F) fades into the highlight color (default #43606E)."><i class="icon-info-sign"></i></a>
<table class="gradient-options">
	<tr>
		<td>Main Color <em id="background_main_color" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("background_main_color")}</em></td>
		<td>Highlight Color <em id="background_highlight_color" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("background_highlight_color")}</em></td>
	</tr>
	<tr>
		<td>
			<input type="text" class="theme-color span2 theme-input background_main_color" name="${org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR}" value="#{verbatim}${BACKGROUND_MAIN_COLOR}#{/verbatim}" >
		</td>
		<td>
			<input type="text" class="theme-color span2 theme-input background_highlight_color" name="${org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR}" value="#{verbatim}${BACKGROUND_HIGHLIGHT_COLOR}#{/verbatim}" >
		</td>
	</tr>
</table>
	
<h4 style="display:inline;">Submission Step Button (On)</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Use hex color values to change the look of the submission step buttons when on the current step or on hover. The main color (default #1B333F) fades into the highlight color (default #43606E) and then back to the main color."><i class="icon-info-sign"></i></a>
<table class="gradient-options">
	<tr>
		<td>Main Color <em id="button_main_color_on" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("button_main_color_on")}</em></td>
		<td>Highlight Color <em id="button_highlight_color_on" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("button_highlight_color_on")}</em></td>
	</tr>
	<tr>
		<td>
			<input type="text" class="theme-color span2 theme-input button_main_color_on" name="${org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON}" value="#{verbatim}${BUTTON_MAIN_COLOR_ON}#{/verbatim}" >
		</td>
		<td>
			<input type="text" class="theme-color span2 theme-input button_highlight_color_on" name="${org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON}" value="#{verbatim}${BUTTON_HIGHLIGHT_COLOR_ON}#{/verbatim}" >
		</td>
	</tr>
</table>

<h4 style="display:inline">Submission Step Button (Off)</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Use hex color values to change the look of the submission step buttons when in a default state. The main color (default #A6A18C) fades into the highlight color (default #C7C2A9) and then back to the main color."><i class="icon-info-sign"></i></a>
<table class="gradient-options">
	<tr>
		<td>Main Color <em id="button_main_color_off" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("button_main_color_off")}</em></td>
		<td>Highlight Color <em id="button_highlight_color_off" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("button_highlight_color_off")}</em></td>
	</tr>
	<tr>
		<td>
			<input type="text" class="theme-color span2 theme-input button_main_color_off" name="${org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF}" value="#{verbatim}${BUTTON_MAIN_COLOR_OFF}#{/verbatim}" >
		</td>
		<td>
			<input type="text" class="theme-color span2 theme-input button_highlight_color_off" name="${org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF}" value="#{verbatim}${BUTTON_HIGHLIGHT_COLOR_OFF}#{/verbatim}" >
		</td>
	</tr>
</table>

<div class="well">
<h4 style="display:inline;">Logos</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Change the logos located on the student side in the top left and top right corners. The recommended size is 50 x 150 pixels."><i class="icon-info-sign"></i></a>
<form method="post"  enctype="multipart/form-data" action="@{settings.ThemeSettingsTab.uploadLogos()}">
	<table class="logo-options">
		<tr>
			<td>
			<p>Left Logo<br />
				<input type="file" name="leftLogo" />
			</p>
			</td>
			<td>
			#{if leftLogo.exists()}
			<div class="preview" style="background-image:url('@{Application.index()}theme/left-logo');"></div>			
			#{/if}
			#{else}
			<div class="preview" style="background-image:url('@{Application.index()}public/images/vireo-logo-sm.png');"></div>
			#{/else}
			</td>
			#{if leftLogo.exists()}
			<td>
				<button class="confirm btn btn-small" type="submit" name="deleteLeftLogo">Remove</button>
			</td>
			#{/if}
		</tr>
		<tr>
			<td>
			<p>Right Logo<br />
				<input type="file" name="rightLogo" />
			</p>
			</td>
			<td>
			#{if rightLogo.exists()}
			<div class="preview right-logo" style="background-image:url('@{Application.index()}theme/right-logo');"></div>
			#{/if}
			#{else}
			<div class="preview right-logo" style="background-image:url('@{Application.index()}public/images/vireo-right.gif');"></div>
			#{/else}
			</td>
			#{if rightLogo.exists()}
			<td>
				<button class="confirm btn btn-small" type="submit" name="deleteRightLogo">Remove</button>
			</td>
			#{/if}
		</tr>
	</table>
	<p><input class="btn" type="submit" name="submit_upload" value="Upload" /></p>
</form>
</div>

<h4 style="display:inline;">Custom CSS</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Customize any styling on the student side using CSS."><i class="icon-info-sign"></i></a>
<br />
<div class="wrap theme-protected">
<p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.CUSTOM_CSS}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
<textarea class="input-xxlarge theme-textarea" id="${org.tdl.vireo.constant.AppConfig.CUSTOM_CSS}" name="${org.tdl.vireo.constant.AppConfig.CUSTOM_CSS}" readonly="true">#{verbatim}${CUSTOM_CSS}#{/verbatim}</textarea>
</div>

<h2>FRONT PAGE INSTRUCTIONS</h2>

<div class="wrap theme-protected">
    <p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.FRONT_PAGE_INSTRUCTIONS}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
    <textarea class="input-xxlarge theme-textarea" id="${org.tdl.vireo.constant.AppConfig.FRONT_PAGE_INSTRUCTIONS}" name="${org.tdl.vireo.constant.AppConfig.FRONT_PAGE_INSTRUCTIONS}" readonly="true">#{verbatim}${FRONT_PAGE_INSTRUCTIONS}#{/verbatim}</textarea>

    <p class="info">These instructions are show on the front page of Vireo to all users. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically.</p>
</div>

<h2>POST SUBMISSION INSTRUCTIONS</h2>

<div class="wrap theme-protected">
    <p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.SUBMIT_INSTRUCTIONS}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
	<textarea class="input-xxlarge theme-textarea" id="${org.tdl.vireo.constant.AppConfig.SUBMIT_INSTRUCTIONS}" name="${org.tdl.vireo.constant.AppConfig.SUBMIT_INSTRUCTIONS}" readonly="true">#{verbatim}${SUBMIT_INSTRUCTIONS}#{/verbatim}</textarea>

	<p class="info">These instructions will be shown on the confirmation page after a student has completed their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically.</p>
</div>

<h2>POST CORRECTION INSTRUCTIONS</h2>

<div class="wrap theme-protected">
    <p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.CORRECTION_INSTRUCTIONS}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
    <textarea class="input-xxlarge theme-textarea" id="${org.tdl.vireo.constant.AppConfig.CORRECTION_INSTRUCTIONS}" name="${org.tdl.vireo.constant.AppConfig.CORRECTION_INSTRUCTIONS}" readonly="true">#{verbatim}${CORRECTION_INSTRUCTIONS}#{/verbatim}</textarea>

    <p class="info"> These instructions are shown on the confirmation page after a student has submitted corrections for their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically.</p>
</div>
