#{extends 'SettingTabs/settings.html' /}

<h2>VIEW TAB OPTIONS</h2>

<fieldset class="default settings">
	<legend class="default">When adding notes, which options should be checked by default?</legend>
	<div><input type="checkbox" class="checkbox"> Email the student</input></div>
	<div><input type="checkbox" class="checkbox"> CC student's advisor</input></div>
	<div><input type="checkbox" class="checkbox"> Flag submission as Needs Corrections</input></div>
	<div><input type="checkbox" class="checkbox"> Mark comment as private</input></div>
</fieldset>

<fieldset class="default settings">
	<legend class="default">When attaching files, which options should be checked by default?</legend>
	<div><input type="checkbox" class="checkbox"> Email the student</input></div>
	<div><input type="checkbox" class="checkbox"> CC student's advisor</input></div>
	<div><input type="checkbox" class="checkbox"> Flag submission as Needs Corrections</input></div>
</fieldset>
