#{extends 'SettingTabs/settings.html' /}

<h2>LIST TAB OPTIONS</h2>

<fieldset class="default settings">
<legend class="default">What filter options should appear?</legend>
	<div><input type="checkbox" class="checkbox"> Assigned To</input></div>
	<div><input type="checkbox" class="checkbox"> Submission Date (Choose)</input></div>
	<div><input type="checkbox" class="checkbox"> Submission Date (Range)</input></div>
	<div><input type="checkbox" class="checkbox"> Document Type</input></div>
	<div><input type="checkbox" class="checkbox"> Embargo Type</input></div>
	<div><input type="checkbox" class="checkbox"> College</input></div>
	<div><input type="checkbox" class="checkbox"> Department</input></div>
	<div><input type="checkbox" class="checkbox"> UMI Release</input></div>
	<div><input type="checkbox" class="checkbox"> Graduation Semester</input></div>
	<div><input type="checkbox" class="checkbox"> Search Box</input></div>
	<div><input type="checkbox" class="checkbox"> Status</input></div>
</fieldset>

<fieldset class="default settings">
<legend class="default">What columns should appear?</legend>
	<div><input type="checkbox" class="checkbox"> ID</input></div>
	<div><input type="checkbox" class="checkbox"> Student name</input></div>
	<div><input type="checkbox" class="checkbox"> Status</input></div>
	<div><input type="checkbox" class="checkbox"> Assigned to</input></div>
	<div><input type="checkbox" class="checkbox"> Document title</input></div>
	<div><input type="checkbox" class="checkbox"> Submission date</input></div>
	<div><input type="checkbox" class="checkbox"> Graduation semester</input></div>
	<div><input type="checkbox" class="checkbox"> Degree name</input></div>
	<div><input type="checkbox" class="checkbox"> Department</input></div>
	<div><input type="checkbox" class="checkbox"> Major</input></div>
	<div><input type="checkbox" class="checkbox"> Embargo type</input></div>
	<div><input type="checkbox" class="checkbox"> Document type</input></div>
	<div><input type="checkbox" class="checkbox"> Keywords</input></div>
	<div><input type="checkbox" class="checkbox"> College</input></div>
	<div><input type="checkbox" class="checkbox"> UMI release</input></div>
	<div><input type="checkbox" class="checkbox"> Last event</input></div>
	<div><input type="checkbox" class="checkbox"> Event time</input></div>
</fieldset>

<fieldset class="default settings">
	<legend class="default">How many records per page should appear?</legend>
	<div class="half"><input type="radio" class="radio"> 20</input></div>
	<div class="half"><input type="radio" class="radio"> 40</input></div>
	<div class="half"><input type="radio" class="radio"> 60</input></div>
	<div class="half"><input type="radio" class="radio"> 100</input></div>
	<div class="half"><input type="radio" class="radio"> 200</input></div>
	<div class="half"><input type="radio" class="radio"> 400</input></div>
</fieldset>

<h2>VIEW TAB OPTIONS</h2>

<fieldset class="default settings">
	<legend class="default">When adding notes, which options should be checked by default?</legend>
	<div><input type="checkbox" class="checkbox"> Email the student</input></div>
	<div><input type="checkbox" class="checkbox"> CC student's advisor</input></div>
	<div><input type="checkbox" class="checkbox"> Flag submission as Needs Corrections</input></div>
	<div><input type="checkbox" class="checkbox"> Mark comment as private</input></div>
</fieldset>

<fieldset class="default settings">
	<legend class="default">When attaching files, which options should be checked by default?</legend>
	<div><input type="checkbox" class="checkbox"> Email the student</input></div>
	<div><input type="checkbox" class="checkbox"> CC student's advisor</input></div>
	<div><input type="checkbox" class="checkbox"> Flag submission as Needs Corrections</input></div>
</fieldset>

<h2>LOG TAB OPTIONS</h2>

<fieldset class="default settings">
	<legend class="default">What filter options should appear?</legend>
	<div><input type="checkbox" class="checkbox"> Assigned To</input></div>
	<div><input type="checkbox" class="checkbox"> Submission Date (Choose)</input></div>
	<div><input type="checkbox" class="checkbox"> Submission Date (Range)</input></div>
	<div><input type="checkbox" class="checkbox"> Document Type</input></div>
	<div><input type="checkbox" class="checkbox"> Embargo Type</input></div>
	<div><input type="checkbox" class="checkbox"> College</input></div>
	<div><input type="checkbox" class="checkbox"> Department</input></div>
	<div><input type="checkbox" class="checkbox"> UMI Release</input></div>
	<div><input type="checkbox" class="checkbox"> Graduation Semester</input></div>
	<div><input type="checkbox" class="checkbox"> Search Box</input></div>
	<div><input type="checkbox" class="checkbox"> Status</input></div>
</fieldset>

<fieldset class="default settings">
	<legend class="default">What columns should appear?</legend>
	<div><input type="checkbox" class="checkbox"> Student name</input></div>
	<div><input type="checkbox" class="checkbox"> Status</input></div>
	<div><input type="checkbox" class="checkbox"> Assigned to</input></div>
	<div><input type="checkbox" class="checkbox"> Document title</input></div>
	<div><input type="checkbox" class="checkbox"> Submission date</input></div>
	<div><input type="checkbox" class="checkbox"> Graduation semester</input></div>
	<div><input type="checkbox" class="checkbox"> Degree name</input></div>
	<div><input type="checkbox" class="checkbox"> Department</input></div>
	<div><input type="checkbox" class="checkbox"> Major</input></div>
	<div><input type="checkbox" class="checkbox"> Action/Comment</input></div>
	<div><input type="checkbox" class="checkbox"> Action by</input></div>
	<div><input type="checkbox" class="checkbox"> Action time</input></div>
</fieldset>

<fieldset class="default settings">
	<legend class="default">How many records per page should appear?</legend>
	<div class="half"><input type="radio" class="radio"> 20</input></div>
	<div class="half"><input type="radio" class="radio"> 40</input></div>
	<div class="half"><input type="radio" class="radio"> 60</input></div>
	<div class="half"><input type="radio" class="radio"> 100</input></div>
	<div class="half"><input type="radio" class="radio"> 200</input></div>
	<div class="half"><input type="radio" class="radio"> 400</input></div>
</fieldset>