<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="closeModal()" aria-label="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Add Member</h3>
</div>

<div class="modal-body">
    <alerts channels="user/update,user/assignable" types="ERROR,INVALID" exclusive></alerts>
    <div>
        <form action="/admin/settings/members/search">
            <div class="row">
                <div class="col-sm-12">
                    <table ng-table="unassignableUsersTable" class="table table-hover table-striped" show-filter="true">
                        <tbody>
                            <tr class="clickable" ng-repeat="u in $data" ng-click="selectUser(u)">
                                <td data-title="'Name'" filter="{ 'name': 'text' }">{{u.name}}</td>
                                <td data-title="'E-mail'">{{u.email}}</td>
                                <td data-title="'Role'">
                                    <button ng-click="updateRole(u, 'ROLE_REVIEWER')" type="button" class="btn btn-primary">Add</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
</div>
