<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="reset()" aria-label="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Login</h3>
</div>

<form name="forms.login" novalidate>

    <span ng-controller="LoginController">

        <validationmessage results="user.getValidationResults()"></validationmessage>

        <div class="modal-body loginModal">

	    <div class="sso-login">
	      <h4>Authenticate with JHU Single Sign-On</h4>
	      Log in to use Interlibrary Loan and Document Delivery services
              <button type="button" class="btn btn-primary pull-left" ng-click="login()">SSO Login</button>        
	      <h4 style="margin-top: 4px;">Or, with email and password
	    </div>
            <validatedinput
                model="account"
                property="email"
                label="Email"
                form="forms.login"
                validations="user.getValidations()"
                results="user.getValidationResults()">
            </validatedinput>

            <validatedinput
                type="password"
                model="account"
                property="userPassword"
                label="Password"
                form="forms.login"
                validations="user.getValidations()"
                results="user.getValidationResults()">
            </validatedinput>

            <button class="btn btn-primary" type="submit" ng-click="login()" ng-disabled="forms.login.$invalid">Login</button>

        </div>

    </span>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="reset()">Cancel</button>
    </div>

</form>
