<span ng-controller="RegistrationController">
	
	<div class="modal-header {{attr.modalHeaderClass}}">
		<button type="button" class="close" ng-click="reset()" aria-label="Close">
			<span class="modal-close" aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title">Verify Email</h3>
	</div>

	<form ng-submit="verifyEmail(registration.email)" name="forms.verifyEmail" novalidate>
		
		<validationmessage results="user.getValidationResults()"></validationmessage>

		<div class="modal-body verifyEmailModal">
			<validatedinput
				model="registration"
				property="email"
				label="Email"
				placeholder="Enter email"
				form="forms.verifyEmail"
				validations="user.getValidations()"
				results="user.getValidationResults()">
			</validatedinput>
		</div>

		<div class="modal-footer">		
			<button type="button" class="btn btn-default" ng-click="reset()">cancel</button>
			<button class="btn btn-primary" type="submit" ng-disabled="forms.verifyEmail.$invalid">Submit</button>
		</div>
	</form>
<span>