@import "sass/main";

main {
  display: block;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

main footer {
  display: block;
  margin-bottom: 75px;
}

.appContent {
  padding-top: 25px;
}

.view {
  margin: 25px 0px;
  min-height: 500px;
}

.userMenu {
  margin-bottom: 25px;
}

.toggle-href {
  cursor: pointer;
}

.app-menu a {
  color: inherit;
  text-decoration: none !important;
}

.tab-pane .well { 
  min-height: 600px
}

.modal {
  display: none;
}

.notesWarning {
  margin-top: 15px;
  padding: 15px;
}

.notesText {
  font-weight: bold;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #332c2c;
  background-color: #F2EDE5;
  border-color: #8F8F8C;
}

.btn-primary {
  color: #fff;
  background-color: #4A5C81;
  border-color: #2e6da4;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1D3362;
  border-color: #204d74;
}


.btn-danger {
  color: #fff;
  background-color: #CD7674;
  border-color: #813735;
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #994644;
  border-color: #ac2925;
}

.btn-success {
  color: #fff;
  background-color: #406A76;
  border-color: #4cae4c;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #104554;
  border-color: #398439;
}

.btn-warning {
  color: #fff;
  background-color: #F8CF66;
  border-color: #eea236;
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #F6BF33;
  border-color: #d58512;
}

.metadata-label {
  margin-bottom: 15px;
}

.label-add {
  color: #4A5C81;
}

.label-add:hover {
  cursor: pointer;
}

.label-remove {
  color: #CD7674;
}

.label-remove:hover {
  cursor: pointer;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  background-color: #4A5C81;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: #4A5C81;
  border-color: #1D3362;
}

.vertical-justified {
  width: 100%;
  min-width: 360px;
}

.documents-container {
  min-width: 400px;
}

.users-container {
  min-width: 650px;
}

.assume-status {
  float: left;
  color: #CD7674;
}

.control {
  float: right;
}


.global-nav {
  margin: 0 auto;
  text-align: center;
}

.global-nav, .global-nav .top-bar {
  background: #43606e;
}

.global-nav li {
  border-right: 1px solid #1b333f;
  margin-left: 0;
  display: inline-block;
}

.global-nav li:last-child {
  border-right: 0 solid #1b333f;
}

.global-nav li a {
  background: none;
  color: #fff;
  font-size: 1em;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  margin-left: -5px;
}

.global-nav li a:hover {
  text-decoration: none;
  background: #43606e;
}

.site-title {
  background: #1b333f;
  background: -moz-linear-gradient(top, #43606e 0%, #1b333f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43606e), color-stop(100%,#1b333f));
  background: -webkit-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: -o-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: -ms-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: linear-gradient(top, #43606e 0%,#1b333f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43606e', endColorstr='#1b333f');

  border-top: 1px solid #8d8d8d;
  
  height: 55px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #ccc;
  background: #1b333f;
  padding: 20px 0 0;
  width: 100%;
}

footer a, footer li, footer p {
  color: #fff;
  font-size: .95em;
}

@media screen and (min-width: 768px) {
  
  .footer, .header, .marketing {
    padding-left: 0;
    padding-right: 0;
  }

}

.registration {
  max-width: 400px;
}