#{extends 'Submit/submitStep.html' /}
#{set title:'Vireo Thesis and Dissertaion Submital System - Submission - Confirm & Submit' /}

<br />
<div class="row pageHead">
	<h3 class="span11">Confirm & Submit</h3>
</div>
<br />
<div class="row">
       <div class="span11">
               <h4>Instructions:</h4>
               <p>Please verify all the information displayed below before proceeding. Once you click the button to approve this document, you cannot make any more changes to the form's data without contacting your local thesis office.</p> 
       </div>
</div>

#{ifErrors}
<ul class="red">
    #{if errors.forKey('personalInfo')}
        <li>There are errors on the "Verify Your Information" step. <a href="@{submit.PersonalInfo.personalInfo(subId)}">[visit step]</a></li>
    #{/if}
    #{if errors.forKey('license')}
        <li>There are errors on the "License Agreement" step. <a href="@{submit.License.license(subId)}">[visit step]</a></li>
    #{/if}
    #{if errors.forKey('documentInfo')}
        <li>There are errors on the "Document Information" step. <a href="@{submit.DocumentInfo.documentInfo(subId)}">[visit step]</a></li>
    #{/if}
    #{if errors.forKey('fileUpload')}
        <li>There are errors on the "File Upload" step. <a href="@{submit.FileUpload.fileUpload(subId)}">[visit step]</a></li>
    #{/if}
</ul>

<p>You need to correct these errors before completing your submission.</p>
#{/ifErrors}

<div id="confirmSubmit" class="row">
<form action="@{submit.Confirm.confirm(subId)}" method="post" class="form-horizontal">
    #{include 'viewSubmission.include' /}
	
	#{ifEnabled [PRIMARY_ATTACHMENT,SUPPLEMENTAL_ATTACHMENT,SOURCE_ATTACHMENT,ADMINISTRATIVE_ATTACHMENT] }
	<legend>Uploaded File${ additionalDocuments.size() > 0 ? "s" : "" }</legend>
	
	#{ifEnabled PRIMARY_ATTACHMENT }
	<div class="control-group #{errorClass 'primaryDocument' /} ">
		<label class="control-label">#{fieldLabel PRIMARY_ATTACHMENT /}:</label>
		<div class="controls">
		    #{if primaryDocument != null}
			    <p>
			         <a href="@{Student.viewAttachment(subId,primaryDocument.getId(),primaryDocument.getName())}" target="_blank">${primaryDocument.getName()}</a>
			         (${primaryDocument.getDisplaySize()})
			     </p>
			#{/if}
			#{else}
			     <p><em>No primary document uploaded</em>
			#{/else}
		</div>
	</div>
	#{/ifEnabled}
	#{ifEnabled [SUPPLEMENTAL_ATTACHMENT,SOURCE_ATTACHMENT,ADMINISTRATIVE_ATTACHMENT]}
    #{if additionalDocuments.size() > 0}
    <div class="control-group #{errorClass 'additonalDocument' /} ">
        <label class="control-label">Additional Documents:</label>
        <div class="controls">
            #{list items:additionalDocuments, as:'attachment'}
            <p>
                <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
                (${attachment.getType()} - ${attachment.getDisplaySize()})
            </p>
            #{/list}
        </div>
    </div>
    #{/if}
    #{/ifEnabled}
	<div class="control-group">
		<label class="control-label"></label>
		<div class="controls">
			<p><a href="@{submit.FileUpload.fileUpload(subId)}">[edit your uploaded files]</a></p>
		</div>
	</div>
	#{/ifEnabled}
	
	<legend>Final Submission</legend>
	<div class="row">
		<div class="span11">
			<h4>Warning:</h4>
			<p>After pressing "Confirm and Submit" you cannot make any more changes to the form's data without contacting your local thesis office.</p>
		</div>
	</div>
	<div class="span11 center"><input type="submit" name="submit_confirm" value="Confirm and Submit" class="btn btn-primary #{ifErrors} disabled #{/ifErrors}"/></div>
	
</form>
<br/>
<br/>
<br/>

</div>