#{extends 'Submit/submitStep.html' /}
#{set title:'Vireo Thesis and Dissertaion Submital System - Submission - License Agreement' /}

<br />
<div class="row pageHead">
	<h3 class="span11">License Agreement</h3> 
</div>
<br />


#{ifErrors}
<ul class="red">
    #{errors}
    <li>${error}</li> 
    #{/errors}
</ul>
#{/ifErrors}

<div>
	<form action="@{submit.License.license(subId)}" method="post" class="form-inline">
	
		<input type="hidden" name="step" value="license"/>
		
		#{ifEnabled LICENSE_AGREEMENT}
		<h4>#{fieldLabel LICENSE_AGREEMENT /}</h4>
		
		#{ifRequired LICENSE_AGREEMENT }
		<div class="row">
			<p class="span">You must agree to the non-exclusive license below in order to continue:</p>
		</div>
		#{/ifRequired}
		
		<div class="well">#{verbatim}${licenseText}#{/verbatim}</div>
		
		<div class="row center">
			<div style="margin:0 0 10px;">
				<label id="lalabel" class="checkbox #{if errors.forKey('licenseAgreement')}red#{/if}">
		            <input id="licenseAgreement" type="checkbox" name="licenseAgreement" ${ licenseAgreement != null ? "checked='true'" : "" }/> #{fieldHelp LICENSE_AGREEMENT /}
				</label>
			</div>
		</div>
		#{/ifEnabled}
		
		#{ifEnabled UMI_RELEASE}
		<h4>#{fieldLabel UMI_RELEASE /}</h4>
		
		#{ifRequired UMI_RELEASE }
		<div class="row">
			<p class="span">You must agree to the non-exclusive license below in order to continue:</p>
		</div>
		#{/ifRequired}
		
		<div class="well">#{verbatim}${proquestText}#{/verbatim}</div>
		
		<div class="row center">
			<label id="palabel" class="checkbox #{if errors.forKey('proquestAgreement')}red#{/if}">
				<input id="proquestAgreement" type="checkbox" name="proquestAgreement" ${ proquestAgreement != null ? "checked='true'" : "" }/> #{fieldHelp UMI_RELEASE /}
			</label>
		</div>	
	    #{/ifEnabled}
		
		<div class="span10 center">
	        <input type="submit" class="btn btn-primary" name="submit_next" value="Save and Continue" />
		</div>

	</form>
</div>