<span>
  <div class="col-sm-6">
    <ul class="info-list">
      <li ng-repeat="fieldProfile in workflowStep.aggregateFieldProfiles | filter:{enabled: true}" ng-if="$index < (workflowStep.aggregateFieldProfiles.length / 2) && fieldProfile.inputType.name !== 'INPUT_FILE'">
        <submissioninfo submission="submission" field-profile="fieldProfile" label="{{fieldProfile.gloss}}"></submissioninfo>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="info-list">
      <li ng-repeat="fieldProfile in workflowStep.aggregateFieldProfiles | filter:{enabled: true}" ng-if="$index >= (workflowStep.aggregateFieldProfiles.length / 2) && fieldProfile.inputType.name !== 'INPUT_FILE'">
        <submissioninfo submission="submission" field-profile="fieldProfile" label="{{fieldProfile.gloss}}"></submissioninfo>
      </li>
    </ul>
  </div>
</span>
