#{extends 'admin.html' /}
#{set title:job.getName() /}
#{set 'moreScripts'}
<script type="text/javascript">
jQuery(document).ready(function() { 

	function updateStatus() {
		var successCallback = function(data) {
			
			// Update the basics 
			jQuery("#job #job-name").text(data.name);
			jQuery("#job #job-status .bar").width(data.progress);
			jQuery("#job #job-message").text(data.message);
			

			var loop = true;
            jQuery("#job #job-status").removeClass();
			
			if (data.status == "WAITING") {
			    jQuery("#job #job-status").addClass("progress progress-striped progress-info active");
				jQuery("#job #job-complete").hide();
				loop = true;
			
			} else if (data.status == "READY") {
                jQuery("#job #job-status").addClass("progress progress-striped progress-info active");
                jQuery("#job #job-complete").hide();
                loop = true;
				
			} else if (data.status == "RUNNING") {
                jQuery("#job #job-status").addClass("progress progress-striped progress-success active");
                jQuery("#job #job-complete").hide();
                loop = true;
				
			} else if (data.status == "SUCCESS") {
                jQuery("#job #job-status").addClass("progress progress-striped progress-success");
                jQuery("#job #job-status .bar").text(data.progress);
                jQuery("#job #job-complete").show();
                loop = false;
				
			} else if (data.status == "FAILED") {
                jQuery("#job #job-status").addClass("progress progress-striped progress-danger");
                jQuery("#job #job-status .bar").text(data.progress);
                jQuery("#job #job-complete").show();
                loop = false;
				
			} else if (data.status == "CANCELLED") {
                jQuery("#job #job-status").addClass("progress progress-striped progress-warning");
                jQuery("#job #job-status .bar").text(data.progress);
                jQuery("#job #job-complete").show();
                loop = false;
                
			} else {
				failure();
			}
			
			if (loop) {
				setTimeout(function() {
				 	updateStatus()
					}, 500);
			}
		}
		
		var failureCallback = function() {
			jQuery("#job").prepend("<div class='alert alert-error'><strong>Error</strong>: Unable to communicate with server.</div>");
		}
		
		jQuery.ajax({
			url : '@{JobTab.updateJSON(job.getId().toString())}',
			dataType : 'json',
			type : 'GET',
			success : function(data) {
				if (data.id) {
					successCallback(data)
				} else {
					failureCallback();
				}
			},
			error : failureCallback
		})	
	}
	
	#{if job.getStatus().isActive()}
	   *{ Only get an updated if the task is active.}*
	   updateStatus();
	#{/if}
});
</script>
#{/set}

<div id="center-column">
    <br/>
	<div id="job" class="inner">
	
	    <h1 id="job-name">${job.getName()}</h1>
	    
	    <div class="well">
		    <div id="job-status" class="progress progress-striped
		    #{if job.getStatus() == WAITING || job.getStatus() == READY }
		       progress-info active
		    #{/if}
		    #{elseif job.getStatus() == RUNNING}
		       progress-success active
		    #{/elseif}
		    #{elseif job.getStatus() == SUCCESS}
		       progress-success
		    #{/elseif}
		    #{elseif job.getStatus() == FAILED}
		       progress-danger
		    #{/elseif}
		    #{elseif job.getStatus() == CANCELLED}
		       progress-warning
		    #{/elseif}">
		        <div class="bar" style="width: ${ job.getStatus().isActive() ? "0%" : job.getProgress().toString()};">${ job.getStatus().isActive() ? "" : job.getProgress().toString()}</div>
		    </div>
		    <span id="job-message">${job.getMessage()}</span>
	    </div>
	    <br/>
	    <br/>
	    <div id="job-complete" class="${ job.getStatus().isActive() ? 'hidden' : '' }">
	       <p>The operation has completed.</p>
	       <p><a href="@{FilterTab.list()}" class="btn">Back</a></p>
	    </div>
	</div>
</div>
