<div class="col-sm-6">

	<ul class="info-list">
		<li>
			<info data="data['college']" label="College"></info>
		</li>
		<li>
			<info data="data['program']" label="Program"></info>
		</li>
		<li>
			<info data="data['department']" label="Department"></info>
		</li>
		<li>
			<info data="data['degree']" label="Degree"></info>
		</li>
		<li>
			<info data="data['']" label="Degree Level"></info>
		</li>
		<li>
			<info data="data['major']" label="Major"></info>
		</li>
		<li>
			<info data="data['']" label="Graduation Semester"></info>
		</li>
		<li>
			<info data="data['degree_date']" label="Program Completion Date"></info>
		</li>
		<li>
			<info data="data['defense_date']" label="Defense Date"></info>
		</li>
		<li>
			<info data="data['chairs_contact_email']" label="Advisor Email"></info>
		</li>
		<li>
			<info data="data['']" label="Faculty Review URL"></info>
		</li>
	</ul>

</div>

<div class="col-sm-6">

	<ul class="info-list">
		<li>
			<info data="data['your_committee']" label="Committee Members"></info>
		</li>
	</ul>
          	
</div>