<div class="col-sm-6">

	<ul class="info-list">
		<li>
			<info data="data['title']" label="Title"></info>
		</li>
		<li>
			<label>Embargos:</label>
			<span ng-class="{'info-empty': !data['']}">{{data[''].value || 'none'}}</span>
		</li>
		<li>
			<info data="data['umi_publication']" label="UMI Release Name" edit="checkbox"></info>
		</li>
		<li>
			<info data="data['document_type']" label="Document Type"></info>
		</li>
		<li>
			<info data="data['previously_published_material']" label="Published Material"></info>
		</li>
		<li>
			<info data="data['abstract']" label="Abstract" edit="textarea"></info>
		</li>
	</ul>
	
</div>

<div class="col-sm-6">

	<ul class="info-list">
		<li>
			<info data="data['keywords']" label="Keywords" edit="textarea"></info>
		</li>
		<li>
			<info data="data['subjects']" label="Subjects" edit="textarea"></info>
		</li>
		<li>
			<info data="data['language']" label="Language"></info>
		</li>
	</ul>
	          	
</div>