<div class="col-sm-6">

	<ul class="info-list">
		<li>
			<info data="data['first_name']" label="First Name"></info>
		</li>
		<li>
			<info data="data['middle_name']" label="Middle Name"></info>
		</li>
		<li>
			<info data="data['last_name']" label="Last Name"></info>
		</li>
		<li>
			<info data="data['email']" label="Email"></info>
		</li>
		<li>
			<info data="data['birth_year']" label="Year of Birth"></info>
		</li>
		<li>
			<info data="data['orcid']" label="ORCID"></info>
		</li>
		<li>
			<info data="data['']" label="Institutional ID" immutable="true"></info>
		</li>
	</ul>

</div>

<div class="col-sm-6">
	<ul class="info-list">
		<li>
			<info data="data['permanent_phone']" label="Permanent Phone" phone="true"></info>
		</li>
		<li>
			<info data="data['permanent_email']" label="Permanent Email"></info>
		</li>
		<li>
			<info data="data['permanent_address']" label="Permanent Address" edit="textarea"></info>
		</li>
		<li>
			<info data="data['current_phone']" label="Current Phone" phone="true"></info>
		</li>
		<li>
			<info data="data['current_address']" label="Current Address" edit="textarea"></info>
		</li>
	</ul>       	
</div>