<form>
    <div class="modal-header {{attr.modalHeaderClass}}">
        <button type="button" class="close" ng-click="resetCommentModal(addCommentModal)" aria-title="Close">
            <span class="modal-close" aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Add Comment</h3>
    </div>

    <div class="modal-body">
      <div class="row">
            <div class="col-xs-12">

                <div class="form-group email-element email-to" ng-class="{'email-active':addCommentModal.sendEmailToRecipient&&addCommentModal.commentVisiblity==='public'}">
                    <label>To:</label>
                    <input type="text" class="form-control" ng-model="addCommentModal.recipientEmail" />
                </div>

                <div class="form-group email-element email-cc" ng-class="{'email-active': addCommentModal.sendEmailToCCRecipient&&addCommentModal.commentVisiblity==='public'}">
                    <label>CC:</label>
                    <input type="text" class="form-control" ng-model="addCommentModal.ccRecipientEmail" />
                </div>

                <div class="form-group">
                    <label>Subject:</label>
                    <input type="text" class="form-control" ng-model="addCommentModal.subject" />
                </div>

                <div class="form-group comment-body">
                    <textarea class="form-control" ng-model="addCommentModal.message"></textarea>
                </div>

                <div class="form-group email-template">
                    <select class="form-control" ng-model="addCommentModal.selectedTemplate" ng-options="template as template.name for template in emailTemplates track by template.id" ng-change="addCommentModal.message=addCommentModal.selectedTemplate.message;addCommentModal.subject=addCommentModal.selectedTemplate.subject">
                    </select>
                </div>

                <div class="form-group public-private">

                    <div class="radio">
                      <label><input type="radio" name="optradio" value="public" ng-model="addCommentModal.commentVisiblity">Comment is public</label>
                    </div>

                    <div class="recipient-options email-element" ng-class="{'email-active': addCommentModal.commentVisiblity==='public'}">
                        <div class="checkbox">
                          <label><input type="checkbox" ng-model="addCommentModal.sendEmailToRecipient" ng-change="!addCommentModal.sendEmailToRecipient?addCommentModal.sendEmailToCCRecipient=sendEmailToRecipient:addCommentModal.sendEmailToCCRecipient=addCommentModal.sendEmailToCCRecipient">Add Email Recipient</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" ng-model="addCommentModal.sendEmailToCCRecipient" ng-disabled="!addCommentModal.sendEmailToRecipient">Add CC Recipient</label>
                        </div>
                    </div>

                    <div class="radio">
                      <label><input type="radio" name="optradio" value="private" ng-model="addCommentModal.commentVisiblity" ng-click="addCommentModal.sendEmailToRecipient=false;addCommentModal.sendEmailToCCRecipient=false">Comment is private</label>
                    </div>
                </div>

                <div class="form-group public-private">
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="addCommentModal.needsCorrection">Flag submission as Needs Corrections</label>
                  </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="resetCommentModal(addCommentModal)" ng-disabled="addCommentModal.adding">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addComment(addCommentModal)" ng-disabled="addCommentModal.adding">
            <span ng-if="!addCommentModal.adding">Comment</span>
            <span ng-if="addCommentModal.adding">
                Adding Comment
                <span class="glyphicon glyphicon-refresh spinning"></span>
            </span>
        </button>
    </div>
</form>
