<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetAddFile()" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Add File</h3>
</div>

<form novalidate>

  <div class="modal-body">

    <span>
      <input id="primaryDocument" type="radio" name="addFile" value="replace" ng-model="addFileData.addFileSelection">
      <label ng-if="!hasPrimaryDocument()" for="primaryDocument">Add the primary document</label>
      <label ng-if="hasPrimaryDocument()" for="primaryDocument">Replace the primary document</label>
      <br/>

      <div class="add-file-section" ng-class="{'section-open': addFileData.addFileSelection === 'replace', 'section-closed': addFileData.addFileSelection !== 'replace'}">

        <dropzone ng-if="!addFileData.files" file-model="files" text="Drop a file or click arrow" , patterns="pdf" drop-method="queueUpload(files)"></dropzone>

        <div ng-if="addFileData.files">
          <button ng-if="!addFileData.uploading" class="btn btn-default pull-right" ng-click="removeFiles()">Remove</button>
          <label>Name:</label>
          <span>{{addFileData.files[0].name}}</span><br/>
          <label>Type:</label>
          <span>{{addFileData.files[0].type}}</span><br/>
          <label>Size:</label>
          <span>{{addFileData.files[0].size + " bytes"}}</span><br/>
          <uib-progressbar class="progress-striped active file-upload-progress" type="success" ng-if="addFileData.uploading" value="addFileData.progress" max="100">{{addFileData.progress + '%'}}</uib-progressbar>
        </div>

        <span ng-if="hasPrimaryDocument()">
          <div class="checkbox">
            <label><input type="checkbox" value="false" ng-model="addFileData.sendEmailToRecipient">Add Email Recipients</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="false" ng-model="addFileData.sendEmailToCCRecipient" ng-disabled="!addFileData.sendEmailToRecipient">Add CC Recipients</label>
          </div>

          <div class="email-section" ng-class="{'section-open': addFileData.sendEmailToRecipient, 'section-closed': !addFileData.sendEmailToRecipient}">

            <div class="form-group">
              <label for="primaryDocumentRecipientEmail">To:</label>
              <span class="label-remove-hover" ng-click="removeEmailAddressee(email,recipientEmails)" ng-repeat="email in recipientEmails"><span class="glyphicon glyphicon-remove"></span>{{email}} </span>
              <div class="input-group">
                <input id="primaryDocumentRecipientEmail" class="form-control" type="email" ng-model="recipientEmail" name="recipientEmail" uib-typeahead="entry for entry in submission.getContactEmails() | filter:$viewValue" />
                <span ng-class="{disabled: !recipientEmail}" class="input-group-addon glyphicon glyphicon-plus toggle-href" ng-click="addEmailAddressee(recipientEmail,recipientEmails);recipientEmail=''"></span>
              </div>
            </div>

            <div class="form-group email-section" ng-class="{'section-open': addFileData.addCCRecipeints, 'section-closed': !addFileData.sendEmailToCCRecipient}">
              <label for="primaryDocumentCcRecipientEmail">CC:</label>
              <span class="label-remove-hover" ng-click="removeEmailAddressee(email,ccRecipientEmails)" ng-repeat="email in ccRecipientEmails"><span class="glyphicon glyphicon-remove"></span>{{email}} </span>
              <div class="input-group">
                <input id="primaryDocumentCcRecipientEmail" class="form-control" type="email" ng-model="ccRecipientEmail" name="ccRecipientEmail" uib-typeahead="entry for entry in submission.getContactEmails() | filter:$viewValue" />
                <span ng-class="{disabled: !ccRecipientEmail}" class="input-group-addon glyphicon glyphicon-plus toggle-href" ng-click="addEmailAddressee(ccRecipientEmail,ccRecipientEmails);ccRecipientEmail=''"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="primaryDocumentEmailSubject">Subject:</label>
              <input id="primaryDocumentEmailSubject" class="form-control" type="text" ng-model="addFileData.subject" name="emailSubject">
            </div>

            <div class="form-group">
              <label for="primaryDocumentEmailBody" class="hidden">Body:</label>
              <textarea id="primaryDocumentEmailBody" class="form-control" placeholder="Compose comment here..." ng-model="addFileData.message" name="emailBody" rows="5"></textarea>
            </div>

            <div class="form-group">
              <label for="primaryDocumentEmailTemplate" class="hidden">Selected Template:</label>
              <select id="primaryDocumentEmailTemplate" class="form-control" ng-model="addFileData.selectedTemplate" ng-options="template as template.name for template in emailTemplates track by template.id" ng-change="addFileData.message = addFileData.selectedTemplate.message;addFileData.subject=addFileData.selectedTemplate.subject"></select>
            </div>

          </div>
        </span>

      </div>
    </span>

    <input id="additionalDocument" type="radio" name="addFile" value="add" ng-model="addFileData.addFileSelection">
    <label for="additionalDocument">Add additional document</label>
    <br/>

    <div class="add-file-section" ng-class="{'section-open': addFileData.addFileSelection === 'add', 'section-closed': addFileData.addFileSelection !== 'add'}">

      <div class="form-group">
        <label for="additionalDocumentFileName">New Document Type:</label>
        <select id="additionalDocumentFileName" class="form-control" ng-model="addFileData.fieldPredicate" ng-options="documentFieldPredicate as getFileType(documentFieldPredicate) for documentFieldPredicate in fieldPredicates | filter:{ documentTypePredicate: true } | filter:{value:'!_doctype_primary'} track by documentFieldPredicate.value">
          <option value="">Select File Type...</option>
        </select>
      </div>

      <dropzone ng-if="!addFileData.files" file-model="files" text="Drop a file or click arrow" , patterns="*" drop-method="queueUpload(files)"></dropzone>

      <div ng-if="addFileData.files">
        <button ng-if="!addFileData.uploading" class="btn btn-default pull-right" ng-click="removeFiles()">Remove</button>
        <label>Name:</label>
        <span>{{addFileData.files[0].name}}</span><br/>
        <label>Type:</label>
        <span>{{addFileData.files[0].type}}</span><br/>
        <label>Size:</label>
        <span>{{addFileData.files[0].size + " bytes"}}</span><br/>
        <uib-progressbar class="progress-striped active file-upload-progress" type="success" ng-if="addFileData.uploading" value="addFileData.progress" max="100">{{addFileData.progress + '%'}}</uib-progressbar>
      </div>

      <div class="checkbox">
        <label><input type="checkbox" value="false" ng-model="addFileData.sendEmailToRecipient">Add Email Recipients</label>
      </div>

      <div class="checkbox">
        <label><input type="checkbox" value="false" ng-model="addFileData.sendEmailToCCRecipient" ng-disabled="!addFileData.sendEmailToRecipient">Add CC Recipients</label>
      </div>

      <div class="email-section" ng-class="{'section-open': addFileData.sendEmailToRecipient, 'section-closed': !addFileData.sendEmailToRecipient}">

        <div class="form-group">
          <label for="additionalDocumentRecipientEmail">To:</label>
          <span class="label-remove-hover" ng-click="removeEmailAddressee(email,recipientEmails)" ng-repeat="email in recipientEmails"><span class="glyphicon glyphicon-remove"></span>{{email}} </span>
          <div class="input-group">
            <input id="additionalDocumentRecipientEmail" class="form-control" type="email" ng-model="recipientEmail" name="recipientEmail" uib-typeahead="entry for entry in submission.getContactEmails() | filter:$viewValue" />
            <span ng-class="{disabled: !recipientEmail}" class="input-group-addon glyphicon glyphicon-plus toggle-href" ng-click="addEmailAddressee(recipientEmail,recipientEmails);recipientEmail=''"></span>
          </div>
        </div>

        <div class="form-group email-section" ng-class="{'section-open': addFileData.addCCRecipeints, 'section-closed': !addFileData.sendEmailToCCRecipient}">
          <label for="additionalDocumentCcRecipientEmail">CC:</label>
          <span class="label-remove-hover" ng-click="removeEmailAddressee(email,ccRecipientEmails)" ng-repeat="email in ccRecipientEmails"><span class="glyphicon glyphicon-remove"></span>{{email}} </span>
          <div class="input-group">
            <input id="additionalDocumentCcRecipientEmail" class="form-control" type="email" ng-model="ccRecipientEmail" name="ccRecipientEmail" uib-typeahead="entry for entry in submission.getContactEmails() | filter:$viewValue" />
            <span ng-class="{disabled: !ccRecipientEmail}" class="input-group-addon glyphicon glyphicon-plus toggle-href" ng-click="addEmailAddressee(ccRecipientEmail,ccRecipientEmails);ccRecipientEmail=''"></span>
          </div>
        </div>

        <div class="form-group">
          <label for="additionalDocumentEmailSubject">Subject:</label>
          <input id="additionalDocumentEmailSubject" class="form-control" type="text" ng-model="addFileData.subject" name="emailSubject">
        </div>

        <div class="form-group">
          <label for="additionalDocumentEmailBody" class="hidden">Body:</label>
          <textarea id="additionalDocumentEmailBody" class="form-control" placeholder="Compose comment here..." ng-model="addFileData.message" name="emailBody" rows="5"></textarea>
        </div>

        <div class="form-group">
          <label for="additionalDocumentEmailTemplate" class="hidden">Selected Template:</label>
          <select id="additionalDocumentEmailTemplate" class="form-control" ng-model="addFileData.selectedTemplate" ng-options="template as template.name for template in emailTemplates track by template.id" ng-change="addFileData.message = addFileData.selectedTemplate.message;addFileData.subject=addFileData.selectedTemplate.subject"></select>
        </div>

      </div>

    </div>

    <div class="checkbox">
      <label><input type="checkbox" ng-model="addFileData.needsCorrection">Flag submission as Needs Corrections</label>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="resetAddFile()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="disableSubmitAddFile()" ng-click="submitAddFile()">Submit <span ng-if="addFileData.uploading" class="glyphicon glyphicon-refresh spinning"></span></button>
  </div>

</form>
