<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="" aria-label="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Customize Results Table</h3>
</div>

<form name="forms.customize" novalidate>

    <validationmessage results=""></validationmessage>

    <div class="modal-body customizeSubmissionViewModal">
        
    </div>


    <div class="modal-footer">
    	<button type="button" class="btn btn-warning" ng-click="">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="">Default Columns</button>
        <button type="button" class="btn btn-primary" ng-click="">Save</button>
        
    </div>

</form>