<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" aria-title="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Customize Filters</h3>
</div>
<div class="modal-body column-modal" id="filterColumnModal">
	<div class="row">
		<div class="col-sm-12">
    		<p>Please select which search filter options should be displayed by dragging into or out of the list of displayed options.</p>
        	<div class="col-sm-6">
        		<h4>Displayed Filters</h4>
        		<div class="column-background">
		    		<ul class="displayed-column-container" as-sortable="box.getFilterColumnOptions()" ng-model="box.getFilterColumns().userFilterColumns">
		    			<li ng-class="{'displayed-column': !column.status, 'disabled-column': column.status == 'previouslyDisabled'}" ng-repeat="column in box.getFilterColumns().userFilterColumns" as-sortable-item>
		    				<div as-sortable-item-handle>{{column.title}}</div>
		    			</li>
		    		</ul>
		    	</div>
	    	</div>
	    	<div class="col-sm-6">
	    		<h4>Disabled Filters</h4>
	    		<div class="column-background">
		    		<ul class="disabled-column-container" as-sortable="box.getFilterColumnOptions()" ng-model="box.getFilterColumns().inactiveFilterColumns">
		    			<li ng-class="{'disabled-column': !column.status, 'displayed-column': column.status == 'previouslyDisplayed'}" ng-repeat="column in box.getFilterColumns().inactiveFilterColumns" as-sortable-item>
		    				<div as-sortable-item-handle>{{column.title}}</div>
		    			</li>
		    		</ul>
		    	</div>
	    	</div>
	    </div>
	</div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-disabled="!box.getFilterChange()" ng-click="box.saveUserFilters()">Save</button>        
</div>