### Git ###
!.gitkeep


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

/.nb-gradle/


### VS ###
.vs

### VS Code ###
.vscode/

dump.rdb


### BlueJ ###
*.ctxt


### OS Specific ###
.DS_Store
.tmp/

tmp/


### Node / NPM ###
coverage/
logs/
node_modules/

.npmrc

npm-debug.log
package-lock.json


### Virtual Machine ###
hs_err_pid*
replay_pid*


### Java ###
.mtj.tmp/

*.class
*.log

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


### Maven ###
logs/
target/

.classpath
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project

buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties


### Weaver ###
dist/


### Project Specific ###
.env*

!**/src/main/**
!**/src/test/**

*.mv.db
