# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
eclipse
server.pid
nbproject

lib
modules
data

# Ignore dynamic plugins
conf/db-1.1.1
conf/qunit-1.0
conf/spring-1.0.3
public/qunit-1.0
qunit-1.0/
