##############################
# Create a .env file next to
# this one with actual values.
##############################

IMAGE_HOST=127.0.0.1
IMAGE_VERSION=4.3.0
SERVICE_PROJECT=tdl
SERVICE_PATH=vireo

NODE_ENV=production

STOMP_DEBUG=false

LOCAL_AUTHENTICATION=true

AUTH_STRATEGY=weaverAuth

AUTH_SERVICE_URL="window.location.protocol + '//' + window.location.host + window.location.base + '/mock/auth'"


#SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.H2Dialect
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect

SPRING_JPA_HIBERNATE_DDL_AUTO=update

#SPRING_DATASOURCE_URL=jdbc:h2:mem:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
#SPRING_DATASOURCE_DRIVERCLASSNAME=org.h2.Driver
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/vireo
SPRING_DATASOURCE_DRIVERCLASSNAME=org.postgresql.Driver

SPRING_DATASOURCE_USERNAME=vireo
SPRING_DATASOURCE_PASSWORD=vireo

# location to place templated appConfig.js
APP_PATH=/var/vireo
# must match directory of APP_PATH
APP_CONFIG_URI=file:/var/vireo/appConfig.js
APP_ASSETS_URI=file:/var/vireo/
#APP_DATALOADER_INITIALIZE=false
#APP_FILTER_EMBARGOTYPENONE=None
#APP_FILTER_SUBMISSIONTYPENONE=Unknown

AUTH_SECURITY_JWT_SECRET=verysecretsecret
AUTH_SECURITY_JWT_ISSUER=vireo
AUTH_SECURITY_JWT_DURATION=5
