<div ng-controller="OrganizationSideBarController">
	<form name="forms.create" ng-submit="createNewOrganization(settings.configurable.application.hierarchical.value)" novalidate>

		<sideboxsub>NAME</sideboxsub>
		<div class="sidebox-input">
			<validatedinput
				model="newOrganization"
				property="name"
				placeholder="Name of the new organization"
				form="forms.create"
				validations="organizationRepo.getValidations()"
				results="organizationRepo.getValidationResults()">
			</validatedinput>
		</div>

		<sideboxsub>Category</sideboxsub>
		<div class="sidebox-input">
			<validatedselect
				options="organizationCategories"
				optionproperty="name"
				model="newOrganization"
				property="category"
				form="forms.create"
				validations="organizationRepo.getValidations()"
				results="organizationRepo.ValidationResults">
			</validatedselect>
		</div>

		<div class="form-group">
			<button
				ng-if="settings.configurable.application.hierarchical.value == 'true'"
				class="btn btn-primary organization-create-button"
				type="submit"
				ng-disabled="forms.create.$invalid">Add to {{newOrganization.parent.name}}</button>
			<button
				ng-if="settings.configurable.application.hierarchical.value == 'false'"
				class="btn btn-primary organization-create-button"
				type="submit"
				ng-disabled="forms.create.$invalid">Create</button>
		</div>

	</form>
</div>
