<div>
  <!-- TODO: put configuration on the scope -->
  <div class="well" ng-bind-html="configuration.proquest_umi_degree_code.proquest_license.value"></div>
  <div>
    <input  type="checkbox"
        ng-model="field.value"
        ng-true-value="'true'"
        ng-false-value="'false'"
        ng-disabled="field.updating"
        ng-click="save(field)">
    <span>By checking here you agree to the above license in its entirety.</span>
    <span ng-if="!field.updating" class="glyphicon glyphicon-info-sign opaque" tooltip="{{ profile.help }}"> </span>
    <span ng-if="field.updating" class="glyphicon glyphicon-refresh spinning"> </span>
  </div>
</div>
