<div class="row" ng-controller="ApplicationSettingsController">
  <div class="col-xs-12">
    <h1>APPLICATION SETTINGS</h1>
    <p>Customize application wide settings</p>
    <vireo-accordion single-expand="false">
      <vireo-pane query="organizationSettings" html="views/admin/settings/application/organizationSettings.html">ORGANIZATION SETTINGS</vireo-pane>
      <vireo-pane query="submissionAvailability" html="views/admin/settings/application/submissionAvailability.html">SUBMISSION AVAILABILITY</vireo-pane>
      <vireo-pane query="customActionsChecklist" html="views/admin/settings/application/customActionsChecklist.html">CUSTOM ACTIONS CHECKLIST</vireo-pane>
      <vireo-pane query="depositLocations" html="views/admin/settings/application/depositLocations.html">DEPOSIT LOCATIONS</vireo-pane>
      <vireo-pane query="whoHasAccess" html="views/admin/settings/application/whoHasAccess.html">WHO HAS ACCESS</vireo-pane>
      <vireo-pane query="lookAndFeel" html="views/admin/settings/application/lookAndFeel.html">LOOK AND FEEL</vireo-pane>
      <vireo-pane query="emailTemplates" html="views/admin/settings/application/emailTemplates.html">EMAIL TEMPLATES</vireo-pane>
    </vireo-accordion>
  </div>
</div>
