<div class="row" ng-controller="WorkflowManagementController">
  <div class="col-xs-12">
    <h1>WORKFLOW MANAGEMENT</h1>
    <p>Manage workflow settings</p>
    <vireo-accordion single-expand="false">
      <vireo-pane query="orcidSettings" html="views/admin/settings/workflow/orcidSettings.html">ORCID SETTINGS</vireo-pane>
      <vireo-pane query="submissionLicense" html="views/admin/settings/application/submissionLicense.html">SUBMISSION LICENSE</vireo-pane>
      <vireo-pane query="proquestUmiSettings" html="views/admin/settings/workflow/proquestUmiDegreeCodeSettings.html">PROQUEST SETTINGS</vireo-pane>
      <vireo-pane query="controlledVocabularyManagement" html="views/admin/settings/workflow/controlledVocabularyManagement.html">CONTROLLED VOCABULARY MANAGEMENT</vireo-pane>
      <vireo-pane query="embargoTypes" html="views/admin/settings/application/embargoTypes.html">EMBARGO TYPES</vireo-pane>
      <vireo-pane query="degrees" html="views/admin/settings/application/degrees.html">DEGREES</vireo-pane>
      <vireo-pane query="graduationMonths" html="views/admin/settings/application/graduationMonths.html">GRADUATION MONTHS</vireo-pane>
      <vireo-pane query="languages" html="views/admin/settings/application/languages.html">LANGUAGES</vireo-pane>
      <vireo-pane query="documentTypes" html="views/admin/settings/application/documentTypes.html">FILE TYPES</vireo-pane>
      <vireo-pane query="shibbolethAttributes" html="views/admin/settings/workflow/shibbolethAttributes.html">SHIBBOLETH ATTRIBUTES</vireo-pane>
      <vireo-pane query="metadataKeys" html="views/admin/settings/workflow/fieldPredicates.html">METADATA KEYS</vireo-pane>
    </vireo-accordion>
  </div>
</div>
