<div class="input-group">
  <input type="tel"
    class="form-control"
    id="field-{{profile.fieldPredicate.value}}"
    name="{{profile.fieldPredicate.value}}"
    ng-required="!profile.optional"
    ng-blur="save(fieldValue)"
    ng-disabled="fieldValue.updating"
    ng-model="fieldValue.value"
    uib-typeahead="word.name as word.name for word in profile.controlledVocabulary.dictionary | filter: { name: $viewValue }"
    typeahead-wait-ms="400"
    typeahead-on-select="saveWithCV(fieldValue, $item)"/>
  <span class="input-group-addon">
    <span ng-if="!fieldValue.updating" class="glyphicon glyphicon-info-sign opaque" aria-label="{{ profile.help }}" tooltip="{{ profile.help }}"> </span>
    <span ng-if="fieldValue.updating" class="glyphicon glyphicon-refresh spinning"> </span>
  </span>
</div>
