<div class="input-group input-contact-value">
  <input type="text"
    class="form-control"
    name="profile.fieldPredicate.value"
    ng-required="!profile.optional"
    ng-model="fieldValue.value"
    ng-disabled="fieldValue.updating"
    ng-blur="saveContacts(fieldValue, noResults)"
    uib-typeahead="word.name as word.name for word in controlledVocabularyTypeAhead(fieldValue, $viewValue)"
    typeahead-wait-ms="600"
    typeahead-no-results="noResults"
    typeahead-on-select="saveWithCV(fieldValue, $item)"
    typeahead-loading="(!fieldValue.fieldPredicate.id || !typeAheads[fieldValue.fieldPredicate.id]) ? angular.noop : typeAheads[fieldValue.fieldPredicate.id].loading"
    aria-label="{{profile.gloss}} name"
  />
  <span class="input-group-btn">
    <button class="btn btn-default opaque" ng-if="fieldValue.value" aria-label="Remove {{profile.gloss}} {{fieldValue.value}}">
      <span class="glyphicon glyphicon-remove clickable" ng-click="removeFieldValue(fieldValue)" aria-hidden="true"></span>
    </button>
  </span>
  <span class="input-group-addon">
    <span ng-if="!fieldValue.updating" class="glyphicon glyphicon-info-sign opaque" aria-label="{{ profile.help }}" tooltip="{{ profile.help }}" aria-hidden="true"></span>
    <span ng-if="fieldValue.updating" class="glyphicon glyphicon-refresh spinning" aria-hidden="true"></span>
  </span>
</div>

<div class="input-group input-contact-contacts">
  <input type="text"
    class="form-control"
    name="profile.fieldPredicate.value"
    ng-required="!profile.optional"
    ng-model="fieldValue.contacts"
    ng-disabled="fieldValue.updating"
    ng-blur="saveContacts(fieldValue, noResults)"
    uib-typeahead="word.contacts[0] as word.contacts[0] for word in controlledVocabularyTypeAhead(fieldValue, $viewValue)"
    typeahead-wait-ms="600"
    typeahead-no-results="noResults"
    typeahead-on-select="saveWithCV(fieldValue, $item)"
    typeahead-loading="(!fieldValue.fieldPredicate.id || !typeAheads[fieldValue.fieldPredicate.id]) ? angular.noop : typeAheads[fieldValue.fieldPredicate.id].loading"
    aria-label="{{profile.gloss}} contact info"
  />
  <span class="input-group-addon">
    <span ng-if="!fieldValue.updating" class="glyphicon glyphicon-info-sign opaque" aria-label="{{ profile.help }}" tooltip="{{ profile.help }}" aria-hidden="true"></span>
    <span ng-if="fieldValue.updating" class="glyphicon glyphicon-refresh spinning" aria-hidden="true"></span>
  </span>
</div>

