<div class="input-radio-container row" ng-repeat="word in profile.controlledVocabulary.dictionary | filter:displayVocabularyWord | orderBy:orderVocabularyWords">
	<div class="col-xs-1">
		<input
      type="radio"
			class="radio-inline"
			ng-model="fieldValue.value"
			ng-change="save(fieldValue)"
			name="profile.fieldPredicate.value"
			ng-disabled="fieldValue.updating"
			ng-value="word.name"
			id="field-{{profile.fieldPredicate.value}}-{{$index}}"
			aria-labelledby="radio-label-{{profile.fieldPredicate.value}}-{{$index}}"/>
	</div>
  <div class="col-xs-8 well" id="radio-label-{{profile.fieldPredicate.value}}-{{$index}}">
		<span><h5><b>{{word.name}}</b></h5>{{word.definition}}</span>
	</div>
	<div class="col-xs-2">
        <span ng-if="!fieldValue.updating && $index === 0" class="glyphicon glyphicon-info-sign opaque" aria-label="{{ profile.help }}" tooltip="{{ profile.help }}"> </span>
        <span ng-if="fieldValue.updating && $index === 0" class="glyphicon glyphicon-refresh spinning"> </span>
	</div>
</div>

