<div class="input-group">
  <textarea class="form-control"
    id="field-{{profile.fieldPredicate.value}}"
    name="{{profile.fieldPredicate.value}}"
    ng-required="!profile.optional"
    ng-model="fieldValue.value"
    ng-blur="save(fieldValue)"
    ng-disabled="fieldValue.updating">
  </textarea>
  <span class="input-group-addon">
    <span ng-if="!fieldValue.updating" class="glyphicon glyphicon-info-sign opaque" aria-label="{{ profile.help }}" tooltip="{{ profile.help }}"> </span>
    <span ng-if="fieldValue.updating" class="glyphicon glyphicon-refresh spinning"> </span>
  </span>
</div>
