<div class="modal-header {{attr.modalHeaderClass}}">
	<button 
		type="button" 
		class="close" 
		ng-click="resetFieldProfiles()" 
		data-dismiss="modal" 
		aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Update Field</h3>
</div>

<form ng-submit="updateFieldProfile()" name="forms.update" novalidate>

	<validationmessage results="workflowStepRepo.ValidationResults"></validationmessage>

	<validationmessage results="fieldGlossRepo.getValidationResults()"></validationmessage>

	<!-- TODO: figure out how to validate glosses and controlled vocabularies -->

	<div class="modal-body">

		<div class="form-group">
			<label for="field-profiles-gloss">Label</label>
			<input 
				id="field-profiles-gloss" 
				ng-model="modalData.fieldGlosses[0]" 
				autocomplete="off"
				uib-typeahead="gloss as gloss.value for gloss in fieldGlosses | filter:$viewValue" 
				type="text" 
				class="form-control" 
				placeholder="Display label for the new field" 
				required/>
			<button 
				type="button" 
				class="btn btn-default fp-gloss-predicate-button" 
				ng-click="createFieldGloss(modalData.fieldGlosses[0])" 
				ng-if="!modalData.fieldGlosses[0].id">Create New Label</button>
		</div>

		<div ng-if="!inputFile" class="field-profile-modal-group">
			<validationmessage results="fieldPredicateRepo.getValidationResults()"></validationmessage>

			<validatedinput
				model="modalData"
				property="fieldPredicate"
				label="Metadata Key"
				placeholder="Metadata Key of the field"
				autocomplete="off"
				typeahead="filteredPredicates"
				typeaheadproperty="value"
				form="forms.update"
				validations="fieldPredicateRepo.getValidations()"
				results="fieldPredicateRepo.getValidationResults()">
			</validatedinput>

			<button 
				type="button" 
				class="btn btn-default fp-gloss-predicate-button" 
				ng-if="!modalData.fieldPredicate.id" 
				ng-click="createFieldPredicate()">Create New Metadata Key</button>
		</div>

		<div ng-if="inputFile" class="field-profile-modal-group">
			<validatedselect
				options="documentTypes"
				optionproperty="name"
				model="documentData"
				property="documentType"
				label="Document Type"
				form="forms.update"
				change="documentTypeChanged()"
				validations="fieldPredicateRepo.getValidations()"
				results="fieldPredicateRepo.ValidationResults">
			</validatedselect>
		</div>

		<div class="field-profile-modal-group">
			<validatedselect
				options="inputTypes"
				optionproperty="name"
				model="modalData"
				property="inputType"
				label="Input Type"
				form="forms.update"
				change="inputTypeChanged()"
				validations="fieldProfileRepo.getValidations()"
				results="workflowStepRepo.ValidationResults">
			</validatedselect>
		</div>

		<div class="form-group">
			<label for="field-profiles-controlled-vocabulary">Controlled Vocabulary</label>
			<select 
				id="field-profiles-controlled-vocabulary" 
				ng-model="modalData.controlledVocabularies[0]" 
				ng-options="cv as cv.name for cv in controlledVocabularies track by cv.id" 
				type="text" 
				class="form-control">
				<option value="">(None)</option>
			</select>
		</div>

		<div class="form-group">
			<validatedinput
				model="modalData"
				property="help"
				label="Help"
				placeholder="Help of the new field"
				form="forms.update"
				validations="modalData.getValidations()"
				results="modalData.ValidationResults">
			</validatedinput>
		</div>

		<div id="fp-repeatable-checkbox" class="input-group">
			<div class="checkbox">
				<label>
					<input 
						type="checkbox" 
						value="false" 
						ng-model="modalData.repeatable"/>Repeatable</label>
			</div>
		</div>

		<toggleButton 
			label="Field is Overridable:"
			scope-value="modalData.overrideable"
			toggle-options='[{"true": "Yes"},{"false": "No"}]'>
		</toggleButton>

	</div>
	
	<div class="modal-footer">
		<button 
			type="button" 
			class="btn btn-warning" 
			ng-click="resetFieldProfiles()" >Cancel</button>
		<button 
			id="field-profiles-save" 
			type="submit" 
			class="btn btn-primary" 
			ng-disabled="!modalData.fieldGlosses[0].id || !modalData.fieldPredicate.id || forms.create.$invalid">Update</button>
	</div>
</form>

