<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetFieldProfiles()" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Field Profile</h3>
</div>

<div class="modal-body">
	<form name="newFieldProfile">
		<div class="form-group">
       	 	<label for="field-profiles-gloss">Gloss</label>
        	<input id="field-profiles-gloss" ng-model="modalData.gloss" uib-typeahead="gloss.value for gloss in fieldGlosses | filter:$viewValue" type="text" class="form-control" placeholder="Display gloss for the new field profile" required/>
			<button type="button" class="btn btn-default fp-gloss-predicate-button" ng-if="!glossWithValueExists(modalData.gloss)">Create New Gloss</button>
    	</div>
    	<div class="form-group field-profile-modal-group">
       	 	<label for="field-profiles-predicate">Predicate</label>
        	<input id="field-profiles-predicate" ng-model="modalData.predicate" uib-typeahead="fp.value for fp in fieldPredicates | filter:$viewValue" type="text" class="form-control" placeholder="Predicate of the new field profile" required />
			<button type="button" class="btn btn-default fp-gloss-predicate-button" ng-if="!predicateWithValueExists(modalData.predicate)">Create New Predicate</button>
			<!-- <div class="fp-gloss-predicate-status" id="field-predicate-does-not-exist-{{modalData.predicate}}" ng-if="!predicateWithValueExists(modalData.predicate)">Field predicate {{modalData.predicate}} will be created.</div> -->
			<!-- <div class="fp-gloss-predicate-status" id="field-predicate-exists-{{modalData.predicate}}" ng-if="predicateWithValueExists(modalData.predicate)">Field predicate {{modalData.predicate}} exists.</div> -->
		</div>
    	<div class="form-group field-profile-modal-group">
       	 	<label for="field-profiles-input-type">Input Type<divlabel>
        	<select id="field-profiles-input-type" ng-model="modalData.inputType" ng-options="itype for itype in inputTypes" type="text" class="form-control" required ></select>
    	</div>
    	<div class="form-group">
       	 	<label for="field-profiles-controlled-vocabulary">Controlled Vocabulary</label>
        	<select id="field-profiles-controlled-vocabulary" ng-model="modalData.controlledVocabulary" ng-init="cvname=controlledVocabularies.list[0]" ng-options="cvname as cv.name for cv in controlledVocabularies.list" type="text" class="form-control">
			  <option value="">(None)</option>
			</select>
    	</div>
	</form>
</div>


<div class="modal-footer">
	<button type="button" class="btn btn-warning" ng-click="resetFieldProfiles()" data-dismiss="modal">Cancel</button>
	<button id="field-profiles-save" type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!glossWithValueExists(modalData.gloss) || !predicateWithValueExists(modalData.predicate)" ng-click="createFieldProfile(newFieldProfile)">Create</button>
</div>
