<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="cancelRestoreOrganizationDefaults()" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Resore Defaults</h3>
</div>

<form novalidate>
  <div class="modal-body">
    <h4>Really restore defaults for "{{ getSelectedOrganization().name }}"?</h4>
    <p>This will result in the loss of all organizational customizations.</p> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelRestoreOrganizationDefaults()">Cancel</button>
    <button id="organization-confirm" type="submit" class="btn btn-warning" ng-click="restoreOrganizationDefaults(getSelectedOrganization())">Confirm</button>
  </div>
</form>