server:
  port: 9000
  servlet:
    context-path:

spring:
  profiles.active: ${profile}

  jackson:
    parser:
      allow-unquoted-control-chars: true
      allow-backslash-escaping-any-character: true
    mapper:
      default-view-inclusion: false
    deserialization:
      fail-on-unknown-properties: false
      fail-on-unresolved-object-ids: false
    serialization:
      indent-output: true
      fail-on-empty-beans: false

  servlet:
    # file size limit
    multipart:
      enabled: true
      location: ${java.io.tmpdir}
      fileSizeThreshold: 0
      maxFileSize: 20MB
      # Total request size for a multipart/form-data
      maxRequestSize: 20MB

  h2:
    console:
      enabled: false
      path: /admin/h2console

  sql:
    init:
      platform: h2
      #platform: postgresql
      #platform: mysql

  datasource:
    # H2
    url: jdbc:h2:mem:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    #url: jdbc:h2:file:./vireoh2.db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver

    # PostgreSQL
    #url: jdbc:postgresql://localhost:5432/vireo
    #driverClassName: org.postgresql.Driver

    # MySQL
    #url: jdbc:mysql://localhost/vireo
    #driverClassName: com.mysql.jdbc.Driver

    # database username and password
    username: vireo
    password: vireo

  jpa:
    # H2
    database-platform: org.hibernate.dialect.H2Dialect
    # PostgreSQL
    #database-platform: org.hibernate.dialect.PostgreSQLDialect
    # MySQL
    #database-platform: org.hibernate.dialect.MySQL5InnoDBDialect

    generate-ddl: true
    hibernate.ddl-auto: update

    open-in-view: true

    properties:
      hibernate:
        event.merge.entity_copy_observer: allow

    show-sql: false

  thymeleaf:
    cache: false
    mode: HTML

  main:

    # Bean overriding is necessary for TokenAuthorizationFilter.
    allow-bean-definition-overriding: true

    # Circular bean dependency between appWebMvcConfig and userRepoImpl.
    allow-circular-references: true


# logging
logging:
  level:
    org:
      tdl: INFO
      hibernate: INFO
      springframework: INFO
    edu.tamu: INFO
    ro.isdc.wro: INFO
  file:
    name: logs/vireo.log


# generated values
info:
  build:
    production: ${production}
    artifact: ${project.artifactId}
    name: ${project.name}
    description: ${project.description}
    version: ${project.version}


app:
  url: http://localhost:${server.port}

  # value generated from property assets.uri
  # either defined in pom.xml or via package argument
  # i.e. `mvn clean package -Dassets.uri=file:/var/vireo/`
  assets.uri: ${assets.uri}

  config.uri: classpath:/appConfig.js

  public.folder: public

  document.folder: private

  cvcache.duration: 3600000

  # VUG ETD-Centric config
  # Comma delimited names of the document types that are to be renamed on upload as LASTNAME-DOCUMENTTYPE-YEAR.pdf as per VUG recommendations.
  # Leave blank to not rename any.
  documentType.rename: PRIMARY

  # edu.tamu.weaver.auth.service.UserCredentialsService
  authority.admins: admin@tdl.org,aggieJack@tamu.edu


  security:
    # edu.tamu.weaver.auth.service.CryptoService
    secret: verysecretsecret
    # edu.tamu.weaver.filter.CorsFilter
    allow-access: http://localhost:${server.port}

  # edu.tamu.weaver.email.config.WeaverEmailConfig
  email:
    host: relay.tamu.edu
    from: noreply@library.tamu.edu
    replyTo: helpdesk@library.tamu.edu
    # additional email configurations
    #username:
    #password:
    #port: 587
    #protocol: smtp
    #channel: starttls
    #encoding: UTF8

  # edu.tamu.weaver.reporting.controller.ReportingController
  reporting.address: reporting@tdl.org

  # edu.tamu.weaver.validation.controller.ValidationsController
  model.packages: org.tdl.vireo.model

  # edu.tamu.weaver.utility.HttpUtility
  http.timeout: 10000

  # org.tdl.vireo.config.AppFilterConfig
  filter:
    # The "*TypeNone" represent this value and having a NULL value being treated as the same.
    # These are often something like "None", "Unassigned", or "Unknown".
    embargoTypeNone: None
    submissionTypeNone: None

# edu.tamu.weaver.token.service.TokenService
auth:
  security.jwt:
    secret: verysecretsecret
    issuer: localhost
    duration: 5

  # edu.tamu.weaver.token.provider.controller.TokenController
  path: /auth


# edu.tamu.weaver.token.provider.controller.TokenController
shib:
  keys: netid,uin,lastName,firstName,email
  subject: email
  netid: edupersonprincipalnameunscoped
  uin: tamuuin
  lastName: tdl-sn
  firstName: tdl-givenname
  email: tdl-mail


# WRO Configuration
wro:
  managerFactoryClassName: org.tdl.vireo.wro.manager.factory.VireoConfigurableWroManagerFactory
  # define which preProcessors should be used to process SASS
  preProcessors: lessCssImport
  # define which postProcessors should be used to process SASS
  postProcessors: vireoPostProcessor,rubySassCss


# ThemeManagerService implementation
# NOTE: weaver-wro dependency will not be able to access class when deployed as jar
theme:
  managerService: org.tdl.vireo.service.VireoThemeManagerService
  # define the location of sass/css files
  default.css: sass/app.scss
  cssUrl: ${app.url}/wro/app.css
  cacheReloadUrl: ${app.url}/wro/wroAPI/reloadCache


