<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${catalina.home}/logs/vireo.log"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    
    <logger name="org.tdl.vireo" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>