<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />

  <appender name="File-Appender" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_PATH}/logfile.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
      <outputPatternAsHeader>false</outputPatternAsHeader>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <file>logs/vireo.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
      <outputPatternAsHeader>false</outputPatternAsHeader>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="File-Appender"/>"
  </root>

</configuration>
