<html>
<body>
	Review: ${person.getFullName()}, {DOCUMENT_TYPE} submission

	<br>
	<br>Dear Committee Chair:

	<br>
	<br>You are receiving this message because ${person.getFullName()}
	has submitted a thesis or dissertation for final review, and has listed
	this email address as the contact email for their committee. We are
	giving you access to the submission in order to verify that the
	document is the correct, final version that you and the committee have
	approved.

	<br>
	<br>The submission is available for your review at:

	<br>
	<br>@@{application.index}

	<br>
	<br>The following information is included for your convenience:

	<br>
	<br>Title: {DOCUMENT_TITLE}
	<br>Type: {DOCUMENT_TYPE}
	<br>Status: {SUBMISSION_STATUS}
	<br>Assigned to: {SUBMISSION_ASSIGNED_TO}

	<br>
	<br>You do not need to reply to this message. Your approval can be
	noted, along any necessary comments or information, at the web address
	listed above.

	<br>
	<br>Thank you,

	<br>
	<br>Thesis Office
</body>
</html>