// TODO: should use customizable variables

.arrow {
  border-bottom-color: #CCC;
}

.popover {
  margin-left: -12px;
}

.popover.bottom > .arrow:after {
  border-bottom-color: rgba(31, 58, 71, 0.95);
}

.tooltip {
  max-width: 250px;
  border: solid 2px #CCC;
  color: white;
  background: rgba(31, 58, 71, 0.95);
  background: -moz-linear-gradient(to bottom, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -webkit-linear-gradient(to bottom, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -ms-linear-gradient(to bottom, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: linear-gradient(to bottom, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
}