<div class="col-lg-8 col-lg-offset-2" ng-controller="UserController">
	<div id="body">
		<div class="row">
			<p>
			<div ng-controller="SettingsController" ng-bind-html="settings.configurable.lookAndFeel.front_page_instructions_before"></div>
		</div>
		<div class="form-actions row center" style="text-align: center;">
			<a href="/submit" class="btn btn-primary">Manage/View your submission(s)</a>
		</div>
		<div class="row">
			<p>
			<div ng-controller="SettingsController" ng-bind-html="settings.configurable.lookAndFeel.front_page_instructions_after"></div>
		</div>
	</div>
</div>
