@import "../stylesheets/shared.less";

@headerColor:		#183440;
@headerLinkColor:	#FFFFCC;
@grayLightest:		#EEEEEE;

/**********************
BASICS
**********************/
html {
	background-color:@white;
}

body {
	background:none;
	color:@mainColor;
	font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
	min-width:1025px;
}

/*****************
FONTS COLORS ETC
*****************/
.red{
	color:@red;
}

.center{
	text-align:center;
}

.indent{
    margin-left: 2em;
}

.large{
	font-size:1.4em;
}

h1{
	margin-bottom:15px;
	border-bottom:solid 1px @grayLighter;
}

.tl {text-align: left!important;}
.tr {text-align: right!important;}
.tc {text-align: center!important;}

/*****************
TABLES & FORMS
*****************/

th {
    background: url(../images/nav-bg.gif) repeat-x left bottom transparent;
}

th.selected {
    background: url(../images/nav-bg-selected.png) repeat-x left bottom #E8EEEA;
}

td.comments{
	background:url("../images/nav-bg.gif") repeat-x left top #E0E0E0;
	height:31px;
	padding:0 15px;
	line-height:28px;
	vertical-align:middle;
}

td button, td button.btn, td button.btn-small{
	height:20px;
	line-height:9px;
}

tr:hover a{
	text-decoration:underline;
}
thead:hover a{
	text-decoration:none;
}

legend.default{
	border:none;
	margin:0;
	padding:0;
	width:auto;
	font-size:1.2em;
	font-weight:bold;
	color:@grayLight;
}

fieldset.default{
	border:solid 1px @grayLight;
	padding:10px;
	margin:20px 0 20px 20px;
}

@inputWidth: 170px;
.settings div{
	float:left;
	width:@inputWidth;
	font-size:.9em;
	padding:0 7px;
	margin:5px 0;
}

.settings .half{
	width:@inputWidth/2;
}

th.orderby.ascending a {
    background: url("../images/arrow-down.gif") no-repeat right 5px transparent;
    padding-right: 13px;
}

th.orderby.descending a {
    background: url("../images/arrow-up.gif") no-repeat right 5px transparent;
    padding-right: 13px;
}

.private td{
	background-color:#ff9999!important;
	color:#333333;
}
.private td a{
	color:#333333;
}

#results-table .tr {
	position: relative;
}
#results-table .exclude {
	position: absolute;
	margin: -10px 0 0 -33px;
	padding: 18px;
	display: none;	
	background: url("../images/red_x.gif") no-repeat scroll 16px center transparent;
}
#results-table tr:hover .exclude {
	display: inline;
}
div.btn-group[data-toggle=buttons-radio] button.active {
    background-color: #a2ccb5;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.gradient-options{
	margin:7px 0 7px;
}
.gradient-options td{
	padding-right:25px;
}
.gradient-options .color-reset{
	text-indent:-9999em;
	cursor:pointer;
}

.logo-options{
	margin:7px 0 7px;
}
.logo-options td{
	padding-right:25px;
}
.logo-options .preview{
	border:solid 1px;
	height:50px;
	width:150px;
	display:inline-block;
	background:no-repeat #ffffff;
}

.logo-options .right-logo{
	background:top right no-repeat #ffffff;
}



/*****************
LAYOUT
*****************/
#mainContainer{
	padding:0;
}

#header{
	background:url("../images/headerbg.gif") repeat-x scroll 0 0 transparent;
	color: @headerColor;
	height:83px;
	margin:0;
	padding:0;
	position:relative;
}

#header a{
	color:@headerLinkColor;
}
#header a:hover{
	color:@white;
	text-decoration:underline;
}

#logo{
	background:url("../images/logo.gif") no-repeat scroll 0 2px transparent;
	display:block;
	float:left;
	height:80px;
	position:relative;
	top:0;
	width:450px;
}

#personal-bar {
    position: absolute;
    right: 13px;
    top: 3px;
}

#tabs{
	position:absolute;
	bottom:0px;
	right:10px;
}

#tabs ul{
	border-bottom:none;
	margin:0;
	margin-bottom:20px;
}

#tabs li{
	margin:0;
}

#tabs a{
	width:107px;
	height:55px;
	padding:0;
	margin:0;
	border:none;
	text-indent:-9999em;
}
#tabs a:hover{
	border:none;
	text-decoration:none;
	padding:0;
	margin:0;
}

#tab-list{
	background:url("../images/tab_list.jpg") no-repeat scroll 0 0 transparent;
}
#tab-view{
	background:url("../images/tab_view.jpg") no-repeat scroll 0 0 transparent;
}
#tab-log{
	background:url("../images/tab_log.jpg") no-repeat scroll 0 0 transparent;
}
#tab-settings{
	background:url("../images/tab_settings.jpg") no-repeat scroll 0 0 transparent;	
}

#tab-list:hover, #tab-list.current{
	background:url("../images/ftab_list.jpg") no-repeat scroll 0 0 transparent;
}
#tab-view:hover, #tab-view.current{
	background:url("../images/ftab_view.jpg") no-repeat scroll 0 0 transparent;
}
#tab-log:hover, #tab-log.current{
	background:url("../images/ftab_log.jpg") no-repeat scroll 0 0 transparent;
}
#tab-settings:hover, #tab-settings.current{
	background:url("../images/ftab_settings.jpg") no-repeat scroll 0 0 transparent;	
}

#body{
	padding:20px 0;
}

#footer{
	padding:20px 20px 20px 35px;
	background-color:@grayLightest;
	border-top:solid 1px @grayLighter;
	border-bottom:solid 1px @grayLighter;
	margin: 0 0 20px 0;
}

#left-column{
	width:205px;
	margin:0 20px;
	clear:left;
}

#right-column{
	clear:right;
	margin:0 20px 0 255px;
}

#center-column{
    max-width: 800px;
    margin: 0 auto;
}

.nav-tabs{
	height:35px;
}

.submissionAvailability{
	width:600px;
	margin:20px 0;
}

.submissionAvailability li{
	padding:10px 0;
	height: 25px;
	width: 600px;
}

.submissionAvailability li#currentSemester {
    height: 43px;
}

.submissionAvailability .info {
    margin-top: -10px;
}

.submissionAvailability label{
	font-size:1.2em;
	float:left;
	text-align:right;
	width:40%;
}
.submissionAvailability span{
	float:left;
	padding-left:10px;
	clear:right;
}

.info{
	color:@grayLight;
	font-size:0.8em;
}

.wrap{
	margin:20px 0;
}

.manager, .manager:hover{
	display:block;
	width:19px;
	height:17px;
	background:url("../images/manager.png") no-repeat scroll;
	text-decoration:none;
}

#depositId{
	margin-bottom:25px;
}

#job {
    min-height: 500px;
}

#reviewerNotes-holder {
    border: 1px solid #DDDDDD;
    max-height: 250px;
    overflow-x: hidden;
}
#reviewerNotes-holder #reviewerNotes {
    padding: 15px;
    display: block;
}
#reviewerNotes-holder #reviewerNotes.empty {
    color: #CCCCCC;
}
#reviewerNotes-holder #reviewerNotes.editing {
    padding: 10px 8px;
}
#reviewerNotes-holder textarea {
    width: 99%;
    min-height: 180px;
    max-height: 250px;
}

#degreeCodes label {
    margin-top: 3px;
    width: 350px;
}
#degreeCodes input {
    width: 75px;
}

/***********************
SIDE BOXES
***********************/

.side-box{
	margin:0 0 20px 0;
}

.side-box, .side-box a, .side-box a:hover{
	color:@black;
}

.box-head{
	background:url("../images/box_top.png") no-repeat;
	position:relative;
	padding:10px 0 0;
}
.box-head:hover{
	cursor:pointer;
}
.box-head .expand{
	position:absolute;
	right:5px;
	color:@grayLighter;
}
.side-box .main-heading{
	text-align:center;
	font-weight:bold;
	font-size:1.2em;	
	border-bottom:solid 1px @grayLighter;
	padding:0 0 10px;
}
.box-body{
	padding:8px 0 1px;
	overflow-y: hidden;
}
.box-body, .side-box .main-heading{
	background-color:#ECECEC;
	border-left:1px solid #CFCFCF;
	border-right:1px solid #CFCFCF;
}
.box-body .sub-heading{
	padding:2px 10px;
	background-color:@grayLighter;
	font-weight:bold;
	font-family:"Lucida Grande","Bitstream Vera Sans";
	color:#444444;
	margin:10px 0 0 0;
}
.box-body ul, .box-body p{
	margin:5px 10px 0 25px;
}

.box-body a.removable {
	background: url("../images/red_x.gif") no-repeat left 5px transparent;
	padding-left: 15px;
}

.box-body ul.unstyled ul.unstyled {
    margin-left: 12px;
    margin-top: 0px;
}

.box-body .more:hover {
    cursor: pointer;
    text-decoration: underline;
}

.box-body li.more {
    font-style: italic;
}

.box-body .daterange-label {
    margin-left: 0px;
    
}

.box-body .daterange-hint {
    margin: 0px;
    color: #999999;
    font-size: 0.85em;
}

.box-footer{
	background:url("../images/box_bottom.png") no-repeat;
	height:13px;
}

#custom-actions p{
	line-height:1.2em;
	margin:15px 7px 15px 42px;
	position:relative;
}
#custom-actions input{
	left:-20px;
	position:absolute;
	margin:0px;
	padding:0px;
}

/**********************
EDIT HOLDERS & BOXES
**********************/
.edit-holder{
	margin:0 0 20px 0;
	width:100%;
}
.edit-holder .nav-tabs{
	margin:0;
}
.edit-box-holder{
	padding:15px;
	border-bottom:solid 1px #DDDDDD;
	border-left:solid 1px #DDDDDD;
	border-right:solid 1px #DDDDDD;
}
.edit-box{
	width:45%;
	margin-right:15px;
}

.edit-box li{
	clear:left;
}
.edit-box label{
    width:150px;	
	text-align:right;
	padding-right:7px;
	font-weight:bold;
	float:left;
}
.edit-box li.edit span, 
.edit-box .editing{
	width:48%;
	text-align:left;
	float:left;
}
.edit-box li.edit span, .editCommitteeMember{
	cursor:pointer;
}

.edit-box .empty{
	color:@grayLighter;
}
.edit-box input[type="text"], .edit-box select{
	margin:0;
	padding:0;	
}
.edit-box select{
	float:left;
	height:20px;
	width:100%;
}
.edit-box #cmRoles {
	width: auto;
}

.edit-box.full-width {
    width: 95%;
    clear: both;
}
.edit-box.full-width li.edit span{
    width: 75%;
    max-width: 600px;
    min-width: 200px;
}
.edit-box.full-width .editing {
    width: 73%;
}


.edit-box.full-width textarea {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
}



.error .badge{
	display:inline;
}

#committeeMembers li{
	margin:0px 0px 10px;
}
#committeeMembers td{
	min-width:50px;
}
#committeeMembers input#cmRoles {
	margin: 0px;
}

.icon-pencil,
.icon-minus,
.icon-plus,
.icon-refresh,
.icon-plus-sign,
.icon-remove-sign,
.icon-info-sign,
.icon-trash {
	opacity:.5;
}

#backup{
	display:none;
}

#abstract,
#publishedMaterial{
	max-height:180px;
	overflow-x:hidden;
}
#abstract.editing,
#publishedMaterial.editing{
	max-height:100%;
	overflow:visible;
}
#abstract textarea,
#publishedMaterial textarea{
	min-height:180px;
}

#subjects .icon-pencil {
    
}

#subjects ul {
    margin-top: -17px;
    margin-left: 30px;
}

#subjects select {
    margin: 6px 0;
}

/**********************
MODAL DIALOG BOXES
**********************/
div.modal form {
    margin: 0px;
}

div.modal li {
	margin:7px 0;
}

.fade.modal{
	top:-60%;
}

@media (min-height: 800px) and (max-height: 999px) {
	.modal {
	    margin: -350px 0 0 -280px;
	}
	.modal .modal-body {
	    max-height: 550px;
	}
}
@media (min-height: 1000px) and (max-height: 1199px) {
	.modal {
	    margin: -450px 0 0 -280px;
	}
	.modal .modal-body {
	    max-height: 800px;
	}
}

@media (min-height: 1200px) {
	.modal {
	    margin: -550px 0 0 -280px;
	}
	.modal .modal-body {
	    max-height: 1000px;
	}
}


/**********************
COLUMN SORTING
**********************/
#filter-customize-modal h4,
#customize-search-modal h4 {
    text-align: center;
}

#facet-sort ul,
#column-sort ul {
    list-style-type: none;
    margin: 0;
    background: #CCCCCC;
    padding: 5px;
}
#facet-sort li,
#column-sort li {
    border: 1px solid #CFCFCF;
    padding: 2px 5px;
    cursor: move;
}
#facet-sort li.originally-shown,
#column-sort li.originally-shown {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
#facet-sort li.originally-hidden,
#column-sort li.originally-hidden {
    color: #666666;
    background-color: #EEEEEE;
    border-color: #CCCCCC;
}
#facet-sort .placeholder,
#column-sort .placeholder {
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    height: 15px;
    
}
#column-sort #column_1 {
    cursor: default;
}

/**********************
AJAX WAITING
**********************/

.waiting {
    background-image: url("../images/ajax-loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.waiting * {
     opacity: 0.60;
}

/**********************
SETTINGS TABS
**********************/
.settings-sortable {
    position: relative;
}

.settings-sortable .icon-pencil {
    opacity: 0.5;
}

.settings-sortable-list {
    width: 324px;
}

.settings-sortable-list li {
    cursor: move;
}

.settings-sortable-remove {
    list-style-type: none;
    position: absolute;
    left: 350px;
    width: 150px;
}

input.settings-error,
.settings-sortable-error input {
    border-color: #B94A48;
    color: #B94A48;
}

input.settings-error:focus,
.settings-sortable-error input:focus {
    border-color: #953B39;
    box-shadow: 0 0 6px #D59392;
}


#emailTemplate-list {
    width: auto;
}

#edit-emailTemplate-message,
#add-emailTemplate-message {
    height: 400px;
}
#emailTemplate-list #system-warning {
    width: 530px;
}

#embargoType-list .placeholder td {
    color: #c09853;
    background-color: #fcf8e3 !important;
    height: 2em;  
}
#embargoType-list tr {
    cursor: move;
}
#embargoType-description {
    height: 120px;
}

#members-table .icon-pencil,
#members-table .icon-user {
    opacity: 0.5;
}

#members-table {
    width: 100%;
}
#members-table .member-role-cell {
    /**width: 90px;**/
}

#add-member-modal .search-empty {
    text-align: center;
    padding: 30px 0;
}

.application-protected,
.theme-protected {
    width: 600px;
}

.application-textarea, 
.theme-textarea {
    width: 530px;
    height: 400px;
}

.application-textarea[readonly],
.theme-textarea[readonly] {
    background-color: #FCFCFC;
    border-color: #DDDDDD;
}

.application-protected .lock-control .icon-lock,
.application-protected .lock-control .icon-pencil,
.theme-protected .lock-control .icon-lock,
.theme-protected .lock-control .icon-pencil {
    opacity: 0.5;
}

.submissionAvailability .btn-group,
.submissionAvailability input {
    float: left;
}
.submissionAvailability .info {
    clear: left;
    
}

.submissionAvailability .tooltip-icon {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}

input.monospace {
    font-family: "Lucida Console", Monaco, monospace;
}

.submission-settings .sticky-bottom textarea {
    max-width: 161px;
    width: 161px;
    background: transparent;
    border: none;
    box-shadow: none;
}
.submission-settings ul {
    list-style-type: none;
}
.submission-settings p.help-block {
    margin: 0;
    padding-top: 5px;
}
.submission-settings .heading-note {
    font-size: 13px;
    line-height: 18px;
    color: #70706F;
}
.submission-settings .close-form p {
    text-align: right;
}
.submission-settings .close-form p a {
    padding-right: 20px;
}
.submission-settings .control-label {
    width: 110px;
}
.submission-settings .controls {
    margin-left: 125px;
}
.submission-settings .fields {
    margin-left: 0px;
}
.submission-settings .disabled-field,
.submission-settings .required-field {
    display: none;
}
.submission-settings .required .required-field {
    display: inline;
}
.submission-settings .disabled {
    text-decoration: line-through;
}
.submission-settings .sticky ul {
    margin: 0;
}
.submission-settings .sticky-bottom {
    position: relative;
}
.submission-settings .remove-sticky-note {
    position: absolute;
    right: 3px;
    top: -15px;
}
.submission-settings .remove-sticky-note:hover .icon-remove-sign {
    opacity: .75;
}

#availableLanguages .icon-pencil {
    display: none;
}

#availableLanguages #proquest-note {
    margin: -10px 0 10px 25px;
}

/*******************
* ACCORDION STYLES
********************/

.settings-accordion .accordion-heading {
    #gradient > .vertical(@white, #eee);    
}
.settings-accordion .accordion-heading:hover {
    #gradient > .vertical(@white, #ddd);    
}
.settings-accordion .accordion-heading:hover a {
    text-decoration: none;
}

/*******************
* DATE PICKER
*******************/
.datepicker {
	margin-left:38px;
}
