html {
	background:url("../images/bg.jpg") repeat-x;
	background-color:#43606E;
}

body {
	background:none;
}

.container {
	width:800px;
	background:url("../images/header.jpg") repeat-x scroll 0 -10px #ffffff;
	border-left:1px solid #778E9B;
	border-right:1px solid #778E9B;
}
.container:after{
	clear:none;
}

#header{
	height:95px;
	background:url("../images/sub_logo_caps.gif") no-repeat scroll 100% 25px transparent;
}

#tdl-logo{
	background:url("../images/logo.jpg") no-repeat scroll 0 0 transparent;
	height:75px;
	position:relative;
	top:0;
	left:0;
	display:block;
	text-decoration:none;
}

#body{
	margin:0 20px;
	padding:20px;
}

#footer{
	background:url("../images/curve.gif") no-repeat scroll 0 0 transparent;
	border:none;
	clear:both;
	margin-bottom:20px;
	padding:0;
	height:40px;
	float:left;
	width:100%;
	color:#ffffff;
}

#footer p{
	font-size:0.8em;
	position:relative;
	top:30px;
	padding:0 10px;
}

#footer a, #footer a:hover{
	text-decoration:underline;
	color:#ffffff;
}