/*******************************
MAKE CHANGES TO LESS FILES AT ../less/
*******************************/
@import "../less/bootstrap.less";

/****************************
CUSTOM LESS COLORS
****************************/
@backgroundColor:	#43606E;
@mainColor:			#70706F;
@borderColor:		#778E9B;
@stickyNoteColor:	#FAF0A8;

.clear{
	clear:both;
}

.hidden{
	display:none;
}