<div class="row">

	<div class="col-md-6">

		<div class="col-md-10 col-md-offset-1">

			<toggleButton
				ng-click="updateConfiguration('application', 'submissions_open')"
				label="Submissions are currently:"
				scope-value="settings.configurable.application.submissions_open.value"
				toggle-options="{{submissionsOpenOptions}}">
			</toggleButton>

			<toggleButton
				ng-click="updateConfiguration('application', 'allow_multiple_submissions')"
				label="Multiple Submissions:"
				scope-value="settings.configurable.application.allow_multiple_submissions.value"
				toggle-options="{{allowMultipleSubmissionsOptions}}">
			</toggleButton>

		</div>

	</div>

	<div class="col-md-6">

		<div class="col-md-10 col-md-offset-1">

			<validatedinput
				id="semesterValue"
	            type="text"
	            label="Current Submission Semester"
	            model="settings.configurable.application.current_semester"
	            property="value"
	            validations="settings.configurable.application.current_semester.getValidations()"
	            confirm="updateConfiguration('application', 'current_semester')"
	            form-view="true"
	            tool-tip="Enter the current semester for which submissions are being accepted. Format as Month Year (e.g. May 2020).">
	        </validatedinput>

      		<validatedinput
            	id="grantorValue"
	            type="text"
	            label="Institution Name"
	            model="settings.configurable.application.grantor"
	            property="value"
	            validations="settings.configurable.application.grantor.getValidations()"
	            confirm="updateConfiguration('application', 'grantor')"
	            form-view="true"
	            tool-tip="Enter the full name of the institution awarding degrees.">
	        </validatedinput>

	    </div>

	</div>

</div>
