<div ng-controller="UserRepoController">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default modal-add-btn" ng-click="openModal('#addMemberModal')">
                Add Member
            </button>

            <div class="glyphicon glyphicon-info-sign opaque tooltip-span-adjust" tooltip="Dialog in which allows to elevate users access."></div>

            <table  class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users | filter:{role: '!ROLE_STUDENT'}" ng-init="setRole(u)">
                        <td>{{u.firstName}} {{u.lastName}}</td>
                        <td>{{u.email}}</td>
                        <td>
                            <select class="form-control" ng-model="u.role" ng-change="updateRole(u)" ng-disabled="disableUpdateRole(u)">
                                <option ng-repeat="role in roles[u.email]" ng-selected="role === u.role">{{role}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <modal 
        modal-id="addMemberModal"
        modal-view="views/modals/whoHasAccessModal.html" 
        modal-header-class="modal-header-primary"
        modal-keyboard="false"
        wvr-modal-backdrop="static">
    </modal>

</div>
