<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetAttachmentTypes()" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Add Attachment Type</h3>
</div>

<form ng-submit="createNewAttachmentType()" name="forms.create" novalidate>

  <validationmessage results="attachmentTypeRepo.getValidationResults()"></validationmessage>

  <div class="modal-body">

    <validatedinput
      model="modalData"
      property="name"
      label="Attachment Type Name"
      placeholder="Name of the new attachment type"
      form="forms.create"
      validations="attachmentTypeRepo.getValidations()"
      results="attachmentTypeRepo.getValidationResults()">
    </validatedinput>

  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-warning"
      ng-click="resetAttachmentTypes()">Cancel</button>
    <button
      id="graduationMonth-save"
      type="submit"
      class="btn btn-primary"
      ng-disabled="forms.create.$invalid">Create</button>
  </div>
</form>
