<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetDocumentTypes()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Edit Document Type</h3>
</div>


<form ng-submit="updateDocumentType()" name="forms.update" novalidate>

	<validationmessage results="modalData.ValidationResults"></validationmessage>

	<div class="modal-body">

		<validatedinput
			model="modalData"
			property="name"
			label="Document Type Name"
			placeholder="Name of the new document type"
			form="forms.update"
			validations="documentTypeRepo.getValidations()"
			results="modalData.ValidationResults">
		</validatedinput>

		<validatedselect
			options="degreeLevels"
			model="modalData"
			property="degreeLevel"
			label="Degree Level"
			form="forms.update"
			validations="documentTypeRepo.getValidations()"
			results="modalData.ValidationResults">
		</validatedselect>

	</div>

	<div class="modal-footer">
		<button 
			type="button" 
			class="btn btn-warning" 
			ng-click="resetDocumentTypes()">Cancel</button>
		<button 
			id="graduationMonth-save" 
			type="submit" 
			class="btn btn-primary" 
			ng-disabled="forms.update.$invalid">Update</button>
	</div>
</form>
