<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Document Type</h3>
</div>

<div class="modal-body">
	<form>
    	<div class="form-group">
       	 	<label for="newDocumentNameField">Document Type Name</label>
        	<input type="text" ng-model="modalData.name" class="form-control" id="newDocumentNameField" name="documentType-name"></input>
    	</div>
    	<div class="form-group">
       	 	<label for="newDocumentDegreeLevelSelector">Degree Level</label>
        	<select ng-model="modalData.degreeLevel" class="form-control" id="newDocumentDegreeLevel" name="documentType-level" ng-options="key as value for (key, value) in degreeLevels"></select>

    	</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="clearModalData()">Cancel</button>
	<button id="graduationMonth-save" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createNewDocumentType(modalData); clearModalData()">Create</button>
</div>
