<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetControlledVocabulary()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Edit Controlled Vocabulary</h3>
</div>

<form ng-submit="updateControlledVocabulary()" novalidate>

	<validationmessage results="modalData.ValidationResults"></validationmessage>

	<div class="modal-body">
		<validatedinput
			model="modalData"
			property="name"
			label="Name"
			placeholder="Name of the new controlled vocabulary"
			results="modalData.ValidationResults"></validatedinput>

		<validatedselect
			options="languages"
			optionproperty="name"
			model="modalData"
			property="language"
			label="Language"
			results="modalData.ValidationResults"></validatedselect>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-warning" ng-click="resetControlledVocabulary()">Cancel</button>
		<button id="controlledVocabulary-save" type="submit" class="btn btn-primary">Update</button>
	</div>
</form>
