<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetControlledVocabulary()" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Upload Controlled Vocabulary</h3>
</div>

<div class="modal-body modal-scroll">
	<form ng-if="uploadAction == 'confirm'">
    	<div class="form-group">
       	 	<label for="controlledVocabulary-cv">Upload to:</label>
        	<select ng-model="uploadModalData.cv" class="form-control" id="controlledVocabulary-cv" name="controlledVocabulary-cv" ng-options="cv.name for cv in controlledVocabulary.list" ng-change="uploadStatus()" ng-init="uploadStatus()"></select>
    	</div>
    	<div class="form-group">
    		<div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file" ng-disabled="uploadModalData.cv.entityProperty">
                        Browse<input ng-model="uploadModalData.file" id="csv-upload" type="file" accept=".csv" file-selected>
                    </span>
                </span>
                <input ng-model="uploadModalData.file.name" type="text" class="form-control" readonly>
            </div>
            <span class="help-block">
                Please select a file and click Upload to continue with import.
            </span>
            <span ng-if="uploadModalData.cv.inProgress" class="help-block pull-right">
                This controlled vocabulary is current waiting confirmation of import.
            </span>
            <span ng-if="uploadModalData.cv.entityProperty" class="help-block pull-right">
                Cannot upload to entity controlled vocabulary.
            </span>
    	</div>
	</form>
    <form ng-if="uploadAction == 'process'">
        <div class="form-group">
            <label for="controlledVocabulary-cv">Upload to:</label>
            <select ng-model="uploadModalData.cv" class="form-control" id="controlledVocabulary-cv" name="controlledVocabulary-cv" ng-options="cv.name for cv in controlledVocabulary.list" disabled></select>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file" disabled>
                        Browse<input ng-model="uploadModalData.file" id="csv-upload" type="file" accept=".csv" file-selected disabled>
                    </span>
                </span>
                <input ng-model="uploadModalData.file.name" type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group" ng-if="uploadWordMap.new.length > 0">
            <h4>New Vocabulary Words</h4>
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Definition</th>
                            <th>Identifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="word in uploadWordMap.new">
                            <td ng-repeat="value in filterWord(word)">{{value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group" ng-if="uploadWordMap.updating.length > 0">
            <h4>Updating Vocabulary Words</h4>
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Definition</th>
                            <th>Identifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="word in uploadWordMap.updating">
                            <td ng-repeat="value in filterWordArray(word)" ng-bind-html="value"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group" ng-if="uploadWordMap.repeats.length > 0">
            <h4>Duplicate Vocabulary Words</h4>
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Definition</th>
                            <th>Identifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="word in uploadWordMap.repeats">
                            <td ng-repeat="value in filterWord(word)">{{value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group" ng-if="uploadWordMap.new.length == 0 && uploadWordMap.updating.length == 0 && uploadWordMap.repeats.length == 0">
            <h4>No changes.</h4>
        </div>
    </form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary pull-left" ng-csv="exportControlledVocabulary()" csv-header='headers' filename='{{uploadModalData.cv.name}}.csv' ng-disabled="!uploadModalData.cv || uploadAction == 'process'" data-dismiss="modal">Export CSV</button>
	<button type="button" class="btn btn-warning" ng-click="resetControlledVocabulary()" data-dismiss="modal">Cancel</button>
    <button ng-if="uploadModalData.cv.inProgress" class="btn btn-danger" ng-click="uploadModalData.cv.inProgress = false">Override</button>
	<button id="controlledVocabulary-upload" type="button" class="btn btn-primary" ng-disabled="!uploadModalData.file || uploadModalData.cv.entityProperty || uploadModalData.cv.inProgress" ng-click="uploadControlledVocabulary()">
        <span ng-if="uploadAction == 'confirm'">Upload</span>
        <span ng-if="uploadAction == 'process'">Confirm Upload</span>
    </button>
</div>
