<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetControlledVocabulary(true)" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Add Controlled Vocabulary</h3>
</div>

<form ng-submit="createControlledVocabulary()" name="forms.create" novalidate>

  <validationmessage results="controlledVocabularyRepo.getValidationResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput model="modalData" property="name" label="Name" placeholder="Name of the new controlled vocabulary" form="forms.create" validations="controlledVocabularyRepo.getValidations()" results="controlledVocabularyRepo.getValidationResults()">
    </validatedinput>

    <validatedselect options="languages" optionproperty="name" model="modalData" property="language" label="Language" form="forms.create" validations="controlledVocabularyRepo.getValidations()" results="controlledVocabularyRepo.getValidationResults()">
    </validatedselect>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="resetControlledVocabulary(true)">Cancel</button>
    <button id="controlledVocabulary-save" type="submit" class="btn btn-primary" ng-disabled="forms.create.$invalid">Create</button>
  </div>
</form>
