<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Organization Category</h3>
</div>
<div class="modal-body">
	<div ng-controller="SettingsController">
		<form name="new_organization">
			<div class="row form-group">
				<div class="col-sm-3">
					<span class="pull-right">Name</span>
				</div>
				<div class="col-sm-6">								
		     		<input ng-model="newCategory.name" type="text" class="form-control" placeholder="Name of the new Category"/>
				</div>	
			</div>
			<div class="row form-group">
				<div class="col-sm-3">
					<span class="pull-right">Level</span>
				</div>
				<div class="col-sm-6">								
		     		<input ng-model="newCategory.level" type="text" class="form-control" placeholder="Level of the new Category"/>
				</div>	
			</div>
		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createOrganizationCategory(newCategory)">Add Category</button>
	<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
</div>