<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetCustomAction()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Edit Custom Action Checklist</h3>
</div>

<form ng-submit="updateCustomAction()" name="forms.update" novalidate>

	<validationmessage results="modalData.ValidationResults"></validationmessage>

	<div class="modal-body">
		
		<validatedinput
			type="text"
			model="modalData"
			property="label"
			label="Custom Action"
			placeholder="Label of the new custom action"
			form="forms.update"
			validations="customActionRepo.getValidations()"
			results="modalData.ValidationResults">
		</validatedinput>
	
		<validatedinput
			type="checkbox"
			model="modalData"
			property="isStudentVisible"
			label="Is Student Visible"
			placeholder="Is this action visible to the student?"
			form="forms.update"
			validations="customActionRepo.getValidations()"
			results="modalData.ValidationResults">
		</validatedinput>
		
	</div>

	<div class="modal-footer">
		<button 
			type="button" 
			class="btn btn-warning" 
			ng-click="resetCustomAction()">Cancel</button>
		<button 
			id="customAction-save" 
			type="submit" 
			class="btn btn-primary"
			ng-disabled="forms.update.$invalid">Update</button>
	</div>
</form>