<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetDegree()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Are You Sure?</h3>
</div>

<form ng-submit="removeDegree()" novalidate>

	<validationmessage results="modalData.ValidationResults"></validationmessage>

	<div class="modal-body">
		<h4><b>Click confirm to remove the Degree:</b></h4>
		<h4>{{modalData.name}} ({{modalData.level.name}})</h4>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="resetDegree()">Cancel</button>
		<button id="degree-confirm" type="submit" class="btn btn-danger">Confirm</button>
	</div>
</form>
