<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetDegree()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Degree</h3>
</div>

<form ng-submit="createDegree()" name="forms.create" novalidate>

  <validationmessage results="degreeRepo.getValidationResults()"></validationmessage>

	<div class="modal-body">

    <validatedinput
			type="text"
			model="modalData"
			property="name"
			label="Name"
			placeholder="Name of the new degree"
			form="forms.update"
			validations="customActionRepo.getValidations()"
			results="modalData.ValidationResults">
		</validatedinput>

		<validatedinput
			type="text"
			model="modalData"
			property="proquestCode"
			label="ProQuest Code"
			placeholder="ProQuest code for the new degree"
			form="forms.update"
			validations="customActionRepo.getValidations()"
			results="modalData.ValidationResults">
		</validatedinput>

	</div>

	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-warning"
			ng-click="resetDegree()">Cancel</button>
		<button
			id="degree-save"
			type="submit"
			class="btn btn-primary"
			ng-disabled="forms.create.$invalid">Create</button>
	</div>
</form>
