<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetDegree()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Edit Degree</h3>
</div>

<form ng-submit="updateDegree()" name="forms.update" novalidate>

  <validationmessage results="degreeRepo.getValidationResults()"></validationmessage>

	<div class="modal-body">

    <validatedinput
			type="text"
			model="modalData"
			property="name"
			label="Name"
			placeholder="Update name of the degree"
			form="forms.update"
			validations="degreeRepo.getValidations()"
			results="modalData.ValidationResults">
		</validatedinput>

    <validatedselect
      options="degreeLevels"
      optionproperty="name"
      model="modalData"
      property="level"
      label="Level"
      form="forms.update"
      validations="degreeRepo.getValidations()"
      results="modalData.ValidationResults">
		</validatedselect>

	</div>

	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-warning"
			ng-click="resetDegree()">Cancel</button>
		<button
			id="degree-save"
			type="submit"
			class="btn btn-primary"
			ng-disabled="forms.update.$invalid">Update</button>
	</div>
</form>
