<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetDepositLocation()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Edit Deposit Location</h3>
</div>

<form ng-submit="updateDepositLocation()" novalidate>

    <validationmessage results="modalData.ValidationResults"></validationmessage>

    <div class="modal-body">
        <validatedinput
            model="modalData"
            property="name"
            label="Location Name"
            placeholder="Location Name"
            results="modalData.ValidationResults">
        </validatedinput>

        <validatedselect
            options="protocols"
            model="modalData"
            property="depositor"
            label="Protocol"
            results="modalData.ValidationResults">
        </validatedselect>

        <validatedselect
            options="packagers"
            model="modalData"
            property="packager"
            label="Format"
            results="modalData.ValidationResults">
        </validatedselect>

        <validatedinput
            model="modalData"
            property="repository"
            label="Repository Location"
            placeholder="Repository Location"
            results="modalData.ValidationResults">
        </validatedinput>

        <validatedinput
            model="modalData"
            property="collection"
            label="Collection"
            placeholder="Collection"
            results="modalData.ValidationResults">
        </validatedinput>

        <validatedinput
            model="modalData"
            property="timeout"
            label="Repository Timeout"
            placeholder="Repository Timeout (seconds)"
            results="modalData.ValidationResults">
        </validatedinput>

        <validatedinput
            model="modalData"
            property="username"
            label="Username"
            placeholder="Username"
            results="modalData.ValidationResults">
        </validatedinput>

        <validatedinput
            type="password"
            model="modalData"
            property="password"
            label="Password"
            placeholder="Password"
            results="modalData.ValidationResults">
        </validatedinput>

        <validatedinput
            model="modalData"
            property="onBehalfOf"
            label="On Behalf Of"
            placeholder="On Behalf Of"
            results="modalData.ValidationResults">
        </validatedinput>

        <div class="form-group">
            <button id="depositLocation-test" type="button" class="btn btn-default">Test connection &amp; find available collections</button>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="resetDepositLocation()">Cancel</button>
        <button id="depositLocation-save" type="submit" class="btn btn-primary">Update</button>
    </div>

</form>
