<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetDepositLocation()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Are You Sure?</h3>
</div>

<form ng-submit="removeDepositLocation()" novalidate>

	<validationmessage results="depositLocationRepo.getValidationResults()"></validationmessage>

	<div class="modal-body">
		<h4><b>Click confirm to remove the Deposit Location:</b></h4>
		<h4>Name: {{modalData.name}}</h4>
		<h4>Repository: {{modalData.repository}}</h4>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="resetDepositLocation()">Cancel</button>
		<button id="depositLocation-confirm" type="submit" class="btn btn-primary">Confirm</button>
	</div>
</form>
