<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetDocumentTypes()" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Add Document Type</h3>
</div>

<form ng-submit="createNewDocumentType()" name="forms.create" novalidate>

  <validationmessage results="documentTypeRepo.getValidationResults()"></validationmessage>

  <div class="modal-body">

    <validatedinput model="modalData" property="name" label="Document Type Name" placeholder="Name of the new document type" form="forms.create" validations="documentTypeRepo.getValidations()" results="documentTypeRepo.getValidationResults()"></validatedinput>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="resetDocumentTypes()">Cancel</button>
    <button id="graduationMonth-save" type="submit" class="btn btn-primary" ng-disabled="forms.create.$invalid">Create</button>
  </div>
</form>
