<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetDocumentTypes()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Are You Sure?</h3>
</div>

<form ng-submit="removeDocumentType()" novalidate>

	<validationmessage results="modalData.ValidationResults"></validationmessage>

	<div class="modal-body">
		<h4><b>Click confirm to remove the Document Type: {{modalData.name}}</b></h4>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-warning" ng-click="resetDocumentTypes()">Cancel</button>
		<button id="documentType-confirm" type="submit" class="btn btn-primary">Confirm</button>
	</div>
</form>
