<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetEmbargo()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Edit {{modalData.guarantor}} Embargo</h3>
</div>

<form ng-submit="updateEmbargo()" novalidate>

    <validationmessage results="modalData.ValidationResults"></validationmessage>

    <div class="modal-body">

        <validatedinput
            model="modalData"
            property="name"
            label="Name"
            placeholder="Name of the new embargo"
            results="modalData.ValidationResults">
        </validatedinput>
        
        <validatedinput
            model="modalData"
            property="description"
            label="Description"
            placeholder="Description of the new embargo"
            results="modalData.ValidationResults">
        </validatedinput>
        
        <validatedinput
            model="modalData"
            property="duration"
            label="Duration"
            placeholder="Duration of the new embargo"
            results="modalData.ValidationResults">
        </validatedinput>

        <div class="row">
            <validatedinput
                type="checkbox"
                model="modalData"
                property="duration"
                label="Indefinite"
                placeholder="This embargo duration will be indefinite."
                truevalue="null"
                falsevalue=""
                results="modalData.ValidationResults">
            </validatedinput>
        </div>

        <div class="row">
            <validatedinput
                type="checkbox"
                model="modalData"
                property="isActive"
                label="Display:"
                truevalue="true"
                falsevalue="false"
                placeholder="This embargo option will be available for new submissions."
                results="modalData.ValidationResults">
            </validatedinput>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="resetEmbargo()">Cancel</button>
        <button id="embargo-delete" type="button" class="btn btn-danger" ng-click="removeEmbargo()">Delete</button>
        <button id="embargo-save" type="submit" class="btn btn-primary">Update</button>
    </div>
</form>