<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetEmbargo()" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Are You Sure?</h3>
</div>

<form ng-submit="removeEmbargo()" novalidate>

	<validationmessage results="embargoRepo.getValidationResults()"></validationmessage>

	<div class="modal-body">
		<h4><b>Click confirm to remove the Embargo:</b></h4>
		<h4>Name: {{modalData.name}}</h4>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="resetEmbargo()">Cancel</button>
		<button id="embargo-confirm" type="submit" class="btn btn-danger">Confirm</button>
	</div>
</form>
