<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetGraduationMonth()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Edit Graduation Month</h3>
</div>

<div class="modal-body">
	<form>
    	<div class="form-group">
       	 	<label for="graduationMonth-month">Graduation Month</label>
        	<select ng-model="modalData.month" class="form-control" id="graduationMonth-month" name="depositLocation-depositor" ng-options="key as value for (key, value) in monthOptions"></select>
    	</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-warning" ng-click="resetGraduationMonth()">Cancel</button>
	<button id="graduationMonth-save" type="button" class="btn btn-primary" ng-click="updateGraduationMonth()">Update</button>
</div>
