<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetLanguages()" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Are You Sure?</h3>
</div>

<div class="modal-body">
	<h4><b>Click confirm to remove the Language:</b></h4>
	<h4>Name: {{modalData.name}}</h4>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-warning" ng-click="resetLanguages()" data-dismiss="modal">Cancel</button>
	<button id="languages-confirm" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeLanguage(modalData.id)">Confirm</button>
</div>
