<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Confirm New Logo</h3>
</div>

<div class="modal-body">
		<select ng-init="modalData.newLogo.setting='left_logo'" class="form-control" ng-model="modalData.newLogo.setting">
			<option value="left_logo">Left Logo</option>
			<option value="right_logo">Right Logo</option>
		</select>
		
		<br>

		<img ng-src="{{modalData.newLogo.file}}" />

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="modalData.cancelLogoUpload()">Cancel</button>
	<button id="graduationMonth-save" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modalData.confirmLogoUpload()">Confirm</button>
</div>