<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="resetOrganizationCategories()" aria-label="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Edit Organization Category</h3>
</div>

<form ng-submit="updateOrganizationCategory()" novalidate>

    <validationmessage results="modalData.ValidationResults"></validationmessage>

    <div class="modal-body">
        <validatedinput
            model="modalData"
            property="name"
            label="Name"
            placeholder="Name of the new organization category"
            results="modalData.ValidationResults">
        </validatedinput>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="resetOrganizationCategories()">Cancel</button>
        <button id="organizationCategory-save" type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
