<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetOrganizationCategories(); closeModal(attr.modalId)" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Add Organization Category</h3>
</div>

<div class="modal-body">

  <form>
    <div class="form-group">
      <label for="organization-catgegory-name">Name:</label>
      <input id="organization-catgegory-name" ng-model="modalData.name" type="text" class="form-control" placeholder="Name of the new category"/>
    </div>
  </form>
	<validationresponse
		validation-response="serverErrors">
	</validationresponse>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-warning" ng-click="resetOrganizationCategories(); closeModal(attr.modalId)">Cancel</button>
  <button id="organizationCategory-save" type="button" class="btn btn-primary" ng-click="createOrganizationCategory()">Create</button>
</div>
