<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetLanguages()" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Workflow Step</h3>
</div>

<form ng-submit="addWorkflowStep()" novalidate>

	<validationmessage results="organizationRepo.ValidationResults"></validationmessage>

	<div class="modal-body">
		<validatedinput
			model="modalData"
			property="name"
			label="Name"
			placeholder="Name of the new workflow step"
			results="organizationRepo.ValidationResults">
		</validatedinput>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-warning" ng-click="resetWorkflowSteps()">Cancel</button>
		<button id="workflow-step-save" type="submit" class="btn btn-primary">Create</button>
	</div>
</form>