#{extends 'main.html' /}
#{set title:'Vireo Thesis and Dissertaion Submital System - Submission - Submittal Complete' /}

<ul class="breadcrumb">
	<li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
	<li><a href="@{Student.submissionList()}">Submissions</a> <span class="divider">/</span></li>
	<li class="active">Complete</li>
</ul>

<h3>Submittal Complete</h3>

<h4>Instructions:</h4>
#{verbatim}${instructions}#{/verbatim}

<p>
<a href="@{Student.submissionList}" class="actions">View submission status</a>
</p>