#{extends 'Submit/submitStep.html' /}
#{set title:'Vireo Thesis and Dissertaion Submital System - Submission - Document Information' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/jquery-ui.css'}" rel="stylesheet" type="text/css">
<link href="@{'/public/stylesheets/multiselect.css'}" rel="stylesheet" type="text/css">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery-ui-multiselect-1.13.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript" >
jQuery(document).ready(function(){	
	if(jQuery.browser.msie){
		if(parseInt(jQuery.browser.version, 10) != 7 && parseInt(jQuery.browser.version, 10) != 8){
			jQuery(".datepicker").datepicker({
				showOtherMonths: true,
				selectOtherMonths: true
			});
		}
	} else {
		jQuery(".datepicker").datepicker({
			showOtherMonths: true,
			selectOtherMonths: true
		});
	}
	
	/**
	* Auto expand the textareas based upon the current text.
	*/
	jQuery("textarea").keyup(function() {
		// If the user has manualy changed the size of the
		// textarea then don't autosize.
		if (jQuery(this).width() != jQuery(this).attr("data-original-width")) {
			this.style.overflow = 'auto';
			return;
		}
		
		this.style.overflow = 'hidden';
		this.style.height = 0;
		
		if (this.scrollHeight < 75) {
            this.style.height = '75px';
		} else if (this.scrollHeight > 300) {
			this.style.height = '300px';
			this.style.overflow = 'auto';
		} else {
			this.style.height = this.scrollHeight + 'px';
		}
	});
	jQuery("textarea").trigger('keyup'); 
	
	jQuery("textarea").each(function (index, value){
		jQuery(value).attr("data-original-width",jQuery(value).width());
	});
	
	
	 /**
	* Prevent stray returns from changing the enabled field.
	*
	jQuery("input").keydown(function(event){
	if(event.keyCode == 13) {
	event.preventDefault();
	return false;
	}
	}); **/
	
	
    #{if availableRoles.size() > 1}
	// Install the multiselect for committee member roles
    jQuery(".multiselect").multiselect({
        header: false,
        multiple: true,
        selectedList: 1,
        noneSelectedText: "<em>&nbsp;... no role selected</em>"
    });
	#{/if}
    
    #{ifEnabled PUBLISHED_MATERIAL }
	    // Install the slide out for publishedMaterialFlag
	    jQuery("#publishedMaterialFlag").change(function() {
	    	var $div = jQuery("#publishedMaterial").closest(".control-group");
	    	if (jQuery("#publishedMaterialFlag").is(":checked")) {
	    		if ($div.is(":hidden"))
	    		   $div.slideToggle();	
	    	} else {
	            if ($div.is(":visible"))
	                $div.slideToggle();  
	    	}
	    });
    #{/ifEnabled}

    jQuery("#additional-embargos-btn").on("click", function(e) {
    	e.preventDefault();
    	jQuery(this).fadeOut(300, function() {
    		jQuery(".embargo-addition-type").fadeIn(300);
    	});
    });

    jQuery(".embargo-radio:checked").each(function() {
		var embargoSet = $(this).attr("data-embargoSet");
		$("#embargo-"+embargoSet).show();    			
	});

    var allEmbargoSectionsUsed = jQuery(".embargo-addition-type .embargo-radio:checked").length == jQuery(".embargo-addition-type").length;
    var allEmbargoSectionsReq =  jQuery(".embargo-addition-type").length == jQuery(".embargoReq").length;
    
    console.log("allEmbargoSectionsUsed " + allEmbargoSectionsUsed);
    console.log("allEmbargoSectionsReq " + allEmbargoSectionsReq);


    if(allEmbargoSectionsUsed || allEmbargoSectionsReq)
    		jQuery("#additional-embargos-btn").hide();

    jQuery(".embargoReq").show();

});
</script>
#{/set}

<br />
<div class="row pageHead">
	<h3 class="span11">Document Information</h3>
</div>
<br />
<div id="stickyNotes" class="span3">
     #{list items:stickies, as:'sticky'}
       <div class="sticky-top"></div>
       <div class="sticky-bottom">#{verbatim}${sticky}#{/verbatim}</div>
    #{/list}
</div>
<div class="row">
<div class="span7">
<h4>Instructions:</h4>
<p>In this step you describe your thesis or dissertation. Please make sure that the information entered below matches the information contained in your document.</p>
<br/>
#{ifErrors}
<ul class="red">
    #{errors}
    <li>${error}</li> 
    #{/errors}
</ul>
#{/ifErrors}
<br/>
	<form action="@{submit.DocumentInfo.documentInfo(subId)}" method="post" class="form-inline">
	<input type="hidden" name="step" value="documentInfo"/>

	#{ifEnabled [DOCUMENT_TITLE,GRADUATION_DATE,DEFENSE_DATE,DOCUMENT_TYPE,DOCUMENT_ABSTRACT,DOCUMENT_KEYWORDS,DOCUMENT_SUBJECTS,DOCUMENT_LANGUAGE]}
	<fieldset class="form-horizontal">
		<legend>Document Information</legend>
		#{ifEnabled DOCUMENT_TITLE}
		<div class="control-group #{errorClass 'title' /} #{fieldClass DOCUMENT_TITLE /}">
			<label class="control-label" for="title"><span class="required-star">*</span> #{fieldLabel DOCUMENT_TITLE /}:</label>
			<div class="controls">
				<input type="text" class="span4" id="title" name="title" value="${title}">
				<span class="tooltip-icon" title="#{fieldHelp DOCUMENT_TITLE /}"><i class="icon-info-sign"></i></span>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled GRADUATION_DATE}
		<div class="control-group #{errorClass 'degreeMonth'/} #{errorClass 'degreeYear'/} #{fieldClass GRADUATION_DATE /}">
			<label class="control-label" for="degreeDate"><span class="required-star">*</span> #{fieldLabel GRADUATION_DATE /}:</label>
			<div class="controls row">
				<label for="degreeMonth" class="help-block additional">Degree Month:</label>
				<select class="span2" id="degreeMonth" name="degreeMonth">
                    <option #{if null == degreeMonth }selected="true"#{/if} value="">...choose</option>
				    #{list items:settingRepo.findAllGraduationMonths(), as:'month'}
				    <option #{if null != degreeMonth && String.valueOf(month.getMonth()).equals(degreeMonth) }selected="true"#{/if} value="${month.getMonth()}">${month.getMonthName()}</option>
				    #{/list}
				</select>
				<label for="degreeYear" class="help-block additional">Degree Year:</label>
				<select class="span2" id="degreeYear" name="degreeYear">
                    <option #{if null == degreeYear }selected="true"#{/if} value="">...choose</option>
				    #{list degreeYears, as:'year'}
				    <option #{if null != degreeYear && String.valueOf(year).equals(degreeYear)}selected="true"#{/if} value="${year}">${year}</option>
				    #{/list}
				</select>
				<span class="tooltip-icon" title="#{fieldHelp GRADUATION_DATE /}"><i class="icon-info-sign"></i></span>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled DEFENSE_DATE}
		<div class="control-group #{errorClass 'defenseDate'/} #{fieldClass DEFENSE_DATE /}">
			<label class="control-label" for="defenseDate"><span class="required-star">*</span> #{fieldLabel DEFENSE_DATE /}:</label>
			<div class="controls row">
				<input type="text" name="defenseDate" id="defenseDate" class="span4 datepicker" value="${defenseDate?.format('MM/dd/yyyy')}" placeholder="MM/DD/YYYY" />
				<span class="tooltip-icon" title="#{fieldHelp DEFENSE_DATE /}"><i class="icon-info-sign"></i></span>
			</div>			
		</div>
		#{/ifEnabled}
		#{ifEnabled DOCUMENT_TYPE}
		<div class="control-group #{errorClass 'docType'/} #{fieldClass DOCUMENT_TYPE /}">
			<label class="control-label" for="docType"><span class="required-star">*</span> #{fieldLabel DOCUMENT_TYPE /}:</label>
			<div class="controls">
	            <select class="span4" id="docType" name="docType">
	                <option #{if null == docType || docType.equals("")}selected="true"#{/if} value="">...choose</option>
	                #{list docTypes, as: 'type'}
	                    <option #{if null != type && docType.equals(type)}selected="true"#{/if} value="${type}">${type}</option>
	                #{/list}
	            </select>
	            <span class="tooltip-icon" title="#{fieldHelp DOCUMENT_TYPE /}"><i class="icon-info-sign"></i></span>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled DOCUMENT_ABSTRACT}
		<div class="control-group #{errorClass 'abstractText'/} #{fieldClass DOCUMENT_ABSTRACT /}">
			<label class="control-label" for="abstractText"><span class="required-star">*</span> #{fieldLabel DOCUMENT_ABSTRACT /}:</label>
			<div class="controls">
				<textarea class="span4" id="abstractText" name="abstractText">${abstractText}</textarea>
				<span class="tooltip-icon" title="#{fieldHelp DOCUMENT_ABSTRACT /}"><i class="icon-info-sign"></i></span>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled DOCUMENT_KEYWORDS}
		<div class="control-group #{errorClass 'keywords'/} #{fieldClass DOCUMENT_KEYWORDS /}">
			<label class="control-label" for="keywords"><span class="required-star">*</span> #{fieldLabel DOCUMENT_KEYWORDS /}:</label>
			<div class="controls">
				<textarea class="span4" id="keywords" name="keywords" placeholder="Keyword one;  Keyword two">${keywords}</textarea>
				<span class="tooltip-icon" title="#{fieldHelp DOCUMENT_KEYWORDS /}"><i class="icon-info-sign"></i></span>
			</div>
		</div>
		#{/ifEnabled}
		
		#{ifEnabled DOCUMENT_SUBJECTS }
        <div id="subjects-field" class="control-group #{errorClass 'subjects' /} #{fieldClass DOCUMENT_SUBJECTS /}">
            <label class="control-label" for="subjects"><span class="required-star">*</span> #{fieldLabel DOCUMENT_SUBJECTS /}:</label>
            <div class="controls">
            
				<label for="subject-primary" class="help-block primary">Primary Subject:</label>
				<select id="subject-primary" name="subject-primary" class="span4">
                    <option #{if subjectPrimary == null}selected="true"#{/if} value="">...choose #{ifRequired DOCUMENT_SUBJECTS}(required)#{/ifRequired}</option>
                    #{list items:subjects, as:'subject'}
                    <option #{if subjectPrimary == subject.getDescription()}selected="true"#{/if} value="${subject.getDescription()}">${subject.getDescription()}</option>
                    #{/list}
                </select>
                <span class="tooltip-icon" title="#{fieldHelp DOCUMENT_SUBJECTS /}"><i class="icon-info-sign"></i></span>
                
	            
				<label for="subject-secondary" class="help-block additional">Additional Subject:</label>
				<select id="subject-secondary" name="subject-secondary" class="span4">
                    <option #{if subjectSecondary == null}selected="true"#{/if} value="">...choose (optional)</option>
                    #{list items:subjects, as:'subject'}
                    <option #{if subjectSecondary == subject.getDescription()}selected="true"#{/if} value="${subject.getDescription()}">${subject.getDescription()}</option>
                    #{/list}
                </select>
                
				<label for="subject-tertiary" class="help-block additional">Additional Subject:</label>
				<select id="subject-tertiary" name="subject-tertiary" class="span4">
                    <option #{if subjectTertiary == null}selected="true"#{/if} value="">...choose (optional)</option>
                    #{list items:subjects, as:'subject'}
                    <option #{if subjectTertiary == subject.getDescription()}selected="true"#{/if} value="${subject.getDescription()}">${subject.getDescription()}</option>
                    #{/list}
                </select>
            </div>
        </div>
        #{/ifEnabled}
		
		#{ifEnabled DOCUMENT_LANGUAGE }
		<div class="control-group #{errorClass 'docLanguage'/} #{fieldClass DOCUMENT_LANGUAGE /}">
			<label class="control-label" for="docLanguage"><span class="required-star">*</span> #{fieldLabel DOCUMENT_LANGUAGE /}:</label>
			<div class="controls">
	            #{ifRequired DOCUMENT_LANGUAGE}
	            	#{if docLanguages.size() == 1}
	            		<p>${docLanguages.get(0).getLocale().getDisplayName()}</p>
	            	#{/if}
	            	#{else}
		            	<select class="span4" id="docLanguage" name="docLanguage">
			                <option #{if null == docLanguage || docLanguage.equals("")}selected="true"#{/if} value="">...choose</option>
			                #{list docLanguages, as: 'language'}
			                    <option #{if null != language && docLanguage.equals(language.getName())}selected="true"#{/if} value="${language.getName()}">${language.getLocale().getDisplayName()}</option>
			                #{/list}
		            	</select>
				<span class="tooltip-icon" title="#{fieldHelp DOCUMENT_LANGUAGE /}"><i class="icon-info-sign"></i></span>
		            #{/else}
	            #{/ifRequired}
	            #{else}
	            <select class="span4" id="docLanguage" name="docLanguage">
	                <option #{if null == docLanguage || docLanguage.equals("")}selected="true"#{/if} value="">...choose</option>
	                #{list docLanguages, as: 'language'}
	                    <option #{if null != language && docLanguage.equals(language.getName())}selected="true"#{/if} value="${language.getName()}">${language.getLocale().getDisplayName()}</option>
	                #{/list}
	            </select>
	            <span class="tooltip-icon" title="#{fieldHelp DOCUMENT_LANGUAGE /}"><i class="icon-info-sign"></i></span>
	            #{/else}	            
			</div>
		</div>
		#{/ifEnabled}
		
	</fieldset>
	#{/ifEnabled}
	
	#{ifEnabled COMMITTEE}
	<fieldset class="form-inline">
		<legend>#{fieldLabel COMMITTEE /}</legend>
		<p>#{fieldHelp COMMITTEE /}</p>
        <div id="committee-members">

            #{list items:1..committeeSlots, as:'i'}
            %{
                def firstName = "";
                def middleName = "";
                def lastName = "";
                def currentRoles = new java.util.ArrayList<String>();
                
                if (committee.size() >= i) {
                    firstName = committee.get(i-1).firstName;
                    middleName = committee.get(i-1).middleName;
                    lastName = committee.get(i-1).lastName;
                    currentRoles = committee.get(i-1).roles;
                }
            }%
            <table role="presentation" class="committee-member #{ifError "committee"}error#{/ifError}">
                    <tr>
                        <td><label for="committeeFirstName${i}" class="span2">First Name</label></td>
                        <td><label for="committeeMiddleName${i}" class="span1">MI</label></td>
                        <td><label for="committeeLastName${i}" class="span2">Last Name</label></td>
                    </tr>
                    <tr> 
                        <td><input type="text" class="input-medium" id="committeeFirstName${i}" name="committeeFirstName${i}" value="${firstName}"></td>
                        <td><input type="text" class="span1" id="committeeMiddleName${i}" name="committeeMiddleName${i}" value="${middleName}"></td>
                        <td><input type="text" class="input-medium" id="committeeLastName${i}" name="committeeLastName${i}" value="${lastName}"></td>
                    </tr>
                    #{if availableRoles.size() > 0}
                    <tr class="committee-role-row">
                        <td class="role-label"><label for="committeeRoles${i}">Role${availableRoles.pluralize()}:</label></td>
                        <td colspan="2">
                        
                            #{if availableRoles.size() == 1}
                            <input type="checkbox" id="committeeRoles${i}" name="committeeRoles${i}" value="${availableRoles.get(0).getName()}" #{if currentRoles.contains(availableRoles.get(0).getName())}checked="checked"#{/if}> ${availableRoles.get(0).getName()}
                            #{/if}
                            #{else}
                            <select class="multiselect" id="committeeRoles${i}" name="committeeRoles${i}" multiple="multiple">
                                #{list items:availableRoles, as:'role'}
                                <option #{if currentRoles.contains(role.getName())}selected="selected"#{/if} value="${role.getName()}">${role.getName()}</option>
                                #{/list}
                            </select>
                            #{/else}
                        </td>
                    </tr>
                    #{/if}

            </table>

            #{/list} 
        </div>
                
		<div class="row center">
                    <input type="submit" class="btn" id="submit_add" name="submit_add" value="Add Additional Members" />
		</div>		
	</fieldset>
	#{/ifEnabled}
	
	#{ifEnabled COMMITTEE_CONTACT_EMAIL}
	<fieldset class="form-horizontal">
		<legend>Committee Contact Email</legend>
		<div class="control-group #{errorClass 'chairEmail' /} #{fieldClass COMMITTEE_CONTACT_EMAIL /}">
			<label class="control-label" for="chairEmail"><span class="required-star">*</span> #{fieldLabel COMMITTEE_CONTACT_EMAIL /}:</label>
			<div class="controls">
				<input type="text" class="span4" id="chairEmail" name="chairEmail" value="${chairEmail}">
				<span class="tooltip-icon" title="#{fieldHelp COMMITTEE_CONTACT_EMAIL /}"><i class="icon-info-sign"></i></span>
			</div>
		</div>
	</fieldset>
	#{/ifEnabled}
	
	#{ifEnabled PUBLISHED_MATERIAL }
    <fieldset class="form-horizontal">
        #{ifRequired PUBLISHED_MATERIAL}<legend class="strong">#{fieldLabel PUBLISHED_MATERIAL /}</legend>#{/ifRequired}#{else}<legend>#{fieldLabel PUBLISHED_MATERIAL /}</legend>#{/else}
        <div class="control-group #{errorClass 'publishedMaterial'/} #{fieldClass PUBLISHED_MATERIAL /}">
            <label class="control-label" for="publishedMaterialFlag"><span class="required-star">*</span> #{fieldLabel PUBLISHED_MATERIAL /}:</label>
            <div class="controls">
                <input type="checkbox" id="publishedMaterialFlag" name="publishedMaterialFlag" value="true" ${ (publishedMaterialFlag) ? "checked='true'" : "" }/> 
                #{fieldHelp PUBLISHED_MATERIAL /}
            </div>
        </div>   
        <div class="control-group #{errorClass 'publishedMaterial'/} required">
            <label class="control-label" for="publishedMaterial"><span class="required-star">*</span> Identify Material:</label>
            <div class="controls">
                <textarea id="publishedMaterial" name="publishedMaterial" class="span4">${publishedMaterial}</textarea>
            </div>
        </div>
        #{if !publishedMaterialFlag}
        <script type="text/javascript">
            jQuery("#publishedMaterial").closest(".control-group").hide();
        </script>
        #{/if}             
    </fieldset>
    #{/ifEnabled}


    %{
		def activeEmbargosMap = new java.util.LinkedHashMap<org.tdl.vireo.constant.FieldConfig, org.tdl.vireo.model.EmbargoGuarantor>();
	}%
	
    #{list org.tdl.vireo.model.EmbargoGuarantor.values(), as: 'embargoSet'}
				
		%{
			def EMBARGO_TYPE = EMBARGO_TYPE;
		}%

		
		#{list org.tdl.vireo.constant.FieldConfig.values(), as: 'field'}
			
			%{
				def currentEmbargoSet = ["EMBARGO_TYPE_",embargoSet].join("");

				if(field.name() == currentEmbargoSet.toString()) {
					EMBARGO_TYPE = field;
				}	
           }%

		#{/list}

		#{ifEnabled EMBARGO_TYPE}
			%{
				activeEmbargosMap.put(EMBARGO_TYPE, embargoSet); 
			}%
		#{/ifEnabled}
	#{/list}

	#{if activeEmbargosMap.size() > 0}
	<fieldset class="form-horizontal">
		<legend>Embargo Options</legend>
		<div id="embargo-sets">	

			#{list items:activeEmbargosMap.keySet(), as: 'EMBARGO_TYPE'}
				<div id="embargo-${embargoSet}" 
					class="embargo-gaurentor-set  
					#{if embargoSet.toString() != 'DEFAULT'} embargo-addition-type #{/if}  
					#{ifRequired EMBARGO_TYPE}#{if embargoSet.toString() != "DEFAULT"}embargoReq#{/if}#{/ifRequired}"  
					#{if embargoSet.toString() != 'DEFAULT'} style="display:none;" #{/if}>
					<h4>#{ifRequired EMBARGO_TYPE}* #{/ifRequired}#{fieldLabel EMBARGO_TYPE /}</h4>
					<p>#{fieldHelp EMBARGO_TYPE /}</p>
					#{list embargoTypes, as: 'et'}
		                #{if et.getGuarantor().toString() == activeEmbargosMap.get(EMBARGO_TYPE).toString()}
		                <div class="control-group #{errorClass 'embargo' /}">
		                    <label class="control-label">${et.getName()}:</label>
		                    <div class="controls">
		                        <label class="radio">
						<input type="radio" id="embargo_${et_index}" class="embargo-radio" name="embargo-${embargoSet}" selected="selected"  data-embargoSet="${embargoSet}"  value="${et.getId()}" 
							#{list embargos, as: 'selectedEmbargoId'}
								#{if selectedEmbargoId == et.getId().toString()} checked=true #{/if}
							#{/list}
						>&nbsp;&nbsp;${et.getDescription()}
		                        </label>
		                    </div>
		                </div>
		                #{/if}
		            #{/list}
				</div>
			#{/list}
		</div>	
	</fieldset>
	#{/if}

	<a href="#" id="additional-embargos-btn">Additional Embargos</a>
	
	<div class="span10 center">
		<input type="submit" name="submit_next" value="Save and Continue >>" class="btn btn-primary">
	</div>
	</form>
</div>
</div>
	