#{extends 'Submit/submitStep.html' /}
#{set title:'Document Info' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/datepicker.css'}" rel="stylesheet" type="text/css">
<link href="@{'/public/stylesheets/multiselect.css'}" rel="stylesheet" type="text/css">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-multiselect-1.13.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript" >
jQuery(document).ready(function(){	
	if(jQuery.browser.msie){
		if(parseInt(jQuery.browser.version, 10) != 7 && parseInt(jQuery.browser.version, 10) != 8){
			jQuery(".datepicker").datepicker();
		}
	} else {
		jQuery(".datepicker").datepicker();
	}
	
	jQuery(".multiselect").multiselect({
        header: false,
        selectedList: 1,
        noneSelectedText: "<em>&nbsp;... no role selected</em>"
    });
});
</script>
#{/set}

<br />
<div class="row pageHead">
	<h3 class="span11">Document Information</h3>
</div>
<br />
<div class="row">
<div class="span7">
<p>In this step you describe your thesis or dissertation. Please make sure that the information entered below matches the information contained in your document.</p>
<br/>
#{ifErrors}
<ul class="red">
    #{errors}
    <li>${error}</li> 
    #{/errors}
</ul>
#{/ifErrors}
<br/>
	<form action="@{submit.DocumentInfo.documentInfo(subId)}" method="post" class="form-inline">
	<input type="hidden" name="step" value="documentInfo"/>

	#{ifEnabled [DOCUMENT_TITLE,GRADUATION_DATE,DEFENSE_DATE,DOCUMENT_TYPE,DOCUMENT_ABSTRACT,DOCUMENT_KEYWORDS,DOCUMENT_SUBJECTS,DOCUMENT_LANGUAGE]}
	<fieldset class="form-horizontal">
		<legend>Document Information</legend>
		#{ifEnabled DOCUMENT_TITLE}
		<div class="control-group #{errorClass 'title' /} #{fieldClass DOCUMENT_TITLE /}">
			<label class="control-label" for="title"><span class="required-star">*</span> #{fieldLabel DOCUMENT_TITLE /}:</label>
			<div class="controls">
				<input type="text" class="span4" id="title" name="title" value="${title}">
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DOCUMENT_TITLE /}"><i class="icon-info-sign"></i></a>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled GRADUATION_DATE}
		<div class="control-group #{errorClass 'degreeMonth'/} #{errorClass 'degreeYear'/} #{fieldClass GRADUATION_DATE /}">
			<label class="control-label" for="degreeDate"><span class="required-star">*</span> #{fieldLabel GRADUATION_DATE /}:</label>
			<div class="controls row">
				<select class="span2" id="degreeMonth" name="degreeMonth">
                    <option #{if null == degreeMonth }selected="true"#{/if} value="">...choose</option>
				    #{list items:settingRepo.findAllGraduationMonths(), as:'month'}
				    <option #{if null != degreeMonth && String.valueOf(month.getMonth()).equals(degreeMonth) }selected="true"#{/if} value="${month.getMonth()}">${month.getMonthName()}</option>
				    #{/list}
				</select>
				<select class="span2" id="degreeYear" name="degreeYear">
                    <option #{if null == degreeYear }selected="true"#{/if} value="">...choose</option>
				    #{list degreeYears, as:'year'}
				    <option #{if null != degreeYear && String.valueOf(year).equals(degreeYear)}selected="true"#{/if} value="${year}">${year}</option>
				    #{/list}
				</select>
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp GRADUATION_DATE /}"><i class="icon-info-sign"></i></a>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled DEFENSE_DATE}
		<div class="control-group #{errorClass 'defenseDate'/} #{fieldClass DEFENSE_DATE /}">
			<label class="control-label" for="defenseDate"><span class="required-star">*</span> #{fieldLabel DEFENSE_DATE /}:</label>
			<div class="controls row">
				<input type="text" name="defenseDate" id="defenseDate" class="span4 datepicker" value="${defenseDate?.format('MM/dd/yyyy')}" />
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DEFENSE_DATE /}"><i class="icon-info-sign"></i></a>
			</div>			
		</div>
		#{/ifEnabled}
		#{ifEnabled DOCUMENT_TYPE}
		<div class="control-group #{errorClass 'docType'/} #{fieldClass DOCUMENT_TYPE /}">
			<label class="control-label" for="docType"><span class="required-star">*</span> #{fieldLabel DOCUMENT_TYPE /}:</label>
			<div class="controls">
	            <select class="span4" id="docType" name="docType">
	                <option #{if null == docType || docType.equals("")}selected="true"#{/if} value="">...choose</option>
	                #{list docTypes, as: 'type'}
	                    <option #{if null != type && docType.equals(type)}selected="true"#{/if} value="${type}">${type}</option>
	                #{/list}
	            </select>
	            <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DOCUMENT_TYPE /}"><i class="icon-info-sign"></i></a>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled DOCUMENT_ABSTRACT}
		<div class="control-group #{errorClass 'abstractText'/} #{fieldClass DOCUMENT_ABSTRACT /}">
			<label class="control-label" for="abstractText"><span class="required-star">*</span> #{fieldLabel DOCUMENT_ABSTRACT /}:</label>
			<div class="controls">
				<textarea class="span4" id="abstractText" name="abstractText">${abstractText}</textarea>
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DOCUMENT_ABSTRACT /}"><i class="icon-info-sign"></i></a>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled DOCUMENT_KEYWORDS}
		<div class="control-group #{errorClass 'keywords'/} #{fieldClass DOCUMENT_KEYWORDS /}">
			<label class="control-label" for="keywords"><span class="required-star">*</span> #{fieldLabel DOCUMENT_KEYWORDS /}:</label>
			<div class="controls">
				<textarea class="span4" id="keywords" name="keywords">${keywords}</textarea>
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DOCUMENT_KEYWORDS /}"><i class="icon-info-sign"></i></a>
			</div>
		</div>
		#{/ifEnabled}
		
		#{ifEnabled DOCUMENT_SUBJECTS }
        <div id="subjects-field" class="control-group #{errorClass 'subjects' /} #{fieldClass DOCUMENT_SUBJECTS /}">
            <label class="control-label" for="subjects"><span class="required-star">*</span> #{fieldLabel DOCUMENT_SUBJECTS /}:</label>
            <div class="controls">
            
                <div class="help-block primary">Primary:</div>
                <select name="subject-primary" class="span4">
                    <option #{if subjectPrimary == null}selected="true"#{/if} value="">...choose #{ifRequired DOCUMENT_SUBJECTS}(required)#{/ifRequired}</option>
                    #{list items:subjects, as:'subject'}
                    <option #{if subjectPrimary == subject.getDescription()}selected="true"#{/if} value="${subject.getDescription()}">${subject.getDescription()}</option>
                    #{/list}
                </select>
                <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DOCUMENT_SUBJECTS /}"><i class="icon-info-sign"></i></a>
                
	            
	            <div class="help-block additional">Additional:</div>
                <select name="subject-secondary" class="span4">
                    <option #{if subjectSecondary == null}selected="true"#{/if} value="">...choose (optional)</option>
                    #{list items:subjects, as:'subject'}
                    <option #{if subjectSecondary == subject.getDescription()}selected="true"#{/if} value="${subject.getDescription()}">${subject.getDescription()}</option>
                    #{/list}
                </select>
                
                <select name="subject-tertiary" class="span4">
                    <option #{if subjectTertiary == null}selected="true"#{/if} value="">...choose (optional)</option>
                    #{list items:subjects, as:'subject'}
                    <option #{if subjectTertiary == subject.getDescription()}selected="true"#{/if} value="${subject.getDescription()}">${subject.getDescription()}</option>
                    #{/list}
                </select>
            </div>
        </div>
        #{/ifEnabled}
		
		#{ifEnabled DOCUMENT_LANGUAGE }
		<div class="control-group #{errorClass 'docLanguage'/} #{fieldClass DOCUMENT_LANGUAGE /}">
			<label class="control-label" for="docLanguage"><span class="required-star">*</span> #{fieldLabel DOCUMENT_LANGUAGE /}:</label>
			<div class="controls">
	            #{ifRequired DOCUMENT_LANGUAGE}
	            	#{if docLanguages.size() == 1}
	            		<p>${docLanguages.get(0).getLocale().getDisplayName()}</p>
	            	#{/if}
	            	#{else}
		            	<select class="span4" id="docLanguage" name="docLanguage">
			                <option #{if null == docLanguage || docLanguage.equals("")}selected="true"#{/if} value="">...choose</option>
			                #{list docLanguages, as: 'language'}
			                    <option #{if null != language && docLanguage.equals(language.getName())}selected="true"#{/if} value="${language.getName()}">${language.getLocale().getDisplayName()}</option>
			                #{/list}
		            	</select>
		            #{/else}
	            #{/ifRequired}
	            #{else}
	            <select class="span4" id="docLanguage" name="docLanguage">
	                <option #{if null == docLanguage || docLanguage.equals("")}selected="true"#{/if} value="">...choose</option>
	                #{list docLanguages, as: 'language'}
	                    <option #{if null != language && docLanguage.equals(language.getName())}selected="true"#{/if} value="${language.getName()}">${language.getLocale().getDisplayName()}</option>
	                #{/list}
	            </select>
	            <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DOCUMENT_LANGUAGE /}"><i class="icon-info-sign"></i></a>
	            #{/else}	            
			</div>
		</div>
		#{/ifEnabled}
		
	</fieldset>
	#{/ifEnabled}
	
	#{ifEnabled COMMITTEE}
	<fieldset class="form-inline">
		<legend>#{fieldLabel COMMITTEE /}</legend>
		<p>#{fieldHelp COMMITTEE /}</p>
        <div id="committee-members">

            #{list items:1..committeeSlots, as:'i'}
            %{
                def firstName = "";
                def middleName = "";
                def lastName = "";
                def currentRoles = new java.util.ArrayList<String>();
                
                if (committee.size() >= i) {
                    firstName = committee.get(i-1).firstName;
                    middleName = committee.get(i-1).middleName;
                    lastName = committee.get(i-1).lastName;
                    currentRoles = committee.get(i-1).roles;
                }
            }%
            <table class="committee-member" #{ifError "committee"}class="error"#{/ifError}>
                    <tr>
                        <td><label class="span2">First Name</label></td>
                        <td><label class="span1">MI</label></td>
                        <td><label class="span2">Last Name</label></td>
                    </tr>
                    <tr> 
                        <td><input type="text" class="input-medium" id="committeeFirstName${i}" name="committeeFirstName${i}" value="${firstName}"></td>
                        <td><input type="text" class="span1" id="committeeMiddleName${i}" name="committeeMiddleName${i}" value="${middleName}"></td>
                        <td><input type="text" class="input-medium" id="committeeLastName${i}" name="committeeLastName${i}" value="${lastName}"></td>
                    </tr>
                    #{if availableRoles.size() > 0}
                    <tr class="committee-role-row">
                        <td class="role-label">Role${availableRoles.pluralize()}: </td>
                        <td colspan="2">
                        
                            #{if availableRoles.size() == 1}
                            <input type="checkbox" id="committeeRoles${i}" name="committeeRoles${i}" value="${availableRoles.get(0).getName()}" #{if currentRoles.contains(availableRoles.get(0).getName())}checked="checked"#{/if}> ${availableRoles.get(0).getName()}
                            #{/if}
                            #{else}
                            <select class="multiselect" id="committeeRoles${i}" name="committeeRoles${i}" multiple="multiple">
                                #{list items:availableRoles, as:'role'}
                                <option #{if currentRoles.contains(role.getName())}selected="selected"#{/if} value="${role.getName()}">${role.getName()}</option>
                                #{/list}
                            </select>
                            #{/else}
                        </td>
                    </tr>
                    #{/if}

            </table>

            #{/list} 
        </div>
                
		<div class="row center">
                    <input type="submit" class="btn" id="submit_add" name="submit_add" value="Add Additional Members" />
		</div>		
	</fieldset>
	#{/ifEnabled}
	
	#{ifEnabled COMMITTEE_CONTACT_EMAIL}
	<fieldset class="form-horizontal">
		<legend>Committee Contact Email</legend>
		<div class="control-group #{errorClass 'chairEmail' /} #{fieldClass COMMITTEE_CONTACT_EMAIL /}">
			<label class="control-label" for="chairEmail"><span class="required-star">*</span> #{fieldLabel COMMITTEE_CONTACT_EMAIL /}:</label>
			<div class="controls">
				<input type="text" class="span4" id="chairEmail" name="chairEmail" value="${chairEmail}">
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp COMMITTEE_CONTACT_EMAIL /}"><i class="icon-info-sign">				
				</i></a>
			</div>
		</div>
	</fieldset>
	#{/ifEnabled}
	
	#{ifEnabled EMBARGO_TYPE }
	<fieldset class="form-horizontal">
		<legend>#{ifRequired EMBARGO_TYPE}<strong>#{fieldLabel EMBARGO_TYPE /}</strong>#{/ifRequired}#{else}#{fieldLabel EMBARGO_TYPE /}#{/else}</legend>
		<p>#{fieldHelp EMBARGO_TYPE /}</p>
                #{list embargoTypes, as: 'et'}
                    <div class="control-group #{errorClass 'embargo' /}">
                        <label class="control-label">${et.getName()}:</label>
                        <div class="controls">
                            <label class="radio"> 
                                <input type="radio" id="embargo" name="embargo" selected="selected" value="${et.getId()}" #{if embargo == et.getId().toString()} checked=true #{/if}>&nbsp;&nbsp;${et.getDescription()}
                            </label>
                        </div>
                    </div>
                #{/list}                
	</fieldset>
	#{/ifEnabled}
	
	#{ifEnabled UMI_RELEASE}
	<fieldset class="form-horizontal">
        <legend>#{fieldLabel UMI_RELEASE /}</legend>
        <div class="control-group #{ifError 'umi'}error#{/ifError}">
            <label class="control-label" for="umi">UMI Publication:</label>
            <div class="controls">
                <input type="checkbox" id="umi" name="umi" value="release" ${ (umi != null) ? "checked='true'" : "" }/> 
                #{fieldHelp UMI_RELEASE /}
            </div>
        </div>            
    </fieldset>
    #{/ifEnabled}
    
	<div class="span10 center">
		<input type="submit" name="submit_next" value="Save and Continue >>" class="btn btn-primary">
	</div>
	</form>
</div>
<div id="stickyNotes" class="span3">
     #{list items:stickies, as:'sticky'}
       <div class="sticky-top"></div>
       <div class="sticky-bottom">#{verbatim}${sticky}#{/verbatim}</div>
    #{/list}
</div>
</div>