#{extends 'submitSteps.html' /}
#{set title:'File Upload' /}

<br />
<div class="row pageHead">
	<h3 class="span11">Upload Your Files</h3>
</div>
<br />
<div class="row">
<div class="span7">
	<p>In this step you will upload your thesis or dissertation to the server. Optionally, you may upload additional supplementary files that will be available along with your document after publication.</p>
	<form action="submitIndex" method="post" class="form-horizontal">
		
		<fieldset>
			<legend>Upload your manuscript</legend>
			<div class="control-group">
				<label class="control-label" for="manuscriptFile"><b>* Manuscript in PDF:</b></label>
				<div class="controls">
					<input type="file" id="manuscriptFile" class="input-file">
					<input type="submit" value="Upload" class="uploadBtn">
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Upload supplementary files</legend>
			<div class="control-group">
				<label class="control-label" for="supplementaryFile">Supplementary Files:</label>
				<div class="controls">
					<input type="file" id="supplementaryFile" class="input-file">
					<input type="submit" value="Upload" class="uploadBtn">
				</div>
			</div>
		</fieldset>
		
		<div class="pull-right">
			<input type="submit" value="Save and Continue >>" id="submit">
		</div>
		
	</form>
</div>
<div id="stickyNotes" class="span3">
		<div class="sticky-top"></div>
		<div class="sticky-bottom">Your thesis or dissertation can only be one file, and the only allowable file format is PDF. Please contact your school for help or information related to creating a PDF file.</div>
		
		<div class="sticky-top"></div>
		<div class="sticky-bottom">There is no limit on the number or formats of supplementary files you may upload.</div>
		
		<div class="sticky-top"></div>
		<div class="sticky-bottom">SIZE QUOTA: no individual file may exceed 512 MB, and the total of all files must not exceed 4 GB.</div>
	</div>
</div>