#{extends 'submitSteps.html' /}
#{set title:'File Upload' /}

<br />
<div class="row pageHead">
	<h3 class="span11">Upload Your Files</h3>
</div>

#{ifErrors}
    <ul class="red">
        #{errors}
            <li>${error}</li>
        #{/errors}
    </ul>
#{/ifErrors}


<div class="row">
<div class="span7">
	<p>In this step you will upload your thesis or dissertation to the server. Optionally, you may upload additional supplementary files that will be available along with your document after publication.</p>

	<form action="@{submit.fileUpload(subId)}" method="POST" class="form-horizontal" enctype="multipart/form-data">
		
		<fieldset id="primaryFileUpload">
			<legend>Upload your manuscript</legend>

			<div class="control-group">
				<label class="control-label" for="primaryFile"><b>* Manuscript in PDF:</b></label>

                #{if primaryAttachment == null}
                    <div class="controls">
                        <input type="file" id="primaryFile" class="input-file" name="primaryDocument">
                        <input type="submit" value="Upload" class="uploadBtn btn" name="uploadPrimary">
                        
                    </div>
                #{/if}
                #{else}
                    <div class="controls">
                        <p>
                            <a href="@{Submit.viewPrimaryDocument(subId)}">${primaryAttachment.getName()}</a>

                            (${primaryAttachment.getDisplaySize()})
                            <input type="submit" value="Replace Manuscript" class="uploadBtn btn" name="replacePrimary">
                            
                        </p>
                    </div>
                #{/else}
                              

			</div>
		</fieldset>
		
		<fieldset id="supplementaryFileUpload">
			<legend>Upload supplementary files</legend>
            <p>
                Upload only supplementary files such as audio, video or data sets.
                These files must be listed in the appendix of your thesis or dissertation.
            </p>
			<div class="control-group">
				<label class="control-label" for="supplementaryFile">Supplementary Files:</label>

                <div class="controls">
                    <input type="file" id="supplementaryFile" class="input-file" name="supplementaryDocument">
                    <input type="submit" value="Upload" class="uploadBtn btn" name="uploadSupplementary">
                </div>
			</div>
		</fieldset>
		

		<fieldset id="supplementaryFileUploadList">
			<legend>Uploaded supplementary files</legend>
			<div class="control-group">
                #{if supplementalAttachments.size() > 0}
                    <div class="controls">
                        #{list items:supplementalAttachments, as:"attachment"}
                            <p>
                            <label>
                                <input type="checkbox" value="${attachment.getId()}" name="attachmentToRemove">
                                ${attachment.getName()} (${attachment.getDisplaySize()})  
                            </label>                                                     
                            </p>
                        #{/list}
                            <input type="submit" value="Remove Selected" class="uploadBtn btn" name="removeSupplementary">                        
                    </div>
                #{/if}

			</div>
		</fieldset>		
		
		
		
		
		
		
		
		

        <fieldset id="sourceFileUpload" style="display: none;">
            <legend>Upload document source files</legend>
            <p>
                We encourage you to upload your thesis or dissertation in its original
                format (such as Microsoft Word or LaTeX) for preservation purposes.
            </p>
            <div class="control-group">
                <label class="control-label" for="sourceFile">Document Source Files:</label>
                <div class="controls">
                    <input type="file" id="sourceFile" class="input-file" name="sourceDocument">
                    <input type="submit" value="Upload" class="uploadBtn btn" name="uploadSource">
                </div>
            </div>
        </fieldset>
		
		<div class="pull-right">
			<input type="submit" value="Save and Continue >>" class="btn btn-primary" name="submit-next">
		</div>
		
	</form>
</div>
<div id="stickyNotes" class="span3">
		<div class="sticky-top"></div>
		<div class="sticky-bottom">Your thesis or dissertation can only be one file, and the only allowable file format is PDF. Please contact your school for help or information related to creating a PDF file.</div>
		
		<div class="sticky-top"></div>
		<div class="sticky-bottom">There is no limit on the number or formats of supplementary files you may upload.</div>
		
		<div class="sticky-top"></div>
		<div class="sticky-bottom">SIZE QUOTA: no individual file may exceed 512 MB, and the total of all files must not exceed 4 GB.</div>
	</div>
</div>