#{extends 'Submit/submitStep.html' /}
#{set title:'File Upload' /}

<br />
<div class="row pageHead">
	<h3 class="span11">Upload Your Files</h3>
</div>
<br/>
<div class="row">
<div class="span7">
	<p>In this step you will upload your thesis or dissertation to the server. Optionally, you may upload additional supplementary files that will be available along with your document after publication.</p>
    <br/>
    #{ifErrors}
    <ul class="red">
        #{errors}
            <li>${error}</li>
        #{/errors}
    </ul>
    #{/ifErrors}
    <br/>
    
	<form action="@{submit.FileUpload.fileUpload(subId)}" method="POST" class="form-horizontal" enctype="multipart/form-data">
		<input type="hidden" name="step" value="fileUpload"/>
		
		#{ifEnabled PRIMARY_ATTACHMENT}
		<fieldset id="primaryFileUpload">
			<legend>Upload Primary Document</legend>
            <p>#{fieldHelp PRIMARY_ATTACHMENT /}</p>
			<div class="control-group #{errorClass 'primaryDocument' /} #{fieldClass PRIMARY_ATTACHMENT /}">
				<label class="control-label" for="primaryFile"><span class="required-star">*</span> #{fieldLabel PRIMARY_ATTACHMENT /}:</label>

                #{if primaryAttachment == null}
                    <div class="controls">
                        <input type="file" id="primaryFile" class="input-file" name="primaryDocument"><br/>
                        <input type="submit" value="Upload" class="uploadBtn btn" name="uploadPrimary">
                        
                    </div>
                #{/if}
                #{else}
                    <div class="controls">
                        <p>
                            <a href="@{Student.viewAttachment(subId,primaryAttachment.getId(),primaryAttachment.getName())}" target="_blank">${primaryAttachment.getName()}</a>

                            (${primaryAttachment.getDisplaySize()})
                            <input type="submit" value="Replace Manuscript" class="uploadBtn btn" name="replacePrimary">
                        </p>
                    </div>
                #{/else}
			</div>
		</fieldset>
		#{/ifEnabled}
		
		#{ifEnabled SUPPLEMENTARY_ATTACHMENT}
		<fieldset id="supplementaryFileUpload">
			<legend>Upload Supplementary Files</legend>
            <p> #{fieldHelp SUPPLEMENTARY_ATTACHMENT /}</p>
			<div class="control-group #{errorClass 'supplementaryDocument' /} #{fieldClass SUPPLEMENTARY_ATTACHMENT /}">
				<label class="control-label" for="supplementaryFile"><span class="required-star">*</span> #{fieldLabel SUPPLEMENTARY_ATTACHMENT /}:</label>

                <div class="controls">
                    <input type="file" id="supplementaryFile" class="input-file" name="supplementaryDocument"><br/>
                    <input type="submit" value="Upload" class="uploadBtn btn" name="uploadSupplementary">
                </div>
			</div>
		</fieldset>
		
		#{if supplementalAttachments.size() > 0}
		<fieldset id="supplementaryFileUploadList">
			<legend>Uploaded supplementary files</legend>
			<div class="control-group">
                    <div class="controls">
                        #{list items:supplementalAttachments, as:"attachment"}
                            <p>
                            <label>
                                <input type="checkbox" value="${attachment.getId()}" name="attachmentToRemove">
                                <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">
                                    ${attachment.getName()}
                                </a> 
                                (${attachment.getDisplaySize()})
                            </label>                                                     
                            </p>
                        #{/list}
                            <input type="submit" value="Remove Selected" class="uploadBtn btn" name="removeSupplementary">                        
                    </div>
			</div>
		</fieldset>		
		#{/if}
		#{/ifEnabled}
		
		<div class="pull-right">
			<input type="submit" value="Save and Continue >>" class="btn btn-primary" name="submit_next">
		</div>
		
	</form>
</div>
<div id="stickyNotes" class="span3">
    #{list items:stickies, as:'sticky'}
       <div class="sticky-top"></div>
       <div class="sticky-bottom">#{verbatim}${sticky}#{/verbatim}</div>
    #{/list}
</div>
</div>