#{extends 'Submit/submitStep.html' /}
#{set title:'License' /}

<br />
<div class="row pageHead">
	<h3 class="span11">License Agreement</h3> 
</div>
<br />
<div class="row">
<p class="span">You must agree to the non-exclusive license below in order to continue:</p>
</div>

#{ifErrors}
<ul class="red">
    #{errors}
    <li>${error}</li> 
    #{/errors}
</ul>
#{/ifErrors}

<div class="well">#{verbatim}${licenseText}#{/verbatim}</div>
<div class="row center">
<form action="@{submit.License.license(subId)}" method="post" class="form-inline">
	<fieldset style="margin:0 0 10px;">
		<label id="lalabel" class="checkbox #{if errors.forKey('laLabel')}red#{/if}">
            <input id="licenseAgreement" type="checkbox" name="licenseAgreement" ${ licenseAgreement != null ? "checked='true'" : "" }/> By checking here you agree to the above license in its entirety.
		</label>
	</fieldset>
	
	<div class="span10 center">
        <input type="submit" class="btn btn-primary" name="submit_next" value="Save and Continue" />
	</div>
</form>
</div>