#{extends 'Submit/submitStep.html' /}
#{set title:'Verify Personal Information' /}
#{set 'moreScripts'}
<script type="text/javascript" >
jQuery(document).ready(function() {
	
	/** 
	 * Multi-line placeholder text for address fields.
	 */
	var placeholder = "Address\nCity, State Zip\nCountry";
	jQuery("textarea.address").each(function() {
	    if ( this.value == "" ) {
        	jQuery(this).addClass("placeholder");
	        this.value = placeholder;
	    }
	    jQuery(this).focus(function() {
	        if ( this.value == placeholder ) {
	        	jQuery(this).removeClass("placeholder");
	            this.value = "";
	        }
	    })
	    jQuery(this).blur(function() {
	        if ( jQuery.trim(this.value) == "" ) {
	        	jQuery(this).addClass("placeholder");
	            this.value = placeholder;
	        }
	    })
	});
	// Clear default placeholder values on form submit
	jQuery('form').submit(function() {
	    jQuery(this).find("textarea.address").each(function() {
	        if ( this.value == placeholder ) {
	        	jQuery(this).removeClass("placeholder");
	            this.value = "";
	        }
	    });
	});
	
	/**
	* Auto expand the textareas based upon the current text.
	*/
	jQuery("textarea").keyup(function() {
		// If the user has manualy changed the size of the
		// textarea then don't autosize.
		if (jQuery(this).width() != jQuery(this).attr("data-original-width")) {
			this.style.overflow = 'auto';
			return;
		}
		
		this.style.overflow = 'hidden';
		this.style.height = 0;
		
		if (this.scrollHeight < 75) {
            this.style.height = '75px';
		} else if (this.scrollHeight > 300) {
			this.style.height = '300px';
			this.style.overflow = 'auto';
		} else {
			this.style.height = this.scrollHeight + 'px';
		}
	});
	jQuery("textarea").trigger('keyup'); 
	
	jQuery("textarea").each(function (index, value){
		jQuery(value).attr("data-original-width",jQuery(value).width());
	});
});
</script>
#{/set}
<br />
<div class="row pageHead">
	<h3 class="span11">Verify Your Information</h3>
</div>
<br />
<div class="row">
<div class="span7">
<p>Please verify all of your personal information. Some of the information has been provided by your school; if this information is in error, you will need to correct it through the appropriate office at your school.</p>
<p>Required fields are indicated with an asterisk.</p>

#{ifErrors}
<ul class="red">
    #{errors}
    <li>${error}</li> 
    #{/errors}
</ul>
#{/ifErrors}

  <form action="@{submit.PersonalInfo.personalInfo(subId)}" method="post" class="form-horizontal">
    <input type="hidden" name="step" value="personalInfo"/>
	
	#{ifEnabled [STUDENT_FIRST_NAME,STUDENT_MIDDLE_NAME,STUDENT_LAST_NAME,STUDENT_ORCID,STUDENT_EMAIL,STUDENT_BIRTH_YEAR] }
    <fieldset>
        <legend>Personal Information</legend>
        #{ifEnabled STUDENT_FIRST_NAME }
        <div class="control-group #{errorClass 'firstName'/} #{fieldClass STUDENT_FIRST_NAME /}">
            <label class="control-label" for="firstName"><span class="required-star">*</span> #{fieldLabel STUDENT_FIRST_NAME /}:</label>
            <div class="controls">
                #{if disabledFields.contains("firstName")}
                <p>${firstName}</p>
                #{/if} 
                #{else}
                <input type="text" name="firstName" value="${firstName}">
                <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp STUDENT_FIRST_NAME /}"><i class="icon-info-sign"></i></a>
                #{/else}
            </div>
        </div>
        #{/ifEnabled}
        #{ifEnabled STUDENT_MIDDLE_NAME }
        <div class="control-group #{errorClass 'middleName' /} #{fieldClass STUDENT_MIDDLE_NAME /}">
            <label class="control-label" for="middleName"><span class="required-star">*</span> #{fieldLabel STUDENT_MIDDLE_NAME /}:</label>
            <div class="controls">
                #{if disabledFields.contains("middleName")}
                <p>${middleName}</p>
                #{/if} 
                #{else}
                <input type="text" class="span1" name="middleName" value="${middleName}">
                <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp STUDENT_MIDDLE_NAME /}"><i class="icon-info-sign"></i></a>
                #{/else}
            </div>
        </div>
        #{/ifEnabled}
        #{ifEnabled STUDENT_LAST_NAME }
        <div class="control-group #{errorClass 'lastName' /} #{fieldClass STUDENT_LAST_NAME /}">
            <label class="control-label" for="lastName"><span class="required-star">*</span> #{fieldLabel STUDENT_LAST_NAME /}:</label>
            <div class="controls">
                #{if disabledFields.contains("lastName")}
                <p>${lastName}</p>
                #{/if} 
                #{else}
                <input type="text" name="lastName" value="${lastName}">
                <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp STUDENT_LAST_NAME /}"><i class="icon-info-sign"></i></a>
                #{/else}
            </div>
        </div>
        #{/ifEnabled}
        #{ifEnabled STUDENT_EMAIL }
        <div class="control-group #{errorClass 'email' /} #{fieldClass STUDENT_EMAIL /}">
            <label class="control-label" for="email"><span class="required-star">*</span> #{fieldLabel STUDENT_EMAIL /}:</label>
            <div class="controls">
                <p>${submitter.getEmail()}</p>
            </div>
        </div>
        #{/ifEnabled}
        #{ifEnabled STUDENT_ORCID }
        <div class="control-group #{errorClass 'orcid' /} #{fieldClass STUDENT_ORCID /}">
            <label class="control-label" for="orcid"><span class="required-star">*</span> #{fieldLabel STUDENT_ORCID /}:</label>
            <div class="controls">
                #{if disabledFields.contains("orcid")}
                <p>${orcid}</p>
                #{/if} 
                #{else}
                <input type="text" class="span3" name="orcid" value="${orcid}">
                <p><small>#{fieldHelp STUDENT_ORCID /}</small></p>
                #{/else}
            </div>
        </div>
        #{/ifEnabled}
        #{ifEnabled STUDENT_BIRTH_YEAR }
        <div class="control-group #{errorClass 'birthYear' /}  #{fieldClass STUDENT_BIRTH_YEAR /}">
            <label class="control-label" for="birthYear"><span class="required-star">*</span> #{fieldLabel STUDENT_BIRTH_YEAR /}:</label>
            <div class="controls">
                #{if disabledFields.contains("birthYear")}
                <p>${birthYear}</p>
                #{/if} 
                #{else}
                <input type="text" class="span3" name="birthYear" value="${birthYear}">             
                <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp STUDENT_BIRTH_YEAR /}"><i class="icon-info-sign">               
                </i></a>
                #{/else}
            </div>
        </div>
        #{/ifEnabled}

    </fieldset>
    #{/ifEnabled}
	
	#{ifEnabled [GRANTOR,COLLEGE,PROGRAM,DEPARTMENT,DEGREE,MAJOR] }
	<fieldset>
		<legend>Affiliation</legend>
		#{ifEnabled GRANTOR }
		<div class="control-group #{errorClass 'grantor' /} #{fieldClass GRANTOR /}">
			<label class="control-label" for="school"><span class="required-star">*</span> #{fieldLabel GRANTOR /}</b>:</label>
			<div class="controls">
				<p>${grantor}</p>
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled COLLEGE}
		<div class="control-group #{errorClass 'college' /} #{fieldClass COLLEGE /}">
            <label class="control-label" for="college"><span class="required-star">*</span> #{fieldLabel COLLEGE /}:</label>
            <div class="controls">
                #{if disabledFields.contains("college")}
                <p>${college}</p>
                #{/if} 
                #{else}
                    #{if settingRepo.findAllColleges().size() > 0 }
		                <select name="college">
		                    <option #{if college == null}selected="true"#{/if} value="">...choose</option>
		                    #{list items:settingRepo.findAllColleges(), as:'collegeObject'}
		                    <option #{if college == collegeObject.getName()}selected="true"#{/if} value="${collegeObject.getName()}">${collegeObject.getName()}</option>
		                    #{/list}
		                </select>
		            #{/if}
		            #{else}
		                <input name="college" value="${college}"/>
		            #{/else}
		            <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp COLLEGE /}"><i class="icon-info-sign"></i></a>
                #{/else}
            </div>
        </div>
        #{/ifEnabled}
        #{ifEnabled PROGRAM}
		<div class="control-group #{errorClass 'program' /} #{fieldClass PROGRAM /}">
            <label class="control-label" for="program"><span class="required-star">*</span> #{fieldLabel PROGRAM /}:</label>
            <div class="controls">
                #{if disabledFields.contains("program")}
                <p>${program}</p>
                #{/if} 
                #{else}
                    #{if settingRepo.findAllPrograms().size() > 0 }
		                <select name="program">
		                    <option #{if program == null}selected="true"#{/if} value="">...choose</option>
		                    #{list items:settingRepo.findAllPrograms(), as:'programObject'}
		                    <option #{if program == programObject.getName()}selected="true"#{/if} value="${programObject.getName()}">${programObject.getName()}</option>
		                    #{/list}
		                </select>
		            #{/if}
		            #{else}
		                <input name="program" value="${program}"/>
		            #{/else}
		            <a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp PROGRAM /}"><i class="icon-info-sign"></i></a>
                #{/else}
            </div>
        </div>
        #{/ifEnabled}
        #{ifEnabled DEPARTMENT }
		<div class="control-group #{errorClass 'department' /} #{fieldClass DEPARTMENT /}">
			<label class="control-label" for="department"><span class="required-star">*</span> #{fieldLabel DEPARTMENT /}:</label>
			<div class="controls">
			    #{if disabledFields.contains("department")}
                <p>${department}</p>
                #{/if} 
                #{else}
                    #{if settingRepo.findAllDepartments().size() > 0 }
					    <select name="department">
					        <option #{if department == null}selected="true"#{/if} value="">...choose</option>
						    #{list items:settingRepo.findAllDepartments(), as:'dept'}
						    <option #{if department == dept.getName()}selected="true"#{/if} value="${dept.getName()}">${dept.getName()}</option>
						    #{/list}
					    </select>
					#{/if}
					#{else}
					   <input name="department" value="${department}"/>
					#{/else}
					<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DEPARTMENT /}"><i class="icon-info-sign">				
					</i></a>
			    #{/else}
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled DEGREE  }
		<div class="control-group #{errorClass 'degree' /} #{fieldClass DEGREE /}">
			<label class="control-label" for="degree"><span class="required-star">*</span> #{fieldLabel DEGREE /}:</label>
			<div class="controls">
			    #{if disabledFields.contains("degree")}
                <p>${degree}</p>
                #{/if} 
                #{else}
				<select id="degree" name="degree">
				    <option #{if degree == null}selected="true"#{/if} value="">...choose</option>
                    #{list items:settingRepo.findAllDegrees(), as:'degreeObject'}
                    <option #{if degree == degreeObject.getName()}selected="true"#{/if} value="${degreeObject.getName()}">${degreeObject.getName()}</option>
                    #{/list}
				</select>
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp DEGREE /}"><i class="icon-info-sign"></i></a>
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled MAJOR }
		<div class="control-group #{errorClass 'major' /} #{fieldClass MAJOR /}">
			<label class="control-label" for="major"><span class="required-star">*</span> #{fieldLabel MAJOR /}:</label>
			<div class="controls">
			    #{if disabledFields.contains("major")}
                <p>${major}</p>
                #{/if} 
                #{else}
                    #{if settingRepo.findAllMajors().size() > 0 }
						<select id="major" name="major">
						    <option #{if major == null}selected="true"#{/if} value="">...choose</option>
		                    #{list items:settingRepo.findAllMajors(), as:'majorObject'}
		                    <option #{if major == majorObject.getName()}selected="true"#{/if} value="${majorObject.getName()}">${majorObject.getName()}</option>
		                    #{/list}
						</select>
					#{/if}
					#{else}
					   <input name="major" value="${major}"/>
					#{/else}
					<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp MAJOR /}"><i class="icon-info-sign"></i></a>
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
	</fieldset>
	#{/ifEnabled}
	
	#{ifEnabled [PERMANENT_PHONE_NUMBER, PERMANENT_POSTAL_ADDRESS, PERMANENT_EMAIL_ADDRESS, CURRENT_PHONE_NUMBER, CURRENT_POSTAL_ADDRESS] }
	<fieldset>
		<legend>Phone &amp; Address</legend>
		#{ifEnabled PERMANENT_PHONE_NUMBER }
		<div class="control-group #{errorClass 'permPhone' /} #{fieldClass PERMANENT_PHONE_NUMBER /}">
			<label class="control-label" for="permPhone"><span class="required-star">*</span> #{fieldLabel PERMANENT_PHONE_NUMBER /}:</label>
			<div class="controls">
			    #{if disabledFields.contains("permPhone")}
                <p>${permPhone}</p>
                #{/if} 
                #{else}
				<input type="text" class="span3" name="permPhone" value="${permPhone}" placeholder="(###) ###-####">
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp PERMANENT_PHONE_NUMBER /}"><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled PERMANENT_POSTAL_ADDRESS }
		<div class="control-group #{errorClass 'permAddress' /} #{fieldClass PERMANENT_POSTAL_ADDRESS /}">
			<label class="control-label" for="permAddress"><span class="required-star">*</span> #{fieldLabel PERMANENT_POSTAL_ADDRESS /}:</label>
			<div class="controls">
			    #{if disabledFields.contains("permAddress")}
                <p>${permAddress}</p>
                #{/if} 
                #{else}
				<textarea class="span4 address" name="permAddress">${permAddress}</textarea>
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp PERMANENT_POSTAL_ADDRESS /}"><i class="icon-info-sign"></i></a>
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled PERMANENT_EMAIL_ADDRESS }
		<div class="control-group #{errorClass 'permEmail' /} #{fieldClass PERMANENT_EMAIL_ADDRESS /}">
			<label class="control-label" for="permEmail"><span class="required-star">*</span> #{fieldLabel PERMANENT_EMAIL_ADDRESS /}:</label>
			<div class="controls">
			    #{if disabledFields.contains("permEmail")}
                <p>${permEmail}</p>
                #{/if} 
                #{else}
				<input type="text" class="span3" name="permEmail" value="${permEmail}">
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp PERMANENT_EMAIL_ADDRESS /}"><i class="icon-info-sign"></i></a>
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled CURRENT_PHONE_NUMBER }
		<div class="control-group #{errorClass 'currentPhone' /} #{fieldClass CURRENT_PHONE_NUMBER /}">
			<label class="control-label" for="currentPhone"><span class="required-star">*</span> #{fieldLabel CURRENT_PHONE_NUMBER /}:</label>
			<div class="controls">
			    #{if disabledFields.contains("currentPhone")}
                <p>${currentPhone}</p>
                #{/if} 
                #{else}
				<input type="text" class="span3" name="currentPhone" value="${currentPhone}" placeholder="(###) ###-####">
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp CURRENT_PHONE_NUMBER /}"><i class="icon-info-sign"></i></a>
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled CURRENT_POSTAL_ADDRESS }
		<div class="control-group #{errorClass 'currentAddress' /} #{fieldClass CURRENT_POSTAL_ADDRESS /}">
			<label class="control-label" for="currentAddress"><span class="required-star">*</span> #{fieldLabel CURRENT_POSTAL_ADDRESS /}:</label>
			<div class="controls">
			    #{if disabledFields.contains("currentAddress")}
                <p>${currentAddress}</p>
                #{/if} 
                #{else}
				<textarea class="span4 address" name="currentAddress">${currentAddress}</textarea>
				<a href="#" class="tooltip-icon" rel="tooltip" title="#{fieldHelp CURRENT_POSTAL_ADDRESS /}"><i class="icon-info-sign"></i></a>
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
	</fieldset>
	#{/ifEnabled}
	<fieldset>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" name="submit_next" value="Save and Continue" />
            <input type="submit" class="btn" name="submit_cancel" value="Cancel" />            
        </div>   
    </fieldset>
</form>            
</div>
	<div id="stickyNotes" class="span3">
	    #{list items:stickies, as:'sticky'}
	       <div class="sticky-top"></div>
           <div class="sticky-bottom">#{verbatim}${sticky}#{/verbatim}</div>
	    #{/list}
	</div>
</div>