#{extends 'main.html' /}
#{set title:'View Application' /}

<br />
<div class="row pageHead">
	<h3 class="span11">Confirm & Submit</h3>
</div>
<br />
<div id="confirmSubmit" class="row">
<form action="@{Submit.submitETD(subId)}" method="post" class="form-horizontal">
	<legend>About You</legend>
	<div class="control-group">
		<label class="control-label"><b>Name:</b></label>
		<div class="controls">
			<p>${submitter.lastName}, ${submitter.firstName}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Email:</b></label>
		<div class="controls">
			<p>${submitter.getEmail()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Year of Birth:</b></label>
		<div class="controls">
			<p>${submitter.getBirthYear()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Phone:</b></label>
		<div class="controls">
			<p>${submitter.getCurrentPhoneNumber()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Address:</b></label>
		<div class="controls">
			<p>${submitter.getCurrentPostalAddress()}</p>
		</div>
	</div>

	
	<legend>Academic Affiliation</legend>
	<div class="control-group">
		<label class="control-label"><b>School:</b></label>
		<div class="controls">
			<p>Texas Digital Library</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Degree:</b></label>
		<div class="controls">
			<p>${submitter.getCurrentDegree()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Major:</b></label>
		<div class="controls">
			<p>${submitter.getCurrentMajor()}</p>
		</div>
	</div>

	
	<legend>Document Information</legend>
	<div class="control-group">
		<label class="control-label"><b>Title:</b></label>
		<div class="controls">
			<p>${sub.getDocumentTitle()}</p>
		</div>
	</div>
		
	<div class="control-group">
		<label class="control-label"><b>Degree Date:</b></label>
		<div class="controls">
			<p>${controllers.Submit.getMonth(sub.getGraduationMonth())} ${sub.getGraduationYear()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Document Type:</b></label>
		<div class="controls">
			<p>${sub.getDocumentType()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Keywords:</b></label>
		<div class="controls">
			<p>${sub.getDocumentKeywords()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Abstract:</b></label>
		<div class="controls">
			<p>${sub.getDocumentAbstract()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Chair Email Address:</b></label>
		<div class="controls">
			<p>${sub.getCommitteeContactEmail()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Embargo:</b></label>
		<div class="controls">
			<p>${sub.getEmbargoType().getDescription()}</p>
		</div>
	</div>

	
	<legend>Uploaded File</legend>
	<div class="control-group">
		<label class="control-label"><b>Primary Document:</b></label>
		<div class="controls">
			<p>${sub.getPrimaryDocument().getName()} ${sub.getPrimaryDocument().getDisplaySize()}</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"></label>
		<div class="controls">
			<p><a href="@{Submit.fileUpload(subId)}">[edit your uploaded files]</a></p>
		</div>
	</div>
	

	
</form>
<br />
<div>
	<legend>Application Activity</legend>
	<br />
	<table class="span11 table-striped table-bordered">
		<thead>
			<tr>
				<td>Name</td>
				<td>Action</td>
				<td>Time</td>
			</tr>
		</thead>
                <tbody>
                    #{list items:actionLogList, as:'log'}
                    <tr>
                        #{if null != log.getPerson() }
                            <td> ${log.getPerson().getFullName()} </td>
                        #{/if}
                        <td> ${log.getEntry()}  </td>
                        <td> ${log.getActionDate().format('dd MMMM yyyy hh:mm')} </td>	    
                    </tr>
                    #{/list}				
                </tbody>
	</table>
</div>

</div>