#{extends 'main.html' /}
#{set title:'Submission Status' /}

<br />
<div class="row pageHead">
    <h3 class="span11">Submission Status</h3>
</div>
<br />

#{ifErrors}
<ul class="red">
    #{errors}
        <li>${error}</li>
    #{/errors}
</ul>
#{/ifErrors}

<div class="row">
    <table class="table table-striped table-bordered table-condensed">    
    
 	<thead>
        <tr>
        	<td>Title</td>
         	<td>Manuscript</td>
         	<td>Status</td>
         	<td>Date Submitted</td>
         	<td>Assigned To</td>
         	<td>Actions</td>
         </tr>
    </thead>
        <tbody>
        
        #{list items:submissionList, as:"submission"}
        
	        <tr>
	            <td>${submission.getDocumentTitle()}</td>
				<td>${controllers.Submit.getDocumentName(submission)}
				
				#{if submission.getPrimaryDocument() != null}
				    <a href="@{Submit.viewPrimaryDocument(submission.getId())}">[view]</a>
				#{/if}
				
				</td>
				<td>${submission.getState().getDisplayName()}</td>
				<td>${submission.getSubmissionDate()== null?"n/a":submission.getSubmissionDate()}</td>
				<td>${submission.getAssignee() == null?"Unassigned":submission.getAssignee().getDisplayName()}</td>
				<td> 
				#{if submission.getState().getDisplayName().equals("In Progress")}
				    <a href="@{Submit.verifyPersonalInformation(submission.getId())}">Continue</a>
				    <a href="@{Submit.deleteSubmission(submission.getId())}">Delete</a>
                #{/if} 
                #{else}
				     <a href="/ut-etd/vireo/view?appID=4967">View</a>				 
				#{/else}
				</td>
				
	        </tr>
        #{/list}

        </tbody></table>
        
        <div class="form-actions row center">
		    <a href="@{Submit.verifyPersonalInformation()}" class="btn btn-primary">Start a new submission</a>
		</div>
        
</div>

