#{extends 'main.html' /}

#{if subId == null}

<div class="row">    
    #{if SUBMISSIONS_OPEN}
    	<p class="center red large">Currently accepting submissions for the ${CURRENT_SEMESTER} semester.</p>
    #{/if}
    #{else}
        	<p class="alert alert-error">Submissions are currently closed for new submissions; please contact your thesis office for more information.</p>
    #{/else}
    
    <ul id="submitSteps" class="unstyled span11 nav">
        <li id="step1Btn"><a href="@{submit.PersonalInfo.personalInfo(subId)}" ${"personalInfo".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step2Btn" class="disabled"><a></a></li>
        <li id="step3Btn" class="disabled"><a></a></li>
        <li id="step4Btn" class="disabled"><a></a></li>
        <li id="step5Btn" class="disabled"><a></a></li>
    </ul>
</div>

#{/if}

#{else}

<div class="row">

    #{if SUBMISSIONS_OPEN}
    	<p class="center red large">Currently accepting submissions for the ${CURRENT_SEMESTER} semester.</p>
    #{/if}
    #{else}
        <p class="alert alert-error">Submissions are currently closed; please contact your thesis office for more information.</p>
    #{/else}
    
    <ul id="submitSteps" class="unstyled span11">
        <li id="step1Btn"><a href="@{submit.PersonalInfo.personalInfo(subId)}" ${"personalInfo".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step2Btn"><a href="@{submit.License.license(subId)}" ${"license".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step3Btn"><a href="@{submit.DocumentInfo.documentInfo(subId)}" ${"documentInfo".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step4Btn"><a href="@{submit.FileUpload.fileUpload(subId)}" ${"fileUpload".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step5Btn"><a href="@{Submit.Confirm.confirm(subId)}" ${"confirm".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
    </ul>
</div>

#{/else}

#{doLayout /}