#{extends 'main.html' /}

<div class="row">

    #{if SUBMISSIONS_OPEN}
    	<p class="center red large">Currently accepting submissions for the ${CURRENT_SEMESTER} semester.</p>
    #{/if}
    #{else}
        <p class="alert alert-error">Submissions are currently closed; please contact your thesis office for more information.</p>
    #{/else}
    
    <ul id="submitSteps" class="unstyled span11">
        <li id="step1Btn" ${"personalInfo".equals(request.actionMethod) ? "class='current'" : ""}><a href="@{submit.PersonalInfo.personalInfo(subId)}" ${"personalInfo".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step2Btn" ${"license".equals(request.actionMethod) ? "class='current'" : ""}><a href="@{submit.License.license(subId)}" ${"license".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step3Btn" ${"documentInfo".equals(request.actionMethod) ? "class='current'" : ""}><a href="@{submit.DocumentInfo.documentInfo(subId)}" ${"documentInfo".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step4Btn" ${"fileUpload".equals(request.actionMethod) ? "class='current'" : ""}><a href="@{submit.FileUpload.fileUpload(subId)}" ${"fileUpload".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
        <li id="step5Btn" ${"confirm".equals(request.actionMethod) ? "class='current'" : ""}><a href="@{Submit.Confirm.confirm(subId)}" ${"confirm".equals(request.actionMethod) ? "class='current'" : ""}></a></li>
    </ul>
</div>

#{doLayout /}