#{extends 'submitSteps.html' /}
#{set title:'Verify Personal Information' /}

<br />
<div class="row pageHead">
	<h3 class="span11">Verify Your Information</h3>
</div>
<br />
<div class="row">
<div class="span7">
<p>Please verify all of your personal information. Some of the information has been provided by your school; if this information is in error, you will need to correct it through the appropriate office at your school.</p>
<p>Required fields are indicated with an asterisk.</p>

#{ifErrors}
<ul class="red">
    #{errors}
    <li>${error}</li> 
    #{/errors}
</ul>
#{/ifErrors}

  <form action="@{submit.verifyPersonalInformation(subId)}" method="post" class="form-horizontal">
  <input type="hidden" name="subId" value="${subId}"/>
		
	<fieldset>
		<legend>Personal Information</legend>
		<div class="control-group #{ifError 'firstName'}error#{/ifError}">
			<label class="control-label" for="firstName"><b>* First Name</b></label>
			<div class="controls">
			    #{if disabledFields.contains("firstName")}
			    <p>${firstName}</p>
			    #{/if} 
		        #{else}
				<input type="text" name="firstName" value="${firstName}">
				#{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'middleName'}error#{/ifError}">
			<label class="control-label" for="middleName">Middle Name</label>
			<div class="controls">
			    #{if disabledFields.contains("middleName")}
                <p>${middleName}</p>
                #{/if} 
                #{else}
				<input type="text" class="span1" name="middleName" value="${middleName}">
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter the first letter of your middle name."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'lastName'}error#{/ifError}">
			<label class="control-label" for="lastName"><b>* Last Name</b></label>
			<div class="controls">
			    #{if disabledFields.contains("lastName")}
                <p>${lastName}</p>
                #{/if} 
                #{else}
				<input type="text" name="lastName" value="${lastName}">
				#{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'emailName'}error#{/ifError}">
			<label class="control-label" for="email"><b>* Email</b></label>
			<div class="controls">
                <p>${submitter.getEmail()}</p>
			</div>
		</div>
		<div class="control-group #{ifError 'birthYear'}error#{/ifError}">
			<label class="control-label" for="birthYear">Year of Birth</label>
			<div class="controls">
			    #{if disabledFields.contains("birthYear")}
                <p>${birthYear}</p>
                #{/if} 
                #{else}
				<input type="text" class="span3" name="birthYear" value="${birthYear}">				
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter the full year in which you were born. For example 1985."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Affiliation</legend>
		<div class="control-group">
			<label class="control-label" for="school"><b>* School</b></label>
			<div class="controls">
				<p>${grantor}</p>
			</div>
		</div>
		<div class="control-group #{ifError 'department'}error#{/ifError}">
			<label class="control-label" for="department"><b>* Department</b></label>
			<div class="controls">
			    #{if disabledFields.contains("department")}
                <p>${department}</p>
                #{/if} 
                #{else}
			    <select name="department">
			        <option #{if department == null}selected="true"#{/if}>...choose</option>
				    #{list items:settingRepo.findAllDepartments(), as:'dept'}
				    <option #{if department == dept.getName()}selected="true"#{/if} value="${dept.getName()}">${dept.getName()}</option>
				    #{/list}
			    </select>
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter the department you belong to."><i class="icon-info-sign">				
				</i></a>
			    #{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'degree'}error#{/ifError}">
			<label class="control-label" for="degree"><b>* Degree</b></label>
			<div class="controls">
			    #{if disabledFields.contains("degree")}
                <p>${degree}</p>
                #{/if} 
                #{else}
				<select id="degree" name="degree">
				    <option #{if degree == null}selected="true"#{/if}>...choose</option>
                    #{list items:settingRepo.findAllDegrees(), as:'degreeObject'}
                    <option #{if degree == degreeObject.getName()}selected="true"#{/if} value="${degreeObject.getName()}">${degreeObject.getName()}</option>
                    #{/list}
				</select>
				<a href="#" class="tooltip-icon" rel="tooltip" title="Choose the type of degree you are seeking."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'major'}error#{/ifError}">
			<label class="control-label" for="major"><b>* Major</b></label>
			<div class="controls">
			    #{if disabledFields.contains("major")}
                <p>${major}</p>
                #{/if} 
                #{else}
				<select id="major" name="major">
				    <option #{if major == null}selected="true"#{/if}>...choose</option>
                    #{list items:settingRepo.findAllMajors(), as:'majorObject'}
                    <option #{if major == majorObject.getName()}selected="true"#{/if} value="${majorObject.getName()}">${majorObject.getName()}</option>
                    #{/list}
				</select>
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter the discipline you specialized in."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Phone &amp; Address</legend>
		<div class="control-group #{ifError 'permPhone'}error#{/ifError}">
			<label class="control-label" for="permPhone"><b>* Permanent Phone:</b></label>
			<div class="controls">
			    #{if disabledFields.contains("permPhone")}
                <p>${permPhone}</p>
                #{/if} 
                #{else}
				<input type="text" class="span3" name="permPhone" value="${permPhone}">
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter a phone number where you can be reached even after you have left school."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'permAddress'}error#{/ifError}">
			<label class="control-label" for="permAddress"><b>* Permanent Address:</b></label>
			<div class="controls">
			    #{if disabledFields.contains("permAddress")}
                <p>${permAddress}</p>
                #{/if} 
                #{else}
				<textarea class="span4" name="permAddress">${permAddress}</textarea>
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter an address where you can be reached even after you complete and leave school."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'permEmail'}error#{/ifError}">
			<label class="control-label" for="permEmail">Permanent Email:</label>
			<div class="controls">
			    #{if disabledFields.contains("permEmail")}
                <p>${permEmail}</p>
                #{/if} 
                #{else}
				<input type="text" class="span3" name="permEmail" value="${permEmail}">
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter an email address you will always have."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'currentPhone'}error#{/ifError}">
			<label class="control-label" for="currentPhone">Current Phone:</label>
			<div class="controls">
			    #{if disabledFields.contains("currentPhone")}
                <p>${currentPhone}</p>
                #{/if} 
                #{else}
				<input type="text" class="span3" name="currentPhone" value="${currentPhone}">
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter a phone number where you can be reached."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
		<div class="control-group #{ifError 'currentAddress'}error#{/ifError}">
			<label class="control-label" for="currentAddress">Current Address:</label>
			<div class="controls">
			    #{if disabledFields.contains("currentAddress")}
                <p>${currentAddress}</p>
                #{/if} 
                #{else}
				<textarea class="span4" name="currentAddress">${currentAddress}</textarea>
				<a href="#" class="tooltip-icon" rel="tooltip" title="Enter an address where you can be reached."><i class="icon-info-sign">				
				</i></a>
				#{/else}
			</div>
		</div>
	</fieldset>
	<fieldset>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" name="submit_next" value="Save and Continue" />
            <input type="submit" class="btn" name="submit_cancel" value="Cancel" />            
        </div>   
    </fieldset>
</form>            
</div>
	<div id="stickyNotes" class="span3">
		<div class="sticky-top"></div>
		<div class="sticky-bottom">Your name should appear as it does on your title page. You can use Unicode characters, if your computer supports them.</div>
		
		<div class="sticky-top"></div>
		<div class="sticky-bottom">Select the degree and major that are listed on your title page.</div>
		
		<div class="sticky-top"></div>
		<div class="sticky-bottom">You must enter a permanent, long-term address. If your present address is different, use the Current Address field.</div>
	</div>
</div>