#{extends 'submitSteps.html' /}
#{set title:'Verify Personal Information' /}

<br />
<div class="row pageHead">
	<h3 class="span11">Verify Your Information</h3>
</div>
<br />
<div id="verifyPersonalInfo" class="row">
<div class="span7">
<p>Please verify all of your personal information. Some of the information has been provided by your school; if this information is in error, you will need to correct it through the appropriate office at your school.</p>
<p>Required fields are indicated with an asterisk.</p>
  <form action="submit/verifyinfo" method="post" class="form-horizontal">
		
	<fieldset>
		<legend>Personal Information</legend>
		<div class="control-group">
			<label class="control-label" for="firstName"><b>* First Name</b></label>
			<div class="controls">
				<p>Claire</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="middleInitial">Middle Initial</label>
			<div class="controls">
				<input type="text" class="span1" id="middleInitial">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="lastName"><b>* Last Name</b></label>
			<div class="controls">
				Danes
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email"><b>* Email</b></label>
			<div class="controls">
				cdanes@gmail.com
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="yearOfBirth">Year of Birth</label>
			<div class="controls">
				<input type="text" class="span3" id="yearOfBirth">
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Affiliation</legend>
		<div class="control-group">
			<label class="control-label" for="school"><b>* School</b></label>
			<div class="controls">
				<p>Texas A&M University at College Station</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="department"><b>* Department</b></label>
			<div class="controls">
				<select id="department">
					<option>...choose</option>
					<option value="1">Accounting</option>
					<option value="2">Aerospace Engineering</option>
					<option value="3">Agricultural Economics</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="degree"><b>* Degree</b></label>
			<div class="controls">
				<select id="degree">
					<option>...choose</option>
					<option value="1">Doctor of Philosophy</option>
					<option value="2">Master of Arts</option>
					<option value="3">Bachelor of Science</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="major"><b>* Major</b></label>
			<div class="controls">
				<select id="major">
					<option>...choose</option>
					<option value="1">Biochemistry</option>
					<option value="2">Horticulture</option>
					<option value="3">Zoology</option>
				</select>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Phone &amp; Address</legend>
		<div class="control-group">
			<label class="control-label" for="permPhone"><b>* Permanent Phone:</b></label>
			<div class="controls">
				<input type="text" class="span3" id="permPhone">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="permAddress"><b>* Permanent Address:</b></label>
			<div class="controls">
				<textarea class="span5" id="permAddress"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="permEmail">Permanent Email:</label>
			<div class="controls">
				<input type="text" class="span3" id="permEmail">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="currentPhone">Current Email:</label>
			<div class="controls">
				<input type="text" class="span3" id="currentPhone">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="currentAddress">Current Address:</label>
			<div class="controls">
				<textarea class="span5" id="currentAddress"></textarea>
			</div>
		</div>
	</fieldset>
	<div class="span10 center">
		<input type="submit" value="Save and Continue >>" id="submit">
	</div>
</form>            
</div>
	<div id="stickyNotes" class="span3">
		<div class="sticky-top"></div>
		<div class="sticky-bottom">Your name should appear as it does on your title page. You can use Unicode characters, if your computer supports them.</div>
		
		<div class="sticky-top"></div>
		<div class="sticky-bottom">Select the degree and major that are listed on your title page.</div>
		
		<div class="sticky-top"></div>
		<div class="sticky-bottom">You must enter a permanent, long-term address. If your present address is different, use the Current Address field.</div>
	</div>
</div>