#{extends 'admin.html' /}

<div id="left-column" class="pull-left">

	#{include 'FilterTab/filters.include' /}
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Advanced Features:</div>
		</div>
		<div class="box-body">
			<div class="sub-heading">EXPORT FUNCTIONS</div>
			<ul class="unstyled">
				<li>Export Items</li>
				<li>Export MARCXML Records</li>
				<li>Export MODS Records</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>

</div>
<div id="right-column">
	<div class="inner">
	    #{if flash.get("error") != null}
	    <div class="alert alert-error">
		    <button class="close" data-dismiss="alert" type="button">×</button>
		    <p><strong>Ops, an error occurred: </strong> ${flash.get("error")}</p>
		    <p>Your filter has been reset.</p>
	    </div>
	    #{/if}
	
		<h1>List ETDs</h1>
		
	   <a href="#customize-search-modal" data-toggle="modal">Customize view</a>
        #{include 'FilterTab/results.include' /}
	</div>
</div>

#{include 'FilterTab/dialogs.include' /}