#{extends 'admin.html' /}
#{set title:'List Active Submissions' /}
<div id="left-column" class="pull-left">

	#{include 'FilterTab/filters.include' /}
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Advanced Features:</div>
		</div>
		<div class="box-body">
            <div class="sub-heading">BATCH OPERATIONS</div>
            <ul class="unstyled">
                <li><a href="#batch-transition-modal" data-toggle="modal">Batch Update Status</a></li>
                <li><a href="#batch-assign-modal" data-toggle="modal">Batch Assign To</a></li>
                <li><a href="#batch-comment-modal" data-toggle="modal">Batch Comment/Email</a></li>
                <li><a href="#batch-export-modal" data-toggle="modal">Download Export</a></li>              
            </ul>
        </div>
		<div class="box-footer">
		
		</div>		
	</div>

</div>
<div id="right-column">
	<div class="inner">
	    #{if flash.get("error") != null}
	    <div class="alert alert-error">
		    <button class="close" data-dismiss="alert" type="button">×</button>
		    <p><strong>Oops, an error occurred: </strong> ${flash.get("error")}</p>
		    <p>Your filter has been reset.</p>
	    </div>
	    #{/if}
	
		<h1>List ETDs</h1>
		
	   <a href="#customize-search-modal" data-toggle="modal">Customize view</a>
        #{include 'FilterTab/results.include' /}
	</div>
</div>

#{include 'FilterTab/dialogs.include' /}