#{extends 'admin.html' /}

<div id="left-column" class="pull-left">

	#{include 'FilterTab/filters.include' /}
	
	<div class="side-box">
		<div class="box-head expanded">
			<div class="expand">[-]</div>
			<div class="main-heading">Advanced Features:</div>
		</div>
		<div class="box-body">
			<div class="sub-heading">EXPORT FUNCTIONS</div>
			<ul class="unstyled">
				<li>Export Items</li>
				<li>Export MARCXML Records</li>
				<li>Export MODS Records</li>
			</ul>
		</div>
		<div class="box-footer">
		
		</div>		
	</div>

</div>
<div id="right-column">
	<div class="inner">
	    #{if flash.get("error") != null}
	    <div class="alert alert-error">
		    <button class="close" data-dismiss="alert" type="button">×</button>
		    <p><strong>Ops, an error occurred: </strong> ${flash.get("error")}</p>
		    <p>Your filter has been reset.</p>
	    </div>
	    #{/if}
	
		<h1>List ETDs</h1>
		
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
				#{list items:columns, as:'column'}
				    #{if orderby == column}
                    <th class="orderby ${ direction == ASCENDING ? "ascending" : "descending" }">
                        <a href="@{FilterTab.modifySearch(nav)}?direction=toggle">&{'LIST_COLUMN_'+column.name()}</a>
                    </th>
                    #{/if}
                    #{else}
                    <th>
                        <a href="@{FilterTab.modifySearch(nav)}?orderby=${column.getId()}">&{'LIST_COLUMN_'+column.name()}</a>
                    </th>
                    #{/else}
				#{/list}
				</tr>
			</thead>
			<tbody>
				#{list items:results.getResults(), as:'sub' }
					<tr>
					    #{list items:columns, as:'column'}
						#{if column == ID}
						<td><a href="@{ViewTab.view()}?subId=${sub.getId()}">${sub.getId()}</a></td>
						#{/if}
						#{elseif column == SUBMITTER}
						<td>
						  #{if sub.getStudentLastName() == null}
						  Unknown
						  #{/if}
						  #{else}${sub.getStudentLastName()}#{/else}#{if sub.getStudentFirstName() != null || sub.getStudentLastName() != null}, ${sub.getStudentFirstName()} ${sub.getStudentMiddleName()}#{/if}
						</td>
						#{/elseif}
						#{elseif column == STATE}
						<td>${sub.getState().getDisplayName()}</td>
						#{/elseif}
						#{elseif column == ASSIGNEE}
						<td>${sub.getAssignee()?.getFullName()}</td>
						#{/elseif}
						#{elseif column == DOCUMENT_TITLE}
						<td>${sub.getDocumentTitle()}</td>
						#{/elseif}
						#{elseif column == DOCUMENT_ABSTRACT}
                        <td>
                            #{if sub.getDocumentAbstract() != null}                             
                                	${sub.getDocumentAbstract().size() < 25 ? sub.getDocumentAbstract() : sub.getDocumentAbstract()?.substring(0,25) + "..."}                               
                            #{/if}
                        </td>
						#{/elseif}
						#{elseif column == DOCUMENT_KEYWORDS}
						<td>${sub.getDocumentKeywords()}</td>
						#{/elseif}
						#{elseif column == PRIMARY_DOCUMENT}
						<td>${sub.getPrimaryDocument()?.getName()}</td>
						#{/elseif}
						#{elseif column == GRADUATION_DATE}
						%{ 
						String monthName = null;
						if (sub.getGraduationMonth() != null && sub.getGraduationMonth() >= 0 && sub.getGraduationMonth() <= 11)
						  monthName = new java.text.DateFormatSymbols().getMonths()[sub.getGraduationMonth()]; 
						}%
                        <td>${sub.getGraduationYear()} ${monthName}</td>
						#{/elseif}
						#{elseif column == SUBMISSION_DATE}
						<td>${sub.getSubmissionDate()?.format('MM/dd/yyyy')}</td>
						#{/elseif}
						#{elseif column == LICENSE_AGREEMENT_DATE}
						<td>${sub.getLicenseAgreementDate()?.format('MM/dd/yyyy')}</td>
						#{/elseif}
						#{elseif column == APPROVAL_DATE}
						<td>${sub.getApprovalDate()?.format('MM/dd/yyyy')}</td>
						#{/elseif}
						#{elseif column == COMMITTEE_APPROVAL_DATE}
						<td>${sub.getCommitteeApprovalDate()?.format('MM/dd/yyyy')}</td>
						#{/elseif}
						#{elseif column == COMMITTEE_EMBARGO_APPROVAL_DATE}
						<td>${sub.getCommitteeEmbargoApprovalDate()?.format('MM/dd/yyyy')}</td>
						#{/elseif}
						#{elseif column == COMMITTEE_MEMBERS}
						<td>
						  #{if sub.getCommitteeMembers().size() == 0}
						  None
						  #{/if}
						  #{elseif sub.getCommitteeMembers().size() == 1}
						  ${sub.getCommitteeMembers()?.get(0).getFullName()}
						  #{/elseif}
						  #{else}
						  ${sub.getCommitteeMembers()?.get(0).getFullName()}, et al.
						  #{/else} 
						</td>
						#{/elseif}
						#{elseif column == COMMITTEE_CONTACT_EMAIL}
						<td>${sub.getCommitteeContactEmail()}</td>
						#{/elseif}
						#{elseif column == COMMITTEE_DISPOSITION}
						<td>
						    #{if sub.getCommitteeDisposition() != null}                             
                                    ${sub.getCommitteeDisposition().size() < 25 ? sub.getCommitteeDisposition() : sub.getCommitteeDisposition()?.substring(0,25) + "..."}                               
                            #{/if}
						</td>
						#{/elseif}
						#{elseif column == DEGREE}
						<td>${sub.getDegree()}</td>
						#{/elseif}
						#{elseif column == COLLEGE}
						<td>${sub.getCollege()}</td>
						#{/elseif}
						#{elseif column == DEPARTMENT}
						<td>${sub.getDepartment()}</td>
						#{/elseif}
						#{elseif column == MAJOR}
						<td>${sub.getMajor()}</td>
						#{/elseif}
						#{elseif column == EMBARGO_TYPE}
						<td>${sub.getEmbargoType()?.getName()}</td>
						#{/elseif}
						#{elseif column == DOCUMENT_TYPE}
						<td>${sub.getDocumentType()}</td>
						#{/elseif}
						#{elseif column == UMI_RELEASE}
						<td>
                           #{if sub.getUMIRelease() == null}
                               N/A
                           #{/if}
                           #{elseif sub.getUMIRelease() == true}
                               No
                           #{/elseif}
                           #{else}
                               Yes
                           #{/else}
                        </td>
						#{/elseif}
						#{elseif column == CUSTOM_ACTIONS}
						<td>${sub.getCustomActions()?.size()}</td>
						#{/elseif}
						#{elseif column == LAST_EVENT_ENTRY}
						<td>${subRepo.findActionLog(sub)?.get(0)?.getEntry()}</td>
						#{/elseif}
						#{elseif column == LAST_EVENT_TIME}
						<td>${subRepo.findActionLog(sub)?.get(0)?.getActionDate()?.format("MM/dd/yyyy")}</td>
						#{/elseif}			   
					    #{/list}
		               </tr>
				#{/list}
				<tr>
					<td class="comments" colspan="${columns.length}">
					   ${results.getTotal()} matching records displayed on ${(int) ((results.getTotal() / results.getLimit()) +1)} pages.
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination">
		  <ul>
		    %{
		      List pagination = results.getPagination(7);
		    }%
		    
		    #{if results.getOffset() - results.getLimit() >= 0 }
            <li><a href="@{FilterTab.modifySearch(nav)}?offset=${ results.getOffset() - results.getLimit() }">Prev</a></li>
		    #{/if}
		    #{else}
		    <li class="disabled"><a href="#">Prev</a></li>
		    #{/else}
		    
		    #{if pagination.get(0).pageNumber > 1}
            <li class="disabled"><a href="#">...</a></li>
		    #{/if}
		    
		    #{list items:pagination, as:'page'}
		    <li #{if page.current == true}class="active"#{/if}>
		      <a href="@{FilterTab.modifySearch(nav)}?offset=${ page.offset }">${page.pageNumber}</a>
		    </li>
		    #{/list}
		    
		     #{if pagination.get(pagination.size()-1).pageNumber < results.getTotal() / results.getLimit() }
            <li class="disabled"><a href="#">...</a></li>
            #{/if}
		    
		    #{if results.getOffset() + results.getLimit() < results.getTotal() }
		    <li><a href="@{FilterTab.modifySearch(nav)}?offset=${ results.getOffset() + results.getLimit() }">Next</a></li>
		    #{/if}
		    #{else}
            <li class="disabled"><a href="#">Next</a></li>
            #{/else}
		    
		     </ul>
		</div>
	</div>
</div>