#{extends 'admin.html' /}
#{set title:'Event Log' /}
<div id="left-column" class="pull-left">

    #{include 'FilterTab/filters.include' /}

</div>
<div id="right-column">
	<div class="inner">
        #{if flash.get("error") != null}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <p><strong>Oops, an error occurred: </strong> ${flash.get("error")}</p>
            <p>Your filter and/or columns may have been reset.</p>
        </div>
        #{/if}
		<h1>Action Log</h1>
		
		<a href="#customize-search-modal" data-toggle="modal">Customize view</a>
        #{include 'FilterTab/results.include' /}
        
	</div>
</div>

#{include 'FilterTab/dialogs.include' /}