<form name="{{'box.'+(column.title.split(' ').join(''))+'Form'}}">
	<ul>
		<li ng-if="doctoralTypes.length > 0" class="filter document-level" ng-click="box.expandDoctoral= box.expandDoctoral?!box.expandDoctoral:true"><span ng-if="box.expandDoctoral">-</span><span ng-if="!box.expandDoctoral">+</span> Doctoral...</li>
		<li class="document-type-list" ng-class="{'expanded': box.expandDoctoral}">
			<ul>
				<li class="document-type-filter filter" ng-click="box[column.title.split(' ').join('')]=dt.name;box.addExactMatchFilter(column, dt.name +' ('+dt.degreeLevel+')');" ng-repeat="dt in doctoralTypes = (box.documentTypes | filter:{degreeLevel: 'DOCTORAL'})">{{dt.name}}</li>
			</ul>
		</li>
		<li ng-if="mastersTypes.length > 0" class="filter document-level" ng-click="box.expandMasters= box.expandMasters?!box.expandMasters:true"><span ng-if="box.expandMasters">-</span><span ng-if="!box.expandMasters">+</span> Masters...</li>
		<li class="document-type-list" ng-class="{'expanded': box.expandMasters}">
			<ul>
				<li class="document-type-filter filter" ng-click="box[column.title.split(' ').join('')]=dt.name;box.addExactMatchFilter(column, dt.name +' ('+dt.degreeLevel+')');" ng-repeat="dt in mastersTypes = (box.documentTypes | filter:{degreeLevel: 'MASTERS'})">{{dt.name}}</li>
			</ul>
		</li>
		<li ng-if="bachelorsTypes.length > 0" class="filter document-level" ng-click="box.expandBachelors=box.expandBachelors?!box.expandBachelors:true"><span ng-if="box.expandBachelors">-</span><span ng-if="!box.expandBachelors">+</span> Bachelors...</li>
		<li class="document-type-list" ng-class="{'expanded': box.expandBachelors}">
			<ul>
				<li class="document-type-filter filter" ng-click="box[column.title.split(' ').join('')]=dt.name;box.addExactMatchFilter(column, dt.name +' ('+dt.degreeLevel+')');" ng-repeat="dt in bachelorsTypes = (box.documentTypes | filter:{degreeLevel: 'BACHELORS'})">{{dt.name}}</li>
			</ul>
		</li>
		<li ng-if="otherTypes.length > 0" class="filter document-level" ng-click="box.expandOther=box.expandOther?!box.expandOther:true"><span ng-if="box.expandOther">-</span><span ng-if="!box.expandOther">+</span> Other...</li>
		<li class="document-type-list" ng-class="{'expanded': box.expandOther}">
			<ul>
				<li class="document-type-filter filter" ng-click="box[column.title.split(' ').join('')]=dt.name;box.addExactMatchFilter(column, dt.name);" ng-repeat="dt in otherTypes = (box.documentTypes | filter:{degreeLevel: 'NONE'})">{{dt.name}}</li>
			</ul>
		</li>

	</ul>
</form>