<div class="row" ng-controller="SettingsController">
	<div class="col-xs-12">

	<accordion>
		<pane html="view/admin/settings/application/submissionAvailability.html">SUBMISSION AVAILABILITY</pane>
		<pane html="view/admin/settings/application/orcidSettings.html">ORCID SETTINGS</pane>
		<pane html="view/admin/settings/application/proquestUmiSettings.html">PROQUEST / UMI SETTINGS</pane>
		<pane html="view/admin/settings/application/degreeCodes.html">DEGREE CODES</pane>
	</accordion>

	</div>
</div>