<div class="row" ng-controller="SettingsController">
	<div class="col-xs-12">

	<h1>APPLICATION SETTINGS</h1>
	<p>Customize application wide settings</p>

	<accordion single-expand="true">
		<pane hash="submissionAvailability" html="views/admin/settings/application/submissionAvailability.html">SUBMISSION AVAILABILITY</pane>
		<pane hash="orcidSettings" html="views/admin/settings/application/orcidSettings.html">ORCID SETTINGS</pane>
		<pane hash="proquestUmiSettings" html="views/admin/settings/application/proquestUmiSettings.html">PROQUEST / UMI SETTINGS</pane>
		<pane hash="degreeCodes" html="views/admin/settings/application/degreeCodes.html">DEGREE CODES</pane>
		<pane hash="submissionLicense" html="views/admin/settings/application/submissionLicense.html">SUBMISSION LICENSE</pane>
		<pane hash="customActionsChecklist" html="views/admin/settings/application/customActionsChecklist.html">CUSTOM ACTIONS CHECKLIST</pane>
		<pane hash="depositLocations" html="views/admin/settings/application/depositLocations.html">DEPOSIT LOCATIONS</pane>
		<pane hash="whoHasAccess" html="views/admin/settings/application/whoHasAccess.html">WHO HAS ACCESS</pane>
		<pane hash="lookAndFeel" html="views/admin/settings/application/lookAndFeel.html">LOOK AND FEEL</pane>
	</accordion>

	</div>
</div>


<!-- TODO: hash to query -->