<div class="row admin-settings" ng-controller="OrganizationSettingsController">
	<div class="col-xs-12 tryptic" ng-controller="TrypticController">
		<h1>ORGANIZATIONS AND WORKFLOWS</h1>
		<div class="row tryptic-navigation">
			<div class="row">
				<div class="col-xs-11">
					<ul class="breadcrumb">
						<li ng-click="resetPanels()"><a href="#">Vireo Institution</a></li>
						<li ng-repeat="panelEntry in panelHistory" ng-click="rewindPanels(panelEntry)">
							<a href="#">{{panelEntry.selectedOrganization.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="down-arrow">
						<span class="glyphicon glyphicon-arrow-down"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row tryptic-panels">
			<div class="col-xs-4" ng-repeat="panel in [0,1,2]">
				<ul ng-click="setActivePanel(panel)" ng-class="{'active': panelIsActive(panel)}" class="tryptic-panel">
					<li ng-repeat="organization in organizations.list" 
						ng-if="filterPanelByParent(panel, organization)" 
						ng-click="shiftPanels(panel, organization);"
						ng-class="{'selected': entryIsSelected(panel, organization)}"
						class="tryptic-panel-entry">
						{{organization.name}}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="organizationManagement" class="col-xs-11" ng-controller="OrganizationManagementController">
		<div class="row" ng-hide="!getSelectedOrganization()">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span ng-click="activateManagementPane('edit')" ng-class="{active: managementPaneIsActive('edit')}">Manage Organization</span> | 
					<span ng-click="activateManagementPane('workflow')" ng-class="{active: managementPaneIsActive('workflow')}">Manage Workflow</span>
				</h3>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 panel-wrap" ng-class="{active: managementPaneIsActive('edit')}">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Edit Organization</h3>
								</div>
								<form id="updateOrganization" ng-submit="updateOrganization(managedOrganization)">
									<textField 
										label="Name" 
										scope-value="getManagedOrganization().name"
										label-width="3"
										field-width="4"
										expanded="true">
									</textField>
									<div class="form-group text-field clearfix">
										<div class="col-sm-3">
											<span class="text-field-heading">Category</span>
										</div>
										<div class="col-sm-4 expanded">
											<div class="with-tool-tip">
												<div class="with-hint">
													<select name="organizationCategory" id="organizationCategory" class="form-control" ng-model="getManagedOrganization().category" ng-options="category.id as category.name for category in organizationCategories.list">
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-warning" ng-click="resetManagedOrganization()">Cancel</button>
										<input type="submit" class="btn btn-primary" value="Save" />
									</div>
								</form>
							</div>
						</div>
						<div class="col-xs-12 panel-wrap" ng-class="{active: managementPaneIsActive('workflow')}">
							<div class="panel panel-default">
								<div class="panel-heading">
									<button type="button" class="btn-xs btn-primary pull-right" style="padding-bottom: 4px;">
										<span class="glyphicon glyphicon-plus pull-right"></span>
									</button>
									<h3 class="panel-title">Information Security Workflow</h3>
								</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item">Step 1
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
										<li class="list-group-item">Step 2
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
										<li class="list-group-item">Step 3
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
										<li class="list-group-item">Step 4
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
										<li class="list-group-item">Step 5
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<<div class="row">
			<div class="col-xs-3">
				<div style="padding-bottom: 10px; padding-top: 0px; padding-left: 40%; padding-right: 0px;">
						<span class="glyphicon glyphicon-arrow-down"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4" style="padding-right: 0px; padding-left: 0px;">
				<div class="col-xs-11">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Degree</h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item active" style="background-color: #92aa9c; border-color: #43606E;">
									<h4 class="list-group-item-heading">Bachelor of Science</h4>
									<p class="list-group-item-text">
										<span class="label label-warning">Degree</span>
									</p>
								</a>
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">Master of Science</h4>
									<p class="list-group-item-text">
										<span class="label label-warning">Degree</span>
									</p>
								</a>
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">Ph.D. of Science</h4>
									<p class="list-group-item-text">
										<span class="label label-warning">Degree</span>
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-1" style="padding-right: 0px; padding-left: 0px;">
					<span class="glyphicon glyphicon-arrow-right"></span>
				</div>
			</div>
			<div class="col-xs-4" style="padding-right: 0px; padding-left: 0px;">
				<div class="col-xs-11">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Major</h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">Aeronautics</h4>
									<p class="list-group-item-text">
										<span class="label label-info">Major</span>
									</p>
								</a>
								<a href="#" class="list-group-item active" style="background-color: #92aa9c; border-color: #43606E;">
									<h4 class="list-group-item-heading">Computer Science</h4>
									<p class="list-group-item-text">
										<span class="label label-info">Major</span>
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-1" style="padding-right: 0px; padding-left: 0px;">
					<span class="glyphicon glyphicon-arrow-right"></span>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Department</h3>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<a href="#" class="list-group-item active" style="background-color: #43606E; border-color: #43606E;" >
									<h4 class="list-group-item-heading">Information Security</h4>
									<p class="list-group-item-text">
										<span class="label label-primary">Department</span>
									</p>
								</a>
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">Software Engineering</h4>
									<p class="list-group-item-text">
										<span class="label label-primary">Department</span>
									</p>
								</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Manage Organization</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<form class="form-signin">
								<label for="inputName">Name</label>
								<input type="text" id="inputName" class="form-control" placeholder="Name" value="{{getSelectedOrganization().name}}" required="" autofocus="" style="margin-bottom: 20px;">
								<label for="inputCategory">Category</label>
								<select id="inputCategory" class="form-control label label-primary">
									<option class="label-success">Institution</option>
									<option class="label-danger">College</option>
									<option class="label-warning">Degree</option>
									<option class="label-info">Major</option>
									<option class="label-primary" selected="selected">Department</option>
								</select>
								<div class="modal-footer">
									<button type="button" class="btn btn-warning">Cancel</button>
									<button type="button" class="btn btn-primary">Save</button>
								</div>
							</form>
						</div>
						<div class="col-xs-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<button type="button" class="btn-xs btn-primary pull-right" style="padding-bottom: 4px;">
										<span class="glyphicon glyphicon-plus pull-right"></span>
									</button>
									<h3 class="panel-title">Information Security Workflow</h3>
								</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item">Step 1
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
										<li class="list-group-item">Step 2
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
										<li class="list-group-item">Step 3
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
										<li class="list-group-item">Step 4
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
										<li class="list-group-item">Step 5
											<ul class="inline-list pull-right">
												<li><span class="glyphicon glyphicon-pencil pull-right"></span></li>
												<li><span class="glyphicon glyphicon-trash pull-right"></span></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
-->