<div class="row">
	<div class="col-sm-10 col-sm-push-2">
		
		<tabs target="settingsView">
			<tab path="application" html="views/admin/settings/application.html">Application</tab>
			<tab path="organization" html="views/admin/settings/organization.html">Organization</tab>
			<tab path="workflow" html="views/admin/settings/workflow.html">Workflow</tab>
		</tabs>

		<tabview class="settings-view" for="settingsView">
		</tabview>
	</div>
	<div class="col-sm-2 col-sm-pull-10" ng-controller="SidebarController">
		<sidebox heading="{{box.title}}" ng-repeat="box in sidebarBoxes">
			<div ng-include="box.viewUrl"></div>
		</sidebox>
	</div>
</div>