<div class="row">
	<div class="col-sm-2">
		
		<sidebox heading="My Profile">
			<sideboxsub>NAME</sideboxsub>
			<ul class="myProfile-ul">
				<li><username></username></li>
			</ul>
			<sideboxsub>EMAIL</sideboxsub>
			<ul class="myProfile-ul">
				<li><useremail></useremail></li>
			</ul>
		</sidebox>

		<sidebox heading="My Preferences">
			
			<sideboxsub>DISPLAY NAME</sideboxsub>			
			<div class="form-group">
				<input id="displayName" type="text" name="displayName"  class="form-control" ng-model="user.displayName" ng-change="update('displayName')"/>
			</div>

			<sideboxsub>PREFERRED EMAIL</sideboxsub>
			<div class="form-group">
				<input id="currentEmail" name="currentEmail" class="form-control" type="text" ng-model="user.email" />
				<input id="ccEmail" name="ccEmail" type="checkbox"/> I want to recieve copy of all emails sent by the system on my behalf.
			</div>
		
		</sidebox>	
			
		
	</div>
	<div class="col-sm-10">
		
		<tabs target="settingsView">
			<tab path="user" html="views/admin/settings/user.html">User Preferences</tab>
			<tab path="application" html="views/admin/settings/application.html">Application</tab>
			<tab path="submission" html="views/admin/settings/submission.html">Submission</tab>
			<tab path="theme" html="views/admin/settings/theme.html">Theme</tab>
			<tab path="email" html="views/admin/settings/email.html">Email</tab>
			<tab path="configurable" html="views/admin/settings/configurable.html">Configurable</tab>
		</tabs>

		<tabview class="settings-view" for="settingsView">
		</tabview>
	</div>
</div>