<h2>VIEW TAB OPTIONS</h2>
	
<form class="form-inline" role="form">
	<legendbox heading="When adding notes, which options should be checked by default?">

		<div class="checkbox form-group">
			<label ng-click="updateUserSetting('notes_email_student_by_default')">
		  		<input  name="notes_email_student_by_default" 
		  				type="checkbox"  
		  				ng-true-value="'true'" 
		  				ng-model="settings.user.notes_email_student_by_default" />
		       	<span>Email the student</span>
			</label>	
		</div>

		<div class="checkbox form-group">
			<label ng-click="updateUserSetting('notes_cc_student_advisor_by_default')">
		  		<input  name="notes_cc_student_advisor_by_default" 
		  				type="checkbox" 
		  				ng-true-value="'true'" 
		  				ng-model="settings.user.notes_cc_student_advisor_by_default" />
		       	<span>CC student's advisor</span>
			</label>	
		</div>

		<div class="checkbox form-group">
			<label ng-click="updateUserSetting('notes_flag_submission_as_needs_corrections_by_default')">
		  		<input  name="notes_flag_submission_as_needs_corrections_by_default" 
		  				type="checkbox" 
		  				ng-true-value="'true'" 
		  				ng-model="settings.user.notes_flag_submission_as_needs_corrections_by_default" />
		       	<span>Flag submission as Needs Corrections</span>
			</label>	
		</div>

		<div class="checkbox form-group">
			<label ng-click="updateUserSetting('notes_mark_comment_as_private_by_default')">
		  		<input  name="notes_mark_comment_as_private_by_default" 
		  				type="checkbox" 
		  				ng-true-value="'true'" 
		  				ng-model="settings.user.notes_mark_comment_as_private_by_default" />
		       	<span>Flag submission as Needs Corrections</span>
			</label>	
		</div>

	</legendbox>

	<legendbox heading="When attaching files, which options should be checked by default?">

		<div class="checkbox form-group">
			<label ng-click="updateUserSetting('attachment_email_student_by_default')">
		  		<input  name="attachment_email_student_by_default" 
		  				type="checkbox" 
		  				ng-true-value="'true'" 
		  				ng-model="settings.user.attachment_email_student_by_default" />
		       	<span>Email the student</span>
			</label>	
		</div>

		<div class="checkbox form-group">
			<label ng-click="updateUserSetting('attachment_cc_student_advisor_by_default')">
		  		<input  name="attachment_cc_student_advisor_by_default" 
		  				type="checkbox" 
		  				ng-true-value="'true'" 
		  				ng-model="settings.user.attachment_cc_student_advisor_by_default" />
		       	<span>CC student's advisor</span>
			</label>	
		</div>

		<div class="checkbox form-group">
			<label ng-click="updateUserSetting('attachment_flag_submission_as_needs_corrections_by_default')">
		  		<input  name="attachment_flag_submission_as_needs_corrections_by_default" 
		  				type="checkbox" 
		  				ng-true-value="'true'" 
		  				ng-model="settings.user.attachment_flag_submission_as_needs_corrections_by_default" />
		       	<span>Flag submission as Needs Corrections</span>
			</label>	
		</div>

	</legendbox>

	<p>{{test}}</p>
	<p><span tooltip="Here is a message about the tooltip">test 1</span></p>
	<p><span tooltip="Here is another message about the tooltip">test 2 </span></p>
</form>
