<h2>VIEW TAB OPTIONS</h2>


	<form class="form-inline" role="form">
		<legendbox heading="When adding notes, which options should be checked by default?">

			<checkbox name="attachment_flag_submission_as_needs_corrections_by_default" >Email the student</checkbox>


			<div class="checkbox form-group">
				<label>
				   <input name="notes_email_student_by_default" type="checkbox" class="checkbox">
				       Email the student	   
				</label>
			</div>
			<div class="checkbox form-group">
				<label>
				   <input name="notes_cc_student_advisor_by_default" type="checkbox" class="checkbox">
				       CC student's advisor	   
				</label>
			</div>
			<div class="checkbox form-group">
				<label>
				   <input name="notes_flag_submission_as_needs_corrections_by_default" type="checkbox" class="checkbox">
				       Flag submission as Needs Corrections	   
				</label>
			</div>
			<div class="checkbox form-group">
				<label>
			   	<input name="notes_mark_comment_as_private_by_default" type="checkbox" class="checkbox">
			       Mark comment as private	   
				</label>
			</div>		
		</legendbox>


		<legendbox heading="When attaching files, which options should be checked by default?">
			<checkbox name="attachment_email_student_by_default">Email the student</checkbox>
			<!-- <div class="checkbox form-group">
				<label>
	   				<input name="attachment_email_student_by_default" type="checkbox" class="checkbox">
	       					   
				</label>
				</div> -->
			<div class="checkbox form-group">
				<label>
			  	 	<input name="attachment_cc_student_advisor_by_default" type="checkbox" class="checkbox">
			      	 CC student's advisor	   
				</label>
			</div>
			<div class="checkbox form-group">
				<label>
			  		<input name="attachment_flag_submission_as_needs_corrections_by_default" type="checkbox" class="checkbox">
			       Flag submission as Needs Corrections	   
				</label>	
			</div>
			
		</legendbox>
	</form>



	

	

