<h2>VIEW TAB OPTIONS</h2>

	<form class="form-inline" role="form">
		<legendbox heading="When adding notes, which options should be checked by default?">
			<checkbox name="notes_email_student_by_default" >Email the student</checkbox>
			<checkbox name="notes_cc_student_advisor_by_default" >CC student's advisor</checkbox>
			<checkbox name="notes_flag_submission_as_needs_corrections_by_default" >Flag submission as Needs Corrections</checkbox>
			<checkbox name="notes_mark_comment_as_private_by_default" >Mark comment as private</checkbox>
		</legendbox>

		<legendbox heading="When attaching files, which options should be checked by default?">
			<checkbox name="attachment_email_student_by_default">Email the student</checkbox>
			<checkbox name="attachment_cc_student_advisor_by_default">CC student's advisor</checkbox>
			<checkbox name="attachment_flag_submission_as_needs_corrections_by_default">Flag submission as Needs Corrections</checkbox>
		</legendbox>
	</form>



	

	

