#{extends 'firstUser.html' /}
#{set title:'Create New User' /}

<div style="padding:0 15px;">
	<div class="inner">
		<div id="mainHeader"><h1>Welcome to <a href="https://github.com/TexasDigitalLibrary/Vireo">Vireo ${ play.Play.configuration.get("vireo.version") }</a>. Please create your administrator account.</h1></div>
		<div class="well">
		#{ifErrors}
		<ul class="red">
		    #{errors}
		    <li>${error}</li> 
		    #{/errors}
		</ul>
		#{/ifErrors}
			<form class="form-horizontal" action="@{FirstUser.createUser()}" method="POST">
				<fieldset>
					<div class="control-group #{ifError 'firstName'}error#{/ifError}">
						<label class="control-label" for="input01"><b>* First Name:</b></label>
						<div class="controls">
						<input type="text" class="input-xlarge" name="firstName" value="#{if firstName}${firstName}#{/if}">
						
						</div>
					</div>
					<div class="control-group #{ifError 'lastName'}error#{/ifError}">
						<label class="control-label" for="input01"><b>* Last Name:</b></label>
						<div class="controls">
						<input type="text" class="input-xlarge" name="lastName" value="#{if lastName}${lastName}#{/if}">
						</div>
					</div>
					<div class="control-group #{ifError 'email'}error#{/ifError}">
						<label class="control-label" for="input01"><b>* Email:</b></label>
						<div class="controls">
						<input type="text" class="input-xlarge" name="email" value="#{if email}${email}#{/if}">
						</div>
					</div>
					<div class="control-group #{ifError 'password1'}error#{/ifError} #{ifError 'passwords'}error#{/ifError}">
						<label class="control-label" for="input01"><b>* Password:</b></label>
						<div class="controls">
						<input type="password" class="input-xlarge" name="password1" value="#{if password1}${password1}#{/if}">
						</div>
					</div>
					<div class="control-group #{ifError 'password2'}error#{/ifError} #{ifError 'passwords'}error#{/ifError}">
						<label class="control-label" for="input01"><b>* Retype Password:</b></label>
						<div class="controls">
						<input type="password" class="input-xlarge" name="password2" value="">
						</div>
					</div>
					<div class="control-group #{ifError 'netids'}error#{/ifError}">
						<p>Optionally, if you would like a shibboleth account to be an admin as well, provide your NetId.</p>
						<label class="control-label" for="input01">NetId:</label>
						<div class="controls">
						<input type="text" class="input-xlarge" name="netid1" value="#{if netid1}${netid1}#{/if}">
						</div>
					</div>
					<div class="control-group">
						<label></label>
						<div class="controls">
						<input type="submit" name="createFirstUser" class="btn btn-primary" value="Create User" />
						</div>
					</div>
				</fieldset>				
			</form>
		</div>
	</div>
</div>