#{extends 'admin.html' /}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/vireo-viewtab.js'}" type="text/javascript" charset="${_response_encoding}"></script> 
<script type="text/javascript" >
jQuery(document).ready(function(){
	
	 var subId = ${submission.getId()};
	 var refreshActionLogURL = "@{ViewTab.refreshActionLogTable()}";
	 var refreshLeftColumnURL = "@{ViewTab.refreshLeftColumn()}";
	 var updateJSONURL = "@{ViewTab.updateJSON()}";
	 var updateCommitteeMemberJSONURL = "@{ViewTab.updateCommitteeMemberJSON()}";
	 var addCommitteeMemberJSONURL = "@{ViewTab.addCommitteeMemberJSON()}";
	 var removeCommitteeMemberJSONURL = "@{ViewTab.removeCommitteeMemberJSON()}";
	 var retrieveTemplateJSONURL = "@{ViewTab.retrieveTemplateJSON()}";
	 var updateCustomActionJSONURL = "@{ViewTab.updateCustomActionsJSON()}";
	
	/**
	 * Cancel Editing
	 */
	jQuery(".icon-remove").live("click", cancelEditingHandler());
	
	jQuery(document).click(function(event){		
		if(jQuery(event.target).closest(".editing").length == 0) {			
			if(jQuery(".editing").length > 0) {
				jQuery(".icon-remove").click();
			}
		}
	});
	 
	/**
	 * Swap from span to input field.
	 */ 
	 jQuery(".edit-box ul li.edit span").live("click", swapToInputHandler());
	
	/*
	 * Swap committee member content into editable fields.
	 */
	jQuery("#committeeMembers .editCommitteeMember").live("click", editCommitteeMemberHandler());
	
	/*
	 * Add new committee member event
	 */
	 jQuery("#add_new_member button").click(addCommitteeMemberHandler());
	
	/*
	 * Remove a committee member
	 */
	 jQuery(".remove-committee-member").live("click", function(){
		 if (jQuery(this).text().indexOf("Are you sure?") >= 0) {
			 removeCommitteeMemberHandler(removeCommitteeMemberJSONURL, jQuery(this));
			 updateActionLog(refreshActionLogURL, subId);
			 updateLeftColumn(refreshLeftColumnURL, subId);
		 } else {
			 jQuery(this).text("(Are you sure?)");
			 return false;
		 }
	 });
	
	/*
	 * Commit changes
	 */
	jQuery(".icon-ok").live("click", function(){		
		if(jQuery(this).closest(".add").length){
			commitNewCommitteeMemberHandler(subId, addCommitteeMemberJSONURL);
		} else {			
			var $this = jQuery(this);
			commitChangesHandler($this, updateJSONURL, updateCommitteeMemberJSONURL, subId);
		}
		updateActionLog(refreshActionLogURL, subId);
		updateLeftColumn(refreshLeftColumnURL, subId);
		
	});
	
	jQuery(document).live("keypress", function(event){
		var keycode = (event.keyCode ? event.keyCode : event.which);
		if(keycode == '13' && !event.shiftKey){
			jQuery(".icon-ok").click();
		}
	});
	
	/**
	 * Update Custom Actions
	 */
	 jQuery(".custom-action").live("change", function(){
		 $this = jQuery(this);
		 updateCustomActionsHandler(updateCustomActionJSONURL, subId, $this.attr("name"), $this.is(':checked'));
		 updateActionLog(refreshActionLogURL, subId);
		 updateLeftColumn(refreshLeftColumnURL, subId);
	 });
		
	/**
	 * Special Value Event
	 */
	 jQuery(".special-value").live("click", function(){
		 
		var form = jQuery(this).closest("form");
		var value = jQuery(this).attr("id");
		 
		// Confirm before deleting
		if(jQuery(this).hasClass("deleteState")) {
			jQuery(this).text("(Are you sure?)");
			jQuery(this).removeClass("deleteState");
			return false;
		} 

		// Check if we need to ask for a deposit location before submitting
		if (jQuery(this).hasClass("ask-for-deposit-location") &&
		    jQuery("#select-depositLocation").is(':hidden')) {

			jQuery("#select-depositLocation").slideToggle();
			jQuery("select[name='submission-status']").val(value);
			return false;
		}
		
		// If this is jump to any transition, check if we need to ask for a deposit location.
		if (jQuery(this).is("#transition-jump")) {
			value = jQuery("select[name='submission-status']").val();
			var option = jQuery("select[name='submission-status'] option[value='"+value+"']");
			if (option.hasClass("ask-for-deposit-location") &&
				jQuery("#select-depositLocation").is(':hidden')) {
				
				jQuery("#select-depositLocation").slideToggle();
				return false;
			}
		}

		assignSpecialValueAndSubmit(form, value);

	 });
	
	/**
	 * Retrieve template data event
	 */
	 jQuery("#add-comment-modal select[name='email_template']").live("change", function(){
		 retrieveTemplateHandler(retrieveTemplateJSONURL, jQuery(this).val());
	 });
	
	/**
	 * Add Comment Disable/Enable Events
	 */
	 jQuery("#add-comment-modal input[name='visibility']").live("click", toggleAddCommentEmailOptions());
	 jQuery("input[name='email_student']").live("click", toggleCarbonCopyAdvisor());
	 
	/**
	 * Add File Events
	 */
	 jQuery("#add-file-modal input[name='uploadType']").live("change", toggleFileOptions());
	
	 
	 
	 jQuery(".state-transition.btn-success").live("click",function () {
		 
		 // Check if there are more than one deposit location.
		 if (jQuery("#select-depositLocation").length > 0) {
			 // Check if we have asked for it yet.
			 if (jQuery("#select-depositLocation").hasClass('hide')) {
				 // Show the option if not.
				 jQuery("#select-depositLocation").slideToggle();
				 
				 return false;
			 } 
		 }
		 
		 // All other cases we just submit the form.
	 });
	 
});
</script>
#{/set}

<div id="left-column" class="pull-left">

	#{include 'ViewTab/leftColumn.include' /}	
		
</div>

<div id="right-column">
	<div class="inner">
		<div id="alert-area">*{Javascript may dynamically fill this div with errors as needed.}*</div>
		<h1>${submission.getStudentLastName()}, ${submission.getStudentFirstName()} (${submission.getMajor()} - ${submission.getDegree()})</h1>
		
		<div class="edit-holder pull-left">
			<ul class="nav nav-tabs">
				<li class="active"><a class="personalInfo" href="#">Personal Info</a></li>
				<li><a class="docInfo" href="#">Document Info</a></li>
				<li><a class="degreeInfo" href="#">Degree Info</a></li>
			</ul>
			<div id="personalInfo" class="edit-box-holder">
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>First Name:</label><span id="firstName"
						#{if submission.getStudentFirstName()}
							><i class="icon-pencil"></i> ${submission.getStudentFirstName()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Middle Name:</label><span id="middleName"
						#{if submission.getStudentMiddleName()}
							><i class="icon-pencil"></i> ${submission.getStudentMiddleName()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>							
					<li class="edit"><label>Last Name:</label><span id="lastName"
						#{if submission.getStudentLastName()}
							><i class="icon-pencil"></i> ${submission.getStudentLastName()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Email:</label><span id="email"
						#{if submitter.getEmail()}
							><i class="icon-pencil"></i> ${submitter.getEmail()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Year of Birth:</label><span id="birthYear"
						#{if submission.getStudentBirthYear()}
							><i class="icon-pencil"></i> ${submission.getStudentBirthYear()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
				</ul>
			</div>
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>Permanent Phone:</label><span id="permPhone"
						#{if submitter.getPermanentPhoneNumber()}
							><i class="icon-pencil"></i> ${submitter.getPermanentPhoneNumber()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Permanent Email:</label><span id="permEmail"
						#{if submitter.getPermanentEmailAddress()}
							><i class="icon-pencil"></i> ${submitter.getPermanentEmailAddress()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Permanent Address:</label><span id="permAddress"
						#{if submitter.getPermanentPostalAddress()}
							class="textarea"><i class="icon-pencil"></i> ${submitter.getPermanentPostalAddress()}
						#{/if}#{else}
							class="textarea empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Current Phone:</label><span id="currentPhone"
						#{if submitter.getCurrentPhoneNumber()}
							><i class="icon-pencil"></i> ${submitter.getCurrentPhoneNumber()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Current Address:</label><span id="currentAddress"
						#{if submitter.getCurrentPostalAddress()}
							class="textarea"><i class="icon-pencil"></i> ${submitter.getCurrentPostalAddress()}
						#{/if}#{else}
							class="textarea empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
				</ul>
			</div>
			<div class="clear"></div>
			</div>
			
			<div id="docInfo" class="edit-box-holder hidden">
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>Title:</label><span id="title"
						#{if submission.getDocumentTitle()}
							><i class="icon-pencil"></i> ${submission.getDocumentTitle()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Embargo:</label><span id="embargo"
						#{if submission.getEmbargoType()}
							class="select"><i class="icon-pencil"></i> ${submission.getEmbargoType().getName()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>UMI Release:</label><span id="umiRelease"
						#{if submission.getUMIRelease() != null}
							class="select"><i class="icon-pencil"></i> ${submission.getUMIRelease()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Document Type:</label><span id="docType"
						#{if submission.getDocumentType()}
							class="select"><i class="icon-pencil"></i> ${submission.getDocumentType()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Keywords:</label><span id="keywords"
						#{if submission.getDocumentKeywords()}
							class="textarea"><i class="icon-pencil"></i> ${submission.getDocumentKeywords()}
						#{/if}#{else}
							class="textarea empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
				</ul>
			</div>
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>Abstract:</label><span id="abstract"
						#{if submission.getDocumentAbstract()}
							class="textarea"><i class="icon-pencil"></i> ${submission.getDocumentAbstract()}
						#{/if}#{else}
							class="textarea empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
				</ul>
			</div>
			<div class="clear"></div>
			</div>
			
			<div id="degreeInfo" class="edit-box-holder hidden">
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>School:</label><span id="college"
						#{if submission.getCollege()}
							class="select"><i class="icon-pencil"></i> ${submission.getCollege()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Department:</label><span id="department"
						#{if submission.getDepartment()}
							class="select"><i class="icon-pencil"></i> ${submission.getDepartment()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Degree:</label><span id="degree"
						#{if submission.getDegree()}
							class="select"><i class="icon-pencil"></i> ${submission.getDegree()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li><label>Degree Level:</label><span id="degreeLevel"
						#{if submission.getDegreeLevel()}
							class="select">${submission.getDegreeLevel()}
						#{/if}#{else}
							class="empty"> none
						#{/else}
						</span></li>
					<li class="edit"><label>Major:</label><span id="major"
						#{if submission.getMajor()}
							class="select"><i class="icon-pencil"></i> ${submission.getMajor()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Graduation Semester:</label><span id="gradSemester"
						#{if submission.getGraduationMonth() && submission.getGraduationYear()}
							><i class="icon-pencil"></i> ${gradMonth} ${submission.getGraduationYear()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Advisor Email:</label><span id="advisorEmail"
						#{if submission.getCommitteeContactEmail()}
							><i class="icon-pencil"></i> ${submission.getCommitteeContactEmail()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li><label></label><span><button class="btn">Send Advisor Approval Email</button></span></li>
				</ul>				
			</div>
			<div id="committeeMembers" class="edit-box pull-left">				
				<ul class="unstyled">
					<li><i class="icon-pencil"></i> <b>Committee Members:</b>
					<ul class="unstyled" style="padding:10px 0 0 30px;">
					#{if submission.getCommitteeMembers()}
					#{list items:submission.getCommitteeMembers(), as:'value'}
						
						<li class="${value.getId()}">
							<div class="editCommitteeMember">
								<span class="lastName">${value.getLastName()}</span><span class="seperator">,</span>
								<span class="firstName">${value.getFirstName()}</span> 
								<span class="middleName">${value.getMiddleName()}</span>
								#{if value.isCommitteeChair()}
								<span class="chair label label-info">chair</span>
								#{/if}
							</div>
						</li>
						
					#{/list}
						<li id="add_new_member"><button class="btn">Add New Member</button></li>						
					#{/if}
					#{else}
					<li class="empty">none</li>
					#{/else}
					</ul></li>
				</ul>				
			</div>
			<div class="clear"></div>
			</div>
			
			<!-- Hidden Select Options -->
			<div id="embargoOptions" style="display:none;">
				#{list items:settingRepo.findAllEmbargoTypes(), as:'embargo'}
					<option value="${embargo.getId()}">${embargo.getName()}</option>
				#{/list}
			</div>
			<div id="umiReleaseOptions" style="display:none;">
				<option value="true">true</option>
				<option value="false">false</option>
			</div>
			<div id="docTypeOptions" style="display:none;">
				#{list items:settingRepo.findAllDocumentTypes(), as:'docType'}
					<option value="${docType.getName()}">${docType.getName()} - ${docType.getLevel()}</option>
				#{/list}
			</div>
			<div id="collegeOptions" style="display:none;">
				#{list items:settingRepo.findAllColleges(), as:'college'}
					<option value="${college.getName()}">${college.getName()}</option>
				#{/list}
			</div>
			<div id="departmentOptions" style="display:none;">
				#{list items:settingRepo.findAllDepartments(), as:'department'}
					<option value="${department.getName()}">${department.getName()}</option>
				#{/list}
			</div>
			<div id="degreeOptions" style="display:none;">
				#{list items:settingRepo.findAllDegrees(), as:'degree'}
					<option value="${degree.getName()}">${degree.getName()}</option>
				#{/list}
			</div>
			<div id="majorOptions" style="display:none;">
				#{list items:settingRepo.findAllMajors(), as:'major'}
					<option value="${major.getName()}">${major.getName()}</option>
				#{/list}
			</div>
			
		</div>
		
		<h2>ACTION LOG</h2>
		<table id="actionLog" class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<td>Action by</td>
					<td>Action / Comment</td>
					<td>Time</td>
				</tr>
			</thead>
			#{include 'ViewTab/actionLogTable.include' /}
		</table>
		
		<a id="fileList"></a>
		<h2>ALL FILES</h2>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<td>Name</td>
					<td>File</td>
					<td>Type</td>
					<td>Time</td>
				</tr>
			</thead>
			<tbody>
				#{list items:submission.getAttachments(), as:'attachment'}
					<tr>
						<td>${attachment.getPerson().getFirstName()} ${attachment.getPerson().getLastName()}</td>
						<td><a href="@{ViewTab.viewFile(attachment.getId(), attachment.getName())}" target="_blank">${attachment.getName()}</a> (${attachment.getDisplaySize()})</td>
						<td>${attachment.getType()}</td>
						<td>${attachment.getDate()?.format("MM/dd/yyyy hh:mm:ss")}</td>
					</tr>
				#{/list}				
				<tr>
					<td colspan="4" class="comments tr">
					<a href="#add-file-modal" data-toggle="modal" class="btn btn-mini">
						Add File
					</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

#{include 'ViewTab/dialogs.include' /}