#{extends 'admin.html' /}
#{set title:'View Submission Details' /}

#{set 'moreStyles'}
<link href="@{'/public/stylesheets/datepicker.css'}" rel="stylesheet" type="text/css">
<link href="@{'/public/stylesheets/multiselect.css'}" rel="stylesheet" type="text/css">

#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/vireo-viewtab.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-multiselect-1.13.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript" >

function refreshAll(){
	updateActionLog("@{ViewTab.refreshActionLogTable()}", ${submission.getId()});
	updateLeftColumn("@{ViewTab.refreshLeftColumn()}", ${submission.getId()});
	updateHeader("@{ViewTab.refreshHeader()}", ${submission.getId()});
}

jQuery(document).ready(function(){
	
	var subId = ${submission.getId()};
	
	if(jQuery.browser.msie){
		if(parseInt(jQuery.browser.version, 10) != 7 && parseInt(jQuery.browser.version, 10) != 8){
			jQuery(".datepickerSubmission").datepicker();
		}
	} else {
		jQuery(".datepickerSubmission").datepicker();
	}
	
	 var updateJSONURL = "@{ViewTab.updateJSON()}";
	 var updateCommitteeMemberJSONURL = "@{ViewTab.updateCommitteeMemberJSON()}";
	 var addCommitteeMemberJSONURL = "@{ViewTab.addCommitteeMemberJSON()}";
	 var removeCommitteeMemberJSONURL = "@{ViewTab.removeCommitteeMemberJSON()}";
	 var retrieveTemplateJSONURL = "@{ViewTab.retrieveTemplateJSON()}";
	 var updateCustomActionJSONURL = "@{ViewTab.updateCustomActionsJSON()}";	
	 
	/**
	 * Cancel Editing
	 */
	jQuery(".icon-remove").live("click", cancelEditingHandler());
	
	jQuery(document).click(function(event){		
		if(jQuery(event.target).closest(".editing").length == 0) {
			
			// Second check, make sure it's not a multiselect floating div either.
			if(jQuery(event.target).closest(".ui-multiselect-menu").length == 0) {
			
				if(jQuery(".editing").length > 0) {
					jQuery(".icon-remove").click();
				}
			}
		}
	});
	 
	/**
	 * Swap from span to input field.
	 */ 
	jQuery(".edit-box ul li.edit span").live("click", swapToInputHandler());
	
	/*
	 * Swap committee member content into editable fields.
	 */
	jQuery("#committeeMembers .editCommitteeMember").live("click", editCommitteeMemberHandler());
	
	/*
	 * Add new committee member event
	 */
	 jQuery("#add_new_member button").click(addCommitteeMemberHandler());
	
	/*
	 * Remove a committee member
	 */
	 jQuery(".remove-committee-member").live("click", function(){
		 if (jQuery(this).text().indexOf("Are you sure?") >= 0) {
			 removeCommitteeMemberHandler(removeCommitteeMemberJSONURL, jQuery(this));			 
		 } else {
			 jQuery(this).text("(Are you sure?)");
			 return false;
		 }
	 });
	
	/*
	 * Commit changes
	 */
	jQuery(".icon-ok").live("click", function(){		
		if(jQuery(this).closest(".add").length){
			commitNewCommitteeMemberHandler(subId, addCommitteeMemberJSONURL);
		} else {			
			var $this = jQuery(this);
			commitChangesHandler($this, updateJSONURL, updateCommitteeMemberJSONURL, subId);
		}		
	});
	
	jQuery(document).live("keypress", function(event){
		var keycode = (event.keyCode ? event.keyCode : event.which);
		if(keycode == '13' && !event.shiftKey){
			
			// Don't auto submit textareas
			if (jQuery(".icon-ok").closest(".textarea").length == 0)
			    jQuery(".icon-ok").click();
		}
	});
	
	/** Reviewer Notes **/
	jQuery("#reviewerNotes-holder span").live("click", swapToInputHandler());
	
	
	/**
	 * Update Custom Actions
	 */
	 jQuery(".custom-action").live("change", function(){
		 $this = jQuery(this);
		 updateCustomActionsHandler(updateCustomActionJSONURL, subId, $this.attr("name"), $this.is(':checked'));		 
	 });
		
	/**
	 * Special Value Event
	 */
	 jQuery(".special-value").live("click", function(){
		 
		var form = jQuery(this).closest("form");
		var value = jQuery(this).attr("id");
		 
		// Confirm before deleting
		if(jQuery(this).hasClass("deleteState")) {
			jQuery(this).text("(Are you sure?)");
			jQuery(this).removeClass("deleteState");
			return false;
		} 

		// Check if we need to ask for a deposit location before submitting
		if (jQuery(this).hasClass("ask-for-deposit-location") &&
		    jQuery("#select-depositLocation").is(':hidden')) {

			jQuery("#select-depositLocation").slideToggle();
			jQuery("select[name='submission-status']").val(value);
			return false;
		}
		
		// If this is jump to any transition, check if we need to ask for a deposit location.
		if (jQuery(this).is("#transition-jump")) {
			value = jQuery("select[name='submission-status']").val();
			var option = jQuery("select[name='submission-status'] option[value='"+value+"']");
			if (option.hasClass("ask-for-deposit-location") &&
				jQuery("#select-depositLocation").is(':hidden')) {
				
				jQuery("#select-depositLocation").slideToggle();
				return false;
			}
		}

		assignSpecialValueAndSubmit(form, value);

	 });
	
	/**
	 * Retrieve template data event
	 */
	 jQuery(".modal select[name='email_template']").live("change", function(){
		 modal = jQuery(this).closest(".modal");
		 retrieveTemplateHandler(retrieveTemplateJSONURL, jQuery(this).val(), modal);
	 });
	
	/**
	 * Add Comment Disable/Enable Events
	 */
	 jQuery(".emailOptions input[name='visibility']").live("click", toggleAddCommentEmailOptions());
	 jQuery("input[name='email_student']").live("click", toggleCarbonCopyAdvisor());
	 
	/**
	 * Add File Events
	 */
	 jQuery("#add-file-modal input[name='uploadType']").live("change", toggleFileOptions());
	
	 
	/** 
	 * When adding a new attachment, check that a type is set
	 */
	 jQuery("#add-file-modal input[name='addFile']").click(function () {
		 
		 
		 if (jQuery("#add-file-modal input[name='uploadType']:checked").val() == "additional" &&
		     jQuery("#add-file-modal select[name='attachmentType']").val() == "") {
			 
			 jQuery("#add-file-modal select[name='attachmentType']").addClass("red");
			 return false;
		 }
		 
	 });
	 
	 jQuery(".state-transition.btn-success").live("click",function () {
		 
		 // Check if there are more than one deposit location.
		 if (jQuery("#select-depositLocation").length > 0) {
			 // Check if we have asked for it yet.
			 if (jQuery("#select-depositLocation").hasClass('hide')) {
				 // Show the option if not.
				 jQuery("#select-depositLocation").slideToggle();
				 
				 return false;
			 } 
		 }
		 
		 // All other cases we just submit the form.
	 });
	 
});
</script>
#{/set}

<div id="left-column" class="pull-left">

	#{include 'ViewTab/leftColumn.include' /}	
		
</div>

<div id="right-column">
	<div class="inner">
		<div id="alert-area">
			#{ifErrors}
			<ul class="red">
			    #{errors}
			    <li>${error}</li> 
			    #{/errors}
			</ul>
		#{/ifErrors}
		</div>
		#{if submission.getDepositId()}<div id="depositId" class="label label-warning">Deposit ID: ${submission.getDepositId()}</div>#{/if}
		<div id="mainHeader">#{include 'ViewTab/header.include' /}</div>
		
		<div class="edit-holder pull-left">
			<ul class="nav nav-tabs">
				<li class="active"><a class="personalInfo" href="javascript:;">Personal Info</a></li>
				<li><a class="docInfo" href="javascript:;">Document Info</a></li>
				<li><a class="degreeInfo" href="javascript:;">Degree Info</a></li>
			</ul>
			<div id="personalInfo" class="edit-box-holder">
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>First Name:</label><span id="firstName"
						#{if submission.getStudentFirstName()}
							><i class="icon-pencil"></i> ${submission.getStudentFirstName()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Middle Name:</label><span id="middleName"
						#{if submission.getStudentMiddleName()}
							><i class="icon-pencil"></i> ${submission.getStudentMiddleName()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>							
					<li class="edit"><label>Last Name:</label><span id="lastName"
						#{if submission.getStudentLastName()}
							><i class="icon-pencil"></i> ${submission.getStudentLastName()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Email:</label><span id="email"
						#{if submitter.getCurrentEmailAddress()}
							><i class="icon-pencil"></i> ${submitter.getCurrentEmailAddress()}
						#{/if}#{elseif submitter.getEmail()}
							><i class="icon-pencil"></i> ${submitter.getEmail()}
						#{/elseif}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Year of Birth:</label><span id="birthYear"
						#{if submission.getStudentBirthYear()}
							><i class="icon-pencil"></i> ${submission.getStudentBirthYear()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
					<li class="edit"><label>ORCID:</label><span id="orcid"
						#{if submission.getOrcid()}
							><i class="icon-pencil"></i> ${submission.getOrcid()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
					<li><label>Institutional ID:</label><span id="institutionalIdentifier"
                        #{if submission.getSubmitter().getInstitutionalIdentifier()}
                            ><i class="icon-none"></i>${submission.getSubmitter().getInstitutionalIdentifier()}
                        #{/if}#{else}
                            class="empty"><i class="icon-none"></i> none
                        #{/else}
                    </span></li>
				</ul>
			</div>
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>Permanent Phone:</label><span id="permPhone"
						#{if submitter.getPermanentPhoneNumber()}
							><i class="icon-pencil"></i> ${submitter.getPermanentPhoneNumber()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Permanent Email:</label><span id="permEmail"
						#{if submitter.getPermanentEmailAddress()}
							><i class="icon-pencil"></i> ${submitter.getPermanentEmailAddress()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Permanent Address:</label><span id="permAddress"
						#{if submitter.getPermanentPostalAddress()}
							class="textarea"><i class="icon-pencil"></i> ${submitter.getPermanentPostalAddress()}
						#{/if}#{else}
							class="textarea empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Current Phone:</label><span id="currentPhone"
						#{if submitter.getCurrentPhoneNumber()}
							><i class="icon-pencil"></i> ${submitter.getCurrentPhoneNumber()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Current Address:</label><span id="currentAddress"
						#{if submitter.getCurrentPostalAddress()}
							class="textarea"><i class="icon-pencil"></i> ${submitter.getCurrentPostalAddress()}
						#{/if}#{else}
							class="textarea empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
				</ul>
			</div>
			<div class="clear"></div>
			</div>
			
			<div id="docInfo" class="edit-box-holder hidden">
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>Title:</label><span id="title"
						#{if submission.getDocumentTitle()}
							><i class="icon-pencil"></i> ${submission.getDocumentTitle()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Embargo:</label><span id="embargo"
						#{if submission.getEmbargoType()}
							class="select"><i class="icon-pencil"></i> ${submission.getEmbargoType().getName()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>UMI Release:</label><span id="umiRelease"
						#{if submission.getUMIRelease() != null}
							class="select"><i class="icon-pencil"></i> ${submission.getUMIRelease() ? "yes" : "no"}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Document Type:</label><span id="docType"
						#{if submission.getDocumentType()}
							class="select"><i class="icon-pencil"></i> ${submission.getDocumentType()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
				</ul>
		    </div>
            <div class="edit-box pull-left">
                <ul class="unstyled">
					<li class="edit"><label>Keywords:</label><span id="keywords"
						#{if submission.getDocumentKeywords()}
							class="textarea"><i class="icon-pencil"></i> ${submission.getDocumentKeywords()}
						#{/if}#{else}
							class="textarea empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
					<li class="edit"><label>Subjects:</label><span id="subjects" 
					    data-primary=  "${ submission.getDocumentSubjects().size() > 0 ? submission.getDocumentSubjects().get(0) : ''}"
					    data-secondary="${ submission.getDocumentSubjects().size() > 1 ? submission.getDocumentSubjects().get(1) : ''}"
					    data-tertiary= "${ submission.getDocumentSubjects().size() > 2 ? submission.getDocumentSubjects().get(2) : ''}"
                        #{if submission.getDocumentSubjects().size() > 0}
                            class="subject"><i class="icon-pencil"></i>
                            <ul>
                            #{list items:submission.getDocumentSubjects(), as:'subject'}
                                <li>${subject}</li>
                            #{/list}
                            </ul>
                        #{/if}#{else}
                            class="subject empty"><i class="icon-pencil"></i> none
                        #{/else}
                    </span></li>
                    <li class="edit"><label>Language:</label><span id="docLanguage"
                    	#{if submission.getDocumentLanguage()}
                    		class="select"><i class="icon-pencil"></i> ${submission.getDocumentLanguageLocale().getDisplayName()}
                    	#{/if}#{else}
                    		class="select empty"><i class="icon-pencil"></i> none
                    	#{/else}
                    </span></li>
				</ul>
			</div>
			
			<div class="edit-box full-width">
				<ul class="unstyled">
				    <li class="edit"><label>Published Material:</label><span id="publishedMaterial"
                        #{if submission.getPublishedMaterial()}
                            class="textarea"><i class="icon-pencil"></i> Yes - ${ submission.getPublishedMaterial()?.nl2br() }
                        #{/if}#{else}
                            class="textarea empty"><i class="icon-pencil"></i> No -
                        #{/else}
                    </span></li>
					<li class="edit"><label>Abstract:</label><span id="abstract"
						#{if submission.getDocumentAbstract()}
							class="textarea"><i class="icon-pencil"></i> ${ submission.getDocumentAbstract()?.nl2br() }
						#{/if}#{else}
							class="textarea empty"><i class="icon-pencil"></i> none
						#{/else}
					</span></li>
				</ul>
			</div>
            <div class="clear"></div>

			</div>
			
			<div id="degreeInfo" class="edit-box-holder hidden">
			<div class="edit-box pull-left">
				<ul class="unstyled">
					<li class="edit"><label>College:</label><span id="college"
						#{if submission.getCollege()}
							class="autocomplete"><i class="icon-pencil"></i> ${submission.getCollege()}
						#{/if}#{else}
							class="autocomplete empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Program:</label><span id="program"
						#{if submission.getProgram()}
							class="autocomplete"><i class="icon-pencil"></i> ${submission.getProgram()}
						#{/if}#{else}
							class="autocomplete empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Department:</label><span id="department"
						#{if submission.getDepartment()}
							class="autocomplete"><i class="icon-pencil"></i> ${submission.getDepartment()}
						#{/if}#{else}
							class="autocomplete empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Degree:</label><span id="degree"
						#{if submission.getDegree()}
							class="select"><i class="icon-pencil"></i> ${submission.getDegree()}
						#{/if}#{else}
							class="select empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li><label>Degree Level:</label><span id="degreeLevel"
						#{if submission.getDegreeLevel()}
							class="select">${submission.getDegreeLevel()}
						#{/if}#{else}
							class="empty"> none
						#{/else}
						</span></li>
					<li class="edit"><label>Major:</label><span id="major"
						#{if submission.getMajor()}
							class="autocomplete"><i class="icon-pencil"></i> ${submission.getMajor()}
						#{/if}#{else}
							class="autocomplete empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Graduation Semester:</label><span id="gradSemester"
						#{if submission.getGraduationMonth() && submission.getGraduationYear()}
							><i class="icon-pencil"></i> ${gradMonth} ${submission.getGraduationYear()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Defense Date:</label><span id="defenseDate"
						#{if submission.getDefenseDate()}
							class="date"><i class="icon-pencil"></i> ${submission.getDefenseDate()?.format('MM/dd/yyyy')}
						#{/if}#{else}
							class="date empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					<li class="edit"><label>Advisor Email:</label><span id="advisorEmail"
						#{if submission.getCommitteeContactEmail()}
							><i class="icon-pencil"></i> ${submission.getCommitteeContactEmail()}
						#{/if}#{else}
							class="empty"><i class="icon-pencil"></i> none
						#{/else}
						</span></li>
					#{if submission.getCommitteeContactEmail() && submission.getCommitteeEmailHash()}
					<li><label></label><span><form action="@{ViewTab.sendAdvisorEmail(submission.getId())}" method="POST"><input type="submit" class="btn" value="Send Advisor Email" /></form></span></li>
					#{/if}
				</ul>				
			</div>
			
			%{
			   // Store the available roles as an attribute.
			   def roles = [];
			   for (def role : settingRepo.findAllCommitteeMemberRoleTypes())  {
			   		if (!roles.contains(role.getName()))
			   			roles.push(role.getName());
			   }
            }%
			<div id="committeeMembers" class="edit-box pull-left" data-roles='[#{list items:roles, as:'role'}"${role.escapeJavaScript()}"${ role_isLast ? "" : ","}#{/list}]'>
				<ul class="unstyled">
					<li><i class="icon-pencil"></i> <b>Committee Members:</b>
					<ul class="unstyled" style="padding:10px 0 0 30px;">
					#{if submission.getCommitteeMembers()}
					#{list items:submission.getCommitteeMembers(), as:'value'}
						
						<li class="${value.getId()}">
							<div class="editCommitteeMember">
								<span class="lastName">${value.getLastName()}</span><span class="seperator">,</span>
								<span class="firstName">${value.getFirstName()}</span> 
								<span class="middleName">${value.getMiddleName()}</span>
								#{list items:value.getRoles(), as:'role'}
								<span class="role label label-info">${role}</span>								
								#{/list}
							</div>
						</li>
						
					#{/list}												
					#{/if}
					<li id="add_new_member"><button class="btn">Add New Member</button></li>
					</ul></li>
				</ul>				
			</div>
			#{if isManager && advisorUrl != null }
			<div class="edit-box full-width">
			    <ul class="unstyled">
                    <li><label>Faculty Review URL:</label><span><a href="${advisorUrl}">${advisorUrl}</a></span></li>
                </ul>
            </div>
            #{/if}
			
			<div class="clear"></div>
			</div>
			
			<!-- Hidden Select Options -->
			<div id="embargoOptions" style="display:none;">
				<select class="field">
				#{list items:settingRepo.findAllEmbargoTypes(), as:'embargo'}
					<option value="${embargo.getId()}">${embargo.getName()}</option>
				#{/list}
				</select>
			</div>
			<div id="umiReleaseOptions" style="display:none;">
				<select class="field">
				<option value="yes">yes</option>
				<option value="no">no</option>
				</select>
			</div>
			<div id="docTypeOptions" style="display:none;">
			    <select class="field">
				#{list items:settingRepo.findAllDocumentTypes(), as:'docType'}
					<option value="${docType.getName()}">${docType.getName()} - ${docType.getLevel()}</option>
				#{/list}
				</select>
			</div>
			<div id="subjectsOptions" style="display:none;">
                <select class="primary">
                    <option value=""><em>none...</em></option>
                #{list items:proquestRepo.findAllSubjects(), as:'subject'}
                    <option value="${subject.getDescription()}">${subject.getDescription()}</option>
                #{/list}
                </select>
                
                <select class="secondary">
                    <option value=""><em>none...</em></option>
                #{list items:proquestRepo.findAllSubjects(), as:'subject'}
                    <option value="${subject.getDescription()}">${subject.getDescription()}</option>
                #{/list}
                </select>
                
                <select class="tertiary">
                    <option value=""><em>none...</em></option>
                #{list items:proquestRepo.findAllSubjects(), as:'subject'}
                    <option value="${subject.getDescription()}">${subject.getDescription()}</option>
                #{/list}
                </select>
            </div>
            <div id="docLanguageOptions" style="display:none;">
            	<select class="field">
            		<option value=""><em>none...</em></option>
            		#{list items:settingRepo.findAllLanguages(), as:'language'}            			
            			<option value="${language.getName()}">${language.getLocale().getDisplayName()}</option>
            		#{/list}
            	</select>
            </div>
			<div id="collegeOptions" style="display:none;">
			    %{
			       // fill type ahead with the list of pre-defined colleges, or if there are none of those then all colleges actually used
			       def colleges = [];
			       for (def college : settingRepo.findAllColleges()) {
			           colleges.push(college.getName());
			       }
			       if (colleges.size() == 0) {
			           for (String college : subRepo.findAllColleges()) {
			             colleges.push(college);
			           }
			       }
			    }%
                <input class="field"
                  data-items="20"
                  data-provide="typeahead"
                  data-min-length="0"
                  data-source='[#{list items:colleges, as:'college'}"${college.escapeJavaScript()}"${ college_isLast ? "" : ","}#{/list}]'
                  />
			</div>
			<div id="programOptions" style="display:none;">
			    %{
			       // fill type ahead with the list of pre-defined programs, or if there are none of those then all programs actually used
			       def programs = [];
			       for (def program : settingRepo.findAllPrograms()) {
			           programs.push(program.getName());
			       }
			       if (programs.size() == 0) {
			           for (String program : subRepo.findAllPrograms()) {
			             programs.push(program);
			           }
			       }
			    }%
                <input class="field"
                  data-items="20"
                  data-provide="typeahead"
                  data-min-length="0"
                  data-source='[#{list items:programs, as:'program'}"${program.escapeJavaScript()}"${ program_isLast ? "" : ","}#{/list}]'
                  />
			</div>
			<div id="departmentOptions" style="display:none;">
                %{
                   // fill type ahead with the list of pre-defined departments, or if there are none of those then all departments actually used
                   def departments = [];
                   for (def department : settingRepo.findAllDepartments()) {
                       departments.push(department.getName());
                   }
                   if (departments.size() == 0) {
                       for (String department : subRepo.findAllDepartments()) {
                         departments.push(department);
                       }
                   }
                }%
                <input class="field"
                  data-items="20"
                  data-provide="typeahead"
                  data-min-length="0"
                  data-source='[#{list items:departments, as:'department'}"${department.escapeJavaScript()}"${ department_isLast ? "" : ","}#{/list}]'
                  />
			</div>
			<div id="degreeOptions" style="display:none;">
				<select class="field">
				#{list items:settingRepo.findAllDegrees(), as:'degree'}
					<option value="${degree.getName()}">${degree.getName()}</option>
				#{/list}
				</select>
			</div>
			<div id="majorOptions" style="display:none;">
                %{
                   // fill type ahead with the list of pre-defined majors, or if there are none of those then all majors actually used
                   def majors = [];
                   for (def major : settingRepo.findAllMajors()) {
                       majors.push(major.getName());
                   }
                   if (majors.size() == 0) {
                       for (String major : subRepo.findAllMajors()) {
                         majors.push(major);
                       }
                   }
                }%
                <input class="field"
                  data-items="20"
                  data-provide="typeahead"
                  data-min-length="0"
                  data-source='[#{list items:majors, as:'major'}"${major.escapeJavaScript()}"${ major_isLast ? "" : ","}#{/list}]'
                  />
			</div>
		</div>
		
		<h2>REVIEWER NOTES</h2>
		<!-- 
		<div id="reviewerNotes-holder" class="edit-holder pull-left">
			<div class="edit-box-holder">
			    <div class="edit-box full-width">
	                <ul class="unstyled">
	                    <li class="edit"><span id="reviewerNotes"
	                        #{if submission.getReviewerNotes()}
	                            class="textarea"><i class="icon-pencil"></i> ${ submission.getReviewerNotes()?.nl2br() }
	                        #{/if}#{else}
	                            class="textarea empty"><i class="icon-pencil"></i> none
	                        #{/else}
	                    </span></li>
	                </ul>
                    <div class="clear"></div>
	            </div>
			</div>
	    </div>-->
        <div id="reviewerNotes-holder" class="edit">
            <span id="reviewerNotes"
                #{if submission.getReviewerNotes()}
                    class="textarea"><i class="icon-pencil"></i> ${ submission.getReviewerNotes()?.nl2br() }
                #{/if}#{else}
                    class="textarea empty"><i class="icon-pencil"></i> none
                #{/else}
            </span>
        </div>
		
		<h2>ACTION LOG</h2>
		<table id="actionLog" class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<td>Action by</td>
					<td>Action / Comment</td>
					<td>Time</td>
				</tr>
			</thead>
			#{include 'ViewTab/actionLogTable.include' /}
		</table>
		
		<a id="fileList"></a>
		<h2>ALL FILES</h2>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<td>Name</td>
					<td>File</td>
					<td>Type</td>
					<td>Time</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				#{list items:attachments, as:'attachment'}
					<tr>
						<td>${attachment.getPerson().getFirstName()} ${attachment.getPerson().getLastName()}</td>
						<td><a href="@{ViewTab.viewFile(attachment.getId(), attachment.getName())}" target="_blank">${attachment.getName()}</a> (${attachment.getDisplaySize()})</td>
						<td>${attachment.getType()}</td>
						<td>${attachment.getDate()?.format("MM/dd/yyyy hh:mm:ss")}</td>
						<td><a href="#edit-file${attachment.getId()}-modal" data-toggle="modal">edit</a></td>
					</tr>
				#{/list}				
				<tr>
					<td colspan="5" class="comments tr">
					<a href="#add-file-modal" data-toggle="modal" class="btn btn-mini">
						Add File
					</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

#{include 'ViewTab/dialogs.include' /}