<form id="{{profile.fieldPredicate.value}}" class="field-profile input-text row" name="fieldProfileForm" novalidate autocomplete="off">
  <div class="form-group">
    <div class="col-xs-12 col-sm-2">
      <label ng-class="{'required': !profile.optional}">{{profile.fieldGlosses[0].value}}:</label>
    </div>
    <div class="col-xs-12 col-sm-10" ng-if="profile.inputType.name !== 'INPUT_FILE'">
      <div class="field-value-input row" ng-repeat="fieldValue in submission.fieldValues | fieldValuePerProfile:profile.fieldPredicate" field-profile-focus>
        <div ng-class="(profile.inputType.name === 'INPUT_LICENSE' || profile.inputType.name === 'INPUT_PROQUEST' || profile.inputType.name === 'INPUT_RADIO' || profile.inputType.name === 'CONDITIONAL_TEXT_AREA') ? 'col-xs-12' : 'col-xs-5'">
          <div ng-class="{'invalid': !fieldValue.isValid()}" ng-include="includeTemplateUrl"></div>
          <div ng-if="!fieldValue.isValid()" class="alert alert-danger">
            <ul ng-class="{'list-unstyled': fieldValue.getValidationMessages().length === 1}">
              <li ng-repeat="message in fieldValue.getValidationMessages()">{{message}}</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-1">
          <button ng-if="showRemove($first)" class="btn btn-danger field-value-add-remove pull-left" ng-click="removeFieldValue(fieldValue)">-</button>
          <button ng-if="showAdd($first)" class="btn btn-primary field-value-add-remove pull-left" ng-click="addFieldValue()">+</button>
        </div>
        <div class="col-xs-6"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10" ng-if="profile.inputType.name === 'INPUT_FILE'">
      <div class="field-value-input row">
        <div class="col-xs-11">
          <div ng-include="includeTemplateUrl"></div>
        </div>
      </div>
    </div>
  </div>
</form>
