<script type="text/ng-template" id="customTableHeader">
  <tr>
    <th ng-repeat="column in weaverTable.columns">
      <span>{{column.gloss}}
          <span
              ng-if="column.sortable"
              ng-click="weaverTable.toggleSort(column.property)"
              class="sort-control glyphicon"
              ng-class="{'unsorted': weaverTable.unsorted(column.property), 'asc': weaverTable.asc(column.property), 'desc': weaverTable.desc(column.property)}">
          </span>
      </span>
    </th>
  </tr>
  </script>

  <div>
    <label for="userFilter">Filter Users by {{filter.gloss}}:</label>
  </div>

  <div ng-if="filters && filters.length > 0">
    <div class="management-control">
        <div class="row">
          <div class="col-md-9">
            <form ng-submit="applyFilter(filter)" novalidate>
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{filter.gloss}} <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a ng-repeat="f in filters" ng-value="f.property" ng-click="selectFilter(f)">{{f.gloss}}</a></li>
                  </ul>
                </div>
                <input id="userFilter" type="text" class="form-control" ng-model="filter.value" aria-describedby="filters-input">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" ng-disabled="!filter.value">Filter</button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <div ng-transclude="controls"></div>
          </div>
        </div>
      </div>

      <div class="management-control">
        <span ng-repeat="(prop, value) in activeFilters">
          <span class="label label-default filter-label" ng-repeat="v in value">
              <span>{{lookupGloss(prop)}}: {{v}}</span>
              <span class="glyphicon glyphicon-remove filter-remove" ng-click="removeFilter(prop, v)"></span>
          </span>
        </span>
      </div>
  </div>

  <div ng-transclude="table"></div>

  <div ng-transclude="modals"></div>
