/***********************
** STUDENT SUBMISSION **
************************/
.student-submission,
.student-submission-loader.ready {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.student-submission-loader,
.student-submission.ready {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.student-submission-loader {
  position: absolute;
  top: 250px;
  text-align: center;
  width: 100%;
  font-size: 2em;
}

.submission-workflow-steps-navigation {
  margin-bottom: 25px;
}

.submission-workflow-step-navigation a {
  width: 95%;
  color: white;
  background: rgb(31, 58, 71);
  background: -moz-linear-gradient linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: -webkit-linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: -ms-linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
}

.submission-workflow-step-navigation a:hover,
.submission-workflow-step-navigation.active a {
  cursor: pointer;
  background: rgb(31, 58, 71);
  background: -moz-linear-gradient linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -webkit-linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -ms-linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
}

.field-value-input:not(:last-of-type) {
  margin-bottom: 5px;
}

.select-toggle:hover {
  cursor: pointer;
}

.select-option {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
}

.select-option:hover {
  cursor: pointer;
  background: #efefef;
}

.select-value {
  white-space: nowrap;
}

.organization-create-button {
  white-space: normal !important;
  word-wrap: break-word;
}
