submissiondialog div.dialog {
  position: fixed;
  width: 300px;
  bottom: 6%;
  right: 2%;
  padding: 10px 20px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #584521;
}
@media (max-width: 1540px) {
  submissiondialog div.dialog {
    opacity: 0.9;
    position: fixed;
    bottom: 4%;
    left: 50%;
    width: 50%;
    margin-left: -26%;
    padding: 10px 20px;
    z-index: 1;
  }
}

submissiondialog div.dialog span.dialog-close {
  float: right;
}

.dialog-content {
  -webkit-transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
  -moz-transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
  -o-transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
  transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
  overflow: hidden;
}

.dialog-closed {
  opacity: 0;
  max-height: 0;
}

.dialog-open {
  opacity: 1;
  max-height: 400px;
}
