<div>
  <div class="well" tabindex="0" ng-bind-html="configuration.proquest_umi_degree_code.proquest_license.value|trusted" aria-details="input_proquest-{{fieldValue.fieldPredicate.id}}-{{fieldValue.id}}"></div>
  <div class="checkbox">
    <label>
      <input id="input_proquest-{{fieldValue.fieldPredicate.id}}-{{fieldValue.id}}"
        type="checkbox"
        ng-model="fieldValue.value"
        ng-true-value="'true'"
        ng-false-value="'false'"
        ng-disabled="fieldValue.updating"
        ng-click="save(fieldValue)">
      <span>By checking here, you agree to the above license in its entirety.</span>
      <span ng-if="fieldValue.updating" class="glyphicon glyphicon-refresh spinning"></span>
    </label>
  </div>
</div>
