<div class="input-group" uib-dropdown>
  <span class="input-group-addon select-toggle" uib-dropdown-toggle>
    <span class="caret"></span>
  </span>
   <ul class="dropdown-menu" uib-dropdown-menu>
    <li class="select-option"  ng-click="field.value = word.name;"  ng-repeat="word in fieldProfile.controlledVocabularies[0].dictionary">
      <span>{{word.name}}</span>
    </li>
  </ul>
  <span class="form-control select-value" ng-bind="field.value || 'Choose {{fieldProfile.gloss}}'"></span>
  <span class="input-group-addon glyphicon glyphicon-ok clickable" ng-click="save(field)"></span>
  <span class="input-group-addon glyphicon glyphicon-remove clickable" ng-click="cancel(field)"></span>
</div>