<div class="input-group input-contact-value">
	<input class="form-control" type="text" ng-model="field.value">
	<span class="input-group-addon glyphicon glyphicon-ok toggle-href" ng-click="saveContacts(field)"></span>
	<span class="input-group-addon glyphicon glyphicon-remove toggle-href" ng-click="cancel(field)"></span>
</div>
<div class="input-group input-contact-contacts">
	<input class="form-control" type="text" ng-model="field.contacts">
	<span class="input-group-addon glyphicon glyphicon-ok toggle-href" ng-click="saveContacts(field)"></span>
	<span class="input-group-addon glyphicon glyphicon-remove toggle-href" ng-click="cancel(field)"></span>
</div>
