<div class="input-group">
	<span class="input-group-addon" ng-click="date=true">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
	<input
		type="text"
		class="form-control" 
		uib-datepicker-popup="{{datepickerFormat}}" 
		datepicker-options="datepickerOptions"
		ng-model="field.value"
		placeholder="Choose Date"
		ng-click="date=true"
        is-open="date"
        show-button-bar="false"
		ng-required="!fieldProfile.optional" 
		readonly
		stringtodate/>
	<span class="input-group-addon glyphicon glyphicon-ok toggle-href" ng-click="save(field)"></span>
	<span class="input-group-addon glyphicon glyphicon-remove toggle-href" ng-click="cancel(field)"></span>		
</div>