<div class="input-group input-contact-value">
  <input type="text"
    class="form-control"
    ng-model="field.value"
    uib-typeahead="word.name as word.name for word in controlledVocabularyTypeAhead($viewValue)"
    typeahead-wait-ms="600"
    typeahead-on-select="saveWithCV(field, $item)"
    typeahead-loading="typeAheads.loading"
  />
  <span class="input-group-addon glyphicon glyphicon-ok clickable" ng-click="saveContacts(field)"></span>
  <span class="input-group-addon glyphicon glyphicon-remove clickable" ng-click="cancel(field)"></span>
</div>
<div class="input-group input-contact-contacts">
  <input type="text"
    class="form-control"
    ng-model="field.contacts"
    uib-typeahead="word.contacts[0] as word.contacts[0] for word in controlledVocabularyTypeAhead($viewValue)"
    typeahead-wait-ms="600"
    typeahead-on-select="saveWithCV(field, $item)"
    typeahead-loading="typeAheads.loading"
  />
  <span class="input-group-addon glyphicon glyphicon-ok clickable" ng-click="saveContacts(field)"></span>
  <span class="input-group-addon glyphicon glyphicon-remove clickable" ng-click="cancel(field)"></span>
</div>
