<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<base href="/vireo/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vireo :: Texas Digital Libraries</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
	
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="resources/styles/main.css">
	<link rel="stylesheet" href="resources/styles/app.css">	

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

	<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
	
</head>
<body>
	<!--[if lt IE 7]>
    	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Content placed here will appear on every page -->
	<main>

		<tamuheader title="Vireo"></tamuheader>

		<alerts types="WARNING, ERROR"></alerts>
				
		<div class="container-fluid">
			<div class="container">
				<div class="col-md-12 appContent">

					<nav class="pull-right userMenu" >
						
						<div class="dropdown" ng-controller="AuthenticationController">
							
							<modal modal-id="verifyEmailModal" modal-view="views/modals/verifyEmailModal.html" modal-header-class="modal-header-primary"></modal>					
							<modal modal-id="loginModal" modal-view="views/modals/loginModal.html" modal-header-class="modal-header-primary"></modal>
							
							<a ng-if="!isAnonymous()" class="dropdown-toggle toggle-href" data-toggle="dropdown" aria-expanded="false"><username></username> <span class="caret"></span></a>
							
							<span ng-if="isAnonymous()">
								<a href data-toggle="modal" data-target="#loginModal">Login</a>
								<span> | </span>
								<a href data-toggle="modal" data-target="#verifyEmailModal">Register</a>
							</span>
							
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" class="dropdown-header">Profile</li>
								<li><a role="menuitem" href="myview">My View</a></li>
								<li><a role="menuitem" href ng-click="logout()">Logout</a></li>

								<li ng-if="isAdmin() || isManager()" role="presentation" class="divider"></li>
								<li ng-if="isAdmin() || isManager()" role="presentation" class="dropdown-header">Manager Actions</li>
								<li ng-if="isAdmin() || isManager()">
									<a role="menuitem" href="users">Manage Users</a>
								</li>

								<li ng-if="isAdmin()" role="presentation" class="divider"></li>
								<li ng-if="isAdmin()" role="presentation" class="dropdown-header">Admin Actions</li>								
								
							</ul>
						</div>
						
					</nav>
					
					<div ng-view class="view"></div>

					<footer>
						Vireo Version: <span app-version></span>
					</footer>
				</div>

			</div>
		</div>

	</main>

	<tamufooter></tamufooter>


	<!-- In production use: <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script> -->

	
	<!-- Bower component -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<script src="bower_components/sockjs-client/dist/sockjs.min.js"></script>
	<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
	
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-loader/angular-loader.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	
	<!--  Core libraries -->
	
	<!-- build:js resources/scripts/core_concat.js -->

	<!-- TODO: concat core js -->
	<!-- endbuild -->

		<!-- Core Configuration -->
	    <script src="bower_components/core/app/config/coreConfig.js"></script>

		<!-- Core Modules -->
		<script src="bower_components/core/app/components/version/version.js"></script>
		<script src="bower_components/core/app/components/version/version-directive.js"></script>
		<script src="bower_components/core/app/components/version/interpolate-filter.js"></script>


		<!-- App Configuration -->
	    <script src="config/appConfig.js"></script>

		<!-- App Modules -->
		<script src="components/version/version.js"></script>
		<script src="components/version/version-directive.js"></script>
		<script src="components/version/interpolate-filter.js"></script>

		<!-- Application Start -->
	    <script src="bower_components/core/app/core.js"></script>
	    <script src="bower_components/core/app/setup.js"></script>
	    <script src="bower_components/core/app/config/logging.js"></script>

	    <!-- Directives -->
	    <script src="bower_components/core/app/directives/headerDirective.js"></script>
	    <script src="bower_components/core/app/directives/footerDirective.js"></script>
	    <script src="bower_components/core/app/directives/userDirective.js"></script>
	    <script src="bower_components/core/app/directives/modalDirective.js"></script>
	    <script src="bower_components/core/app/directives/alertDirective.js"></script>

	    <!-- Services -->
	    <script src="bower_components/core/app/services/wsservice.js"></script>
	    <script src="bower_components/core/app/services/wsapi.js"></script>
	    <script src="bower_components/core/app/services/restapi.js"></script>
	  	<script src="bower_components/core/app/services/authserviceapi.js"></script>
	  	<script src="bower_components/core/app/services/storageservice.js"></script>
	  	<script src="bower_components/core/app/services/utilityservice.js"></script>
	  	<script src="bower_components/core/app/services/alertservice.js"></script>

	  	<!-- Models -->
	    <script src="bower_components/core/app/model/abstractModel.js"></script>
	    <script src="bower_components/core/app/model/assumedControlModel.js"></script>
	    <script src="bower_components/core/app/model/userModel.js"></script>

	    <!-- Controllers -->
	    <script src="bower_components/core/app/controllers/abstractController.js"></script>
	    <script src="bower_components/core/app/controllers/userController.js"></script>
	    <script src="bower_components/core/app/controllers/authenticationController.js"></script>


		

	<!-- build:js resources/scripts/concat.js -->

	    <!-- Application Start -->
	    <script src="app.js"></script>
	    <script src="config/runTime.js"></script>
	    <script src="config/routes.js"></script>

	    <!-- Directives -->

	    <!-- Services -->

	    <!-- Factories -->

	    <!-- Models -->
	    <script src="model/userRepoModel.js"></script>    

	    <!-- Controllers -->
	    <script src="controllers/adminController.js"></script>
	    <script src="controllers/userRepoController.js"></script>
	    <script src="controllers/registrationController.js"></script>
	    <script src="controllers/loginController.js"></script>
    
	    
	<!-- endbuild -->

	
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b, o, i, l, e, r) {
			b.GoogleAnalyticsObject = l;
			b[l] || (b[l] = function() {
				(b[l].q = b[l].q || []).push(arguments)
			});
			b[l].l = +new Date;
			e = o.createElement(i);
			r = o.getElementsByTagName(i)[0];
			e.src = '//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e, r)
		}(window, document, 'script', 'ga'));
		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
	
</body>
</html>
