#{extends 'main.html' /}
#{set title:"${method.getDisplayName()} Login" /}

<div class="row pageHead">
	<h3>${method.getDisplayName()} Login</h3>
</div>
<br />

<div class="row">
	<div class="span7">
		<p>
	    ${method.getAuthenticationNote()} 
		#{if method.getAllowNewRegistration() }
	    If you do not yet have an account, you may 
		<a href="@{Authentication.register()}">register as a new user</a>.
		#{/if}
		</p>
	</div>
</div>

#{ifErrors}
<div class="row">
	<div class="span7 offset1">
		<ul class="red">
			#{errors}
			<li>${error}</li> 
			#{/errors}
		</ul>
	</div>
</div>
#{/ifErrors}

<form action="@{Authentication.loginMethod(method.getBeanName())}" method="POST" class="form-horizontal">

	<fieldset>
		<div class="control-group #{ifError 'login'}error#{/ifError}">
			<label class="control-label" for="username"><b>${method.getUsernameLabel()}:</b></label>
			<div class="controls">
				<input type="text" name="username" value="${username}" />
			</div>
		</div>
		<div class="control-group #{ifError 'login'}error#{/ifError}">
			<label class="control-label" for="password"><b>Password:</b></label>
			<div class="controls">
				<input type="password" name="password" value="${password}" />
				#{if method.getAllowPasswordRecovery() }
				<p class="help-block"><a href="@{Authentication.recover()}">Did you forget your password?</a></p>
				#{/if}
			</div>
		</div>
		<div class="form-actions">
			<input type="submit" class="btn btn-primary" name="submit_login" value="Login" />
			<input type="submit" class="btn" name="submit_cancel" value="Cancel" />			
		</div>
	</fieldset>
</form>