#{extends 'main.html' /}
#{set title:'Vireo Thesis and Dissertaion Submital System - Profile' /}

<div class="row pageHead">
	<h3>Profile for ${fullName}</h3>
</div>
<br/>


#{if updateProfile || updatePassword}
<div class="row">
	#{if updateProfile }
	<div class="span3 offset2">
		<p>
			<a href="@{Authentication.updateProfile()}" class="btn btn-primary">Update profile information</a>
		</p>
	</div>
	#{/if} #{if updatePassword}
	<div class="span3 offset1">
		<p>
			<a href="@{Authentication.updatePassword()}" class="btn btn-primary">Change your password</a>
		</p>
	</div>
	#{/if}
</div>
#{/if}

<form action="@{Authentication.updateProfile()}" method="POST" class="form-horizontal">

<fieldset>
        <legend>Personal Information</legend>
        <div class="control-group">
            <label class="control-label" for="email"><b>Email Address:</b></label>
            <div class="controls">
               <p>${email}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="firstName"><b>*First Name:</b></label>
            <div class="controls">
               <p>${firstName}</p>
            </div>
        </div>  
        <div class="control-group">
            <label class="control-label" for="middleName">Middle Name:</label>
            <div class="controls">
               <p>${middleName}</p>
            </div>
        </div> 
        <div class="control-group">
            <label class="control-label" for="lastName"><b>*Last Name:</b></label>
            <div class="controls">
                <p>${lastName}</p>
            </div>
        </div> 
        <div class="control-group">
            <label class="control-label" for="birthYear">Birth Year:</label>
            <div class="controls">
                <p>${birthYear}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="orcid">ORCID:</label>
            <div class="controls">
                <p>${orcid}</p>
            </div>
        </div>  
</fieldset>
<fieldset>
        <legend>Phone & Address</legend>
        <div class="control-group">
            <label class="control-label" for="permanentPhoneNumber">Permanent Phone:</label>
            <div class="controls">
                <p>${permanentPhoneNumber}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="permanentEmailAddress">Permanent Email:</label>
            <div class="controls">
                <p>${permanentEmailAddress}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="permanentPostalAddress">Permanent Address:</label>
            <div class="controls">
                <p>${permanentPostalAddress}</p>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="currentPhoneNumber">Current Phone:</label>
            <div class="controls">
                <p>${currentPhoneNumber}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="currentPostalAddress">Current Address:</label>
            <div class="controls">
                <p>${currentPostalAddress}</p>
            </div>
        </div>
</fieldset>
</form>