#{extends 'main.html' /} #{set title:"Forgot Password Recovery" /}

<div class="row pageHead">
	<h3>Forgot Password Recovery</h3>
</div>
<br />

<div class="row">
	<div class="span7">
		<p>Your email address has been verified. Please use the form below
			to reset your password.</p>
	</div>
</div>

#{ifErrors}
<div class="row">
	<div class="span7 offset1">
		<ul class="red">
			#{errors}
			<li>${error}</li> #{/errors}
		</ul>
	</div>
</div>
#{/ifErrors}



<form action="@{Authentication.recover()}" method="POST" class="form-horizontal">
<input type="hidden" name="token" value="${token}" />

<fieldset>
	<div class="control-group">
		<label class="control-label" for="email"><b>Email Address:</b></label>
		<div class="controls">
			${email}
		</div>
	</div>
	<div class="control-group #{ifError 'password1'}error#{/ifError}">
		<label class="control-label" for="password1"><b>Password:</b></label>
		<div class="controls">
			<input type="password" name="password1" value="${password1}" />
		</div>
	</div>
	<div class="control-group #{ifError 'password2'}error#{/ifError}">
		<label class="control-label" for="password2"><b>Verify Password:</b></label>
		<div class="controls">
			<input type="password" name="password2" value="${password2}" />
		</div>
	</div>
	<div class="form-actions">
		<input type="submit" class="btn btn-primary" name="submit_recover" value="Reset Password" />
		<input type="submit" class="btn" name="submit_cancel" value="Cancel" />
	</div>
</fieldset>
</form>