#{extends 'main.html' /}
#{set title:"Forgot Password Recovery" /}


#{form @@Authentication.recover()}
<h1>Forgot Password Recovery</h1>

<p>Please provide the email address used when registering your account. We will send you an email to that address with a special token. Clicking on the token link back to Vireo will allow us to verify your identity. Then you will be able to reset your password.</p>

<p>Email Address: <input type="text" name="email" value="${email}" #{ifError 'email'}class='error'#{/ifError}/>
#{ifError 'email'}<span class='error'>#{error 'email'/}</span>#{/ifError}
</p>
<p>
<input type="submit" name="submit_cancel" value="Cancel">
<input type="submit" name="submit_recover" value="Verify">
</p>
#{/form}
