#{extends 'main.html' /}
#{set title:"Forgot Password Recovery" /}

<h1>Forgot Password Recovery</h1>

#{form @@Authentication.recover()}
<input type="hidden" name="token" value="${token}"/>

<p>Your email address has been verified. Please use the form below to reset your password.</p>

<p>Email Address: <input type="text" name="email" value="${email}" disabled="true"/></p>
<p>Password: <input type="password" name="password1" value="${password1}" #{ifError 'password1'}class='error'#{/ifError}/>
#{ifError 'password1'}<span class='error'>#{error 'password1'/}</span>#{/ifError}</p>
<p>Password, again: <input type="password" name="password2" value="${password2}" #{ifError 'password2'}class='error'#{/ifError}/>
#{ifError 'password2'}<span class='error'>#{error 'password2'/}</span>#{/ifError}</p>
<p>
<input type="submit" name="submit_cancel" value="Cancel">
<input type="submit" name="submit_recover" value="Reset Password">
</p>
#{/form}