#{extends 'main.html' /}
#{set title:"Vireo Thesis and Dissertaion Submital System - Forgot Password Recovery" /}

<div class="row pageHead">
	<h3>Verification Email Sent</h3>
</div>
<br />

<div class="row">
	<div class="span7">
		<h4>Instructions:</h4>
		<p>
			Check your email account for a verification email sent to <a
			href="mailto:${email}">${email}</a>. It will contain a special link
			you need to follow so that you may verify your identity and reset
			your password.
		</p>
	</div>
</div>
<br />
<br />
<br />