#{extends 'main.html' /}
#{set title:"Vireo Thesis and Dissertaion Submital System - New User Registration" /}

<div class="row pageHead">
	<h3>Registration Email Sent</h3>
</div>
<br />

<div class="row">
	<div class="span7">
		<h4>Instructions:</h4>
		<p>
			Check your email account for a registration email sent to <a
			href="mailto:${email}">${email}</a>. It will contain a special link
			you need to follow so that you may complete the account registration
			process.
		</p>
	</div>
</div>
<br />
<br />
<br />