#{extends 'main.html' /}
#{set title:"Update Password" /}

<div class="row pageHead">
    <h3>Update Password for ${fullName}</h3>
</div>
<br />

<div class="row">
    <div class="span7">
        <p>Please provide a new password, and repeat it again for verification.</p>
    </div>
</div>

#{ifErrors}
<div class="row">
    <div class="span7 offset1">
        <ul class="red">
            #{errors}
            <li>${error}</li> #{/errors}
        </ul>
    </div>
</div>
#{/ifErrors}

<form action="@{Authentication.updatePassword()}" method="POST" class="form-horizontal">

<fieldset>
    <div class="control-group #{ifError 'current'}error#{/ifError}">
        <label class="control-label" for="current"><b>Current Password:</b></label>
        <div class="controls">
            <input type="password" name="current" value="${current}" />
        </div>
    </div>
    <br/>
    <div class="control-group #{ifError 'password1'}error#{/ifError}">
        <label class="control-label" for="password1"><b>New Password:</b></label>
        <div class="controls">
            <input type="password" name="password1" value="${password1}" />
        </div>
    </div>
    <div class="control-group #{ifError 'password2'}error#{/ifError}">
        <label class="control-label" for="password2"><b>Verify New Password:</b> </label>
        <div class="controls">
            <input type="password" name="password2" value="${password2}" />
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" name="submit_update" value="Change Password" />
        <input type="submit" class="btn" name="submit_cancel" value="Cancel" />        
    </div>
</fieldset>
</form>