<div class="further-filter-by" ng-repeat="column in box.filterColumns.userFilterColumns">
	<sideboxsub>{{column.title}}</sideboxsub>

	<div ng-switch on="column.title">
		
		<div ng-switch-when="Assigned to">
	    	<div ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByAssignedTo.html'"></div>
	    </div>

		<div ng-switch-when="Custom actions">
	    	<div ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByCustomActions.html'"></div>
	    </div>

	    <div ng-switch-when="Embargo type">
	    	<div ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByEmbargoType.html'"></div>
	    </div>

	    <div ng-switch-when="Organization">
	    	<div ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByOrganization.html'"></div>
	    </div>

	    <div ng-switch-when="Organization category">
	    	<div ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByOrganizationCategory.html'"></div>
	    </div>

		<div ng-switch-when="Status">
	    	<div ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByStatus.html'"></div>
	    </div>

	    <div ng-switch-when="ProQuest Publication">
	    	<div ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByUmiPublication.html'"></div>
	    </div>

		<div ng-switch-default>
	    	
			<div ng-if="column.inputType.name=='INPUT_DATETIME'" ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByDate.html'"></div>

		    <div ng-if="column.inputType.name!='INPUT_DATETIME'" ng-include="'views/sideboxes/furtherFilterBy/furtherFilterByDefault.html'"></div>

	    </div>

	</div>

</div>