

/* FOOTER STICK CSS
 * technique to force the footer to the bottom of the page
 * derived from example by Ryan Fait at:
 * http://ryanfait.com/sticky-footer/layout.css
 */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
#ds-body {
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: 0 auto -2em 0; /* the bottom margin is the negative value of the footer's height */
}
#footer {
	height: 2em; /* .push must be the same height as .footer */
}
/*******END OF FOOTER STICK CSS********/

html {
}

body {
	background: #fff;
}


/*
 * tables.css
 * ie 6 stretches the table way off the edge of the page if set to 100%
 */
#ds-body table {
	width: 850px !important;
}

/*
 * vireo.css
 * details page tabbed content
 */
#aspect_vireo_admin_View_div_view-form {
	width: 825px;
}


/*
 * vireo.css
 * details page tables
 */
#aspect_vireo_admin_View_div_content-main .ds-table {
	margin: 10px 0px 5px 10px !important;
}

/*
 * vireo.css
 * editable region had text overlapping the edit icon
 */
#aspect_vireo_admin_View_div_content-main div.editable, span.editable {
	width:185px;
	overflow:hidden;
}
div.editable, span.editable {
	background:transparent url(../images/icon_edit.gif) no-repeat scroll right center;
	padding-right:12px;
	width:165px;
	overflow:hidden;
}
div.editable {
	height:50px;
	overflow:hidden;
}
.fakeField {
	display:block;
	min-height:17px;
	width:50px;
	overflow:hidden;
}
div.sub-nav, div.ds-static-div div.tabbed_content {
	width:900px !important;
}


/**TRYING TO FIX THE OVERFLOW PROB**/
#aspect_vireo_admin_View_list_document-info-abstract-form-item,
#aspect_vireo_admin_View_list_document-info-abstract-form-item div.editable,
#aspect_vireo_admin_View_list_document-info-abstract-form-item span.editable,
#aspect_vireo_admin_View_list_document-info-abstract-form-item div.ds-form-content, 
#aspect_vireo_admin_View_list_document-info-abstract-form-item .editing textarea {
	clear: left !important;
	display: block !important;
	height: 100px !important;
	width: 100% !important;
	overflow: hidden !important;
}

#aspect_vireo_admin_View_field_abstract {
	color: #fff;
}
#aspect_vireo_admin_View_list_document-info-abstract-form-item .editing textarea {
	color: #000;	
}