body { margin: 0; padding: 0; text-align: left; min-width: 1140px; font-family:"Lucida Grande","Bitstream Vera Sans",Verdana,Arial,sans-serif; font-size: 95%; color:#333; background: #fff; }
#header { background: url("../vireoAdminImages/headerbg.gif") repeat-x 0 0; height: 110px; color: #183440; margin: 0px; padding: 0;}
#header a { color:#183440; }
#branding {	background:transparent url(../vireoAdminImages/logo.gif) no-repeat 0px 2px; display: block; float: left; height: 80px; width: 450px; position: relative; top: 0px; z-index: 10; }
#branding h1 { display: none;}
#user-tools { font-size:70%; position: relative; right: 20px; top: 4px; float: right; clear: right; height: 20px; z-index: 1; color: #ffc; }
#user-tools a { text-decoration: none; color: #ffc; }
#user-tools a.username { font-weight: bolder; color: #ffc; }
#user-tools a:hover { text-decoration: underline; color: #fff;}

#main-menu {  text-align: right; margin: 0; padding: 0; position: relative; top: 28px; right: -150px; float: right; width: 460px; height: 80px; z-index: 2; }
#main-menu ul { margin: 0; list-style: none; text-align: right; padding: 0; }
#main-menu li { display: inline; margin: 0; padding: 0; height: 0px; }
#main-menu a { text-decoration: none }

#ds-body { position: relative; border: none; width: inherit; clear: none; background-color: #fff;}
#ds-body table { margin: 10px 0; padding: 0; width: 100%; }
#ds-body .tabbed_form table { margin: 0; width: auto; }
#ds-body .tabbed_form td { border: none; }

div.content-main { margin: 0px 10px !important; padding: 0px 5px; width: 76%; float: left !important; clear: right; }
div.content-main h1 { width: 100% !important; border: 1px solid silver; border-width: 0 0 1px 0; font-family: Arial; padding: 0; margin: 10px 0px; color: #183440; line-height: 85%;}
div.content-main h1.ds-div-head { margin: 0 0 15px 0; line-height: 30px; }
div.content-main div.ds-static-div { clear: both; padding-top: 10px; padding-bottom: 10px; }
div.content-left { float: left; clear: left; margin: 0px; margin-left: 20px;width: 215px; font-family: Arial,Sans-Serif; font-size: 85%; float: left;}
.content-left-box { width: 241px; margin: 15px auto 5px; float: left; clear: both;  }

#aspect_vireo_admin_View_div_handle-link {padding: 20px 0; text-align: center;}
#aspect_vireo_admin_View_div_handle-link p {border: 1px solid #cbe087; background-color: #ffffe0; padding: 15px; display: inline;}
#aspect_vireo_admin_View_div_handle-link p span.label {font-weight: bolder;}
#aspect_vireo_admin_View_div_handle-link p span.uri {font-family: monospace;}

.content-left-box .box-top { margin: 0; padding: 0; background-image: url('../vireoAdminImages/box_top.png'); height: 10px; width: 205px; float: left;clear: both; }
.content-left-box .box-middle { width: 203px; padding: 5px 0px; border-left: 1px solid #CFCFCF; border-right: 1px solid #CFCFCF; background-color: #ECECEC; float: left;clear: both; }
.content-left-box .box-bottom { margin: 0; padding: 0; background-image: url('../vireoAdminImages/box_bottom.png'); height: 13px; width: 205px; float: left; clear: both; }
.content-left-box .box-bottom p {margin: 0px;float: left;clear: both;}
.content-left-box .box-middle h3 { text-align: center; margin: -7px 0 0; padding: 0px 0px 7px; font-family: Arial; font-size: 22px; border: 1px solid #ccc; border-width: 0 0 1px 0; color: black; }
.content-left-box .box-middle p { margin: 10px 0 0 10px; clear: both !important; float: none !important; display: block; font-size: 95%;}
.content-left-box .box-middle p.hidden { display: none !important;}
.content-left-box .box-middle p.submission-status {width: 85%; text-align: center; margin: 5px 5px 5px 15px; font-size: 110%; font-weight: bold; background-color: #2e6da2; border: 2px outset white;}
.content-left-box .box-middle p.submission-status a{color: #F4FFFF; text-decoration: none; display: block; padding: 7px;}
.content-left-box .box-middle p.submission-status a:hover{text-decoration: underline;}
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle fieldset.ds-form-list ol{margin: 4px 0 0 0; padding: 0px; width: 100%; float: left; clear: both;}
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle fieldset ol li.ds-form-item{float: left; clear: both;}
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle fieldset ol li.ds-form-item label.ds-form-label, #aspect_vireo_admin_View_div_content-left .content-left-box .box-middle fieldset ol li.ds-form-item span.ds-form-label{color:#7F8082; display: block; width: 110px; margin: 3px 5px 0px 10px; text-align: left; font-size: 90%; }
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle fieldset ol li.ds-form-item div.ds-form-content{width: 150px; margin: 0px 0px 4px 10px; padding: 0; font-weight: bold; font-size: 105%; }
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle form#aspect_vireo_admin_View_div_actions fieldset ol label.ds-form-label, #aspect_vireo_admin_View_div_content-left .content-left-box .box-middle form#aspect_vireo_admin_View_div_actions fieldset ol span.ds-form-label{display: none; }
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle form#aspect_vireo_admin_View_div_actions fieldset ol li.ds-form-item{margin: 0px 0px 0px 15px; width: 85%}
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle form#aspect_vireo_admin_View_div_actions fieldset ol li.ds-form-item div.ds-form-content{width: 95%;}
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle form#aspect_vireo_admin_View_div_actions fieldset ol li.ds-form-item input{margin: 0px 5px 0px 0px; vertical-align: top;}
#aspect_vireo_admin_View_div_content-left .content-left-box .box-middle form#aspect_vireo_admin_View_div_actions fieldset ol li.ds-form-item label {font-weight: normal;}

*.centered { text-align: center; }
.spacer { clear: both; height: 1px; }
a.filter_remove { text-decoration: none; margin: 3px; padding: 2px 5px 2px 5px; background:transparent url('../vireoAdminImages/red_x.gif') no-repeat scroll center center; }
ul.active-document-links { clear:none; display:block; float:left; }

div.content-left .panel { margin: 0 0 20px 0; border: 1px solid #ccc; background-color: #eee; }
div.content-left .panel h2 { font-family: Arial; font-size: 14px; border: 1px solid #ccc; border-width: 0 0 1px 0; background-color: #bbb; color: black; margin: 0; padding: 3px; }

div.box-middle h4 { font-family: "Lucida Grande","Bitstream Vera Sans"; text-transform: uppercase; background-color: #ccc; padding: 2px 12px; color: #444; font-size: 100% !important; margin: 19px 0px 0px 0px; clear: both;}
div.box-middle ul, div.box-middle ol { margin: 5px 0px 5px 10px; padding: 0; }
div.box-middle li { margin: 0 0 5px 20px; padding: 0; line-height: 95%; list-style-type: none; }
div.box-middle ul.childFilterList{padding: 0px;}
div.box-middle ul.childFilterList li{margin: 0px 0px 5px 0px; padding: 0px; list-style-type: none;}
div.box-middle form ol {margin: 5px 0px 5px 20px; padding-left: 20px; }
div.box-middle div.ds-form-content { margin: 0px; padding: 0px;}
div.box-middle fieldset { border: 0px; margin: 0px; padding: 0px;}
div.box-middle fieldset ol {border: 0px; margin: 5px 0px 5px 10px; padding: 0px;}
div.box-middle fieldset label {border: 0px; margin: 0px 0px 0px -5px; padding: 0px;}
div.box-middle div.ds-form-content {margin: 0px; padding: 0 20px 0 0;} 

div.available-filters{}

div.available-filters a,.box-middle a, .feature a, #aspect_vireo_admin_List_div_existing_filters a, #aspect_vireo_admin_History_div_existing_filters a, ul.avail-downloads a, ul#aspect_vireo_admin_List_list_feature-links a, ul#aspect_vireo_admin_History_list_feature-links a{color: black;font-size: 95%;text-decoration: none;}
div.available-filters a:hover, .box-middle a:hover, .feature a:hover, #aspect_vireo_admin_List_div_existing_filters a:hover, #aspect_vireo_admin_History_div_existing_filters a:hover, ul.avail-downloads a:hover, ul#aspect_vireo_admin_List_list_feature-links a:hover, ul#aspect_vireo_admin_History_list_feature-links a:hover{color: black;text-decoration: underline;}
div.available-filters input.ds-text-field {width: 108px; margin-left: 0px;}
div.available-filters input.ds-text-field.error {background-color: rgb(255, 192, 203);}
div.available-filters fieldset {margin: 0px 0px 0px 0px; padding: 0px; border: 0px;}
div.available-filters fieldset ol {list-style-type: none; margin: 0px 0px 0px 0px;}
div.available-filters fieldset ol li{padding: 0px;margin-top: 1px; margin:5px 0 0 10px;}
div.available-filters fieldset ol li.range-sumit {padding: 0px; margin-top: -52px; margin-left: 140px}
div.available-filters *.field-help {color: gray; font-size: 10px; display: block; padding-bottom: 3px;}
div.available-filters span.error {color: red; font-size: 12px;}

#aspect_vireo_admin_List_item_range-submit {margin-top: -8px;}
form#aspect_vireo_admin_List_div_date-range-filter label, 
form#aspect_vireo_admin_List_div_date-range-filter input, 
form#aspect_vireo_admin_List_div_date-range-filter span {margin-left: 18px;}
form#aspect_vireo_admin_List_div_date-range-filter input#aspect_vireo_admin_List_field_go{margin: -10px 0px 0px 20px !important;}

#facets {}
#facets h3 { padding: 1px 6px; margin: 20px 20px 0px; }
#facets ul { margin: 0 20px; padding: 0; list-style-type: none;}
#facets li { margin: 0 0 0 20px; padding: 0; }
#facets a { color: black; font-size: 95%; text-decoration: none; }
#facets a:hover { color: black; text-decoration: underline; }
#facet_search p { margin: 0 20px; padding: 0; }
#facet_search #q { width: 110px; margin-left: 20px; }
#facet_search #go_button { padding: 1px 1px; font-size: 80%; font-family: Arial; }


#content-top { background-color: #eee; border: 0px dashed red; height: 80px; }

#footer { clear: both; background-color: #eee; border: 1px solid #ccc; border-width: 1px 0; margin: 20px 0 40px; padding: 30px; font-size: 80%; color: #aaa;}
#footer a:link{color: #aaa;}
#footer a:visited{color: #aaa;}
#footer a:hover{color: #aaa;}
img { border: none; }

h2 { border-bottom: 1px solid #425F6D; color: #1B333F; font-size: 1.24em !important; margin: 20px 0pt 10px; text-transform: uppercase; }
h3 {}
h4 {}
.bold { font-weight: bolder; color: black; }
.license { border: 1px solid #808080; padding: 5px 25px; margin: 30px 50px; background-color: #eee; }

input .standard { width: 45px; }

.form {/* font-family: Arial,Helvetica,Sans-Serif; */ font-size: 90%; color: black; }
.form td, .from th { font-size: 12px; border: none;}
.form .label { color: #666; width: 140px; vertical-align: top; text-align: right; padding: 3px 10px 3px 0;}
.form .required { font-weight: bolder; }
.form .field td { vertical-align: middle; }
.form-buttons { margin: 0 0 0 190px; }
.form-button { padding: 3px 10px; }
form p { padding: 0 0 10px 0; }
fieldset {  border: 1px solid silver; clear: both;}
legend { color: #193441; padding: 0 5px; font-weight: bold; }
.errorlist { color: red; font-size: small; list-style: none; padding: 0; margin: 0;}
.errorlist li { margin: 0; padding: 0; }
.grey, .empty { color: silver; font-size: 85%; }
.hidden {display: none;}
.clear {clear: both;}
.system_log_entry { color: #999; }

#tabbed_form { clear: both; }

div.sub-nav { padding: 0px !important; font-size:125%; font-weight:bold; background:transparent url(../vireoAdminImages/tab-line.gif) repeat-x scroll center bottom; float:left; clear: both; display:block; width: 100%; }
div.sub-nav h2 { background:transparent none repeat scroll 0%; margin-bottom:0pt; min-height:15px; }
div.sub-nav ul { font-size:85%; list-style-image:none; list-style-position:outside; list-style-type:none; margin:0.5em 0pt 0pt; padding:0pt 0pt 0pt 1em; }
div.sub-nav li { background:transparent url(../vireoAdminImages/tab-back.png) repeat scroll 100% -100px; border-bottom:1px solid #BBBBBB; float:left; margin:0pt 1px 0pt 0pt; padding:0pt 5px 0pt 0pt; text-align:center; }
div.sub-nav li.active  { background:transparent url(../vireoAdminImages/tab-back.png) repeat scroll 100% 0pt; border-bottom:1px solid #FFFFFF; }
div.sub-nav li a, 
div.sub-nav li a:visited, 
div.sub-nav li span { background:transparent url(../vireoAdminImages/tab-back.png) repeat scroll 0pt -100px; color:#666666; display:block; float:left; min-height:17px; padding:5px 11px 5px 16px; text-align:center; text-decoration:none; white-space:nowrap; }
div.sub-nav li.active a, 
div.sub-nav li.active span { background:transparent url(../vireoAdminImages/tab-back.png) repeat scroll 0pt 0pt; }
div.sub-nav li:hover, .extra-nav li:hover { background-position:100% -200px; cursor: pointer; }
div.sub-nav li:hover a, .extra-nav li:hover a { background-position:0pt -200px;cursor: pointer; }
div.sub-nav li.active:hover, .extra-nav li.active:hover { background:transparent url(../vireoAdminImages/tab-back.png) repeat scroll 100% 0pt; border-bottom:1px solid #FFFFFF; cursor: auto; }
div.sub-nav li.active:hover a, .extra-nav li.active:hover a { background:transparent url(../vireoAdminImages/tab-back.png) repeat scroll 0pt 0pt; cursor: auto; }

div#aspect_vireo_admin_View_div_tab-content{padding: 0px !important; margin: 0px !important;}
div.ds-static-div div.tabbed_content{padding: 0px !important; min-height: 155px;clear: both; float: left; width: 100%;margin: 0px; border: 1px solid #c0c0c0; border-top: 0px; padding-top: 10px;}
div.tabbed_content fieldset.ds-form-list{border: 0px; float: left; clear: none; width: 400px; margin: 5px 0px 5px 0px; padding: 0px; font-size: 85%;}
div.tabbed_content fieldset.ds-form-list ol{list-style-type: none; float: left; padding: 0px; margin: 0px;}
div.tabbed_content fieldset.ds-form-list ol li.ds-form-item {list-style-type: none; float: left;margin: 2px;}

#aspect_vireo_admin_View_item_committeeEmailRequest div {float: none; display: inline;}

div.tabbed_content fieldset.ds-form-list ol li.ds-form-item label.ds-form-label, div.tabbed_content fieldset.ds-form-list ol li.ds-form-item span.ds-form-label{color: #666; display: block; float: left; clear: left; width: 150px; text-align: right; padding-right: 8px;}
div.tabbed_content fieldset.ds-form-list ol li.ds-form-item div.ds-form-content{display: block; float: left; width: 220px;clear: right; margin-bottom: 3px;}
div.tabbed_content fieldset.ds-form-list input{font-size: 95%}
div.tabbed_content li.committeeEmailRequest div {display: relative; top: -12px; left: 18px;}
div.tabbed_content li.committeeEmailRequest input {font-weight: bold; background: white url("../vireoAdminImages/button_bg.png") no-repeat scroll left bottom; margin: 0; padding: 4px 8px;}
div.tabbed_content fieldset.ds-form-list textarea{font-size: 115%;}

.extra-nav li a, .extra-nav li span { color:#666666; font-size:125%; font-weight:bold; letter-spacing:-0.02em; }

fieldset.ds-checkbox-field,fieldset.ds-radio-field { border: none; margin: 0; padding: 0; }

/* li.submit_item {display: none;} */

form.form-prefs {}
div.settings-options{margin-left: 20px; margin-top: 40px; }
div.settings-options h3.ds-div-head{border-bottom: 1px solid #425F6D; color: #1B333F; font-size: 1.1em; display: block; margin: 10px 0; text-transform:uppercase; }
div.settings-options h3.ds-head{color: black; font-size: 1em;float:left ; clear: both; margin: 1px 1px 1px 10px;}
div.settings-options fieldset legend{ border-bottom-width: 0px; margin-top: 10px;margin-right: 0pt;margin-bottom: 10px;margin-left: 0px;padding-left: 5px;color: rgb(25, 52, 65); font-size: 1em;} 
div.settings-options ol{display: block;float:left; clear: both; margin: 3px 3px 3px 10px;}
fieldset.pref-options ol{list-style-type:none; }
div.settings-options fieldset.pref-options{padding-top: 0px;  display:block; width: 90%; float:left ; clear: both; margin-bottom: 10px; margin-top: 10px; margin-left: 15px;}
div.settings-options fieldset ol{display: block; padding: 10px; margin-top: 0px; float:left ; clear: both;}
div.settings-options fieldset ol li{padding: 0px; float: left; clear: none; font-size: .7em; margin: 0px 0px 4px 0px; }
div.settings-options fieldset ol li div{padding: 0px; margin: 0px; float:left ; clear: both;}
div.settings-options fieldset ol li input{vertical-align: middle;}

fieldset.pref-options ol li div fieldset label{display:block; width: 210px; float: left; height: 30px;}
fieldset#aspect_vireo_admin_Settings_list_submission-status{border: 0px; padding: 0px !important;}
fieldset#aspect_vireo_admin_Settings_list_submission-status ol{ margin: 0px;}
fieldset#aspect_vireo_admin_Settings_list_submission-status li{display: block;float:left;clear: both; width: auto;}
fieldset#aspect_vireo_admin_Settings_list_submission-status li label{font-size: 145%;  width: 310px; display:block; float: left; text-align: left;}
fieldset#aspect_vireo_admin_Settings_list_submission-status li div{float: left; clear: right; margin-left: 5px; width: auto;}
fieldset#aspect_vireo_admin_Settings_list_submission-status li div span.field-help{color: gray; font-size: 10px; display: block; padding-bottom: 3px;}

fieldset#aspect_vireo_admin_Settings_list_email-options ol li {padding: 0 50px 40px 20px; width: 200px;}

fieldset#aspect_vireo_admin_Settings_list_submission-instruction{border: 0px; padding: 0px !important;}
fieldset#aspect_vireo_admin_Settings_list_submission-instruction ol{ margin: 0px;}
fieldset#aspect_vireo_admin_Settings_list_submission-instruction li{display: block;float:left;clear: both; width: 800px;}
fieldset#aspect_vireo_admin_Settings_list_submission-instruction li label{font-size: 145%;  width: 230px; display:block; float: left; text-align: left;}
fieldset#aspect_vireo_admin_Settings_list_submission-instruction li label.hidden{display: none;}
fieldset#aspect_vireo_admin_Settings_list_submission-instruction li div{float: left; clear: right; margin-left: 5px; width: 550px;}
fieldset#aspect_vireo_admin_Settings_list_submission-instruction li div textarea{width: 545px; height: 200px; padding: 0px; margin: 0px 0px 7px 0px;}
fieldset#aspect_vireo_admin_Settings_list_submission-instruction li div span.field-help{color: gray; font-size: 10px; display: block; padding-bottom: 3px;}

div#aspect_vireo_admin_Settings_div_email-template-help p {margin-left: 20px; font-size: 90%; width: 750px;}
div#aspect_vireo_admin_Settings_div_email-template-help p.email-template-sample {margin-left: 40px;}
div#aspect_vireo_admin_Settings_div_email-template-help table {margin: 10px 0 20px 20px; width: 700px; }
div#aspect_vireo_admin_Settings_div_email-template-help table span.ds-gloss-list-label {font-weight: bold;}
div#aspect_vireo_admin_Settings_div_email-template-help h3 {margin-bottom: 15px;}

a.remove-link { color: gray; font-size: 75%; margin-left: 5px; text-decoration: none; }
a.remove-link:hover { text-decoration: underline; cursor: pointer; }
#aspect_vireo_admin_Settings_list_email-list a.remove-link { margin-left: 30px; }

span.degree_level_hint {color: silver; font-size: 85%; font-weight: bold;}

span.updating{color: blue; padding:0px 3px 0px 3px;}
span.saved{color: green; padding:0px 3px 0px 3px; }
span.error{color: red; padding:0px 3px 0px 3px; }

fieldset.add-text {border: 0px; float: left; clear:both; padding: 0px; margin: 0px 0px 0px 0px; width: 500px; display: none;}
fieldset.add-text ol{margin: 0px; padding: 0px; width: 450px;}
fieldset.add-text ol li.ds-form-item {float: left; clear: both;display: block;}
fieldset.add-text ol li.ds-form-item  label.ds-form-label, fieldset.add-text ol li.ds-form-item  span.ds-form-label{float: left; clear: none ;display: block; font-weight: bold; font-size: 120%; margin-right: 10px; width: 75px; text-align: right;}
fieldset.add-text ol li.ds-form-item  div.ds-form-content{float: left; clear: none ;display: block;}
fieldset.add-text.show{display: block;}

#aspect_vireo_admin_Settings_list_email-list {}
#aspect_vireo_admin_Settings_list_email-list span.message-subject {cursor: pointer;}
#aspect_vireo_admin_Settings_list_email-list span.message-body {display: block; padding: 20px 2px; font-size: 100%; width: 600px;}
#aspect_vireo_admin_Settings_list_email-list span.message-body pre { white-space: pre-wrap; white-space: -moz-pre-wrap !important; word-wrap: break-word; }

#aspect_vireo_admin_Settings_list_add-email-templates-list ol {width: 750px;}
#aspect_vireo_admin_Settings_list_add-email-templates-list ol li.last {width: none; padding: 0 0 0 82px; text-align: left !important;}
#aspect_vireo_admin_Settings_list_add-email-templates-list ol li.last div.ds-form-content {text-align: left !important;}
#aspect_vireo_admin_Settings_field_add-email-template-text {height: 250px; width: 650px;}
#aspect_vireo_admin_Settings_field_add-email-template-subject {width: 450px;}

p.add-option{display: block; float: left; clear: both; margin: 5px;}
p.add-option a.subtle{color: silver; font-size: 80%; text-transform: uppercase; display: block;}
p.add-option a.subtle:hover{text-decoration:underline;cursor:pointer;}

img.image_checkbox{vertical-align: middle; margin-right: 3px;}
img.image_radio{vertical-align: middle; margin-right: 3px;}
*.waiting{background:url("../vireoAdminImages/ajax-loading.gif") no-repeat center center;}
table.waiting th{background:url("../vireoAdminImages/indicator.gif") no-repeat right center;}

p.submission-info { height: 52px; float:left; margin: 6px 10px 0 0;  }
p.submission-info img { float: left; margin: 6px 10px 0 0; width: 45px; }
div.links { float: left; clear: both; position: relative; left: 45px; top: -30px }

span.submission-thesis-title { display: block; width: 135px; max-width: 150px; overflow: hidden; margin-top: 4px; }
span.submission-thesis-link { display: block; font-weight: bold; font-size: 125%; }

input.editable, textarea.editable, select.editable { width: 195px; }
textarea.editable{height: 65px;}
div.editable{height: 50px; overflow:hidden;}
*.fakeField{width: 100%; min-height: 17px; display: block; overflow: hidden;}
*.highlightField{border: 2px inset #7F80FF; padding:2px;}
*.emptyField{color: #D3D3D3;}
div.editableWrap, span.editableWrap{float: left; width: 220px; /* background: url(../vireoAdminImages/icon_edit.gif) no-repeat; background-position:right; */ padding-right: 10px; }
#aspect_vireo_admin_View_field_abstract {height: 145px;}

div.editable.unsaved, span.editable.unsaved{width: 165px; background: url(../vireoAdminImages/admin/icon_alert.gif) no-repeat; background-position:right; padding-right: 12px;}
ol.editable.unsaved, ul.editable.unsaved {width: 175px; background: url(../vireoAdminImages/admin/icon_alert.gif) no-repeat; background-position:right; margin: 0px; padding: 0px;padding-right: 12px;}

*.updating-ajax{width: 179px; background: url(../vireoAdminImages/indicator.gif) no-repeat; background-position:right;}

div.tabbed_content label.ds-form-label, div.tabbed_content span.ds-form-label{width: 115px;}
div.tabbed_content fieldset.ds-form-list ol{padding: 0px !important; margin: 0px !important;}
div.tabbed_content fieldset.ds-form-list ol li.ds-form-item div.ds-form-content.editing, label.ds-composite-component.editing{width:225px; background: url(../vireoAdminImages/save_icon.gif) no-repeat; background-position:right;}
div.tabbed_content fieldset.ds-form-list ol li.ds-form-item div.ds-form-content.editing-group, label.ds-composite-component.editing-group{width:177px; background: none no-repeat; background-position:right;}
div.tabbed_content fieldset.ds-form-list ol li.ds-form-item div.ds-form-content.editing:hover, label.ds-composite-component.editing:hover{cursor: pointer;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items *{padding-top: 0px !important;padding-bottom: 0px !important;  margin-top: 0px !important;margin-bottom: 0px !important;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list {padding: 5px}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list label.ds-form-label, div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list span.ds-form-label{display: none;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content{width: 300px; display: block; padding: 0px; float: left; clear: both;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content *{ float:left; clear: none;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content div.editable{float:left; width: 400px;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content input[type='text']{float:left; width: 148px;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content input[type='checkbox']{margin-right: 3px;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content span{float:left; width: 225px; display: block;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content fieldset{margin: 0px;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content fieldset.ds-checkbox-field{float:left; margin-left: 5px; width: auto; }
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content fieldset.ds-checkbox-field label{float:left; width: auto; margin-left: 7px;display: block;}
div.tabbed_content fieldset#aspect_vireo_admin_View_list_degree-info-committee-form-items.ds-form-list ol li.ds-form-item div.ds-form-content label{float:left; display: block;}
div.tabbed_content #aspect_vireo_admin_View_field_committee-update {font-weight: bold; background: white url("../vireoAdminImages/button_bg.png") no-repeat scroll left bottom; margin: 0; padding: 4px 8px !important;}

form.update-submission-status h3{margin: 20px;}
form.update-submission-status input.-button-{font-size: 125%; font-weight: bold; background: transparent url("../vireoAdminImages/button_bg.png") no-repeat scroll left bottom; margin: 10px; padding: 7px 10px;}
form.update-submission-status fieldset.available-options input.-button-{font-size: 100%;}

form.actions fieldset.completed label{text-decoration:line-through; color: gray;}

div#aspect_vireo_admin_View_div_submission-info { float: left; clear:both; width: 100%; }
div#aspect_vireo_admin_View_div_submission-info h2 { display: none; }

form.view-form span.field-help{color: #666; font-size: 87%;}

form.update-files fieldset.ds-radio-field.file-option label{display: block; margin-bottom: 10px;}
p.error, div.error{text-align:center; color: black; font-weight: bold; font-size: 90%; border: 1px solid black; background-color: #EFB3B3; padding: 5px; width: 98%;}
p.success, div.success{text-align:center; color: black; font-weight: bold; font-size: 90%; border: 1px solid black; background-color: #A1FEA3; padding: 5px;width: 98%; }

*.loading{background: url(../vireoAdminImages/loadingAnimation.gif) no-repeat;}
input[type='checkbox'], input[type='radio']{ margin: 0 3px 2px 0;}
fieldset.committee-members li.last input{margin-left: 25px; margin-top: 10px;}

fieldset#aspect_vireo_admin_List_list_search-list label, fieldset#aspect_vireo_admin_History_list_search-list label{display: none;}
li.noteArea label{display:none;}
li.displayName label{display:none;}
li.pref-email label{display:none;}

fieldset.searchMem{border: 0px;}
fieldset.searchMem ol, fieldset.searchMem li{list-style-type: none; padding: 0px; margin: 0px;}
fieldset.searchMem div.ds-form-content{display: inline;}

li.committeeEmailRequest{text-align: center !important; display: block; width: 300px !important; padding-top: 0px !important;}
li.committeeEmailRequest div{display: block; float: none; width: 295px !important; padding: 0px; margin: 0px !important;}

div.access-form{padding: 0px; float: left; clear: both; width: 90%;}

div.log-entries, div.all-files{width: 100%; float: left; clear: both;}

#aspect_vireo_admin_List_field_search,
#aspect_vireo_admin_History_field_search {margin-left: 20px; margin-top: 7px;}

fieldset.page-size ol li div fieldset label{display: block; float: left; clear: none; margin-right: 90px !important; padding: 0px; width: auto;}

#aspect_vireo_admin_View_list_file-options fieldset.secondary {display: none; }
#aspect_vireo_admin_View_list_file-options ol li.ds-form-item {margin: 1px 1px; padding: 0px; }
#aspect_vireo_admin_View_list_file-options div.ds-form-content {margin: 1px !important;}
#aspect_vireo_admin_View_list_file-options ol ol {margin-left: 20px}

#aspect_vireo_admin_View_list_file-note-options ol {margin-left: 0px !important;}
#aspect_vireo_admin_View_list_file-note-options ol li {margin: 1px;}
#aspect_vireo_admin_View_list_file-note-options label {display: none;}

#aspect_vireo_admin_View_list_note-options ol li.ds-form-item {margin: 1px 1px; padding: 0px; }
#aspect_vireo_admin_View_list_note-options div.ds-form-content {margin: 1px !important;}
#aspect_vireo_admin_View_list_note-options ol ol {margin-left: 20px;}
#aspect_vireo_admin_View_item_templateSelector label {display: none;}

div#aspect_vireo_admin_Settings_div_user-prefs fieldset li.displayName input, div#aspect_vireo_admin_Settings_div_user-prefs fieldset li.pref-email input{margin-top: 10px;}
div#aspect_vireo_admin_Settings_div_user-prefs fieldset.ds-checkbox-field input{margin:0 6px 0px 5px;}

form#aspect_vireo_admin_Settings_div_form-prefs {margin-left: -20px}

fieldset#aspect_vireo_admin_Settings_list_email-options, fieldset#aspect_vireo_admin_Settings_list_add-custom-actions-list, p.add-option {margin-left: 15px !important;}
fieldset#aspect_vireo_admin_View_list_custom-actions-list {font-size: 90%;}
ol.preference-list{margin-left: 40px !important; font-size: 90%}
div#aspect_vireo_admin_Settings_div_submission-dates fieldset#aspect_vireo_admin_Settings_list_submission-status {margin-left: 10px;}
div.settings-options li.last {width: 70% !important; text-align:center !important;}
div.settings-options li.last div{width: 100%; text-align:center !important;}
#aspect_vireo_admin_Settings_item_submission-umi-item {width: auto !important; text-align: left !important;}
#aspect_vireo_admin_Settings_item_submission-umi-item label{width: 310px !important;}
#aspect_vireo_admin_Settings_item_submission-umi-item div{text-align: left !important;}
*.download-item{font-size: 12px !important; margin-left: -15px;}

span.collapse {color: #c0c0c0; font-size: 14px; display: block; float: right !important; clear: right !important; width: auto !important; margin-top: -26px; padding-right: 3px;}
p.add-option{color: red;}
fieldset.no-legend legend{display: none;}
li.carbon-copy{width: 85%; font-size: 95%;}

#aspect_vireo_admin_Settings_list_add-document-types-list div.ds-form-content label{float: left; margin-right: 3px;}
#aspect_vireo_admin_Settings_list_add-major-levels-list div.ds-form-content label{float: left; margin-right: 3px;}
#aspect_vireo_admin_View_div_view-form span.error{font-size: 70% !important; float: left; clear: both;}


/***********************************************
 ***********************************************
              TABLES 
 *********************************************** 
 ***********************************************/

table { border-collapse:collapse; border-color:#ccc; }
td, th { font-size:11px; line-height:13px; border-bottom:1px solid #eee; vertical-align:top; padding:5px; font-family:"Lucida Grande", Verdana, Arial, sans-serif; }
th { text-align:left; font-size:12px; font-weight:bold; }
th, tfoot td { color:#666; padding:2px 5px; font-size:11px; background:#e1e1e1 url(../vireoAdminImages/admin/nav-bg.gif) top left repeat-x; border-left:1px solid #ddd; border-bottom:1px solid #ddd; }
tfoot td { border-bottom:none; border-top:1px solid #ddd; }
*.nowrap { white-space: nowrap;}

#TB_window table {float: none; display: block; clear: both;}
table.search-results {float: left; clear: both;}
table.search-results th a { color: #333; font-weight: bolder; text-decoration: none; }
table.search-results td, th { border: 1px solid silver; padding: 3px 8px; }
table.search-results th, table.search-results tfoot td { background-color: #e0e0e0; }
table.search-results td a { font-weight: bold; text-decoration: none; color: #00008B; }
table.search-results td a.more-info:hover { text-decoration: underline; }
table.search-results tr.even:hover { background-color:#eeebe4; text-decoration:underline; }
table.search-results tr.odd:hover { background-color:#eeebe4; background-image: none; text-decoration:underline; }

.system_log_entry a { font-weight: bold; text-decoration: none; color: #00008B; }
.system_log_entry a:hover{ text-decoration: underline; }

#ds-body table { margin: 10px 0px 0px 0px; padding: 0; width: 100%; }
#ds-body .tabbed_form table { margin: 0; width: auto; }
#ds-body .tabbed_form td { border: none; }
#ds-body table.users-table { float: left; clear: both; display: block; width: auto !important; margin: 10px 0px 0px 15px; }

th.optional { font-weight:normal !important; }
fieldset table { border-right:1px solid #eee; }
table fieldset{margin:0px; padding: 0px; border: 0px;}
tr.row-label td { font-size:9px; padding-top:2px; padding-bottom:0; border-bottom:none; color:#666; margin-top:-1px; }
tr.alt { background:#f6f6f6; }
tr.even { background:#fff; }
tr.odd { background:#EEEDEB; }
td.center { text-align: center;}

/* SORTABLE TABLES */
th a:link, th a:visited { color:#666; display:block; }
table th.sorted { background-position:bottom left !important; }
table th.sorted a { padding-right:13px; }
table th.ascending a { background:url(../vireoAdminImages/admin/arrow-down.gif) right .4em no-repeat; }
table th.descending a { background:url(../vireoAdminImages/admin/arrow-up.gif) right .4em no-repeat; }

/* ORDERABLE TABLES */
table.orderable tbody tr td:hover { cursor:move; }
table.orderable tbody tr td:first-child { padding-left:14px; background-image:url(../vireoAdminImages/admin/nav-bg-grabber.gif); background-repeat: repeat-y; }
table.orderable-initalized .order-cell, body>tr>td.order-cell { display:none; }

/*  CHANGELIST TABLES  */
#changelist table th { white-space:nowrap; border-collapse: collapse; }
#changelist table tbody td { border-left: 1px solid #ddd; }
#changelist table tfoot { color: #666; }

/*  TOOLBAR  */
#changelist #toolbar { padding:3px; border-bottom:1px solid #ddd; background:#e1e1e1 url(../vireoAdminImages/admin/nav-bg.gif) top left repeat-x; color:#666; }
#changelist #toolbar form input { font-size:11px; padding:1px 2px; }
#changelist #toolbar form #searchbar { padding:2px; }
#changelist #changelist-search img { vertical-align:middle; }

/* PAGINATION */
tr.paginator { font-family: Arial; font-size: 11px; padding-top: 0px; color: #666666; border: 1px solid #ddd; border-width: 0 0 1px 1px; height: 31px !important;
				background-color: #e1e1e1; background-image: url(../vireoAdminImages/admin/nav-bg.gif) !important; background-repeat: repeat-x; background-attachment: scroll; }
tr.paginator a, .this-page, .morePages { display: block; float: left; padding: 0.2em 0.5em; margin-right: 0.1em; margin-top: 5px; border: 1px solid #999; color: #444 !important; text-decoration: none !important; font-weight: normal !important;}
tr.paginator a.more { border: 0px solid #999; color: #00008B !important; text-decoration: none !important; font-weight: bold !important;}
tr.paginator a:hover { text-decoration: none; color: blue; border-color: blue; }
tr.paginator a.more:hover { text-decoration: underline !important;}
tr.paginator .this-page { background-color: rgb(48, 74, 86); border-color: rgb(48, 74, 86); color: white !important; font-weight: bolder; }
tr.paginator .page-gap { display: block; float: left; margin: 0 .7em; }
tr.paginator p { margin: 0; padding: 0; }
tr.paginator p.total-info { display: block; clear: both; margin: 0 0; padding: 10px 0 10px; color: #666; }
tr.paginator td span.paging-links{display: block; margin: 0; clear: both;}
tr.paginator td span.total-info { display: block; clear: right; float: left; margin: 8px 5px 5px 15px !important; color: #666; }
tr.paginator input{font-size: 1.1em; float: right; clear: both; font-weight: bold; background:white url("../vireoAdminImages/button_bg.png") no-repeat scroll left bottom; border: 1px solid #999999; margin: 3px; padding: 2px 8px; }
tr.paginator td{padding: 0px 0px 0px 5px !important;}

table.search-results td a.manager-link{background: url('../vireoAdminImages/manager.png') no-repeat 18px; display:block; height: 17px; cursor: pointer;}
table.search-results td a.manager-link:hover{text-decoration: none; cursor: pointer; display:block; height: 17px;}
table.search-results td a.user-link:hover{text-decoration: underline; cursor: pointer;}
table.search-results td a.detail-link{color:#333; font-weight: normal;}
table.search-results td a.detail-link:hover{text-decoration:underline;}
table.search-results tr:hover{background-color:rgb(225, 225, 225);}

table#aspect_vireo_admin_View_table_log-entry-results.search-results { margin: 10px 0px 5px 30px; width: auto;}
table#aspect_vireo_admin_View_table_file-entry-results.search-results { margin: 10px 0px 5px 30px; width: auto;}
table#aspect_vireo_admin_List_table_filterTable fieldset { text-align: center; }

.embargo-type-error{color: red; font-size: 12px; width: 30em;}
