<table class="table table-bordered table-striped table-hover action-log-table">
  <thead>
    <tr>
      <th>Action By</th>
      <th>Action / Comment</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="actionLog in submission.actionLogs | orderBy:'-' | limitTo:actionLogCurrentLimit" ng-class="{'danger': actionLog.privateFlag}">
      <td>{{actionLog.user.settings.displayName}}</td>
      <td class="message-cell">{{actionLog.entry}}
        <spam class="private-flag" ng-if="actionLog.privateFlag">[private]</spam>
      </td>
      <td>{{actionLog.actionDate | date:'MMM dd, yyyy HH:mm'}}</td>
    </tr>
  </tbody>
  <tfoot ng-if="submission.actionLogs.length>actionLogLimit">
    <tr>
      <td ng-click="updateActionLogLimit()">
        <span class="action-log-more-less" ng-if="actionLogCurrentLimit===actionLogLimit">[more]</span>
        <span class="action-log-more-less" ng-if="actionLogCurrentLimit!==actionLogLimit">[less]</span>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
