<table  ng-table="tableParams" show-filter="false" class="table table-bordered table-striped table-hover action-log-table">
  <tbody>
    <tr ng-repeat="actionLog in $data | filter: (public || '') && {privateFlag: 'false'}" ng-class="{'danger': actionLog.privateFlag}">
      <td title="'Action By'">{{actionLog.user.settings.displayName}}</td>
      <td title="'Action / Comment'" class="message-cell">{{actionLog.entry}}
        <spam class="private-flag" ng-if="actionLog.privateFlag">[private]</spam>
      </td>
      <td title="'Time'" >{{actionLog.actionDate | date:'MMM dd, yyyy HH:mm'}}</td>
    </tr>
  </tbody>
</table>
