
<div ng-if="sortColumn && scopeValue.list.length > 0" class="sort-div">
	<a href="" ng-click="sortMethod({column:sortColumn})">
		<span class="glyphicon glyphicon-refresh"></span> 
		<span ng-if="sortAction=='confirm'"> Sort {{sortModel}}</span>
		<span ng-if="sortAction=='sort'"> Are you sure you want to sort all {{sortModel}}?</span>
	</a>
</div>

<ol data-as-sortable="listeners" data-ng-model="scopeValue.list">
   <li data-ng-repeat="item in scopeValue.list" data-as-sortable-item>
      	<div data-as-sortable-item-handle>
      		<span ng-include src="itemView" draggable="true"></span>
      	</div>
   </li>
</ol>
