<div class="custom-action">
	<span>{{ item.position }}.</span>
	<span class="mouse-hover-pointer"
		  ng-click="edit({index:item.position})"
		  ng-mouseenter="isMouseHover=true"
		  ng-mouseleave="isMouseHover=false">
		<span ng-show="!item.isStudentVisible" class="glyphicon glyphicon glyphicon-user"></span>
		<span ng-show="item.isStudentVisible" class="glyphicon glyphicon glyphicon-globe"></span>
		{{item.label}}
	</span>
	<span ng-show="isMouseHover" class="glyphicon glyphicon-pencil edit-setting-icon"></span>
</div>