
<div ng-if="sortColumn && scopeValue.length > 0" class="sort-div">
	<a href="" ng-click="sortMethod({column:sortColumn, where:itemTypeString})">
		<span class="glyphicon glyphicon-refresh"></span> 
		<span ng-if="sortAction=='confirm'"> Sort {{itemTypeString}} by {{sortColumn}}</span>
		<span ng-if="sortAction=='sort'"> Are you sure you want to sort all {{itemTypeString}} by {{sortColumn}}?</span>
	</a>
</div>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<td data-ng-repeat="header in properties">{{header}}</td>
		</tr>
	</thead>
	<tbody data-as-sortable="listeners" data-ng-model="scopeValue">
		<tr class="draggable-table-row" data-ng-repeat="item in scopeValue" ng-include src="itemView" draggable="true" data-as-sortable-item >
		</tr>
	</tbody>
</table>