<div id="{{ id }}" class="upload-drop-zone" ng-class="{'reject': fileValidationError}" ng-model="fileModel" ngf-drag-over-class="dragging($event)" ngf-pattern="{{ patterns }}" ngf-drop="dropMethodWrapper({file:$file})">

	<div class="col-sm-6">
		<span ng-if="!fileValidationError" ngf-pattern="{{ patterns }}" ng-model="fileModel" ngf-select="dropMethodWrapper({file:$file})" class="glyphicon glyphicon-upload"></span>
		<span ng-if="fileValidationError" class="glyphicon glyphicon-ban-circle"></span>		

		
	</div>
	<div class="col-sm-6">
		<p ng-if="!fileValidationError">{{ text }}</p>
		<p ng-if="fileValidationError">Not an accepted file type!</p>
	</div>
	
</div>
