<div class="row">		    	
	<h4>{{ label }}<div tooltip="{{hint}}"><span class="glyphicon glyphicon-info-sign color-reset"></span></div></h4>
	<div class="lock-control">
    	<a ng-if="locked" ng-click="toggleLock()" class="hover-pointer">
			<span class="glyphicon glyphicon-lock"> </span> This field is locked to prevent accidental editing, click to unlock.
    	</a>
    	
		<p ng-if="!locked" ng-click="toggleLock()" class="hover-pointer">
			<span class="glyphicon glyphicon-pencil"></span> This field is unlocked and may be edited. Leaving the page will re-lock the field.
		</p>


		<div ng-show="!locked">
			<textarea ui-tinymce="tinymceOptions" ng-model="scopeValue"></textarea>
		</div>
		<div ng-show="locked" class="locking-text-area" ng-bind-html="scopeValue"disabled></div>

		<div class="hint">{{ hint }}</div>
	</div>
</div>