<div class="row" ng-repeat="submissionWorkflowStep in submission.submissionWorkflowSteps">
	<h3>{{submissionWorkflowStep.name}}</h3>
	<hr>
	<div class="row" ng-repeat="aggregateFieldProfile in submissionWorkflowStep.aggregateFieldProfiles | filter:required">
		<div class="col-sm-2 col-sm-offset-1 col-xs-12">
			<span class="review-label pull-right-sm pull-right-lg" ng-class="{'danger': !fv.value || fv.value===''}">{{aggregateFieldProfile.fieldGlosses[0].value}}:</span>
		</div>
		<div class="col-sm-9 col-xs-12">
			<ul class="list-unstyled">
				<li ng-repeat="fv in submission.fieldValues | filter:predicateMatch(aggregateFieldProfile)">
					{{fv.value}}<span ng-if="aggregateFieldProfile.inputType.name==InputType.INPUT_CONTACT"> ({{fv.identifier}})</span>
				</li>
			</ul>
		</div>
	</div>
</div>