<div ng-show="submission" class="dialog actions">
  <span class="dialog-close toggle-href" ng-click="toggle()">[{{ac[0]}}]</span>
  <h4 class="dialog-header">Requirements Checklist:</h4>
  <div class="dialog-content" ng-class="{'dialog-open': ac[0] === '-', 'dialog-closed': ac[0] === '+'}">
    <ul class="dialog-actions-list">
      <li ng-repeat="customAction in submission.customActionValues" ng-if="customAction.definition.isStudentVisible" class="action-list-element"><input type="checkbox" ng-model="customAction.value" disabled/>
        <span>{{customAction.definition.label}}</span>
      </li>
    </ul>
  </div>
</div>
