<div ng-init="init()">

	<div ng-if="immutable" ng-repeat="field in fieldValues">
		<label><span ng-if="$index < 1">{{label}}:</span></label>
		<span ng-if="standardInput()" ng-class="{'info-empty': !field.value}">{{field.value || 'none'}}</span>
		<span ng-if="inputTel()">
			<a ng-if="field.value" href="tel://{{field.value}}">{{field.value}}</a>
			<span ng-if="!field.value" class="info-empty">none</span>
		</span>
		<span ng-if="inputUrl()">
			<a ng-if="field.value" href="http://{{field.value}}">{{field.value}}</a>
			<span ng-if="!field.value" class="info-empty">none</span>
		</span>
		<span ng-if="inputDateTime() && !field.value" class="info-empty">none</span>
		<span ng-if="inputDateTime() && field.value">{{field.value | date:'MM/dd/yyyy'}}</span>
	</div>
	
	<div ng-if="!immutable" ng-repeat="field in fieldValues">
		
		<div ng-if="!field.editing">
			<div class="col-sm-10">
				<label><span ng-if="$index < 1">{{label}}:</span></label>
				
				<span ng-if="!field.updating" class="glyphicon glyphicon-pencil toggle-href" ng-click="editFieldValue(field)"></span>
				<span ng-if="field.updating" class="glyphicon glyphicon-refresh spinning"> </span>
				
				<span ng-if="standardInput()" ng-class="{'info-empty': !field.value}">{{field.value || 'none'}}</span>
				<span ng-if="inputTel()">
					<a ng-if="field.value" href="tel://{{field.value}}">{{field.value}}</a>
					<span ng-if="!field.value" class="info-empty">none</span>
				</span>
				<span ng-if="inputUrl()">
					<a ng-if="field.value" href="http://{{field.value}}">{{field.value}}</a>
					<span ng-if="!field.value" class="info-empty">none</span>
				</span>
				<span ng-if="inputDateTime() && !field.value" class="info-empty">none</span>
				<span ng-if="inputDateTime() && field.value">{{field.value | date:'MM/dd/yyyy'}}</span>
			</div>
			<div class="col-sm-2">
				<span ng-if="fieldProfile.repeatable && $index == 0" class="glyphicon glyphicon-plus toggle-href" ng-click="addFieldValue()"></span>
				<span ng-if="fieldProfile.repeatable && $index > 0" class="glyphicon glyphicon-minus toggle-href" ng-click="removeFieldValue(field)"></span>
			</div>
		</div>

		<form ng-submit="save(field)">
			<div class="form-inline" ng-if="field.editing">
				<label><span ng-if="$index < 1">{{label}}:</span></label>
				<ng-include src="edit"></ng-include>
			</div>
		</form>

	<div>

</div>