<div class="form-group toggle-button">
  <ul class="inline-list">
    <li>
    	<span class="toggle-button-heading">{{label}}</span>
    </li>
    <li>
    	<div class="btn-group">
      		<button ng-repeat="option in options track by $index" class="btn btn-sm btn-default" ng-click="setActive(option.evaluation)" ng-class="{'active': scopeValue == option.evaluation}">{{option.gloss}}</button>
    	</div>
    </li>
    <li>
    	<span ng-if="toolTip" class="glyphicon glyphicon-info-sign" tooltip="{{ toolTip }}"></span>
    </li>
  </ul>
</div>
