<div ng-messages="validationResponse" multiple>
    <span ng-message="errors" ng-if="validationResponse.errors.length > 0" class="alert alert-danger glyphicon glyphicon-info-sign">
   		<span ng-repeat="error in validationResponse.errors">{{error.field}} {{error.defaultMessage}}</span>
   	</span>
   	<span ng-message="warnings" ng-if="validationResponse.warnings.length > 0" class="alert alert-warning glyphicon glyphicon-info-sign">
   		<span ng-repeat="warning in validationResponse.warnings">{{warning.field}} {{warning.defaultMessage}}</span>
	</span>
    <span ng-message="infos" ng-if="validationResponse.infos.length > 0" class="alert alert-info glyphicon glyphicon-info-sign">
    	<span ng-repeat="info in validationResponse.infos">{{info.field}} {{info.defaultMessage}}</span>
    </span>
</div>