<div id="{{::query}}" class="panel panel-default">

  <!-- <div class="panel-heading" ng-click="toggleExpanded()" ng-class="{'expanded': expanded}"></div> -->

  <div>
    <div ng-click="toggleExpanded()" class="orderable-panel-bar" ng-class="{'expanded': expanded}">
      <div class="panel-selection"><img ng-if="loading" class="loader" src="resources/images/ajax-loader.gif" /></div>
      <span ng-transclude></span>
      <!-- <span class="glyphicon glyphicon-menu-down pull-right" ng-show="!expanded"></span> -->
      <!-- <span class="glyphicon glyphicon-menu-up  pull-right" ng-show="expanded"></span> -->
    </div>
    <div class="accordion-order-box">
      <a href="#"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
      <a href="#"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
    </div>
  </div>

  <!-- <div class="panel-body" ng-class="{'expanded': expanded}"> -->
  <!-- <div ng-include="html" class="panel-content-wrapper" onload="loaded()"></div> -->
  <!-- </div> -->

</div>
