<div class="row">
	
	<div class="col-md-6">
  		<!--on-blur="updateConfigurableSettings('application', 'current_semester')"
				key-down="confirmEdit(event, prop)"-->
  		<textField
  			class="workflowstep-edit-name" 
			label="Workflow Step Name:" 
			scope-value="step.name"
			hint="'My Workflow Step's name'"
			on-blur="updateWorkflowStep(step)">
		</textField>
  	</div>

	<div class="col-md-3">
  		<!--ng-click="updateConfigurableSettings('application', 'submissions_open')"-->
  		<toggleButton 
			label="Workflow Step is Overridable:"
			scope-value="step.overrideable"
			toggle-options='[{"true": "Yes"},{"false": "No"}]'
			ng-click="updateWorkflowStep(step)">
		</toggleButton>
	</div>

  	<div class="col-md-3">
  		<div class="form-group">
  			<button class="btn btn-danger" ng-click="deleteWorkflowStep('a','b')">Delete Field Profile</button>
  		</div>
  	</div>



</div>
<hr>
<div class="row">
  	<div class="col-md-6">
  		<button class="btn btn-default">Add Field Profile</button>
  		<ol>
			<li  ng-repeat="fp in step.aggregateFieldProfiles track by $index"> 
				 {{fp.predicate.value}}
			</li>
		</ol>
	</div>
  	<div class="col-md-6">
    	<div ng-repeat="note in steps[$parent.$index].notes" class="sticky-note">{{note.name}}</div>
  	</div>
</div>
