<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetFieldGlosses()" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Add Label</h3>
</div>

<form ng-submit="createNewFieldGloss()" name="forms.create" novalidate>

  <validationmessage results="fieldGlossRepo.getValidationResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput no-id="true" model="modalData" property="value" label="Label Name" placeholder="Name of the new label" form="forms.create" validations="fieldGlossRepo.getValidations()" results="fieldGlossRepo.getValidationResults()"></validatedinput>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="resetFieldGlosses()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="forms.create.$invalid">Create</button>
  </div>

</form>
