<div class="row">
  <triptych header="{{configuration.application.new_submission_header_text.value}}">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <form name="newSubmission" ng-if="ready">
          <button ng-if="getSelectedOrganizationAcceptsSubmissions()" class="btn btn-primary triptych-start-submission form-control" ng-click="createSubmission(getSelectedOrganization())" ng-disabled="creatingSubmission">
            <span>Start {{getSelectedOrganizationName()}} Submission <span ng-if="creatingSubmission" class="glyphicon glyphicon-refresh spinning"> </span></span>
          </button>
          <button ng-if="!getSelectedOrganizationAcceptsSubmissions() && hasSubmission(getSelectedOrganization())" class="btn btn-primary triptych-start-submission form-control" ng-click="gotoSubmission(getSelectedOrganization())">
            <span>Continue {{getSelectedOrganizationName()}} Submission</span>
          </button>
          <button ng-if="!getSelectedOrganizationAcceptsSubmissions() && !hasSubmission(getSelectedOrganization())" class="btn btn-primary triptych-start-submission disabled form-control">
            <span>Choose an Organization that allows Submissions</span>
          </button>
        </form>
      </div>
    </div>
  </triptych>
</div>
