<div class="container review-page">
  <div class="submission-view-container">
    <div class="submission-view-top">

      <ul class="breadcrumb">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/submission/history">Submissions</a>
        </li>
        <li class="active">View</li>
      </ul>

      <h1 class="center">Submission View</h1>
      <div class="student-submission-loader" ng-class="{'ready': loaded}">
        <span>
          <span class="glyphicon glyphicon-refresh spinning"></span>
          Loading Submission ...</span>
      </div>

      <submissiondialog submission="submission" type="actions"></submissiondialog>
      <reviewsubmissionsfields submission="submission" hide-links="true" ng-if="loaded"></reviewsubmissionsfields>
      <div id="upload-files" class="row" ng-if="loaded && submission.submissionStatus.submissionState === SubmissionStates.NEEDS_CORRECTIONS">
        <span class="text-danger">
          <h3>Upload Files</h3>
          <hr class="submission-view-upload-files-hr"/>
        </span>
        <div>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3" for="manuscript">Manuscript in PDF:</label>
              <div class="col-sm-6">
                <div ng-if="submission.primaryDocumentFieldValue">{{submission.primaryDocumentFieldValue.fileInfo.name}}
                  <strong>({{submission.primaryDocumentFieldValue.fileInfo.size}} KB)</strong>
                </div>
              </div>
              <div class="col-sm-2">
                <button ng-if="submission.primaryDocumentFieldValue" class="btn btn-default" type="button" ng-click="archiveManuscript()" ng-disabled="archivingManuscript">Replace Manuscript
                  <span ng-if="archivingManuscript" class="glyphicon glyphicon-refresh spinning"></span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-1 dialog-content" ng-class="{'dialog-open': submission.primaryDocumentFieldValue === undefined, 'dialog-closed': submission.primaryDocumentFieldValue !== undefined}">
                <field ng-if="!submission.primaryDocumentFieldValue" profile="submission.getPrimaryDocumentFieldProfile()"></field>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="manuscript">Additional Documents:</label>
              <div class="col-sm-6">
                <span ng-show="documentFieldValues.length === 0">
                  <i>No additional documents uploaded</i>
                </span>
                <span ng-show="documentFieldValues.length > 0">
                  <ul class="list-unstyled">
                    <li ng-repeat="documentFieldValue in documentFieldValues = (submission.fieldValues | filter:removibleDocuments)">
                      <input type="checkbox" ng-model="fileSelected" ng-click="queueRemove(documentFieldValue)"/>
                      <span>{{documentFieldValue.fileInfo.name}}
                        <strong>({{getFileType(documentFieldValue.fieldPredicate)}}
                          -
                          {{documentFieldValue.fileInfo.size}}
                          KB)</strong>
                        <span ng-if="documentFieldValue.removing" class="glyphicon glyphicon-refresh spinning"></span>
                      </span>
                    </li>
                  </ul>
                  <button ng-if="removeQueue.length > 0" class="btn btn-default" type="button" ng-click="removeAdditionalUploads()" ng-disabled="removingUploads">Remove Selected
                    <span ng-if="removingUploads" class="glyphicon glyphicon-refresh spinning"></span>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="manuscript">Upload Additional Documents:</label>
              <div class="col-sm-4">
                <select
                  class="form-control"
                  ng-model="fieldPredicate"
                  ng-selected="fieldProfile = fieldPredicate.id ? submission.getFieldProfileByPredicate(fieldPredicate) : undefined"
                  ng-options="documentFieldPredicate as getFileType(documentFieldPredicate) for documentFieldPredicate in filteredFieldPredicates = (fieldPredicates | filter:uploadableFieldPredicates) track by documentFieldPredicate.value">
                  <option value="">-- select document type --</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-1 dialog-content" ng-class="{'dialog-open': fieldProfile, 'dialog-closed': !fieldProfile}">
                <field ng-if="fieldProfile" profile="fieldProfile"></field>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row" ng-show="loaded">
        <div class="col-md-12">
          <h3>Application Activity</h3>
        </div>
        <hr/>
        <div class="col-md-10 col-md-offset-1">
          <actionlog ng-if="submission" submission="submission" public="'true'"></actionlog>
        </div>
      </div>

      <div class="row" ng-show="loaded">
        <div class="col-md-12">
          <h3>Leave a Message</h3>
        </div>
        <hr/>
        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="comment">Message:</label>
              <div class="col-sm-8">
                <textarea class="submission-view-message-textarea" rows="10" ng-model="message" ng-disabled="messaging"></textarea>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-default submission-view-message-button" type="button" ng-click="addMessage()" ng-disabled="messaging">Add Message
                  <span ng-if="messaging" class="glyphicon glyphicon-refresh spinning"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="submission-view-bottom">
      <submissiondialog submission="submission" type="state"></submissiondialog>
    </div>
  </div>
</div>
