<div class="active-documents">

	<div class="col-sm-6">
		<img class="select-toggle" src="resources/images/pdf-logo.gif" ng-click="box.downloadPrimaryDocument()">
	</div>
	<div class="col-sm-6 primary-file-title">
		<div><span>{{box.getPrimaryDocumentFileName()}}</span></div>
		<div><a href ng-click="box.downloadPrimaryDocument()">Download</a></div>
	</div>
	<div class="clearfix"></div>
	
	<sideboxsub>FILE OPTIONS</sideboxsub>
	<ul>
		<li><a href="#all-files">View All Files</a></li>
		<li><a href ng-click="box.uploadNewFile()">Upload New File</a></li>
	</ul>
	
</div>