<div class="advanced-options">
  <sideboxsub>Batch Operations</sideboxsub>
  <ul>
    <li ng-click="openModal('#batchUpdateStatus')">Batch Update Status</li>
    <li ng-click="openModal('#batchAssignTo')">Batch Assign To</li>
    <li ng-click="openModal('#batchCommentEmail')">Batch Comment/Email</li>
    <li ng-click="openModal('#batchDownloadExport')">Download Export</li>
  </ul>
</div>

<modal
  modal-id="batchUpdateStatus"
  modal-view="views/modals/submissions/batchUpdateStatus.html"
  modal-header-class="modal-header-primary"
  modal-backdrop="static">
</modal>

<modal
  modal-id="batchAssignTo"
  modal-view="views/modals/submissions/batchAssignTo.html"
  modal-header-class="modal-header-primary"
  modal-backdrop="static">
</modal>

<modal
  modal-id="batchCommentEmail"
  modal-view="views/modals/submissions/batchCommentEmail.html"
  modal-header-class="modal-header-primary"
  modal-backdrop="static">
</modal>

<modal
  modal-id="batchDownloadExport"
  modal-view="views/modals/submissions/batchDownloadExport.html"
  modal-header-class="modal-header-primary"
  modal-backdrop="static">
</modal>
