<div class="filter-options">

	<sideboxsub>Manage Filters</sideboxsub>
	<ul>
		<li><a href="#" ng-click="box.clearFilters()">Clear current filter</a></li>
		<li><a href="#" ng-click="openModal('#saveCurrentFilters')">Save current filter</a></li>
		<li><a href="#">Remove existing filters</a></li>
		<li><a href="#">Customizr filters</a></li>
	</ul>

	<sideboxsub>Saved Filters</sideboxsub>
	<ul>
		<li class="sideboxsub-sub">Without Columns</li>
		<ul>
			<li>None ...</li>
		</ul>
		<li class="sideboxsub-sub">With Columns</li>
		<ul>
			<li>Test Filter</li>
		</ul>
	</ul>

</div>

<modal 
	modal-id="saveCurrentFilters" 
	modal-view="views/modals/submissions/saveCurrentFilter.html" 
	modal-header-class="modal-header-primary">
</modal>