<div class="filter-options">

	<sideboxsub>Manage Filters</sideboxsub>
	<ul>
		<li><a href="#" ng-click="box.clearFilters()">Clear current filter</a></li>
		<li><a href="#" ng-click="openModal('#saveCurrentFilters')">Save current filter</a></li>
		<li><a href="#">Remove existing filters</a></li>
		<li><a href="#">Customize filters</a></li>
	</ul>

	<sideboxsub>Saved Filters</sideboxsub>
	<ul class="saved-filters">
		<li class="sideboxsub-sub">Without Columns
			<ul class="list">
				<li class="columns" ng-repeat="filter in columnFilters = (box.savedFilters | filter: {columnsFlag:false})" ng-click="box.applyFilter(filter)">
					<span ng-class="{'glyphicon-globe':filter.publicFlag,'glyphicon-user':!filter.publicFlag}" class="glyphicon"></span>
					{{filter.name}}
				</li>
				<li ng-hide="columnFilters.length">None</li>
			</ul>
		</li>
		<li class="sideboxsub-sub">With Columns
			<ul class="list">
				<li class="columns" ng-repeat="filter in noColumnFilters = (box.savedFilters | filter: {columnsFlag:true})" ng-click="box.applyFilter(filter)">{{filter.name}}</li>
				<li ng-hide="noColumnFilters.length">None</li>
			</ul>
		</li>
	</ul>

</div>

<modal 
	modal-id="saveCurrentFilters" 
	modal-view="views/modals/submissions/saveCurrentFilter.html" 
	modal-header-class="modal-header-primary">
</modal>