<form name="forms.create" ng-controller="OrganizationSideBarController" ng-submit="createNewOrganization()" novalidate>

	<sideboxsub>NAME</sideboxsub>
	<div class="sidebox-input">
		<validatedinput
			model="newOrganization"
			property="name"
			placeholder="Name of the new organization"
			form="forms.create"
			validations="organizationRepo.getValidations()"
			results="organizationRepo.getValidationResults()">
		</validatedinput>
	</div>
	
	<sideboxsub>Category</sideboxsub>
	<div class="sidebox-input">
		<validatedselect
			options="organizationCategories"
			optionproperty="name"
			model="newOrganization"
			property="category"
			form="forms.create"
			validations="organizationRepo.getValidations()"
			results="organizationRepo.ValidationResults">
		</validatedselect>
	</div>

	<div class="form-group">
		<button 
			class="btn btn-default" 
			type="submit" 
			ng-disabled="forms.create.$invalid">Add <span ng-if="newOrganization.parent">to</span> {{newOrganization.parent.name}}</button>
	</div>

	<alerts seconds="20" channels="/organization" types="SUCCESS, ERROR, WARNING, INFO" exclusive></alerts>

</form>