<form name="newOrganizationForm" ng-controller="OrganizationSideBarController"  ng-submit="createNewOrganization()" novalidate>

	<sideboxsub>NAME</sideboxsub>			
	<div class="form-group">
		<input id="displayName" type="text" class="form-control" ng-model="newOrganization.name" required shadow/>
	</div>
	
	<sideboxsub>Category</sideboxsub>			
	<div class="form-group">
		<select class="form-control" ng-model="newOrganization.categoryId" required>
		<option value="">Choose Category</option>
		<option ng-repeat="category in organizationCategories.list" value="{{category.id}}">{{category.name}}</option>
	    </select>
	</div>
	
	<sideboxsub>Parent</sideboxsub>			
	<div class="form-group">
		<select class="form-control" ng-model="newOrganization.parentId" required>
			<option value="">Choose Parent</option>
	    	<option ng-repeat="organization in organizations.list" value="{{organization.id}}">{{organization.name}} ({{findOrganizationCategoryById(organization.category).name}})</option>
	    </select>
	</div>

	<div class="form-group">
		<button class="btn btn-default" type="submit" ng-disabled="newOrganizationForm.$invalid">Add</button>
	</div>

	<alerts seconds="20" channels="/organization" types="SUCCESS, ERROR, WARNING, INFO" exclusive></alerts>


</form>