<div class="submission-status">
	<ul>
		<li><button class="btn btn-info" ng-click="openModal('#submissionStatus')">{{box.submission.submissionState.name}}</button></li>
		
		<li>Assignee:</li>
		<li> <span class="glyphicon glyphicon-pencil"></span> {{box.submission.asignee || "none"}}</li>

		<li>Last Action:</li>
		<li></li>
		<li></li>
		
		<li>UMI Release:</li>
		<li></li>

		<li>Embargo Opetions:</li>
		<li></li>

		<li>Submission Date:</li>
		<li><span class="glyphicon glyphicon-pencil"></span> {{box.submission.date || "none"}}</li>

	</ul>
</div>

<modal 
	modal-id="submissionStatus" 
	modal-view="views/modals/submissions/status.html" 
	modal-header-class="modal-header-primary"
	static="true">
</modal>