#{extends 'main.html' /}
#{set title:'Review Application' /}

<script type="text/javascript" >

jQuery(document).ready(function() {
	var advisorToggle = 0;
	jQuery("#advisorWrap .doToggle").click(function(e) {
		e.preventDefault();
		advisorToggle++;
		if ((advisorToggle % 2) == 0) {
			$(this).html("[-]");
		} else {
			$(this).html("[+]");
		}
		$("#stateDetails").slideToggle();
	});
	
	jQuery("#submit_advisor").click(function(e) {
    	e.preventDefault();
		submitterId = jQuery(this).attr("id");
		statusId = submitterId+"Status";
		jQuery("#"+submitterId).prop("disabled",true);
		jQuery.ajax({
			url: '@{Advisor.reviewJSON(token)}',
			data:{
				'advisorMessage': jQuery("#advisorMessage").val(),
				'embargoApproval': (jQuery("#embargoApproval").is(":checkbox") ? jQuery("#embargoApproval").is(":checked") ? jQuery("#embargoApproval").val() : '' : jQuery("input#embargoApproval[type=radio]:checked").is(":checked") ?  jQuery("input#embargoApproval[type=radio]:checked").val() : ''),
				'committeeApproval': (jQuery("#committeeApproval").is(":checkbox") ? jQuery("#committeeApproval").is(":checked") ? jQuery("#committeeApproval").val(): '' : jQuery("input#committeeApproval[type=radio]:checked").is(":checked") ? jQuery("input#committeeApproval[type=radio]:checked").val() : '')
			},
			dataType:'json',
			type:'POST',
			success:function(data){
				if (data.success) {
					jQuery("#advisorMessage").val("");
					if(data.inputReceived) {
						generateAjaxSuccess("<p><strong>Your input has been recorded.</strong> You may return to this page to follow the application's progress, or provide additional input in the future.</p>");
					} else {
						generateAjaxSuccess("<p><strong>NO input was recorded.</strong></p>");
					}
				} else {
					generateAjaxError("Your input has NOT been recorded because: " + data.error);
				}
				updateActionLog();
				updateAdvisorControls();
				jQuery("#embargoApproval").attr('checked', false);
				jQuery("#committeeApproval").attr('checked', false);
				jQuery("#"+submitterId).prop("disabled",false);
			},
			error:function(){
				generateAjaxError("Server Communications Error: Your input has NOT been recorded.");
				jQuery("#"+submitterId).prop("disabled",false);
			}
		});
    });
	
	function updateAdvisorControls() {
		var embargoParentControl = jQuery("#embargoApprovalControls");
		embargoParentControl.fadeTo("slow",0.5,function() {
			embargoParentControl.load("@{Advisor.review(token)} #embargoApprovalControls > *",function() {
				embargoParentControl.fadeTo("fast",1);
			});
		});
		var committeeParentControl = jQuery("#committeeApprovalControls");
		committeeParentControl.fadeTo("slow",0.5,function() {
			committeeParentControl.load("@{Advisor.review(token)} #committeeApprovalControls > *",function() {
				committeeParentControl.fadeTo("fast",1);
			});
		});
	}
	
	function updateActionLog() {
	    jQuery("#student-log-view").fadeTo("slow",0.5,function() {
			jQuery("#student-log-view").load("@{Advisor.review(token)} #student-log-view table",function() {
				jQuery("#student-log-view").fadeTo("fast",1);
			});
		});
	}
	
	function generateAjaxSuccess(message) {
    	$("#advisorWrap").append('<div id="ajaxErrors" class="alert alert-success alert-dismissible" role="alert">'+
  	  						'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>'+
  	  						'<span>'+message+'</span>'+
  						 '</div>');

    }
    
    function generateAjaxError(error) {
    	$("#advisorWrap").append('<div id="ajaxErrors" class="alert alert-error alert-dismissible" role="alert">'+
  	  						'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>'+
  	  						'<span>'+error+'</span>'+
  						 '</div>');

    }
});
</script>

<br />
<div class="row pageHead">
	<h3 class="span11">Review Application</h3>
</div>
<br/>
#{if inputRecieved && error == null}
<div id="advisorWrap" class="alert alert-success">
	<a href="#toggleDetails" class="doToggle">[-]</a>
	<p><h4>Current Submission State: </h4><strong>${sub.getState().getDisplayName()}!</strong></p>
	<div id="stateDetails">
		<p><strong>Your input has been recorded.</strong> You may return to this page to follow the application's progress, or provide additional input in the future.</p>
	</div>
</div>
#{/if}
#{elseif error != null}
<div id="advisorWrap" class="alert alert-error">
	<a href="#toggleDetails" class="doToggle">[-]</a>
	<p><h4>Current Submission State: </h4><strong>${sub.getState().getDisplayName()}!</strong></p>
	<div id="stateDetails">
		<p><strong>Your input has NOT been recorded.</strong> ${error}</p>
	</div>
</div>
#{/elseif}
#{else}
	#{if sub.getState().isEditableByReviewer()}
		<div id="advisorWrap" class="alert">
			<a href="#toggleDetails" class="doToggle">[-]</a>
			<p><h4>Current Submission State: </h4><strong>${sub.getState().getDisplayName()}!</strong></p>
			<div id="stateDetails">
				<p><strong>This Submission can be reviewed at this time.</strong></p>
			</div>
		</div>
	#{/if}
	#{else}
		<div id="advisorWrap" class="alert">
			<a href="#toggleDetails" class="doToggle">[-]</a>
			<p><h4>Current Submission State: </h4><strong>${sub.getState().getDisplayName()}!</strong></p>
			<div id="stateDetails">
				<p><strong>This Submission cannot be reviewed at this time.</strong></p>
			</div>
		</div>	
	#{/else}
#{/else}

<div id="confirmSubmit" class="row">
<form action="@{Advisor.review(token)}" method="post" class="form-horizontal">

    #{include 'viewSubmission.include' /}
	
	<legend>Uploaded Files</legend>
	#{ifEnabled PRIMARY_ATTACHMENT}
	<div class="control-group #{if errors.forKey('primaryDocument')}error#{/if}">
		<label class="control-label">#{fieldLabel PRIMARY_ATTACHMENT /}:</label>
		<div class="controls">
			#{if primaryDocument != null}
			    <p>
			         <a href="@{Advisor.viewAttachment(token,primaryDocument.getId(),primaryDocument.getName())}" target="_blank">${primaryDocument.getName()}</a>
			         (${primaryDocument.getDisplaySize()})
			     </p>
			#{/if}
			#{else}
			     <p><em>No primary document uploaded</em></p>
			#{/else}
		</div>
	</div>
	#{/ifEnabled}
	#{ifEnabled [SUPPLEMENTAL_ATTACHMENT,SOURCE_ATTACHMENT,ADMINISTRATIVE_ATTACHMENT]}
    <div class="control-group #{if errors.forKey('additionalDocument')}error#{/if}">
        <label class="control-label">Additional Documents:</label>
        <div class="controls">
            #{list items:additionalDocuments, as:'attachment'}
            <p>
                <a href="@{Advisor.viewAttachment(token,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
                (${attachment.getType()} - ${attachment.getDisplaySize()})
            </p>
            #{/list}
            #{else}
            	<p><em>No additional documents uploaded</em></p>
            #{/else}
        </div>
    </div>
    #{/ifEnabled}
    #{if feedbackDocuments != null && feedbackDocuments.size() > 0}
    <div class="control-group #{if errors.forKey('feedbackDocument')}error#{/if}">
        <label class="control-label"><b>Feedback Document${ feedbackDocuments.pluralize() }:</b></label>
        <div class="controls">
            #{list items:feedbackDocuments, as:'attachment'}
            <p>
                <a href="@{Advisor.viewAttachment(token,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
                (${attachment.getDisplaySize()})
            </p>
            #{/list}
        </div>
    </div>
    #{/if}
    
	<legend>Application Activity</legend>
	<div id="student-log-view">
	<table class="span10 table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>Name</td>
				<td>Action</td>
				<td>Time</td>
			</tr>
		</thead>
		<tbody>
			#{list items:logs, as:'log'}
			#{if !log.isPrivate() }
			<tr>
				<td>${log.getPerson()?.getFormattedName(org.tdl.vireo.model.NameFormat.FIRST_LAST)}</td>
				<td>${log.getEntry()}</td>
				<td>${log.getActionDate().format('dd/MM/yyyy hh:mm:ss a')}</td>
			</tr>
			#{/if}
			#{/list}
		</tbody>
	</table>
	</div>

	<legend>Approval</legend>
	<div class="control-group">
		<label class="control-label"><b>Approve Embargo:</b></label>
		<div id="embargoApprovalControls" class="controls">
			#{if sub.getCommitteeEmbargoApprovalDate() != null }
			<p>Approved on ${ sub.getCommitteeEmbargoApprovalDate().format("dd MMMM yyyy 'at' hh:mm a") }<label class="checkbox alert">
				<input type="checkbox" name="embargoApproval" id="embargoApproval" value="unapprove"/> I unapprove this embargo.
			</label>
			</p>
			#{/if}
			#{else}
			<label class="checkbox">
				<input type="radio" name="embargoApproval" id="embargoApproval" value="approve"/> I approve of the embargo selection.
			</label>
			<label class="checkbox">
				<input type="radio" name="embargoApproval" id="embargoApproval" value="reject" ${ "reject".equals(params.get("embargoApproval")) ? "checked='true'" : ""}/> I reject the embargo selection. <em>(Please leave a comment explaining why below)</em>
			</label>
			#{/else}
			<br/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Approve Application:</b></label>
		<div id="committeeApprovalControls" class="controls">
			#{if sub.getCommitteeApprovalDate() != null }
			<p>Approved on ${ sub.getCommitteeApprovalDate().format("dd MMMM yyyy 'at' hh:mm a") }
			<label class="checkbox alert">
				<input type="checkbox" name="committeeApproval" id="committeeApproval" value="unapprove"/> I unapprove this application.
			</label>
			</p>
			#{/if}
			#{else}
			<label class="checkbox">
				<input type="radio" name="committeeApproval" id="committeeApproval" value="approve"/> I approve this application.
			</label>
			<label class="checkbox">
				<input type="radio" name="committeeApproval" id="committeeApproval" value="reject" ${ "reject".equals(params.get("committeeApproval")) ? "checked='true'" : ""}/> I reject this application. <em>(Please leave a comment explaining why below)</em>
			</label>
			#{/else}
			<br/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Comments:</b></label>
		<div class="controls">
			<textarea id="advisorMessage" class="span6" style="height:200px;" name="advisorMessage"></textarea>
		</div>
	</div>
		
	
	<div class="form-actions row center">
		<input class="btn" id="submit_advisor" name="submit_advisor" type="submit" value="Submit" />
		<div id="submit_advisorStatus"></div>
	</div>		
	
	<br/>
	<br/>
	<br/>
	<br/>
</form>
</div>
