<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="closeModal()" aria-label="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Add File</h3>
</div>

<form novalidate>

    <div class="modal-body">
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="">Submit</button>
        <button type="button" class="btn btn-warning" ng-click="closeModal()">Cancel</button>
    </div>

</form>