<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="box.resetBatchAssignTo()" aria-title="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Assign Submission</h3>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">

            <div class="form-group">
                <button class="btn btn-default" ng-click="box.changeAssignee(box.user);box.assignWorking=true;">Assign to me <span ng-if="box.assignWorking" class="glyphicon glyphicon-refresh spinning"></span></button>
            </div>

            <form class="form-inline" name="">
                <label class="control-title" for="newStatus"><strong>Assign To</strong>:</label>
                <select
                    class="form-control"
                    name="newStatus"
                    ng-model="box.assignee"
                    ng-options="au.settings.displayName for au in box.allUsers | filter:box.assignable">
                </select>
                <button type="button" class="btn btn-primary" ng-click="box.changeAssignee(box.assignee);box.assignSaveWorking=true;">Save <span ng-if="box.assignSaveWorking" class="glyphicon glyphicon-refresh spinning"></span></button>
            </form>

            <div class="form-group">
                <button class="btn btn-default" ng-click="box.changeAssignee(null);box.unassignWorking=true;">Unassign <span ng-if="box.unassignWorking" class="glyphicon glyphicon-refresh spinning"></span></button>
            </div>

		</div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
</div>
