<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="cancel(documentFieldValue);" aria-label="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Editing {{documentFieldValue.fileInfo.name}}</h3>
    <p ng-if="documentFieldValue.fileInfo.type">({{documentFieldValue.fileInfo.type}})</p>
</div>

<form novalidate>

    <div class="modal-body">
    	<span ng-if="confirm">
    		<b>Are you sure you want to delete: {{documentFieldValue.fileInfo.name}}</b>
    	</span>
    	<span ng-if="!confirm">
			<span ng-if="isPrimaryDocument(documentFieldValue.fieldPredicate)">
				<b>Primary documents can only be deleted.</b>
			</span>
			<span ng-if="!isPrimaryDocument(documentFieldValue.fieldPredicate)">
				<div class="form-group">
	    			<label for="fileName">New File Name:</label>
	    			<input type="text" class="form-control" id="fileName" ng-model="documentFieldValue.fileInfo.name">
	  			</div>
	  			<div class="form-group">
	    			<label for="fileName">New Attachment Type:</label>
	    			<select 
	    				class="form-control"
	    				ng-model="documentFieldValue.fieldPredicate"
	    				ng-options="documentFieldPredicate as getFileType(documentFieldPredicate) for documentFieldPredicate in fieldPredicates | filter:{ documentTypePredicate: true } track by documentFieldPredicate.value">
					</select>
	  			</div>
			</span>
		</span>
    </div>

    <div class="modal-footer">
        <button ng-if="!confirm" type="button" class="btn btn-danger pull-left" ng-click="toggleConfirm()">Delete</button>
        <button ng-if="confirm" type="button" class="btn btn-danger" ng-click="deleteFieldValue(documentFieldValue)">Confirm</button>
        <button
        	ng-if="!confirm && !isPrimaryDocument(documentFieldValue.fieldPredicate)"
			type="button" class="btn btn-primary pull-right"
			ng-click="saveFieldValue(documentFieldValue)">Submit</button>
        <button ng-if="!confirm" type="button" class="btn btn-warning" ng-click="cancel(documentFieldValue);">Cancel</button>
        <button ng-if="confirm" type="button" class="btn btn-warning" ng-click="toggleConfirm()">Cancel</button>
    </div>

</form>