<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="box.resetStatus()" aria-title="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Change Submission Status</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">

      <h2>Current Transitions</h2>
      <ul class="list-inline">
        <li ng-init="state=box.SubmissionStateRepo.findById(stateId); box.newStatus = state" ng-repeat="stateId in box.submission.submissionState.transitionSubmissionStates">
          <button ng-if="state.name!='Published'" class="btn btn-default" ng-click="box.changeStatus(state)" ng-disabled="state.updating || box.updating">{{state.name}}
            <span ng-if="state.updating" class="glyphicon glyphicon-refresh spinning"></span>
          </button>
          <button ng-if="state.name=='Published'" class="btn btn-default" ng-click="box.publish(state)" ng-disabled="state.updating || box.updating || !box.depositLocation">{{state.name}}
            <span ng-if="state.updating" class="glyphicon glyphicon-refresh spinning"></span>
          </button>
        </li>
      </ul>

      <div class="form-expand">
        <a href ng-click="box.advanced = !box.advanced">Advanced</a>
      </div>

      <div class="advanced-section" ng-class="{'section-open': box.advanced, 'section-closed': !box.advanced}">

        <div class="form-group row">

          <form class="form-inline" role="form">
            <div class="form-group">
              <label for="newStatus">
                <strong>New Status</strong>:</label>
              <select class="form-control" name="newStatus" ng-model="box.newStatus" ng-options="ss.name for ss in box.submissionStates"></select>
              <button ng-if="box.newStatus.name!='Published'" type="button" class="btn btn-primary" ng-click="box.changeStatus(box.newStatus)" ng-disabled="box.newStatus.updating || box.updating">Save
                <span ng-if="box.newStatus.updating" class=" glyphicon glyphicon-refresh spinning"></span>
              </button>
            </div>

            <div ng-if="box.newStatus.name=='Published'" class="form-group">
              <label for="Deposit Location">
                <strong>Deposit Location</strong>:</label>
              <select class="form-control" id="depositLocation" name="depositLocation" ng-model="box.depositLocation" ng-options="dl.name for dl in box.depositLocations"></select>
              <button ng-if="box.newStatus.name=='Published'" type="button" class="btn btn-primary" ng-click="box.publish(box.newStatus)" ng-disabled="box.newStatus.updating || box.updating || !box.depositLocation">Publish
                <span ng-if="box.newStatus.updating" class=" glyphicon glyphicon-refresh spinning"></span>
              </button>
            </div>
          </form>

          <form class="form-inline" role="form">
            <div class="form-group">
              <button ng-if="box.submission.submissionState.id !== box.cancelStatus.id" ng-click="box.changeStatus(box.cancelStatus)" class="btn btn-default" ng-disabled="box.cancelStatus.updating || box.updating">Cancel Submission
                <span ng-if="box.cancelStatus.updating" class="glyphicon glyphicon-refresh spinning"></span>
              </button>
              <button ng-if="(box.submission.submissionState.id === box.cancelStatus.id && box.confirmDelete!=true) || box.deleteWorking" ng-click="box.confirmDelete=true" class="btn btn-danger">Delete Submission
                <span ng-if="box.deleteWorking" class="glyphicon glyphicon-refresh spinning"></span>
              </button>
              <div class="btn-group" ng-if="box.submission.submissionState.id === box.cancelStatus.id && box.confirmDelete==true && !box.deleteWorking">
                <button class="btn btn-danger disabled" disabled=true>Confirm</button>
                <button ng-click="box.deleteSubmission(); box.deleteWorking=true;" class="btn btn-danger">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-click="box.confirmDelete=false" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="box.resetStatus()">Close</button>
  </div>
