<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Member</h3>
</div>

<div class="modal-body">
	<div ng-controller="SettingsController">
			<div class="row">
				
				<form action="/admin/settings/members/search">
					<!-- <span class="control-group col-sm-6">
	    				<input id="members-search-query" type="text">    			
	    				<button id="members-search-button" type="submit" class="btn btn-default">Search</button>
    				</span> -->

    				 <span class="input-group-btn">
    				 	<input id="members-search-query" type="text">  
				            <button class="btn btn-default" id="members-search-button" type="submit">
				                <span class="glyphicon glyphicon glyphicon-search">
				            </button>
				        </span>
        			
    			</form>

    		</div>



			</div>

			<div class="row control-group">
				<div class="col-sm-3">
					Add
				</div>
				<div class="col-sm-3">
					Name
				</div>
				<div class="col-sm-3">
					Email
				</div>
			</div>
			
		</form>
	</div>
</div>