<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Deposit Location</h3>
</div>

<div class="modal-body">
	<div ng-controller="SettingsController">
		<form>
			<div id="deposit-location-errors">
            </div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="depositLocation-name">Location Name</span>
				</div>
				<div class="col-sm-6">								
		     		<input id="depositLocation-name" name="depositLocation-name" type="text" class="form-control" />
				</div>	
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="depositLocation-depositor">Protocol</span>
				</div>
				<div class="col-sm-6">
					<select id="depositLocation-depositor" name="depositLocation-depositor">
                        <option value="Sword1Deposit">SWORD Version 1</option>
                        <option value="FileDeposit">File Deposit</option>
                    </select>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="depositLocation-packager">Format</span>
				</div>
				<div class="col-sm-6">
					<select id="depositLocation-packager" name="depositLocation-packager">
                        <option value="VireoExport">Vireo Export</option>
                	</select>					
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="dpositLocation-repository">Repository Location</span>
				</div>
				<div class="col-sm-6">
					<input id="depositLocation-repository" type="text" name="depositLocation-repository" class="form-control">			
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="dpositLocation-repository">Repository Timeout</span>
				</div>
				<div class="col-sm-6">
					<input id="depositLocation-timeout" type="text" name="depositLocation-timeout" class="form-control">			
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="dpositLocation-username">Username</span>
				</div>
				<div class="col-sm-6">
					<input type="text" name="depositLocation-username" id="depositLocation-username" class="form-control">			
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="depositLocation-password">Password</span>
				</div>
				<div class="col-sm-6">
					<input type="password" name="depositLocation-password" id="depositLocation-password" class="form-control">			
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="depositLocation-password">On Behalf Of</span>
				</div>
				<div class="col-sm-6">
					<input type="text" name="depositLocation-onBehalfOf" id="depositLocation-onBehalfOf" class="form-control">			
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-6">
					<button id="depositLocation-test" type="button" class="btn btn-default">
						Test connection &amp; find available collections
					</button>			
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-4">
					<span class="pull-right" for="depositLocation-collection">Collection</span>
				</div>
				<div class="col-sm-6">
					  <select id="depositLocation-collection" name="depositLocation-collection" >
                      	<option>Please select a collection...</option>                                                                   
                    </select>			
				</div>
			</div>



		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
	<button  id="depositLocation-save" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
</div>
