<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Add Member</h3>
</div>

<div class="modal-body">
  <div>

    <form action="/admin/settings/members/search">
      <div class="row">
        <div class="col-sm-12">
          
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="search"></i></div>
                <input type="text" class="form-control" placeholder="Filter" ng-model="multiFilter">
              </div>      
            </div>
          </form>

          <table  class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-class="{'active': userToAdd.id == modalData.id}" ng-repeat="userToAdd in userRepo.list | filter:search" ng-if="userToAdd.role == 'ROLE_STUDENT'" ng-click="setSelectedUser(userToAdd)">
                <td>{{userToAdd.firstName}} {{userToAdd.lastName}}</td>
                <td>{{userToAdd.email}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </form>
  </div>
</div>


<div class="modal-footer">
  <button ng-click="addSelectedUser()" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
