<div class="modal-header {{attr.modalHeaderClass}}">
	<button type="button" class="close" ng-click="resetDegree()" aria-label="Close">
		<span class="modal-close" aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Degree</h3>
</div>

<form ng-submit="createDegree()" name="forms.create" novalidate>

  <validationmessage results="degreeRepo.getValidationResults()"></validationmessage>

	<div class="modal-body">

		<validatedinput
			id="new-degree-name"
			type="text"
			model="modalData"
			property="name"
			label="Name"
			placeholder="Name of the new degree"
			form="forms.create"
			validations="degreeRepo.getValidations()"
			results="modalData.ValidationResults">
		</validatedinput>

		<validatedselect
			id="new-degree-level"
      options="degreeLevels"
      optionproperty="name"
      model="modalData"
      property="level"
      label="Level"
      form="forms.create"
      validations="degreeRepo.getValidations()"
      results="modalData.ValidationResults">
		</validatedselect>

	</div>

	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-default"
			ng-click="resetDegree()">Cancel</button>
		<button
			id="new-degree-save"
			type="submit"
			class="btn btn-primary"
			ng-disabled="forms.create.$invalid">Create</button>
	</div>
</form>
