<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close" ng-click="resetOrganizationCategories()" aria-label="Close">
        <span class="modal-close" aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Edit Organization Category</h3>
</div>

<form ng-submit="updateOrganizationCategory()" name="forms.update" novalidate>

    <validationmessage results="organizationCategoryRepo.getValidationResults()"></validationmessage>

    <div class="modal-body">
        <validatedinput
            id="edit-org-name"
            model="modalData"
            property="name"
            label="Name"
            placeholder="Name of the organization category"
            form="forms.update"
            validations="organizationCategoryRepo.getValidations()"
            results="modalData.ValidationResults">
        </validatedinput>
    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            ng-click="resetOrganizationCategories()">Cancel</button>
        <button
            id="edit-organizationCategory-save"
            type="submit"
            class="btn btn-primary"
            ng-disabled="forms.update.$invalid">Update</button>
    </div>
</form>
