.field-profile .input-group.file-input-group {
  max-width: 100%;
}

.field-profile label {
  font-weight: normal;
}

.field-profile label.required {
  font-weight: bold;
}

.field-profile label.required::before {
  content: "*  ";
}

.field-profile .file-info-tip {
  /*margin-top: 10px;
  margin-right: 12px;*/
  position: absolute;
  right: 10px;
  top: 10px;
}

.field-profile .file-preview {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.field-profile .file-preview img,
.field-profile .file-preview .glyphicon {
    display: inline-block;
    font-size: 6em;
    max-width: 69px;
}

.field-profile .file-info {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    vertical-align:top;
}

.field-profile .file-info p {
    margin-bottom: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20ch;
}

.field-profile .file-info .file-name{
  font-weight: bold;
}

.file-preview-container {
  padding-top: 35px;
  padding-left: 0;
  padding-right: 0;

}

.field-profile .glyphicon.file-upload-icon {
  text-align: center;
  font-size: 1em;
}

.field-profile .glyphicon.file-upload-icon.glyphicon-ok {
  color: green;
  margin-left: 15px;
}

.field-profile .glyphicon.file-upload-icon.glyphicon-trash {
  margin-right: 15px;
}

.field-profile .glyphicon.file-upload-icon.glyphicon-remove {
  width: 100%;
  margin: auto;
}

.field-profile .glyphicon.file-upload-icon.glyphicon-trash:hover {
  cursor:pointer;
}

.field-profile .file-upload-progress {
  width: 80%;
  height: 20px;
  margin: auto;
  margin-top: 5px;
}

.field-profile .table {
  margin-top: -40px;
}

.field-value-input .invalid .input-group {
  box-shadow: 0 0 6px 2px $brand-danger;
}

.field-profile-display {
  margin: 12px -15px 0 -15px
}
