    #{extends 'main.html' /} #{set title:'System Control Panel' /}

#{set 'moreScripts'}
<script type="text/javascript">
jQuery(document).ready(function() { 
	
	jQuery("#delete-and-rebuild-index").click(function() {
		
		var response =
			window.confirm("Are you sure? Users will not be able to search while the index is being rebuilt.");
		return response;
	}); 
	
	jQuery("#generation-warning a").click(function() {
		
		var response =
			window.confirm("Are you sure? This will generate "+jQuery(this).text()+" number of submissions which may take quite some time.");
		return response;
	}); 
    
});
</script>
#{/set}

<br/>
<div class="row pageHead">
	<h3>System Control Panel</h3>
</div>
<br />

<div class="system-panel-refresh">
<a href="@{System.generalPanel()}"><em class="icon-refresh" style="opacity: 0.5;"></em> Refresh</a>
</div>

#{include 'System/tabs.include' /}

<div class="row-fluid">
	<div class="span6">
		<h3>Java Information</h3>
		<dl class="dl-horizontal">
			<dt>Java version</dt>
			<dd>${javaVersion}</dd>

			<dt>OS Name</dt>
			<dd>${osName}</dd>

			<dt>OS Arch</dt>
			<dd>${osArch}</dd>

			<dt>OS Version</dt>
			<dd>${osVersion}</dd>

			<dt>Processors</dt>
			<dd>${availableProcessors}</dd>
		</dl>
	</div>

	<div class="span6">
		<h3>Memory Usage</h3>
		<dl class="dl-horizontal">
			<dt>Maximum memory</dt>
			<dd>${maximumMemory} MiB</dd>

			<dt>Allocated memory</dt>
			<dd>${allocatedMemory} MiB</dd>

			<dt>Used memory</dt>
			<dd>${usedMemory} MiB</dd>

			<dt>Free memory</dt>
			<dd>${freeMemory} MiB</dd>
		</dl>
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<h3>Play Information</h3>
		<dl class="dl-horizontal">
			<dt>Mode</dt>
			<dd>${playMode}</dd>

			<dt>Framework id</dt>
			<dd>%${frameworkId}</dd>

			<dt>Started at</dt>
			<dd>${startedAt.format('MM/dd/yyyy hh:mm:ss')}<br/>
				(${startedAt.since()})</dd>

			<dt>HTTP address</dt>
			<dd>${httpAddress}</dd>

			<dt>HTTP port</dt>
			<dd>${httpPort}</dd>

			<dt>HTTP path</dt>
			<dd>${httpPath}</dd>

			<dt>Logging level</dt>
			<dd>${logLevel}</dd>

			<dt>Database</dt>
			<dd>${db}</dd>

			<dt>Application Path</dt>
			<dd>${appPath}</dd>

			<dt>Attachments Path</dt>
			<dd>${attachmentsPath}</dd>

			<dt>Index Path</dt>
			<dd>${indexPath}</dd>
		</dl>
	</div>

	<div class="span6">
		<h3>Mail Information</h3>
		<dl class="dl-horizontal">
			<dt>Mail mode</dt>
			<dd>${mailMode}</dd>

			<dt>Mail host</dt>
			<dd>${mailHost}</dd>

			<dt>Mail user</dt>
			<dd>${mailUser}</dd>

			<dt>Mail pass</dt>
			<dd>${mailPass}</dd>

			<dt>Mail channel</dt>
			<dd>${mailChannel}</dd>

			<dt>Default From</dt>
			<dd>${mailFrom}</dd>

			<dt>Default ReplyTo</dt>
			<dd>${mailReply}</dd>
		</dl>
		<form class="form-inline" method="POST" action="@{System.testEmail()}">
		 <input type="text" class="input-medium" placeholder="Email Address" name="email">
		 <input type="submit" class="btn-info" name="submit_testEmail" value="Send Test Email"/>
		
		</form>
	</div>

</div>

<div class="row-fluid">
	<div class="span6">
		<h3>Vireo Information</h3>
		<dl class="dl-horizontal">
		    <dt>Version</dt>
            <dd>${vireoVersion}</dd>
		
			<dt>Persons</dt>
			<dd>${personTotal}</dd>

			<dt>Submissions</dt>
			<dd>${submissionTotal}</dd>

			<dt>Action Logs</dt>
			<dd>${actionLogTotal}</dd>
		</dl>
		
		#{if "test".equals(play.Play.id) }
		<h3>Generate Test Submissions</h3>
		<p id="generation-warning">
			%{ def sizes = [10,50,100,500,1000,5000,10000,50000]; }%
			#{list items:sizes, as:'size'}
				<a href="@{System.testSubmissions(size)}">${size}</a> ${ size_isLast ? "" : "|"}
			#{/list}
		</p>
		#{/if}
	</div>
	

	<div class="span6">
		<h3>Index Information</h3>
		<dl class="dl-horizontal">
			<dt>Indexer</dt>
			<dd>${indexImpl}</dd>

			<dt>Running Job</dt>
			<dd>${indexJob}</dd>
		</dl>
		
		<form class="form-inline" method="POST" action="@{System.rebuildIndex()}">
			<input class="btn-info" type="submit" name="submit_rebuild" value="Rebuild Index">
			<input class="btn-danger" type="submit" name="submit_deleteAndRebuild" value="Delete Index and Rebuild" id="delete-and-rebuild-index">
		</form>
	</div>
	
</div>
<br/>
<br/>

