!.gitkeep

dist/
logs/

tmp

.tmp/
.sass-cache/

.idea
.project
.DS_Store

npm-debug.log

app/node_modules

app/resources/styles/sass/app.css

app/resources/scripts/*
app/resources/styles/*
!app/resources/styles/sass/


