#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">
<h1>Welcome to the Thesis<br />&amp; Dissertation Submission System</h1>
<br />
<p>Once you have passed the final defense and satisfied the requirements of the committee, you are ready to submit your manuscript to the Thesis Office for review. This submission process is fully electronic, and is made through an online application developed and maintained by the Texas Digital Library, in conjunction with the Texas A&M, MIT, and UIUC.</p>
<p>To get started with your submission, click the link below. You will be asked to authenticate using your NetID:</p>
</div>

<div class="form-actions row center">
	<a href="@{Submit.verifyPersonalInformation}" class="btn btn-primary">Start your submission</a>
</div>

<div class="row">
<h3>Your help can make things better</h3>
<br />
<p>You feedback is very important to us; it allows us to continue to improve the system. Please feel free to notify us directly at dev@tdl.org if you have any suggestions to increase the usability or effectiveness of this application. You can talk to the TAMU Thesis Office regarding any issues that may arise during the submission process.</p>
</div>