<!DOCTYPE html>

<html lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link href="@{'/public/stylesheets/admin.less'}" rel="stylesheet" type="text/css">                            
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">        
        <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>       
        <script src="@{'/public/javascripts/jquery-ui-1.8.21.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>                            
        <script src="@{'/public/bootstrap/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/vireo-admin.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-extra-selectors.js'}" type="text/javascript" charset="${_response_encoding}"></script>   
        #{get 'moreScripts' /}                   
    </head>
    <body>
    	<div id="mainContainer" class="container-fluid">
	    	<div id="header">	    		
	    		<span id="logo">&nbsp;</span>
	    		
	    		<div id="personal-bar">
					#{if currentUser != null }
						<a href="@{Authentication.profile()}"><b>${currentUser.getDisplayName()}</b></a> |
						<a href="@{Application.index()}">Home</a> | 
						#{if currentUser.getRole().ordinal() >= org.tdl.vireo.model.RoleType.MANAGER.ordinal()}
							<a href="@{System.generalPanel()}">System</a> | 
						#{/if}
						<a href="@{Authentication.logout()}">Logout</a>
					#{/if}
					#{else}
					   <a href="@{Authentication.loginList()}">Login</a>
					#{/else}
				</div>
				
				<div id="tabs" class="pull-right">
					<ul class="nav nav-tabs">
						<li><a id="tab-list" href="@{FilterTab.list}" #{if nav=="list"}class="current"#{/if}>List</a></li>
						<li><a id="tab-view" href="#{if submission != null}@{ViewTab.view(submission.getId())}#{/if}#{elseif subId != null}@{ViewTab.view(subId)}#{/elseif}#{else}@{ViewTab.view}#{/else}" #{if nav=="view"}class="current"#{/if}>View</a></li>
						<li><a id="tab-log" href="#{if submission != null}@{FilterTab.log(submission.getId())}#{/if}#{elseif subId != null}@{FilterTab.log(subId)}#{/elseif}#{else}@{FilterTab.log}#{/else}" #{if nav=="log"}class="current"#{/if}>Log</a></li>
						<li><a id="tab-settings" href="@{SettingsTab.settingsRedirect}" #{if nav=="settings"}class="current"#{/if}>Settings</a></li>
					</ul>					
				</div>
				  	
	    	</div>
	    	<div id="body">
	       		#{doLayout /}
	        </div>
	        <div class="clear"></div>
	        <div id="footer" class="row">
                <p class="pull-left"><a href="https://github.com/TexasDigitalLibrary/Vireo">Vireo ${ play.Play.configuration.get("vireo.version") }</a> &copy; ${ java.util.Calendar.getInstance().get(java.util.Calendar.YEAR) } <a href="http://www.tdl.org/">Texas Digital Library</a>. All Rights Reserved.</p>
	        </div>
    	</div>
    </body>
</html>
