<!DOCTYPE html>

<html lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link href="@{'/public/stylesheets/submission.less'}" rel="stylesheet" type="text/css">                       
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script>
        
        jQuery(document).ready(function(){
        	
        	jQuery("#submitSteps a").click(function(){
        		jQuery("form").submit();
        	});
        	
        });
        
        </script>
        
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div class="container">
	    	<div id="header">	    		
	    		<a id="tdl-logo" href="http://www.tdl.org" title="Texas Digital Library Home">
	    		&nbsp;
	    		</a>
	    		
	    		<div id="personal-bar">
					#{if session.get("personId") }
						<a href="@{Authentication.profile()}">${session.get("firstName")} ${session.get("lastName")}</a> |
						<a href="@{Authentication.logout()}">Logout</a>
					#{/if}
					#{else}
					   <a href="@{Authentication.loginList()}">Login</a>
					#{/else}
				</div>    	
	    	</div>
	    	<div id="body">
	       		#{doLayout /}
	        </div>
	        <div id="footer">
	        	<p class="pull-left">Vireo 1.8 &copy; 2012 <a href="#">Texas Digital Library</a>. All Rights Reserved.</p>
	        	<p class="pull-right">Valid <a href="#">XHTML 1.0</a>, <a href="#">CSS</a>. <a href="#">Section 508 Compliant</a>.</p>
	        </div>
    	</div>
    </body>
</html>
