#{extends 'main.html' /}

#{ifErrors}
<div class="row">
    <div class="span7 offset1">
        <ul class="red">
            #{errors}
            <li>${error}</li> #{/errors}
        </ul>
    </div>
</div>
#{/ifErrors}

<div class="row">
<p class="center red large">Currently accepting submissions for the May 2013 semester.</p>
<ul id="submitSteps" class="unstyled span11">
<li id="step1Btn"><a href="#" class="current"></a></li>
<li id="step2Btn"><a href="#"></a></li>
<li id="step3Btn"><a href="#"></a></li>
<li id="step4Btn"><a href="#"></a></li>
<li id="step5Btn"><a href="#" class="disabled"></a></li>
</ul>
</div>

#{doLayout /}