#{extends 'main.html' /}
<div class="row">
<p class="center red large">Currently accepting submissions for the May 2013 semester.</p>

<ul id="submitSteps" class="unstyled span11">
<li id="step1Btn"><a href="@{Submit.doVerifyPersonalInformation()}"></a></li>
<li id="step2Btn"><a href="@{Submit.license()}"></a></li>
<li id="step3Btn"><a href="@{Submit.docInfo()}"></a></li>
<li id="step4Btn"><a href="@{Submit.fileUpload()}"></a></li>
<li id="step5Btn"><a href="@{Submit.confirmAndSubmit()}"></a></li>
</ul>
</div>

#{doLayout /}