<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  
  <meta content="text/html; charset=us-ascii" http-equiv="Content-Type" />
  
  <link type="text/css" rel="stylesheet" media="screen" href="public/css/style.css" />
  
  <link rel="shortcut icon" href="public/images/favicon.ico" />
  <script type="text/javascript">
//<![CDATA[

                                //Clear default text of emty text areas on focus
                                function tFocus(element)
                                {
                                        if (element.value == ' '){element.value='';}
                                }
                                //Clear default text of emty text areas on submit
                                function tSubmit(form)
                                {
                                        var defaultedElements = document.getElementsByTagName("textarea");
                                        for (var i=0; i != defaultedElements.length; i++){
                                                if (defaultedElements[i].value == ' '){
                                                        defaultedElements[i].value='';}}
                                }
                                //Disable pressing 'enter' key to submit a form (otherwise pressing 'enter' causes a submission to start over)
                                function disableEnterKey(e)
                                {
                                     var key;
                                
                                     if(window.event)
                                          key = window.event.keyCode;     //Internet Explorer
                                     else
                                          key = e.which;     //Firefox and Netscape
                                
                                     if(key == 13)  //if "Enter" pressed, then disable!
                                          return false;
                                     else
                                          return true;
                                }
  //]]>
  </script>
  <script type="text/javascript" src="/utmb-etd/themes/vireo/jscript.js">
</script>
  <script type="text/javascript" src="/utmb-etd/themes/vireo/jquery-packed.js">
</script>
  <script type="text/javascript" src="/utmb-etd/themes/vireo/css.js">
</script>
  <script type="text/javascript" src="/utmb-etd/themes/vireo/jquery.bgiframe.js">
</script>
  <script type="text/javascript" src="/utmb-etd/themes/vireo/jquery.dimensions.js">
</script>
  <script type="text/javascript" src="/utmb-etd/themes/vireo/jquery.tooltip.js">
</script>

  <title>Verify Your Information</title>
</head>

<body>
  <div id="ds-main">
    <script type="text/javascript">
//<![CDATA[
    var contextPath="/utmb-etd";
    //]]>
    </script>

    <div id="ds-header">
      <a title="Texas Digital Library Home" href="http://www.tdl.org" id="tdl_logo" name=
      "tdl_logo"></a>

      <div id="contact_us">
        <a class="contact_us" href="mailto:info@tdl.org">contact us</a> | admin admin |
        <a href="/utmb-etd/logout">Logout</a>
      </div>
    </div>

    <div id="ds-body">
    
      <div id="aspect_vireo_submit_VerifyPersonalInformation_div_main" class="ds-static-div vireo-main">
        
        <form id="aspect_vireo_submit_VerifyPersonalInformation_div_verifyInformation"
        class="ds-interactive-div vireo-form" action="submitIndex" method="post"
        onsubmit="javascript:tSubmit(this);">
        
          <ul id="aspect_vireo_submit_VerifyPersonalInformation_list_nav_items" class=
          "ds-progress-list vireo_nav_list">
            <li class=" first button"><input id=
            "aspect_vireo_submit_VerifyPersonalInformation_field_step_one" class=
            "ds-button-field vireo_step one current" name="step_one" type="image" alt=
            "Verify User Data: Current Step" title="Verify User Data: Current Step" src=
            "public/images/step1_current.gif" onmouseover=
            "imageHover(this,'public/images/step1_current.gif');"
            onmouseout=
            "imageHover(this,'public/images/step1_current.gif');" value=
            "Verify Info" /></li>

            <li class=" button"><input id=
            "aspect_vireo_submit_VerifyPersonalInformation_field_step_two" class=
            "ds-button-field vireo_step two" name="step_two" type="image" alt=
            "License Agreement: Viewed Step" title="License Agreement: Viewed Step" src=
            "public/images/step2.gif" onmouseover=
            "imageHover(this,'public/images/step2_current.gif');"
            onmouseout="imageHover(this,'public/images/step2.gif');"
            value="License Agreement" /></li>
s
            <li class=" button"><input id=
            "aspect_vireo_submit_VerifyPersonalInformation_field_step_three" class=
            "ds-button-field vireo_step threedisabled" name="step_three" type="image"
            alt="Document Information: Future Step" title=
            "Document Information: Future Step" src=
            "public/images/step3_disabled.gif" value=
            "Document Info" /></li>

            <li class=" button"><input id=
            "aspect_vireo_submit_VerifyPersonalInformation_field_step_four" class=
            "ds-button-field vireo_step four disableddisabled" disabled="disabled" name=
            "step_four" type="image" alt="Upload Your Files: Future Step" title=
            "Upload Your Files: Future Step" src=
            "public/images/step4_disabled.gif" value=
            "Upload Files" /></li>

            <li class=" button last"><input id=
            "aspect_vireo_submit_VerifyPersonalInformation_field_step_five" class=
            "ds-button-field vireo_step five disableddisabled" disabled="disabled" name=
            "step_five" type="image" alt="Confirm and Submit: Future Step" title=
            "Confirm and Submit: Future Step" src=
            "public/images/step5_disabled.gif" value=
            "Confirm &amp; Submit" /></li>
          </ul>

          <h3 style="font-size: 120%;" class="ds-div-head">Verify Your Information</h3>

          <div id="aspect_vireo_submit_VerifyPersonalInformation_div_pageTitle" class=
          "ds-static-div pageTitle">
            <p class="ds-paragraph"></p>
          </div>

          <div id="aspect_vireo_submit_VerifyPersonalInformation_div_instructions" class=
          "ds-static-div inline-help">
            <div id="aspect_vireo_submit_VerifyPersonalInformation_div_inst0" class=
            "ds-static-div help">
              <p class="ds-paragraph">Your name should appear as it does on your title
              page. You can use Unicode characters, if your computer supports them.</p>
            </div>

            <div id="aspect_vireo_submit_VerifyPersonalInformation_div_inst1" class=
            "ds-static-div help">
              <p class="ds-paragraph">Select the degree and major that are listed on your
              title page.</p>
            </div>

            <div id="aspect_vireo_submit_VerifyPersonalInformation_div_inst2" class=
            "ds-static-div help">
              <p class="ds-paragraph">You must enter a permanent, long-term address. If
              your present address is different, use the Current Address field.</p>
            </div>
          </div>

          <div id="aspect_vireo_submit_VerifyPersonalInformation_div_container" class=
          "ds-static-div form_container">
            <div id="aspect_vireo_submit_VerifyPersonalInformation_div_inputs" class=
            "ds-static-div vireo_form_inputs">
              <p class="ds-paragraph">Please verify all of your personal information.
              Some of the information has been provided by your school; if this
              information is in error, you will need to correct it through the
              appropriate office at your school.</p>

              <p class="ds-paragraph">Required fields are indicated with an asterisk.</p>

              <fieldset id="aspect_vireo_submit_VerifyPersonalInformation_list_form"
              class="ds-form-list main-step-form-list">
                <legend>Verify your personal information</legend>

                <ol>
                  <li>
                    <fieldset id=
                    "aspect_vireo_submit_VerifyPersonalInformation_list_personalInfo"
                    class="ds-form-sublist thick">
                      <legend>Personal Information</legend>

                      <ol>
                        <li class="ds-form-item odd text-only">
                          <span class="ds-form-label required">* First Name:</span>

                          <div class="ds-form-content">
                            admin
                          </div>
                        </li>

                        <li class="ds-form-item even">
                          <label class="ds-form-label" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_middleInitial">
                          Middle Initial:</label>

                          <div class="ds-form-content">
                            <input id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_middleInitial"
                            class="ds-text-field" name="middleInitial" type="text" value=
                            "" maxlength="1" size="2" title=
                            "Enter the first letter of your middle name." /> <span class=
                            "field-help">Enter the first letter of your middle
                            name.</span>
                          </div>
                        </li>

                        <li class="ds-form-item odd text-only">
                          <span class="ds-form-label required">* Last Name:</span>

                          <div class="ds-form-content">
                            admin
                          </div>
                        </li>

                        <li class="ds-form-item even text-only">
                          <span class="ds-form-label required">* Email:</span>

                          <div class="ds-form-content">
                            admin@utmb.edu
                          </div>
                        </li>

                        <li class="ds-form-item odd">
                          <label class="ds-form-label" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_yearOfBirth">
                          Year of Birth:</label>

                          <div class="ds-form-content">
                            <input id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_yearOfBirth"
                            class="ds-text-field" name="yearOfBirth" type="text" value=
                            "1944" title=
                            "Enter the full year in which you were born. For example 1985." />
                            <span class="field-help">Enter the full year in which you
                            were born. For example 1985.</span>
                          </div>
                        </li>
                      </ol>
                    </fieldset>
                  </li>

                  <li>
                    <fieldset id=
                    "aspect_vireo_submit_VerifyPersonalInformation_list_affiliation"
                    class="ds-form-sublist thick">
                      <legend>Affiliation</legend>

                      <ol>
                        <li class="ds-form-item odd text-only">
                          <span class="ds-form-label required">* School:</span>

                          <div class="ds-form-content">
                            University of Texas Medical Branch at Galveston
                          </div>
                        </li>

                        <li class="ds-form-item even">
                          <label class="ds-form-label required" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_department">
                          * Department:</label>

                          <div class="ds-form-content">
                            <select id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_department"
                            class="ds-select-field department editable" name="department"
                            title="Enter the department you belong to.">
                              <option value="">
                                ... choose
                              </option>

                              <option value="Biochemistry and Molecular Biology">
                                Biochemistry and Molecular Biology
                              </option>

                              <option value="Cell Biology">
                                Cell Biology
                              </option>

                              <option value="Experimental Pathology" selected="selected">
                                Experimental Pathology
                              </option>

                              <option value=
                              "Human Pathophysiology and Translational Medicine">
                                Human Pathophysiology and Translational Medicine
                              </option>

                              <option value="Clinical Science">
                                Clinical Science
                              </option>

                              <option value="Medical Science">
                                Medical Science
                              </option>

                              <option value="Medical Humanities">
                                Medical Humanities
                              </option>

                              <option value="Microbiology and Immunology">
                                Microbiology and Immunology
                              </option>

                              <option value="Molecular Biophysics Educational Track">
                                Molecular Biophysics Educational Track
                              </option>

                              <option value="Neuroscience">
                                Neuroscience
                              </option>

                              <option value="Nursing">
                                Nursing
                              </option>

                              <option value="Pharmacology and Toxicology">
                                Pharmacology and Toxicology
                              </option>

                              <option value="Population Health Sciences">
                                Population Health Sciences
                              </option>

                              <option value="Public Health">
                                Public Health
                              </option>
                            </select> <span class="field-help">Enter the department you
                            belong to.</span>
                          </div>
                        </li>

                        <li class="ds-form-item odd">
                          <label class="ds-form-label required" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_degree">*
                          Degree:</label>

                          <div class="ds-form-content">
                            <select id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_degree"
                            class="ds-select-field degree editable" name="degree" title=
                            "Choose the type of degree you are seeking">
                              <option value="">
                                ... choose
                              </option>

                              <option value="">
                                Doctoral degrees
                              </option>

                              <option value=
                              "Biochemistry and Molecular Biology (Doctoral)">
                                + Biochemistry and Molecular Biology (Doctoral)
                              </option>

                              <option value="Cell Biology (Doctoral)" selected=
                              "selected">
                                + Cell Biology (Doctoral)
                              </option>

                              <option value=
                              "Human Pathophysiology and Translational Medicine (Doctoral)">
                              + Human Pathophysiology and Translational Medicine
                              (Doctoral)
                              </option>

                              <option value="Clinical Science (Doctoral)">
                                + Clinical Science (Doctoral)
                              </option>

                              <option value="Experimental Pathology (Doctoral)">
                                + Experimental Pathology (Doctoral)
                              </option>

                              <option value="Medical Humanities (Doctoral)">
                                + Medical Humanities (Doctoral)
                              </option>

                              <option value="Microbiology and Immunology (Doctoral)">
                                + Microbiology and Immunology (Doctoral)
                              </option>

                              <option value="Neuroscience (Doctoral)">
                                + Neuroscience (Doctoral)
                              </option>

                              <option value="Nursing (Doctoral)">
                                + Nursing (Doctoral)
                              </option>

                              <option value="Pharmacology and Toxicology (Doctoral)">
                                + Pharmacology and Toxicology (Doctoral)
                              </option>

                              <option value="Population Health Sciences (Doctoral)">
                                + Population Health Sciences (Doctoral)
                              </option>

                              <option value=
                              "Molecular Biophysics Educational Track (Doctoral)">
                                + Molecular Biophysics Educational Track (Doctoral)
                              </option>

                              <option value="">
                                Masters degrees
                              </option>

                              <option value=
                              "Biochemistry and Molecular Biology (Masters)">
                                + Biochemistry and Molecular Biology (Masters)
                              </option>

                              <option value="Cell Biology (Masters)">
                                + Cell Biology (Masters)
                              </option>

                              <option value=
                              "Human Pathophysiology and Translational Medicine (Masters)">
                              + Human Pathophysiology and Translational Medicine
                              (Masters)
                              </option>

                              <option value="Clinical Science (Masters)">
                                + Clinical Science (Masters)
                              </option>

                              <option value="Experimental Pathology (Masters)">
                                + Experimental Pathology (Masters)
                              </option>

                              <option value="Medical Science (Masters)">
                                + Medical Science (Masters)
                              </option>

                              <option value="Medical Humanities (Masters)">
                                + Medical Humanities (Masters)
                              </option>

                              <option value="Microbiology and Immunology (Masters)">
                                + Microbiology and Immunology (Masters)
                              </option>

                              <option value="Pharmacology and Toxicology (Masters)">
                                + Pharmacology and Toxicology (Masters)
                              </option>

                              <option value="Population Health Sciences (Masters)">
                                + Population Health Sciences (Masters)
                              </option>

                              <option value="Public Health (Masters)">
                                + Public Health (Masters)
                              </option>
                            </select> <span class="field-help">Choose the type of degree
                            you are seeking</span>
                          </div>
                        </li>

                        <li class="ds-form-item even">
                          <label class="ds-form-label required" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_discipline">
                          * Major:</label>

                          <div class="ds-form-content">
                            <input id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_discipline"
                            class="ds-text-field" name="discipline" type="text" value=
                            "xx" title="Enter the discipline you specialized in." />
                            <span class="field-help">Enter the discipline you specialized
                            in.</span>
                          </div>
                        </li>
                      </ol>
                    </fieldset>
                  </li>

                  <li>
                    <fieldset id=
                    "aspect_vireo_submit_VerifyPersonalInformation_list_contactInfo"
                    class="ds-form-sublist thick">
                      <legend>Phone &amp; Address</legend>

                      <ol>
                        <li class="ds-form-item odd">
                          <label class="ds-form-label required" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_permPhone">
                          * Permanent Phone:</label>

                          <div class="ds-form-content">
                            <input id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_permPhone"
                            class="ds-text-field" name="permPhone" type="text" value=
                            "5551212" title=
                            "Enter a phone number where you can be reached even after you have left school." />
                            <span class="field-help">Enter a phone number where you can
                            be reached even after you have left school.</span>
                          </div>
                        </li>

                        <li class="ds-form-item even">
                          <label class="ds-form-label required" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_permAddress">
                          * Permanent Address:</label>

                          <div class="ds-form-content">
                            <textarea id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_permAddress"
                            class="ds-textarea-field" name="permAddress" onfocus=
                            "javascript:tFocus(this);" cols="30" rows="5" title=
                            "Enter an address where you can be reached even after you complete and leave school.">

x
</textarea> <span class="field-help">Enter an address where you can be reached even after
you complete and leave school.</span>
                          </div>
                        </li>

                        <li class="ds-form-item odd">
                          <label class="ds-form-label" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_permEmail">
                          Permanent Email:</label>

                          <div class="ds-form-content">
                            <input id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_permEmail"
                            class="ds-text-field" name="permEmail" type="text" value=""
                            title="Enter an email address you will always have." />
                            <span class="field-help">Enter an email address you will
                            always have.</span>
                          </div>
                        </li>

                        <li class="ds-form-item even">
                          <label class="ds-form-label" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_currentPhone">
                          Current Phone:</label>

                          <div class="ds-form-content">
                            <input id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_currentPhone"
                            class="ds-text-field" name="currentPhone" type="text" value=
                            "" title="Enter a phone number where you can be reached." />
                            <span class="field-help">Enter a phone number where you can
                            be reached.</span>
                          </div>
                        </li>

                        <li class="ds-form-item odd">
                          <label class="ds-form-label" for=
                          "aspect_vireo_submit_VerifyPersonalInformation_field_currentAddress">
                          Current Address:</label>

                          <div class="ds-form-content">
                            <textarea id=
                            "aspect_vireo_submit_VerifyPersonalInformation_field_currentAddress"
                            class="ds-textarea-field" name="currentAddress" onfocus=
                            "javascript:tFocus(this);" cols="30" rows="5" title=
                            "Enter an address where you can be reached.">
</textarea> <span class="field-help">Enter an address where you can be reached.</span>
                          </div>
                        </li>
                      </ol>
                    </fieldset>
                  </li>

                  <li id=
                  "aspect_vireo_submit_VerifyPersonalInformation_item_saveAndContinueItem"
                  class="ds-form-item centered">
                    <div class="ds-form-content">
                      <input id=
                      "aspect_vireo_submit_VerifyPersonalInformation_field_saveAndContinue"
                      class="ds-button-field" name="saveAndContinue" type="submit" value=
                      "Save and Continue &gt;&gt;" /> <input id=
                      "aspect_vireo_submit_VerifyPersonalInformation_field_applicationID"
                      class="ds-hidden-field" name="applicationID" type="hidden" value=
                      "99" /> <input id=
                      "aspect_vireo_submit_VerifyPersonalInformation_field_application-continue"
                      class="ds-hidden-field" name="application-continue" type="hidden"
                      value="2662486678473a590f11747f75683c177d722721" />
                    </div>
                  </li>
                </ol>
              </fieldset>
            </div>
          </div>

          <p id="aspect_vireo_submit_VerifyPersonalInformation_p_hidden-fields" class=
          "ds-paragraph hidden"><input id=
          "aspect_vireo_submit_VerifyPersonalInformation_field_firstName" class=
          "ds-hidden-field" name="firstName" type="hidden" value="admin" /> <input id=
          "aspect_vireo_submit_VerifyPersonalInformation_field_lastName" class=
          "ds-hidden-field" name="lastName" type="hidden" value="admin" /> <input id=
          "aspect_vireo_submit_VerifyPersonalInformation_field_email" class=
          "ds-hidden-field" name="email" type="hidden" value="admin@utmb.edu" />
          <input id="aspect_vireo_submit_VerifyPersonalInformation_field_school" class=
          "ds-hidden-field" name="school" type="hidden" value=
          "University of Texas Medical Branch at Galveston" /></p>
        </form>
      </div>
    </div>

    <div class="spacer"></div>

    <div id="ds-footer">
      <p id="footer_left">Vireo 1.2.1 &Acirc;&copy; 2012 <a href=
      "http://www.tdl.org/">Texas Digital Library</a>. All Rights Reserved.</p>

      <p id="footer_right">Valid <a href="http://validator.w3.org/check/referer">XHTML
      1.0</a>, <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.
      <a title="Section 508 Compliant" href="http://wave.webaim.org/refer">Section 508
      Compliant.</a></p>
    </div>
  </div>
</body>
</html>

