<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    
  <meta content="text/html; charset=us-ascii" http-equiv="Content-Type" />


<link type="text/css" rel="stylesheet" media="screen" href="/public/css/style.css" />


<link rel="shortcut icon" href="http://stage.tdl.org/utmb-etd/themes/public/images/favicon.ico"/>

<script type="text/javascript">
				//Clear default text of emty text areas on focus
				function tFocus(element)
				{
					if (element.value == ' '){element.value='';}
				}
				//Clear default text of emty text areas on submit
				function tSubmit(form)
				{
					var defaultedElements = document.getElementsByTagName("textarea");
					for (var i=0; i != defaultedElements.length; i++){
						if (defaultedElements[i].value == ' '){
							defaultedElements[i].value='';}}
				}
				//Disable pressing 'enter' key to submit a form (otherwise pressing 'enter' causes a submission to start over)
				function disableEnterKey(e)
				{
				     var key;
				
				     if(window.event)
				          key = window.event.keyCode;     //Internet Explorer
				     else
				          key = e.which;     //Firefox and Netscape
				
				     if(key == 13)  //if "Enter" pressed, then disable!
				          return false;
				     else
				          return true;
				}
            </script>
<script type="text/javascript" src="/public/imagesjscript.js">           
                </script>
<script type="text/javascript" src="/public/imagesjquery-packed.js">
                </script>
<script type="text/javascript" src="/public/imagescss.js">
                </script>
<script type="text/javascript" src="/public/imagesjquery.bgiframe.js">
                </script>
<script type="text/javascript" src="/public/imagesjquery.dimensions.js">
                </script>
<script type="text/javascript" src="/public/imagesjquery.tooltip.js">
                </script>
<title>License Agreement</title>
</head>
<body>
<div id="ds-main">
<script type="text/javascript">var contextPath="/utmb-etd";</script>
<div id="ds-header">
<a title="Texas Digital Library Home" href="http://www.tdl.org/" id="tdl_logo">&nbsp;</a>
<div id="contact_us">
<a class="contact_us" href="mailto:info@tdl.org">contact us</a>
                | 
                admin admin | <a href="http://stage.tdl.org/utmb-etd/logout">Logout</a>
</div>
</div>
<div id="ds-body">
<div id="aspect_vireo_submit_LicenseAgreement_div_license" class="ds-static-div">

<form id="aspect_vireo_submit_LicenseAgreement_div_licenseAgreement" class="ds-interactive-div" action="/submitLicense" method="post" onsubmit="javascript:tSubmit(this);">

<ul id="aspect_vireo_submit_LicenseAgreement_list_nav_items" class="ds-progress-list vireo_nav_list">
<li class=" first button">
<input id="aspect_vireo_submit_LicenseAgreement_field_step_one" class="ds-button-field vireo_step one" name="step_one" type="image" alt="Verify User Data: Viewed Step" title="Verify User Data: Viewed Step" src="/public/images/step1.gif" onmouseover="imageHover(this,&#39;/utmb-etd/themes/public/images/step1_current.gif&#39;);" onmouseout="imageHover(this,&#39;/utmb-etd/themes/public/images/step1.gif&#39;);" value="Verify Info">
</li>
<li class=" button">
<input id="aspect_vireo_submit_LicenseAgreement_field_step_two" class="ds-button-field vireo_step two current" name="step_two" type="image" alt="License Agreement: Current Step" title="License Agreement: Current Step" src="/public/images/step2_current.gif" onmouseover="imageHover(this,&#39;/utmb-etd/themes/public/images/step2_current.gif&#39;);" onmouseout="imageHover(this,&#39;/utmb-etd/themes/public/images/step2_current.gif&#39;);" value="License Agreement">
</li>
<li class=" button">
<input id="aspect_vireo_submit_LicenseAgreement_field_step_three" class="ds-button-field vireo_step threedisabled" name="step_three" type="image" alt="Document Information: Future Step" title="Document Information: Future Step" src="/public/images/step3_disabled.gif" value="Document Info">
</li>
<li class=" button">
<input id="aspect_vireo_submit_LicenseAgreement_field_step_four" class="ds-button-field vireo_step four disableddisabled" disabled="disabled" name="step_four" type="image" alt="Upload Your Files: Future Step" title="Upload Your Files: Future Step" src="/public/images/step4_disabled.gif" value="Upload Files">
</li>
<li class=" button last">
<input id="aspect_vireo_submit_LicenseAgreement_field_step_five" class="ds-button-field vireo_step five disableddisabled" disabled="disabled" name="step_five" type="image" alt="Confirm and Submit: Future Step" title="Confirm and Submit: Future Step" src="/public/images/step5_disabled.gif" value="Confirm &amp; Submit">
</li>
</ul>
<h3 style="font-size: 120%;" class="ds-div-head">License Agreement</h3>
<div id="aspect_vireo_submit_LicenseAgreement_div_pageTitle" class="ds-static-div pageTitle">
<p id="aspect_vireo_submit_LicenseAgreement_p_instructions" class="ds-paragraph">You must agree to the non-exclusive license below in order to continue:</p>
</div>
<div id="aspect_vireo_submit_LicenseAgreement_div_licenseForm" class="ds-static-div license">
<p class="ds-paragraph ds-paragraph">I grant the Texas Digital Library (hereafter called "TDL"), my home institution (hereafter called "Institution"), and my academic department (hereafter called "Department") the non-exclusive rights to copy, display, perform, distribute and publish the content I submit to this repository (hereafter called "Work") and to make the Work available in any format in perpetuity as part of a TDL, Institution or Department repository communication or distribution effort.</p>
<p class="ds-paragraph ds-paragraph">I understand that once the Work is submitted, a bibliographic citation to the Work can remain visible in perpetuity, even if the Work is updated or removed.</p>
<p class="ds-paragraph ds-paragraph">I understand that the Work's copyright owner(s) will continue to own copyright outside these non-exclusive granted rights.</p>
<p class="ds-paragraph ds-paragraph">I warrant that:</p>
<ol id="css_submit_LicenseAgreement_list_list_part_one" class="ds-ordered-list ds-ordered-list">
<li>I am the copyright owner of the Work, or</li>
<li>I am one of the copyright owners and have permission from the other owners to submit the Work, or</li>
<li>My Institution or Department is the copyright owner and I have permission to submit the Work, or</li>
<li>Another party is the copyright owner and I have permission to submit the Work.</li>
</ol>
<p class="ds-paragraph ds-paragraph">Based on this, I further warrant to my knowledge:</p>
<ol id="css_submit_LicenseAgreement_list_list_part_two" class="ds-ordered-list ds-ordered-list">
<li>The Work does not infringe any copyright, patent, or trade secrets of any third party,</li>
<li>The Work does not contain any libelous matter, nor invade the privacy of any person or third party, and</li>
<li>That no right in the Work has been sold, mortgaged, or otherwise disposed of, and is free from all claims.</li>
</ol>
<p class="ds-paragraph ds-paragraph">I agree to hold TDL, Institution, Department, and their agents harmless for any liability arising from any breach of the above warranties or any claim of intellectual property infringement arising from the exercise of these non-exclusive granted rights.</p>
</div>
<ul id="aspect_vireo_submit_LicenseAgreement_list_agreement" class="ds-simple-list">
<li>
<ul id="aspect_vireo_submit_LicenseAgreement_list_agreeCheck" class="ds-simple-list agree">
<li>
<fieldset id="N100A1" class="ds-checkbox-field">
<label>
<input name="agree" type="checkbox" value="agree">By checking here you agree to the above license in its entirety.</label>
</fieldset>
</li>
</ul>
</li>
<li>
<input id="aspect_vireo_submit_LicenseAgreement_field_saveAndContinue" class="ds-button-field" name="saveAndContinue" type="submit" value="Agree and Continue&gt;&gt;">
<input id="aspect_vireo_submit_LicenseAgreement_field_applicationID" class="ds-hidden-field" name="applicationID" type="hidden" value="99">
<input id="aspect_vireo_submit_LicenseAgreement_field_application-continue" class="ds-hidden-field" name="application-continue" type="hidden" value="8d532753727b891d86788d4e74237b556d17384e">
</li>
</ul>
</form>
</div>
</div>


<div class="spacer">
        	&nbsp;
        </div>
<div id="ds-footer">
<p id="footer_left">
                Vireo 1.2.1  Â© 2012 <a href="http://www.tdl.org/">Texas Digital Library</a>. All Rights Reserved.
            </p>
<p id="footer_right">
                Valid <a href="http://validator.w3.org/check/referer">XHTML&nbsp;1.0</a>,
                <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>. 
                <a title="Section 508 Compliant" href="http://wave.webaim.org/refer">Section 508 Compliant.</a>
</p>
</div>
</div>


<div id="tooltip" style="display: none; "><div class="content"><span></span></div><div class="bottom"></div><div class="body"></div><div class="url"></div></div></body></html>
