<!--?xml version="1.0" encoding="UTF-8"?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<link type="text/css" rel="stylesheet" media="screen" href="settings-admin_files/thickbox.css">
<link type="text/css" rel="stylesheet" media="screen" href="public/vireoAdminCss/vireo.css">
<link rel="shortcut icon" href="http://stage.tdl.org/ut-etd/themes/vireoAdmin/images/favicon.ico">
<script type="text/javascript">
                function tFocus(element){if (element.value == ' '){element.value='';}}
                function tSubmit(form){var defaultedElements = document.getElementsByTagName("textarea");
                for (var i=0; i != defaultedElements.length; i++){
                if (defaultedElements[i].value == ' '){
                defaultedElements[i].value='';}}}
            </script>
<script type="text/javascript" src="public/vireoAdminJs/jquery-packed.js">
                     
                </script>
<script type="text/javascript" src="settings-admin_files/thickbox-compressed.js">
                     
                </script>
<script type="text/javascript" src="public/vireoAdminJs/vireoAdmin.js">
                     
                </script>
<title>Vireo :: Settings</title>
</head>
<body>
<script type="text/javascript">var contextPath="/ut-etd";var userID="973";</script>
<div id="header">
<div id="branding">
<h1>Vireo: ETD Management and Publishing</h1>
</div>
<div id="user-tools">
<a class="username" href="mailto:admin@utexas.edu">admin@utexas.edu</a> | <a href="#">Help</a> | <a title="Logout" href="http://stage.tdl.org/ut-etd/logout">Logout</a>
</div>
<div id="main-menu">
<ul>
<li>
<a href="http://stage.tdl.org/ut-etd/vireo/admin/list">
<img onmouseout="swapTab(this,'list')" onmouseover="swapTab(this,'list')" alt="List" src="public/vireoAdminImages/tab_list.jpg">
</a>
</li>
<li>
<a href="http://stage.tdl.org/ut-etd/vireo/admin/detail">
<img onmouseout="swapTab(this,'view')" onmouseover="swapTab(this,'view')" alt="View" src="public/vireoAdminImages/tab_view.jpg">
</a>
</li>
<li>
<a href="http://stage.tdl.org/ut-etd/vireo/admin/log">
<img onmouseout="swapTab(this,'log')" onmouseover="swapTab(this,'log')" alt="Log" src="public/vireoAdminImages/tab_log.jpg">
</a>
</li>
<li>
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings" class="current">
<img onmouseout="swapTab(this,'settings')" onmouseover="swapTab(this,'settings')" alt="Settings" src="public/vireoAdminImages/ftab_settings.jpg">
</a>
</li>
</ul>
</div>
</div>
<div style="height: 1393px; min-height: 1393px;" id="ds-body">
<div id="aspect_vireo_admin_Settings_div_content-left" class="ds-static-div content-left">
<div id="aspect_vireo_admin_Settings_div_user-profile-left-box" class="ds-static-div content-left-box">
<div id="aspect_vireo_admin_Settings_div_user-profile-box-top" class="ds-static-div box-top">
<p class="ds-paragraph"> </p>
</div>
<div id="aspect_vireo_admin_Settings_div_user-profile" class="ds-static-div box-middle">
<h3 style="font-size: 120%; cursor: pointer;" class="ds-div-head">My Profile</h3><span style="cursor: pointer;" class="collapse">[-]</span>
<div id="aspect_vireo_admin_Settings_div_name" class="ds-static-div ">
<h4 style="font-size: 120%;" class="ds-div-head">Name</h4>
<ul id="aspect_vireo_admin_Settings_list_name_list" class="ds-simple-list">
<li class="">admin admin</li>
</ul>
</div>
<div id="aspect_vireo_admin_Settings_div_email" class="ds-static-div ">
<h4 style="font-size: 120%;" class="ds-div-head">Email</h4>
<ul id="aspect_vireo_admin_Settings_list_email_list" class="ds-simple-list">
<li class="">admin@utexas.edu</li>
</ul>
</div>
</div>
<div id="aspect_vireo_admin_Settings_div_user-profile-box-bottom" class="ds-static-div box-bottom">
<p class="ds-paragraph"> </p>
</div>
</div>
<form id="aspect_vireo_admin_Settings_div_user-prefs-left-box" class="ds-interactive-div content-left-box" action="/ut-etd/vireo/admin/settings?update=true&amp;page=admin" method="post" onsubmit="javascript:tSubmit(this);">
<div id="aspect_vireo_admin_Settings_div_user-prefs-box-top" class="ds-static-div box-top">
<p class="ds-paragraph"> </p>
</div>
<div id="aspect_vireo_admin_Settings_div_user-prefs" class="ds-static-div box-middle">
<h3 style="font-size: 120%; cursor: pointer;" class="ds-div-head">My Preferences</h3><span style="cursor: pointer;" class="collapse">[-]</span>
<div id="aspect_vireo_admin_Settings_div_displayName" class="ds-static-div display-name asyncParent">
<h4 style="font-size: 120%;" class="ds-div-head">Display Name</h4>
<fieldset id="aspect_vireo_admin_Settings_list_display_name_list" class="ds-form-list no-legend">
<legend>Display Name</legend>
<ol>
<li id="aspect_vireo_admin_Settings_item_dispName" class="ds-form-item displayName">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_displayName">Display Name:</label>
<div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_displayName" class="ds-text-field settings_onchange" name="displayName" value="admin admin" type="text">
</div>
</li>
</ol>
</fieldset>
</div>
<div id="aspect_vireo_admin_Settings_div_pref-email" class="ds-static-div pref-email asyncParent">
<h4 style="font-size: 120%;" class="ds-div-head">Prefered Email</h4>
<fieldset id="aspect_vireo_admin_Settings_list_pref_email_list" class="ds-form-list no-legend">
<legend>Prefered Email</legend>
<ol>
<li id="aspect_vireo_admin_Settings_item_prefMail" class="ds-form-item pref-email">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_prefEmail">Prefered Email:</label>
<div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_prefEmail" class="ds-text-field settings_onchange" name="prefEmail" value="admin@utexas.edu" type="text">
</div>
</li>
<li id="aspect_vireo_admin_Settings_item_carbon-copy" class="ds-form-item carbon-copy">&nbsp;
		            <div class="ds-form-content">
<fieldset id="N10089" class="ds-checkbox-field settings_onclick">
<label>
<input name="carbonCopy" value="EMAIL_CC" type="checkbox">I want to receive a copy of all emails sent by the system on my behalf.</label>
</fieldset>
</div>
</li>
<li id="aspect_vireo_admin_Settings_item_submit_item" class="ds-form-item last submit_item">&nbsp;
		            <div class="ds-form-content">
<input style="display: none;" id="aspect_vireo_admin_Settings_field_updateNamePrefs" class="ds-button-field settings_submit hidden-submit" name="updateNamePrefs" value="Update" type="submit">
</div>
</li>
</ol>
</fieldset>
</div>
</div>
<div id="aspect_vireo_admin_Settings_div_user-prefs-box-bottom" class="ds-static-div box-bottom">
<p class="ds-paragraph"> </p>
</div>
</form>
</div>
<div id="aspect_vireo_admin_Settings_div_content-main" class="ds-static-div content-main">
<div id="aspect_vireo_admin_Settings_div_sub-nav" class="ds-static-div sub-nav">
<ul id="aspect_vireo_admin_Settings_list_sub-nav-tabs" class="ds-bulleted-list horizontal-tabs">
<li id="aspect_vireo_admin_Settings_item_user-pref-item" class=" ">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=user" class="">User Preferences</a>
</li>
<li id="aspect_vireo_admin_Settings_item_app-settings-item" class=" active">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin" class="">Application Settings</a>
</li>
<li id="aspect_vireo_admin_Settings_item_email-settings-item" class=" ">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=email" class="">Email Settings</a>
</li>
<li id="aspect_vireo_admin_Settings_item_conf-settings-item" class=" ">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=config" class="">Configurable Settings</a>
</li>
</ul>
</div>
<form id="aspect_vireo_admin_Settings_div_form-prefs" class="ds-interactive-div form-prefs" action="/ut-etd/vireo/admin/settings?update=true&amp;page=admin" method="post" onsubmit="javascript:tSubmit(this);">
<div id="aspect_vireo_admin_Settings_div_submission-dates" class="ds-static-div submission-dates settings-options asyncParent">
<h3 style="font-size: 120%;" class="ds-div-head">Submission Availability</h3>
<fieldset id="aspect_vireo_admin_Settings_list_submission-status" class="ds-form-list thick submission-status pref-options no-legend">
<legend>Submission Availability</legend>
<ol>
<li id="aspect_vireo_admin_Settings_item_submission-status-item" class="ds-form-item odd on-off">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_submission-status">Submissions are currently:</label>
<div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_submission-status" class="ds-button-field -button- settings_onclick" name="submission-status" value="OPEN" title="Click to close" type="submit">
<span class="field-help">Click to close</span>
</div>
</li>
<li id="aspect_vireo_admin_Settings_item_submission-semester-item" class="ds-form-item even ">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_submission-sem">Current submission semester:</label>
<div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_submission-sem" class="ds-text-field settings_onchange" name="submission-sem" value="May 2012" title="'Month Year' (i.e. May 2006)" type="text">
<span class="field-help">'Month Year' (i.e. May 2006)</span>
</div>
</li>
<li id="aspect_vireo_admin_Settings_item_submission-allow-multiple" class="ds-form-item odd on-off">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_submission-allow-multiple">Allow multiple submissions:</label>
<div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_submission-allow-multiple" class="ds-button-field -button- settings_onclick" name="submission-allow-multiple" value="YES" title="Click to stop allowing multiple submissions" type="submit">
<span class="field-help">Click to stop allowing multiple submissions</span>
</div>
</li>
<li id="aspect_vireo_admin_Settings_item_submission-college-item" class="ds-form-item even on-off">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_submission-college">Request "College" parameter:</label>
<div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_submission-college" class="ds-button-field -button- settings_onclick" name="submission-college" value="NO" title="Click to request" type="submit">
<span class="field-help">Click to request</span>
</div>
</li>
<li id="aspect_vireo_admin_Settings_item_submission-umi-item" class="ds-form-item odd last on-off">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_submission-umi">Offer UMI release option:</label>
<div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_submission-umi" class="ds-button-field -button- settings_onclick" name="submission-umi" value="YES" title="Click to stop offering" type="submit">
<span class="field-help">Click to stop offering</span>
</div>
</li>
</ol>
</fieldset>
</div>
<div id="aspect_vireo_admin_Settings_div_submission-instructions" class="ds-static-div submission-instructions settings-options asyncParent">
<h3 style="font-size: 120%;" class="ds-div-head">Submission Instructions</h3>
<fieldset id="aspect_vireo_admin_Settings_list_submission-instruction" class="ds-form-list submission-instruction pref-options no-legend">
<legend>Submission Instructions</legend>
<ol>
<li id="aspect_vireo_admin_Settings_item_submission-instructions-item" class="ds-form-item on-off">
<label class="ds-form-label hidden" for="aspect_vireo_admin_Settings_field_SUBMISSION_INSTRUCTIONS">Submission Instructions:</label>
<div class="ds-form-content">
<textarea id="aspect_vireo_admin_Settings_field_SUBMISSION_INSTRUCTIONS" class="ds-textarea-field settings_onchange" name="SUBMISSION_INSTRUCTIONS" onfocus="javascript:tFocus(this);" cols="20" rows="5" title="These instructions will be shown as part of the submission confirmation. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. Newlines are converted to paragraphs automatically.">Thank
 you for your submission.  In order to meet the fall 2011 graduation 
deadline, please make your final paperwork submission to the Graduate 
School in Main 101 by 5:00 p.m. on December 2, 2011.</textarea>
<span class="field-help">These instructions will be shown as part of the
 submission confirmation. The following HTML tags are allowed: h1 - h5, 
p, a, b, i, u, ol, li, img. Newlines are converted to paragraphs 
automatically.</span>
</div>
</li>
</ol>
</fieldset>
</div>
<div id="aspect_vireo_admin_Settings_div_custom-actions" class="ds-static-div custom-actions settings-options">
<h3 style="font-size: 120%;" class="ds-div-head">Custom Actions Checklist</h3>
<fieldset id="aspect_vireo_admin_Settings_list_add-custom-actions-list" class="ds-form-list no-legend add-text custom-actions add-custom-actions-list hidden addParent">
<legend>Custom Action Checklist</legend>
<ol>
<li class="ds-form-item">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_add-custom-action-text">Add new:</label>
<div class="ds-form-content">
<textarea id="aspect_vireo_admin_Settings_field_add-custom-action-text" class="ds-textarea-field" name="add-custom-action-text" onfocus="javascript:tFocus(this);" cols="20" rows="5"> </textarea>
</div>
</li>
<li class="ds-form-item">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_add-custom-action-order">Order:</label>
<div class="ds-form-content">
<select id="aspect_vireo_admin_Settings_field_add-custom-action-order" class="ds-select-field" name="add-custom-action-order">
<option selected="selected" value="1">Top of the list</option>
<option value="2">After #1</option>
<option value="3">After #2</option>
<option value="4">After #3</option>
<option value="5">After #4</option>
</select>
</div>
</li>
<li class="ds-form-item last">&nbsp;
		            <div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_add-custom-action" class="ds-button-field add-option-button [div_custom-actions]" name="add-custom-action" value="Add" type="submit">
<input id="aspect_vireo_admin_Settings_field_cancel-custom-action" class="ds-button-field cancel-add-option-button [list_add-custom-actions-list]" name="cancel-custom-action" value="Cancel" type="submit">
</div>
</li>
</ol>
</fieldset>
<ol id="aspect_vireo_admin_Settings_list_check-list" class="ds-ordered-list action-check-list preference-list">
<li class="">Confirm committee information<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;removeID=28" class="remove-link settings-link-onclick [div_custom-actions]">[Remove]</a>
</li>
<li class="">Final paperwork submission<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;removeID=29" class="remove-link settings-link-onclick [div_custom-actions]">[Remove]</a>
</li>
<li class="">Bill dissertation processing fee - $8<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;removeID=149" class="remove-link settings-link-onclick [div_custom-actions]">[Remove]</a>
</li>
<li class="">Collect UMI packet for students selecting UMI option<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;removeID=31" class="remove-link settings-link-onclick [div_custom-actions]">[Remove]</a>
</li>
</ol>
<p id="aspect_vireo_admin_Settings_p_add-option-custom-action" class="ds-paragraph add-option add-custom-actions-list">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;showAddCustom=" class="subtle settings-onclick-show">[Add new]</a>
</p>
</div>
<div id="aspect_vireo_admin_Settings_div_who-has-access" class="ds-static-div settings-options">
<h3 style="font-size: 120%;" class="ds-div-head">Who Has Access?</h3>
<div id="aspect_vireo_admin_Settings_div_access-form" class="ds-static-div access-form">
<table id="aspect_vireo_admin_Settings_table_users-table" class="ds-table search-results users-table asyncParent">
<tbody><tr class="ds-table-header-row">
<th class="ds-table-header-cell odd">Remove</th>
<th class="ds-table-header-cell even">Name</th>
<th class="ds-table-header-cell odd">Email</th>
<th class="ds-table-header-cell even">Manager</th>
</tr>
<tr class="ds-table-row even">
<td id="aspect_vireo_admin_Settings_cell_remove1" class="ds-table-cell odd center">
<fieldset id="N101DD" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="2" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Ryan Steans</td>
<td class="ds-table-cell odd">rsteans@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;demote=2" class="center manager-link settings-link-onclick [table_users-table]"></a>
</td>
</tr>
<tr class="ds-table-row odd">
<td id="aspect_vireo_admin_Settings_cell_remove2" class="ds-table-cell odd center">
<fieldset id="N101F5" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="4" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Michelle Broadway</td>
<td class="ds-table-cell odd">mbroadway@mail.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;demote=4" class="center manager-link settings-link-onclick [table_users-table]"></a>
</td>
</tr>
<tr class="ds-table-row even">
<td id="aspect_vireo_admin_Settings_cell_remove3" class="ds-table-cell odd center">
<fieldset id="N1020D" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="5" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">William Crain</td>
<td class="ds-table-cell odd">williamc@mail.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;promote=5" class="center user-link settings-link-onclick [table_users-table]">[Promote]</a>
</td>
</tr>
<tr class="ds-table-row odd">
<td id="aspect_vireo_admin_Settings_cell_remove4" class="ds-table-cell odd center">
<fieldset id="N10225" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="6" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Mary Margason</td>
<td class="ds-table-cell odd">mlynnm@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;promote=6" class="center user-link settings-link-onclick [table_users-table]">[Promote]</a>
</td>
</tr>
<tr class="ds-table-row even">
<td id="aspect_vireo_admin_Settings_cell_remove5" class="ds-table-cell odd center">
<fieldset id="N1023D" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="244" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Amy Rushing</td>
<td class="ds-table-cell odd">a.rushing@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;demote=244" class="center manager-link settings-link-onclick [table_users-table]"></a>
</td>
</tr>
<tr class="ds-table-row odd">
<td id="aspect_vireo_admin_Settings_cell_remove6" class="ds-table-cell odd center">
<fieldset id="N10255" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="242" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Laura Satrum</td>
<td class="ds-table-cell odd">l.beardslee@mail.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;promote=242" class="center user-link settings-link-onclick [table_users-table]">[Promote]</a>
</td>
</tr>
<tr class="ds-table-row even">
<td id="aspect_vireo_admin_Settings_cell_remove7" class="ds-table-cell odd center">
<fieldset id="N1026D" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="245" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Amanda Lancaster</td>
<td class="ds-table-cell odd">a.lancaster@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;promote=245" class="center user-link settings-link-onclick [table_users-table]">[Promote]</a>
</td>
</tr>
<tr class="ds-table-row odd">
<td id="aspect_vireo_admin_Settings_cell_remove8" class="ds-table-cell odd center">
<fieldset id="N10285" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="246" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Lori Marchock</td>
<td class="ds-table-cell odd">l.marchock@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;demote=246" class="center manager-link settings-link-onclick [table_users-table]"></a>
</td>
</tr>
<tr class="ds-table-row even">
<td id="aspect_vireo_admin_Settings_cell_remove9" class="ds-table-cell odd center">
<fieldset id="N1029D" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="579" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Renee E. Babcock</td>
<td class="ds-table-cell odd">r.babcock@mail.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;promote=579" class="center user-link settings-link-onclick [table_users-table]">[Promote]</a>
</td>
</tr>
<tr class="ds-table-row odd">
<td id="aspect_vireo_admin_Settings_cell_remove10" class="ds-table-cell odd center">
<fieldset id="N102B5" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="949" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Jee-Hyun Davis</td>
<td class="ds-table-cell odd">j.davis@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;demote=949" class="center manager-link settings-link-onclick [table_users-table]"></a>
</td>
</tr>
<tr class="ds-table-row even">
<td id="aspect_vireo_admin_Settings_cell_remove11" class="ds-table-cell odd center">
<fieldset id="N102CD" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="273" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Robert Penman</td>
<td class="ds-table-cell odd">bpenman@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;promote=273" class="center user-link settings-link-onclick [table_users-table]">[Promote]</a>
</td>
</tr>
<tr class="ds-table-row odd">
<td id="aspect_vireo_admin_Settings_cell_remove12" class="ds-table-cell odd center">
<fieldset id="N102E5" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="2606" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Sara Gore</td>
<td class="ds-table-cell odd">samsara@gmail.com</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;promote=2606" class="center user-link settings-link-onclick [table_users-table]">[Promote]</a>
</td>
</tr>
<tr class="ds-table-row even">
<td id="aspect_vireo_admin_Settings_cell_remove13" class="ds-table-cell odd center">
<fieldset id="N102FD" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="2779" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Joseph Devries</td>
<td class="ds-table-cell odd">joe.devries@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;demote=2779" class="center manager-link settings-link-onclick [table_users-table]"></a>
</td>
</tr>
<tr class="ds-table-row odd">
<td id="aspect_vireo_admin_Settings_cell_remove14" class="ds-table-cell odd center">
<fieldset id="N10315" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="4187" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Colleen Lyon</td>
<td class="ds-table-cell odd">c.lyon@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;demote=4187" class="center manager-link settings-link-onclick [table_users-table]"></a>
</td>
</tr>
<tr class="ds-table-row even">
<td id="aspect_vireo_admin_Settings_cell_remove15" class="ds-table-cell odd center">
<fieldset id="N1032D" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="4231" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">Jon Gibson</td>
<td class="ds-table-cell odd">jongibson@austin.utexas.edu</td>
<td class="ds-table-cell even">
<a href="http://stage.tdl.org/ut-etd/vireo/admin/settings?page=admin&amp;update=&amp;promote=4231" class="center user-link settings-link-onclick [table_users-table]">[Promote]</a>
</td>
</tr>
<tr class="ds-table-row odd">
<td id="aspect_vireo_admin_Settings_cell_remove16" class="ds-table-cell odd center">
<fieldset id="N10345" class="ds-checkbox-field settings_onclick [div_add-members]">
<label>
<input name="adminRemoveUser" value="973" type="checkbox">
</label>
</fieldset>
</td>
<td class="ds-table-cell even">admin admin</td>
<td class="ds-table-cell odd">admin@utexas.edu</td>
<td class="ds-table-cell even">
<a href="" class="center manager-link settings-link-onclick [table_users-table]"></a>
</td>
</tr>
<tr id="aspect_vireo_admin_Settings_row_paginator" class="ds-table-row even paginator">
<td class="ds-table-cell odd" rowspan="1" colspan="1">
<input style="display: none;" id="aspect_vireo_admin_Settings_field_remove-members-button" class="ds-button-field hidden-submit" name="remove-members-button" value="Remove" type="submit">
</td>
<td class="ds-table-cell even" rowspan="1" colspan="3">
<input title="Add Members" alt="#TB_inline?height=400&amp;amp;width=500&amp;amp;inlineId=aspect_vireo_admin_Settings_div_add-members" id="aspect_vireo_admin_Settings_field_add-members-button" class="ds-button-field thickbox -button- settings-show-thickbox" name="add-members-button" value="Add Members" type="submit">
</td>
</tr>
</tbody></table>
</div>
</div>
<div id="aspect_vireo_admin_Settings_div_add-members" class="ds-static-div add-members hidden">
<fieldset id="aspect_vireo_admin_Settings_list_searchMem" class="ds-form-list searchMem no-legend">
<legend>Search</legend>
<ol>
<li id="aspect_vireo_admin_Settings_item_searchMemItem" class="ds-form-item searchMemItem">
<label class="ds-form-label" for="aspect_vireo_admin_Settings_field_memberSearch">Search:</label>
<div class="ds-form-content">
<input id="aspect_vireo_admin_Settings_field_memberSearch" class="ds-text-field" name="memberSearch" size="15" type="text">
<input title="Search for members to add..." id="aspect_vireo_admin_Settings_field_submit_search_epeople" class="ds-button-field" name="submit_search_epeople" value="Search" type="submit">
</div>
</li>
</ol>
</fieldset>
<div class="pagination top">
<p class="pagination-info">Now showing items 1-10 of 5274</p>
<a href="javascript:settingsLinkUpdate('/ut-etd/vireo/admin/settings?page=admin&amp;memberSearch=&amp;epage=1&amp;update=true','div_add-members',%20true);" title="Next &gt;" class="next-page-link">Next &gt;</a>
</div>
<div id="aspect_vireo_admin_Settings_div_results" class="ds-static-div">
<table id="aspect_vireo_admin_Settings_table_group-edit-search-eperson" class="ds-table search-results">
<tbody><tr class="ds-table-header-row">
<th class="ds-table-header-cell odd">Add</th>
<th class="ds-table-header-cell even">Name</th>
<th class="ds-table-header-cell odd">Email</th>
</tr>
<tr class="ds-table-row even">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_3029" class="ds-button-field submit_add_eperson" name="submit_add_eperson_3029" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Vanessa Abadia</td>
<td class="ds-table-cell odd">vanabadia@hotmail.com</td>
</tr>
<tr class="ds-table-row odd">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_1960" class="ds-button-field submit_add_eperson" name="submit_add_eperson_1960" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Yousef Abbasi Asl</td>
<td class="ds-table-cell odd">yabbasi@mail.utexas.edu</td>
</tr>
<tr class="ds-table-row even">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_2563" class="ds-button-field submit_add_eperson" name="submit_add_eperson_2563" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Gretchen Abbott</td>
<td class="ds-table-cell odd">gretchenvoter@gmail.com</td>
</tr>
<tr class="ds-table-row odd">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_1881" class="ds-button-field submit_add_eperson" name="submit_add_eperson_1881" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Lily Abbott</td>
<td class="ds-table-cell odd">lkabbott@mail.utexas.edu</td>
</tr>
<tr class="ds-table-row even">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_4879" class="ds-button-field submit_add_eperson" name="submit_add_eperson_4879" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Ahmed Abdel Hadi</td>
<td class="ds-table-cell odd">ahmedabdelhadi2001@yahoo.com</td>
</tr>
<tr class="ds-table-row odd">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_5084" class="ds-button-field submit_add_eperson" name="submit_add_eperson_5084" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Roohollah Abdollahpour</td>
<td class="ds-table-cell odd">abdollahpour@mail.utexas.edu</td>
</tr>
<tr class="ds-table-row even">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_2778" class="ds-button-field submit_add_eperson" name="submit_add_eperson_2778" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Mohamed Shahid Abdul Ghayum</td>
<td class="ds-table-cell odd">mohamed_shahid007@yahoo.com</td>
</tr>
<tr class="ds-table-row odd">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_4962" class="ds-button-field submit_add_eperson" name="submit_add_eperson_4962" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Shadi Abdul Khalek</td>
<td class="ds-table-cell odd">ak.shadi@gmail.com</td>
</tr>
<tr class="ds-table-row even">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_319" class="ds-button-field submit_add_eperson" name="submit_add_eperson_319" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Martin Abel</td>
<td class="ds-table-cell odd">martin.abel85@gmx.de</td>
</tr>
<tr class="ds-table-row odd">
<td class="ds-table-cell odd">
<input title="Add to Vireo Users" id="aspect_vireo_admin_Settings_field_submit_add_eperson_3373" class="ds-button-field submit_add_eperson" name="submit_add_eperson_3373" value="Add" type="submit">
</td>
<td class="ds-table-cell even">Lynn Abell</td>
<td class="ds-table-cell odd">lynn.abell@mail.utexas.edu</td>
</tr>
</tbody></table>
</div>
<div class="pagination bottom">
<p class="pagination-info">Now showing items 1-10 of 5274</p>
<a href="javascript:settingsLinkUpdate('/ut-etd/vireo/admin/settings?page=admin&amp;memberSearch=&amp;epage=1&amp;update=true','div_add-members',%20true);" title="Next &gt;" class="next-page-link">Next &gt;</a>
</div>
</div>
<p class="ds-paragraph">
<input style="display: none;" id="aspect_vireo_admin_Settings_field_update-all-prefs" class="ds-button-field hidden-submit" name="update-all-prefs" value="Update" type="submit">
</p>
</form>
</div>
</div>


<div id="footer">
<p>
                Vireo 1.2.1  © 2012 <a href="http://www.tdl.org/">Texas Digital Library</a>. All Rights Reserved.
            </p>
<p>
                Valid <a href="http://validator.w3.org/check/referer">XHTML&nbsp;1.0</a>,
                <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>. 
                <a title="Section 508 Compliant" href="http://wave.webaim.org/refer">Section 508 Compliant.</a>
</p>
</div>


</body></html>