<div id="body" ng-controller="SettingsController">

	<ul class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Submissions</li>
	</ul>
	<div class="row pageHead">
		<h3 class="span11">Submission Status</h3>
	</div>
	<br>

	<div class="row">
		<table id="submissions-table"
			class="table table-striped table-bordered table-condensed">
			<caption>
				<h4>
					<p class="center red">Currently accepting submissions for the {{settings.configurable.application.current_semester}} semester.</p>
				</h4>
			</caption>
			<thead>
				<tr class="sub-heading">
					<th>Title</th>
					<th>Manuscript</th>
					<th>Status</th>
					<th>Date Submitted</th>
					<th>Assigned To</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>The Science of Everything</td>
					<td>BACA-DISSERTATION-2013.pdf <a
						href="/submit/81/file/646/BACA-DISSERTATION-2013.pdf">[view]</a>
					</td>
					<td>Corrections Received</td>
					<td>02 February 2015</td>
					<td>Teacher 1</td>
					<td><a class="btn btn-primary" href="/submit/81/view">
							View </a></td>
				</tr>
				<tr>
					<td>This "IS" the title!</td>
					<td>ADMIN-PROJECTREPORT-2014.pdf <a
						href="/submit/218/file/625/ADMIN-PROJECTREPORT-2014.pdf">[view]</a>
					</td>
					<td>Submitted</td>
					<td>07 April 2016</td>
					<td>Unassigned</td>
					<td><a class="btn btn-primary" href="/submit/218/view">
							View </a></td>
				</tr>
				<tr class="sub-inprogress">
					<td></td>
					<td>none</td>
					<td>In Progress</td>
					<td>n/a</td>
					<td>Unassigned</td>
					<td><a id="submission-continue" class="btn btn-primary"
						href="/submit/236/personalInfo">Continue</a> <a
						id="submission-delete_236"
						class="btn btn-primary submission-delete"
						href="/submit/236/delete">Delete</a></td>
				</tr>
				<tr>
					<td>Ryan's Demo Dissertation Hooray</td>
					<td>STEANS-DISSERTATION-2016.pdf <a
						href="/submit/219/file/622/STEANS-DISSERTATION-2016.pdf">[view]</a>
					</td>
					<td>Pending Publication</td>
					<td>24 March 2016</td>
					<td>TDL Admin</td>
					<td><a class="btn btn-primary" href="/submit/219/view">
							View </a></td>
				</tr>
			</tbody>
		</table>
		<div class="form-actions row center">
			<a href="javascript:void(0)" onclick="checkBeforeNewSub()"
				class="btn btn-primary">Start a new submission</a>
		</div>
	</div>

	<div class="modal fade" id="checkBeforeNewSub-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">X</button>
			<h4>
				<p class="center red">You currently have a submission in
					progress!</p>
			</h4>
		</div>
		<div class="modal-body">
			<ul id="checkBeforeNewSub-errors" class="red">
			</ul>
			<table id="checkBeforeNewSub-submission-table"
				class="table table-striped table-bordered table-condensed">
				<caption>
					<h5>
						<div id="checkBeforeNewSub-wrap" class="alert alert-danger">
							<p>
								If you have a document which “Needs Corrections”, please click
								the Edit button next to it. <br> If you have a document “In
								Progress,” please Continue or Delete the submission instead of
								starting a new one.
							</p>
						</div>
					</h5>
				</caption>
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<h3>Are you sure you want to start a new submission for a
			different degree?</h3>
		<div class="modal-footer">
			<a id="checkBeforeNewSub-cancel" href="javascript:void(0);"
				class="btn" data-dismiss="modal">Cancel</a> <a
				id="checkBeforeNewSub-start" href="javascript:void(0);"
				onclick="startNewSub()" class="btn btn-primary">Start a new
				submission anyway</a>
		</div>
	</div>

</div>