<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="advanced = false; controlledVocabulary = false; resetFieldProfiles();" data-dismiss="modal" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Update Field</h3>
</div>

<form ng-submit="advanced = false; controlledVocabulary = false; updateFieldProfile();" name="forms.update" novalidate>

  <validationmessage results="workflowStepRepo.ValidationResults"></validationmessage>

  <validationmessage results="fieldProfileRepo.ValidationResults"></validationmessage>

  <validationmessage results="fieldPredicateRepo.getValidationResults()"></validationmessage>

  <!-- TODO: figure out how to validate controlled vocabularies -->

  <div class="modal-body field-profiles-edit-modal">

    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="General">
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-1">
            <label for="field-profiles-gloss">Field Label</label>
            <input name="gloss" ng-model="modalData.gloss" ng-change="changeLabel()" autocomplete="off" type="text" class="form-control" required/>
            <small class="text-muted" ng-if="mustCreateFieldPredicate()">Metadata key <strong>{{modalData.fieldPredicate}} will be created</strong></small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1 col-xs-6">
            <toggleButton label="Repeatable:" scope-value="modalData.repeatable" toggle-options='[{"true": "Yes"},{"false": "No"}]'></toggleButton>
            <toggleButton label="Required:" scope-value="modalData.optional" toggle-options='[{"false": "Yes"},{"true": "No"}]'></toggleButton>
            <toggleButton label="Disabled:" scope-value="modalData.enabled" toggle-options='[{"false": "Yes"},{"true": "No"}]'></toggleButton>
            <toggleButton label="Hidden:" scope-value="modalData.hidden" toggle-options='[{"true": "Yes"},{"false": "No"}]'></toggleButton>
          </div>
          <div class="col-sm-5 col-sm-offset-1 col-xs-6">
            <toggleButton label="Flagged:" scope-value="modalData.flagged" toggle-options='[{"true": "Yes"},{"false": "No"}]'></toggleButton>
            <toggleButton label="Logged:" scope-value="modalData.logged" toggle-options='[{"true": "Yes"},{"false": "No"}]'></toggleButton>
            <toggleButton label="Overrideable:" scope-value="modalData.overrideable" toggle-options='[{"true": "Yes"},{"false": "No"}]'></toggleButton>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Advanced">
        <div class="field-profile-section field-profile-open">
          <div ng-if="!inputFile" class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <label for="field-predicates-gloss">Metadata Key</label>
              <input ng-model="modalData.fieldPredicate" autocomplete="off" uib-typeahead="predicate as predicate.value for predicate in fieldPredicates | filter:$viewValue" type="text" class="form-control" required/>
              <small class="text-muted" ng-if="mustCreateFieldPredicate()">Metadata key <strong>{{modalData.fieldPredicate}} will be created</strong></small>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <validatedselect no-id="true" options="inputTypes" optionproperty="name" model="modalData" property="inputType" label="Input Type" form="forms.update" change="inputTypeChanged()" validations="fieldProfileRepo.getValidations()" results="fieldProfileRepo.ValidationResults"></validatedselect>
            </div>
          </div>
          <div ng-if="inputFile" class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <validatedselect no-id="true" options="documentTypes" optionproperty="name" model="documentData" property="documentType" label="Document Type" form="forms.update" change="documentTypeChanged()" validations="fieldProfileRepo.getValidations()" results="fieldProfileRepo.ValidationResults"></validatedselect>
            </div>
          </div>
          <div class="form-group" ng-if="modalData.inputType.name != 'INPUT_LICENSE'">
            <div class="col-sm-10 col-sm-offset-1">
              <validatedinput no-id="true" model="modalData" property="help" label="Help Text" form="forms.update" validations="fieldProfileRepo.getValidations()" results="fieldProfileRepo.ValidationResults"></validatedinput>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <validatedinput no-id="true" model="modalData" property="defaultValue" label="Default Value" form="forms.update" validations="fieldProfileRepo.getValidations()" results="fieldProfileRepo.ValidationResults"></validatedinput>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <label for="field-profiles-shibboleth-attributes">Shibboleth Attribute Mapping</label>
              <select no-id="true" ng-model="modalData.mappedShibAttribute" ng-options="config as config.value for config in shibbolethAttributes track by config.value" type="text" class="form-control">
                <option value="" disabled selected>Select a Shibboleth Attribute</option>
              </select>
              <small class="text-muted toggle-href pull-right" ng-if="modalData.mappedShibAttribute" ng-click="modalData.mappedShibAttribute = undefined;"><strong>Clear</strong></small>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="2" heading="Controlled Vocabulary">
        <div class="field-profile-section field-profile-open">
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <label for="field-profiles-controlled-vocabulary">Controlled Vocabulary</label>
              <select no-id="true" ng-model="modalData.controlledVocabulary" ng-options="cv as cv.name for cv in controlledVocabularies track by cv.id" type="text" class="form-control">
                <option value="" disabled selected>(None)</option>
              </select>
              <small class="text-muted toggle-href pull-right" ng-if="modalData.controlledVocabulary" ng-click="modalData.controlledVocabulary = undefined;"><strong>Clear</strong></small>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="advanced = false; controlledVocabulary = false; resetFieldProfiles();">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="forms.update.$invalid">Update</button>
  </div>
</form>
