/***********************
** STUDENT SUBMISSION **
************************/
.start-your-submission {
  box-shadow: 1px 1px 7px -1px #000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.triptych-start-submission {
  box-shadow: 1px 1px 7px -1px #000;
  font-size:1.2em;
  padding: 10px;
  padding-bottom: 35px;
  min-width: 400px;
}

.triptych-start-submission .disabled {
  min-width: 400px;
}

.student-submission.ready {
  margin-top: -50px;
}

.student-submission,
.student-submission-loader.ready {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.student-submission-loader,
.student-submission.ready {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.student-submission-loader {
  top: 250px;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.submission-workflow-steps-navigation {
  margin-bottom: 25px;
}

.nav-pills > .submission-workflow-step-navigation > a {
  display: inline-block;
  width: 95%;
  padding: 0px;
  margin: 0px 0px 5px 0px;
  color: inherit;
  background-color: inherit;
  white-space: nowrap;
}

.nav-pills > .submission-workflow-step-navigation.active > a,
.nav-pills > .submission-workflow-step-navigation.active > a:focus,
.nav-pills > .submission-workflow-step-navigation.active > a:hover {
  color: inherit;
  background-color: inherit;
}

.submission-workflow-step-navigation a .invisible-button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  color: white;
  background: $button_main_color_off;
  background: -moz-linear-gradient linear-gradient(to right, $button_main_color_off, $button_highlight_color_off);
  background: -webkit-linear-gradient(to right, $button_main_color_off, $button_highlight_color_off);
  background: -ms-linear-gradient(to right, $button_main_color_off, $button_highlight_color_off);
  background: linear-gradient(to right, $button_main_color_off, $button_highlight_color_off);
}

.submission-workflow-step-navigation a:hover .invisible-button,
.submission-workflow-step-navigation a .invisible-button:focus,
.submission-workflow-step-navigation.active a .invisible-button {
  cursor: pointer;
  background: rgb(31, 58, 71);
  background: -moz-linear-gradient linear-gradient(to right, $button_main_color_on, $button_highlight_color_on);
  background: -webkit-linear-gradient(to right, $button_main_color_on, $button_highlight_color_on);
  background: -ms-linear-gradient(to right, $button_main_color_on, $button_highlight_color_on);
  background: linear-gradient(to right, $button_main_color_on, $button_highlight_color_on);
}

.submission-workflow-step-navigation a .invisible-button:focus {
  box-shadow: 0px 0px 2px #115db9;
}

.field-value-input:not(:last-of-type) {
  margin-bottom: 5px;
}

.select-toggle:hover {
  cursor: pointer;
}

.select-option {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
}

.select-option:hover {
  cursor: pointer;
  background: #efefef;
}

.select-value {
  white-space: nowrap;
}

.organization-create-button {
  white-space: normal !important;
  word-wrap: break-word;
}

.invisible-button {
  background-color: transparent;
  border: none;
}

.wide-button {
  width: 100%;
}
