.submission-history .page-head {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #cccccc;
}

.submission-history .page-head h3 {
    font-size: 2.2em;
    font-weight: normal;
    margin: 0;
}

.history-table {
	margin-top: 25px;
}

.submission-history .etd-table th {
    text-transform: capitalize;
    padding: 0px;
}