.currently-accepting-submissions {
    color: #a94442;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
  }
  
.submission-history > .currently-accepting-submissions {
    margin-top: 25px;
    margin-bottom: 0px;
}
