#{extends 'main.html' /}
#{set title:'Review Application' /}

<br />
<div class="row pageHead">
	<h3 class="span11">Review Application</h3>
</div>
<br/>
#{if inputRecieved }
<div class="alert alert-success">
	<button class="close" data-dismiss="alert">x</button>
	<p><strong>Your input has been recorded.</strong> You may return to this page to follow the application's progress, or provide additional input in the future.</p>
</div>
#{/if}

<div id="confirmSubmit" class="row">
<form action="@{Advisor.review(token)}" method="post" class="form-horizontal">

    #{include 'viewSubmission.include' /}
	
	<legend>Uploaded Files</legend>
	<div class="control-group #{if errors.forKey('primaryDocument')}error#{/if}">
		<label class="control-label">#{fieldLabel PRIMARY_ATTACHMENT /}:</label>
		<div class="controls">
			#{if primaryDocument != null}
			    <p>
			         <a href="@{Advisor.viewAttachment(token,primaryDocument.getId(),primaryDocument.getName())}" target="_blank">${primaryDocument.getName()}</a>
			         (${primaryDocument.getDisplaySize()})
			     </p>
			#{/if}
			#{else}
			     <p><em>No primary document uploaded</em></p>
			#{/else}
		</div>
	</div>
    <div class="control-group #{if errors.forKey('additionalDocument')}error#{/if}">
        <label class="control-label">Additional Documents:</label>
        <div class="controls">
            #{list items:additionalDocuments, as:'attachment'}
            <p>
                <a href="@{Advisor.viewAttachment(token,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
                (${attachment.getType()} - ${attachment.getDisplaySize()})
            </p>
            #{/list}
            #{else}
            	<p><em>No additional documents uploaded</em></p>
            #{/else}
        </div>
    </div>
    #{if feedbackDocuments != null && feedbackDocuments.size() > 0}
    <div class="control-group #{if errors.forKey('feedbackDocument')}error#{/if}">
        <label class="control-label"><b>Feedback Document${ feedbackDocuments.pluralize() }:</b></label>
        <div class="controls">
            #{list items:feedbackDocuments, as:'attachment'}
            <p>
                <a href="@{Advisor.viewAttachment(token,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
                (${attachment.getDisplaySize()})
            </p>
            #{/list}
        </div>
    </div>
    #{/if}
    
	<legend>Application Activity</legend>
	<div id="student-log-view">
	<table class="span10 table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>Name</td>
				<td>Action</td>
				<td>Time</td>
			</tr>
		</thead>
		<tbody>
			#{list items:logs, as:'log'}
			#{if !log.isPrivate() }
			<tr>
				<td>${log.getPerson()?.getFormattedName(org.tdl.vireo.model.NameFormat.FIRST_LAST)}</td>
				<td>${log.getEntry()}</td>
				<td>${log.getActionDate().format('dd/MM/yyyy hh:mm:ss a')}</td>
			</tr>
			#{/if}
			#{/list}
		</tbody>
	</table>
	</div>

	<legend>Approval</legend>
	<div class="control-group">
		<label class="control-label"><b>Approve Embargo:</b></label>
		<div class="controls">
			#{if sub.getCommitteeEmbargoApprovalDate() != null }
			<p>Approved on ${ sub.getCommitteeEmbargoApprovalDate().format("dd MMMM yyyy 'at' hh:mm a") }</p>
			#{/if}
			#{else}
			<label class="checkbox">
				<input type="radio" name="embargoApproval" value="approve"/> I approve of the embargo selection.
			</label>
			<label class="checkbox">
				<input type="radio" name="embargoApproval" value="reject" ${ "reject".equals(params.get("embargoApproval")) ? "checked='true'" : ""}/> I reject the embargo selection. <em>(Please leave a comment explaining why below)</em>
			</label>
			#{/else}
			<br/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Approve Application:</b></label>
		<div class="controls">
			#{if sub.getCommitteeApprovalDate() != null }
			<p>Approved on ${ sub.getCommitteeApprovalDate().format("dd MMMM yyyy 'at' hh:mm a") }</p>
			#{/if}
			#{else}
			<label class="checkbox">
				<input type="radio" name="committeeApproval" value="approve"/> I approve this application.
			</label>
			<label class="checkbox">
				<input type="radio" name="committeeApproval" value="reject" ${ "reject".equals(params.get("committeeApproval")) ? "checked='true'" : ""}/> I reject this application. <em>(Please leave a comment explaining why below)</em>
			</label>
			#{/else}
			<br/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><b>Comments:</b></label>
		<div class="controls">
			<textarea class="span6" style="height:200px;" name="advisorMessage"></textarea>
		</div>
	</div>
		
	
	<div class="form-actions row center">
		<input type="submit" class="btn btn-primary" name="submit_advisor" value="Submit"/>
	</div>		
	
	<br/>
	<br/>
	<br/>
	<br/>
</form>
</div>
