<div class="row" ng-controller="CustomActionSettingsController">
	<div class="col-sm-6">

		<button class="btn btn-default modal-add-btn" 
				data-toggle="modal" 
				data-target="#customActionNewModal">
				Add New
		</button>

		<p ng-if="settings.customAction.list">Add new Custom actions</p>

		<ol>
			<li ng-repeat="customAction in settings.customAction.list">
				<span class="mouse-hover-pointer"
				ng-click="loadEditModal(customAction)"
				ng-mouseenter="isMouseHover=true"
				ng-mouseleave="isMouseHover=false"
				data-toggle="modal" 
				data-target="#customActionEditModal">		
					<span ng-show="!customAction.studentVisible" class="glyphicon glyphicon glyphicon-user"></span>
					<span ng-show="customAction.studentVisible" class="glyphicon glyphicon glyphicon-globe"></span>
					{{customAction.label}}
				</span>
				<span ng-show="isMouseHover" class="glyphicon glyphicon-pencil edit-setting-icon"></span>
			</li>
		</ol>

	</div>
	
	<div class="col-sm-6">

		<div class="trash-drop-zone">
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-trash"></span>	
			</div>
			<div class="col-sm-6">
				<p>Remove items by dragging them to trash can</p>
			</div>
		</div>
	</div>
</div>

<modal modal-id="customActionNewModal" 
		modal-view="views/modals/settings/customActionNewModal.html" 
		modal-header-class="modal-header-primary"
		modal-controller="CustomActionSettingsController">
</modal>

<modal modal-id="customActionEditModal" 
		modal-view="views/modals/settings/customActionEditModal.html" 
		modal-header-class="modal-header-primary"
		modal-controller="CustomActionSettingsController">
</modal>


