<div class="lookandfeel">
	<form name="look-and-feel">
		<div class="row">
			<div class="col-sm-6 col-lg-9">

				<div class="row">
					<h4>Background
					   <div tooltip="Use hex color values to change the background on the student side. The main color (default #1B333F) fades into the highlight color (default #43606E).">
					   	<span class="glyphicon glyphicon-info-sign color-reset"></span>
					   </div>
					</h4> 
				</div>

				<div class="row">
					<div class="col-md-5 col-lg-3">
						<div class="row">
							<span>Main Color 
								<span  class="glyphicon glyphicon-refresh color-reset"
										ng-click="resetConfigurableSettings('lookAndFeel','background_main_color')">
								</span>
							</span>
						</div>

						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control" contenteditable ng-change="delayedUpdateConfigurableSettings('lookAndFeel','background_main_color')" ng-model="settings.configurable.lookAndFeel.background_main_color" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.background_main_color}">
									<input  type="color" 
										name="background_main_color" 
										ng-model="settings.configurable.lookAndFeel.background_main_color"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','background_main_color')" ng-model="settings.configurable.lookAndFeel.background_main_color" />
								</label>
							</span>

						</div>

					</div>


					<div class="col-md-5 col-lg-3 col-md-offset-1 col-lg-offset-0">
						<div class="row">
							<span>Highlight Color
								<span 	class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','background_highlight_color')">
								</span>
							</span>
						</div>


						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control" contenteditable ng-change="delayedUpdateConfigurableSettings('lookAndFeel','background_highlight_color')" ng-model="settings.configurable.lookAndFeel.background_highlight_color" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.background_highlight_color}">
									<input  type="color" 
										name="background_highlight_color" 
										ng-model="settings.configurable.lookAndFeel.background_highlight_color"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','background_highlight_color')" ng-model="settings.configurable.lookAndFeel.background_highlight_color" />
								</label>
							</span>

						</div>

					</div>
					<div class="col-md-1 col-lg-5"></div>

				</div>
				


				<div class="row">
					<h4>Submission Step Button (On)
					   <div tooltip="Use hex color values to change the look of the submission step buttons when on the current step or on hover. The main color (default #1B333F) fades into the highlight color (default #43606E) and then back to the main color.">
					   		<span class="glyphicon glyphicon-info-sign color-reset"></span>
					   </div>
					</h4>
				</div>
				
				<div class="row">
					<div class="col-md-5 col-lg-3">
						<div class="row">
							<span>Main Color
								<span 	class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','button_main_color_on')">
								</span>
							</span>
						</div>


						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control" contenteditable ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_main_color_on')" ng-model="settings.configurable.lookAndFeel.button_main_color_on" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.button_main_color_on}">
									<input  type="color" 
										name="button_main_color_on" 
										ng-model="settings.configurable.lookAndFeel.button_main_color_on"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_main_color_on')" ng-model="settings.configurable.lookAndFeel.button_main_color_on" />
								</label>
							</span>

						</div>

					</div>


					<div class="col-md-5 col-lg-3 col-md-offset-1 col-lg-offset-0">
						<div class="row">
							<span>Highlight Color 
								<span 	class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','button_highlight_color_on')">
								</span>
							</span>
						</div>


						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control" contenteditable ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_highlight_color_on')" ng-model="settings.configurable.lookAndFeel.button_highlight_color_on" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.button_highlight_color_on}">
									<input  type="color" 
										name="button_highlight_color_on" 
										ng-model="settings.configurable.lookAndFeel.button_highlight_color_on"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_highlight_color_on')" ng-model="settings.configurable.lookAndFeel.button_highlight_color_on" />
								</label>
							</span>

						</div>

					</div>

					<div class="col-md-1 col-lg-5"></div>
				</div>
				


				<div class="row">
					<h4>Submission Step Button (Off)
			   			<div 
			   				tooltip="Use hex color values to change the look of the submission step buttons when in a default state. The main color (default #A6A18C) fades into the highlight color (default #C7C2A9) and then back to the main color.">
			   				<span class="glyphicon glyphicon-info-sign color-reset"></span>
			   			</div>
					</h4>
				</div>

				<div class="row">
					<div class="col-md-5 col-lg-3">
						<div class="row">
							<span>Main Color
								<span 	class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','button_main_color_off')">
								</span>
							</span>
						</div>

						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control" contenteditable ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_main_color_off')" ng-model="settings.configurable.lookAndFeel.button_main_color_off" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.button_main_color_off}">
									<input  type="color" 
										name="button_main_color_off" 
										ng-model="settings.configurable.lookAndFeel.button_main_color_off"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_main_color_off')" ng-model="settings.configurable.lookAndFeel.button_main_color_off" />
								</label>
							</span>

						</div>

					</div>


					<div class="col-md-5 col-lg-3 col-md-offset-1 col-lg-offset-0">
						<div class="row">
							<span>Highlight Color 
								<span 	class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','button_highlight_color_off')">
								</span>
							</span>
						</div>


						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control" contenteditable ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_highlight_color_off')" ng-model="settings.configurable.lookAndFeel.button_highlight_color_off" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.button_highlight_color_off}">
									<input  type="color" 
										name="button_highlight_color_off" 
										ng-model="settings.configurable.lookAndFeel.button_highlight_color_off"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_highlight_color_off')" ng-model="settings.configurable.lookAndFeel.button_highlight_color_off" />
								</label>
							</span>

						</div>

					</div>

					<div class="col-md-1 col-lg-5"></div>
				</div>

			</div>		
			


			<div class="col-sm-6 col-lg-3">
			</div>
		</div>

		<!-- LOGOS -->
		<div class="row logos">			
				
			<h4>Logos
				<div tooltip="Change the logos located on the student side in the top left and top right corners. The recommended size is 50 x 150 pixels.">
		   			<span class="glyphicon glyphicon-info-sign color-reset"></span>
		   		</div>	
			</h4>

			<div class="row">
				<div class="col-sm-6">
					
					<div class="row">
						<div class="col-sm-6">
							<p>Left Logo </p>
							<input type="file" name="leftLogo" class="form-control">
						</div>
						<div class="col-sm-6">
							<img ng-src="resources/images/logo-sm.png">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<p>Right Logo </p>
							<input type="file" name="leftLogo" class="form-control">
						</div>
						<div class="col-sm-6">
							<img ng-src="resources/images/vireo-right.gif">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
						<button type="submit" class="btn btn-default" name="submit_upload">Upload</button>
						</div>
						<div class="col-sm-6"></div>
					</div>


				</div>

				<div class="col-sm-6">
				</div>
			</div>				

		
		</div>
		
		<!-- CUSTOM CSS -->
		<lockingtextarea
    		    label="Custom CSS"
    			hint="Customize any styling on the student side using CSS."
    			scope-value="settings.configurable.lookAndFeel.custom_css"
    			on-blur="updateConfigurableSettings('configurable.lookAndFeel', 'custom_css')"
              	key-down="confirmEdit(event, prop)">
   		</lockingtextarea>
		
		<!-- FRONT PAGE INSTRUCTIONS BEFORE BUTTON -->
		<lockingtextarea
    		  label="Front Page Instructions (before button)"
    			hint="These instructions are show on the front page of Vireo to all users. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
    			scope-value="settings.configurable.lookAndFeel.front_page_instructions_before"
    			on-blur="updateConfigurableSettings('configurable.lookAndFeel', 'front_page_instructions_before')"
              	key-down="confirmEdit(event, prop)">
   		</lockingtextarea>
   		
   		<!-- FRONT PAGE INSTRUCTIONS AFTER BUTTON -->
		<lockingtextarea
    		  label="Front Page Instructions (after button)"
    			hint="These instructions are show on the front page of Vireo to all users. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
    			scope-value="settings.configurable.lookAndFeel.front_page_instructions_after"
    			on-blur="updateConfigurableSettings('configurable.lookAndFeel', 'front_page_instructions_after')"
              	key-down="confirmEdit(event, prop)">
   		</lockingtextarea>
   		
   		<!-- POST SUBMISSION INSTRUCTIONS -->
		<lockingtextarea
    		  label="Post Submission Instructions"
    			hint="These instructions will be shown on the confirmation page after a student has completed their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
    			scope-value="settings.configurable.lookAndFeel.post_submission_instructions"
    			on-blur="updateConfigurableSettings('configurable.lookAndFeel', 'post_submission_instructions')"
              	key-down="confirmEdit(event, prop)">
   		</lockingtextarea>

		<!-- POST CORRECTION INSTRUCTIONS-->
		<lockingtextarea
    		  label="Post Correction Instructions"
    			hint="These instructions are shown on the confirmation page after a student has submitted corrections for their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
    			scope-value="settings.configurable.lookAndFeel.post_correction_instructions"
    			on-blur="updateConfigurableSettings('configurable.lookAndFeel', 'post_correction_instructions')"
              	key-down="confirmEdit(event, prop)">
   		</lockingtextarea>
	</form>

</div>








