<div class="look-and-feel" ng-controller="LookAndFeelController">
	<form name="look-and-feel">
		<div class="row">
			<div class="col-sm-6 col-lg-9">

				<div class="row">
					<h4>Background
					   <div tooltip="Use hex color values to change the background on the student side. The main color (default #1B333F) fades into the highlight color (default #43606E).">
					   	<span class="glyphicon glyphicon-info-sign opaque color-reset"></span>
					   </div>
					</h4> 
				</div>

				<div class="row">
					<div class="col-md-5 col-lg-3">
						<div class="row">
							<span>Main Color 
								<span class="glyphicon glyphicon-refresh color-reset"
										ng-click="resetConfigurableSettings('lookAndFeel','background_main_color')">
								</span>
							</span>
						</div>

						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control color-input" ng-change="delayedUpdateConfigurableSettings('lookAndFeel','background_main_color')" ng-model="settings.configurable.lookAndFeel.background_main_color.value" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.background_main_color.value}">
									<input  type="color" 
										name="background_main_color" 
										ng-model="settings.configurable.lookAndFeel.background_main_color.value"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','background_main_color')"/>
								</label>
							</span>

						</div>
						<validationresponse
							validation-response="serverErrors['lookAndFeel']['background_main_color']">
						</validationresponse>
					</div>


					<div class="col-md-5 col-lg-3 col-md-offset-1 col-lg-offset-0">
						<div class="row">
							<span>Highlight Color
								<span class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','background_highlight_color')">
								</span>
							</span>
						</div>


						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control color-input" ng-change="delayedUpdateConfigurableSettings('lookAndFeel','background_highlight_color')" ng-model="settings.configurable.lookAndFeel.background_highlight_color.value" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.background_highlight_color.value}">
									<input  type="color" 
										name="background_highlight_color" 
										ng-model="settings.configurable.lookAndFeel.background_highlight_color.value"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','background_highlight_color')"/>
								</label>
							</span>

						</div>
						<validationresponse
							validation-response="serverErrors['lookAndFeel']['background_highlight_color']">
						</validationresponse>
					</div>
					<div class="col-md-1 col-lg-5"></div>

				</div>
				


				<div class="row">
					<h4>Submission Step Button (On)
					   <div tooltip="Use hex color values to change the look of the submission step buttons when on the current step or on hover. The main color (default #1B333F) fades into the highlight color (default #43606E) and then back to the main color.">
					   		<span class="glyphicon glyphicon-info-sign opaque color-reset"></span>
					   </div>
					</h4>
				</div>
				
				<div class="row">
					<div class="col-md-5 col-lg-3">
						<div class="row">
							<span>Main Color
								<span class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','button_main_color_on')">
								</span>
							</span>
						</div>


						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control color-input" ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_main_color_on')" ng-model="settings.configurable.lookAndFeel.button_main_color_on.value" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.button_main_color_on.value}">
									<input type="color" 
										name="button_main_color_on" 
										ng-model="settings.configurable.lookAndFeel.button_main_color_on.value"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_main_color_on')"/>
								</label>
							</span>

						</div>
						<validationresponse
							validation-response="serverErrors['lookAndFeel']['button_main_color_on']">
						</validationresponse>
					</div>


					<div class="col-md-5 col-lg-3 col-md-offset-1 col-lg-offset-0">
						<div class="row">
							<span>Highlight Color 
								<span class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','button_highlight_color_on')">
								</span>
							</span>
						</div>


						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control color-input" ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_highlight_color_on')" ng-model="settings.configurable.lookAndFeel.button_highlight_color_on.value" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.button_highlight_color_on.value}">
									<input type="color" 
										name="button_highlight_color_on" 
										ng-model="settings.configurable.lookAndFeel.button_highlight_color_on.value"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_highlight_color_on')"/>
								</label>
							</span>

						</div>
						<validationresponse
							validation-response="serverErrors['lookAndFeel']['button_highlight_color_on']">
						</validationresponse>
					</div>

					<div class="col-md-1 col-lg-5"></div>
				</div>
				


				<div class="row">
					<h4>Submission Step Button (Off)
			   			<div 
			   				tooltip="Use hex color values to change the look of the submission step buttons when in a default state. The main color (default #A6A18C) fades into the highlight color (default #C7C2A9) and then back to the main color.">
			   				<span class="glyphicon glyphicon-info-sign opaque color-reset"></span>
			   			</div>
					</h4>
				</div>

				<div class="row">
					<div class="col-md-5 col-lg-3">
						<div class="row">
							<span>Main Color
								<span class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','button_main_color_off')">
								</span>
							</span>
						</div>

						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control color-input" ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_main_color_off')" ng-model="settings.configurable.lookAndFeel.button_main_color_off.value" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.button_main_color_off.value}">
									<input type="color" 
										name="button_main_color_off" 
										ng-model="settings.configurable.lookAndFeel.button_main_color_off.value"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_main_color_off')"/>
								</label>
							</span>

						</div>
						<validationresponse
							validation-response="serverErrors['lookAndFeel']['button_main_color_off']">
						</validationresponse>
					</div>


					<div class="col-md-5 col-lg-3 col-md-offset-1 col-lg-offset-0">
						<div class="row">
							<span>Highlight Color 
								<span class="glyphicon glyphicon-refresh color-reset" 
										ng-click="resetConfigurableSettings('lookAndFeel','button_highlight_color_off')">
								</span>
							</span>
						</div>


						<div class="input-group color-selector">
							<span class="input-group-addon">#</span>
						  	<input class="form-control color-input" ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_highlight_color_off')" ng-model="settings.configurable.lookAndFeel.button_highlight_color_off.value" dehashcolor>
						  	
							<span class="input-group-addon">
								<label class="color-selector-swatch" ng-style="{background: settings.configurable.lookAndFeel.button_highlight_color_off.value}">
									<input type="color" 
										name="button_highlight_color_off" 
										ng-model="settings.configurable.lookAndFeel.button_highlight_color_off.value"
										ng-change="delayedUpdateConfigurableSettings('lookAndFeel','button_highlight_color_off')"/>
										
								</label>
							</span>
							
						</div>
						<validationresponse
							validation-response="serverErrors['lookAndFeel']['button_highlight_color_off']">
						</validationresponse>
					</div>

					<div class="col-md-1 col-lg-5"></div>
				</div>

			</div>		
			


			<div class="col-sm-6 col-lg-3">
			</div>
		</div>

		<!-- LOGOS -->
		<div class="row">			
				
			<h4>Logos
				<div tooltip="Change the logos located on the student side in the top left and top right corners. The recommended size is 50 x 150 pixels.">
		   			<span class="glyphicon glyphicon-info-sign opaque color-reset"></span>
		   		</div>	
			</h4>

			<div class="row">

				<div class="col-sm-4">
					<div class="logo-wraper">
						<p>
							Left Logo 
							<span 	class="glyphicon glyphicon-refresh color-reset" 
									ng-click="resetLogo('left_logo')">
							</span>
						</p>

						<img ng-src="{{modalData.logoLeft}}" class="logo-preview">
					</div>
					<validationresponse
						validation-response="serverErrors['left_logo']">
					</validationresponse>
				</div>
				
				<div class="col-sm-4">
					<div class="logo-wraper">
						<p>
							Right Logo 
							<span 	class="glyphicon glyphicon-refresh color-reset" 
									ng-click="resetLogo('right_logo')">
							</span>
						</p>
						<img ng-src="{{modalData.logoRight}}" class="logo-preview">
					</div>
					<validationresponse
						validation-response="serverErrors['right_logo']">
					</validationresponse>
				</div>


				<div class="col-sm-4">
					<dropzone id="rightLogoDrop"
							  text="Drop image on the drop zone to set Right Logo",
							  patterns=".jpg,.jpeg,.gif,.GIF,.JPEG,.png"
							  drop-method="previewLogo(file)">
					</dropzone>
				</div>

			</div>				

		</div>

		<modal modal-id="newLogoConfirmUploadModal" 
			   		modal-view="views/modals/settings/newLogoConfirmUploadModal.html" 
		   			modal-header-class="modal-header-primary"
			   		modal-data="modalData">
		</modal>
		
		<!-- CUSTOM CSS -->
		<lockingtextarea
    		    label="Custom CSS"
    			hint="Customize any styling on the student side using CSS."
    			scope-value="settings.configurable.lookAndFeel.custom_css.value"
    			on-blur="updateConfigurableSettings('lookAndFeel', 'custom_css')"
              	key-down="confirmEdit(event, prop)"
              	wysiwyg="false"
              	validation-response="serverErrors['lookAndFeel']['custom_css']">
   		</lockingtextarea>
		
		<!-- FRONT PAGE INSTRUCTIONS BEFORE BUTTON -->
		<lockingtextarea
    		    label="Front Page Instructions (before button)"
    			hint="These instructions are show on the front page of Vireo to all users. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
    			scope-value="settings.configurable.lookAndFeel.front_page_instructions_before.value"
    			on-blur="updateConfigurableSettings('lookAndFeel', 'front_page_instructions_before')"
              	key-down="confirmEdit(event, prop)"
              	validation-response="serverErrors['lookAndFeel']['front_page_instructions_before']">
   		</lockingtextarea>
   		
   		<!-- FRONT PAGE INSTRUCTIONS AFTER BUTTON -->
		<lockingtextarea
    		    label="Front Page Instructions (after button)"
    			hint="These instructions are show on the front page of Vireo to all users. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
    			scope-value="settings.configurable.lookAndFeel.front_page_instructions_after.value"
    			on-blur="updateConfigurableSettings('lookAndFeel', 'front_page_instructions_after')"
              	key-down="confirmEdit(event, prop)"
              	validation-response="serverErrors['lookAndFeel']['front_page_instructions_after']">
   		</lockingtextarea>
   		
   		<!-- POST SUBMISSION INSTRUCTIONS -->
		<lockingtextarea
    		    label="Post Submission Instructions"
    			hint="These instructions will be shown on the confirmation page after a student has completed their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
    			scope-value="settings.configurable.lookAndFeel.post_submission_instructions.value"
    			on-blur="updateConfigurableSettings('lookAndFeel', 'post_submission_instructions')"
              	key-down="confirmEdit(event, prop)"
              	validation-response="serverErrors['lookAndFeel']['post_submission_instructions']">
   		</lockingtextarea>

		<!-- POST CORRECTION INSTRUCTIONS-->
		<lockingtextarea
    		  label="Post Correction Instructions"
    			hint="These instructions are shown on the confirmation page after a student has submitted corrections for their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
    			scope-value="settings.configurable.lookAndFeel.post_correction_instructions.value"
    			on-blur="updateConfigurableSettings('lookAndFeel', 'post_correction_instructions')"
              	key-down="confirmEdit(event, prop)"
              	validation-response="serverErrors['lookAndFeel']['post_correction_instructions']">
   		</lockingtextarea>
	</form>

</div>








