<div id="organization-categories" class="row" ng-controller="OrganizationCategoriesController">
  
  <div class="col-sm-6">		
    <button class="btn btn-default modal-add-btn" 
            data-toggle="modal" 
            data-target="#organizationCategoryNewModal">
      Add Organization Category
    </button>

    <ol>
      <li ng-repeat="organizationCategory in organizationCategories.list" ng-mouseenter="isMouseHover=true" ng-mouseleave="isMouseHover=false">
        <span>{{organizationCategory.name}}</span>
	<span ng-show="isMouseHover" class="glyphicon glyphicon-pencil edit-setting-icon" ng-click="launchEditModal(organizationCategory)"></span>
      </li>
    </ol>

  </div>


  <modal modal-id="organizationCategoryNewModal" 
         modal-view="views/modals/settings/organizationCategoryNewModal.html" 
         modal-header-class="modal-header-primary"		   
         modal-keyboard="false"
         modal-backdrop="static">
  </modal>

  <modal modal-id="organizationCategoryEditModal" 
         modal-view="views/modals/settings/organizationCategoryEditModal.html" 
         modal-header-class="modal-header-primary"		   
         modal-keyboard="false"
         modal-backdrop="static">
  </modal>

  <modal modal-id="organizationCategoryConfirmRemoveModal" 
         modal-view="views/modals/settings/organizationCategoryConfirmRemoveModal.html" 
         modal-header-class="modal-header-primary"		   
         modal-keyboard="false"
         modal-backdrop="static">
  </modal>
  
</div>
