<div class="row">

    <div class="col-md-6">

        <div class="col-md-10 col-md-offset-1">

            <validatedinput
                type="text"
                label="ProQuest Institution Code"
                model="settings.configurable.proquest_umi_degree_code.proquest_institution_code"
                property="value"
                validations="settings.configurable.proquest_umi_degree_code.proquest_institution_code.getValidations()"
                confirm="updateConfiguration('proquest_umi_degree_code', 'proquest_institution_code')"
                form-view="true"
                tool-tip="The code assigned by ProQuest/UMI to identify the institution associated with all submissions when submitting to their catalogue.">
            </validatedinput>

    	    <togglebutton
    	        ng-click="updateConfiguration('proquest_umi_degree_code', 'proquest_indexing')"
    	        label="Indexed by Search Engines"
    	        scope-value="settings.configurable.proquest_umi_degree_code.proquest_indexing.value"
    	        toggle-options="{{proquestIndexingOptions}}"
    	        tool-tip="todo">
    	    </togglebutton>

        </div>

    </div>

    <div class="col-md-6">

        <div class="col-md-10 col-md-offset-1">

            <lockingtextarea
                label="ProQuest License Agreement"
                hint="Students may be required to accept this license as part of their submission. The following HTML tags are allowed h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically."
                scope-value="settings.configurable.proquest_umi_degree_code.proquest_license.value"
                on-blur="updateConfiguration('proquest_umi_degree_code', 'proquest_license')"
                timer="5">
            </lockingtextarea>

        </div>

    </div>

</div>

<hr/>

<div class="row">

    <p>Degree codes are used by some export formats (i.e. ProQuest) to translate degrees into abbreviated codes.</p>

    <div class="col-md-6">

        <div class="col-md-10 col-md-offset-1">

          <validatedinput ng-repeat="degree in degrees" ng-if="$index < (degrees.length / 2)"
              type="text"
              label="{{degree.name}}"
              model="degree"
              property="proquestCode"
              validations="degree.getValidations()"
              confirm="saveDegree(degree)"
              form-view="true"
              tool-tip="todo">
          </validatedinput>

        </div>

    </div>

    <div class="col-md-6">

        <div class="col-md-10 col-md-offset-1">

          <validatedinput ng-repeat="degree in degrees" ng-if="$index >= (degrees.length / 2)"
              type="text"
              label="{{degree.name}}"
              model="degree"
              property="proquestCode"
              validations="degree.getValidations()"
              confirm="saveDegree(degree)"
              form-view="true"
              tool-tip="todo">
          </validatedinput>

        </div>

    </div>

</div>
