<div ng-controller="WhoHasAccessController">
<div class="row">

    <button class="btn btn-default modal-add-btn" 
            data-toggle="modal" 
            data-target="#addMemberModal">
        Add Member
    </button>

    <table  class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in userRepo.list | filter:{role: '!ROLE_STUDENT'}" ng-init="selectedRole = user.role">
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>
            <select ng-options="key as value for (key, value) in roles" class="form-control" ng-model="selectedRole" ng-change="updateRole(user, selectedRole)"></select>
          </td>
        </tr>
      </tbody>
    </table>

    <modal modal-id="addMemberModal"
           modal-view="views/modals/whoHasAccessModal.html" 
           modal-header-class="modal-header-primary"
           modal-data="modalData"
           modal-keyboard="false"
           modal-backdrop="static">
    </modal>

</div>

</div>
