@import "sass/main";

body {
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #70706f;
}

main {
  display: block;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

main footer {
  display: block;
  margin-bottom: 65px;
}

.tab-nav {
  margin-top: 12px;
}

.tab-nav li {
  background: #92aa9c;
  padding: 0px 10px;
  margin-right: 15px;
  min-width: 75px;
  text-align: center;
  color: #1D3541;
  font-size: 1.75em;
  font-weight: bolder;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 0px -5px 7px -5px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 0px 10px rgba(255, 255, 245, 1), -1px -1px 0px rgba(250, 250, 235, 0.25), 1px 1px 0px rgba(250, 250, 235, 0.5);
}

.tab-nav li.settings-tab {
  font-size: 1.25em;
  padding: 0px 5px;
  margin-top: 15px;
  box-shadow: inset 0px -3px 5px -3px rgba(0, 0, 0, 0.75);
}

.tab-nav li:hover,
.tab-nav li.active {
  cursor: pointer;
  background: #FFFFFF;
  text-shadow: 0px 0px 0px #FFFFFF;
  box-shadow: inset 0px 0px 0px #FFFFFF;
}

.tab-nav li.active:hover {
  cursor: default;
}

.tab-nav li a {
  height: 45px;
  color: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-nav li.settings-tab a {
  height: 30px;
  padding-top: 8px;
}

.tab-nav li a:hover {
  background: inherit;
}

.view {
  margin: 25px 0px;
}

.settings-view h2 {
  font-weight: bold;
  text-rendering: optimizelegibility;
}

.userMenu {
  margin-bottom: 25px;
}

.toggle-href {
  cursor: pointer;
}

.app-menu a {
  color: inherit;
  text-decoration: none !important;
}

.tab-pane .well { 
  min-height: 600px
}

.modal {
  display: none;
}

.notesWarning {
  margin-top: 15px;
  padding: 15px;
}

.notesText {
  font-weight: bold;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #332c2c;
  background-color: #F2EDE5;
  border-color: #8F8F8C;
}

.btn-primary {
  color: #fff;
  background-color: #4A5C81;
  border-color: #2e6da4;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1D3362;
  border-color: #204d74;
}


.btn-danger {
  color: #fff;
  background-color: #CD7674;
  border-color: #813735;
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #994644;
  border-color: #ac2925;
}

.btn-success {
  color: #fff;
  background-color: #406A76;
  border-color: #4cae4c;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #104554;
  border-color: #398439;
}

.btn-warning {
  color: #fff;
  background-color: #F8CF66;
  border-color: #eea236;
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #F6BF33;
  border-color: #d58512;
}

.metadata-label {
  margin-bottom: 15px;
}

.label-add {
  color: #4A5C81;
}

.label-add:hover {
  cursor: pointer;
}

.label-remove {
  color: #CD7674;
}

.label-remove:hover {
  cursor: pointer;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  background-color: #4A5C81;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: #4A5C81;
  border-color: #1D3362;
}

.vertical-justified {
  width: 100%;
  min-width: 360px;
}

.documents-container {
  min-width: 400px;
}

.users-container {
  min-width: 650px;
}

.assume-status {
  float: left;
  color: #CD7674;
}

.control {
  float: right;
}


.global-nav {
  margin: 0 auto;
  text-align: center;
}

.global-nav, .global-nav .top-bar {
  background: #43606e;
}

.global-nav li {
  border-right: 1px solid #1b333f;
  margin-left: 0;
  display: inline-block;
}

.global-nav li:last-child {
  border-right: 0 solid #1b333f;
}

.global-nav li a {
  background: none;
  color: #fff;
  font-size: 1em;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  margin-left: -5px;
}

.global-nav li a:hover {
  text-decoration: none;
  background: #43606e;
}

.site-title {
  background: #1b333f;
  background: -moz-linear-gradient(top, #43606e 0%, #1b333f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43606e), color-stop(100%,#1b333f));
  background: -webkit-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: -o-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: -ms-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: linear-gradient(top, #43606e 0%,#1b333f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43606e', endColorstr='#1b333f');

  border-top: 1px solid #8d8d8d;
  
  height: 65px;
  padding-top: 7px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #43606e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #43606e;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.tabs {
  width: 100%;
}

.tabs hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(112, 112, 111, 0.4), rgba(50, 50, 50, 0));
  margin-top: 0px;
}

.tab {
  display: inline-block;
  padding: 8px;
  font-weight: 400;
  font-size: .9em;
  color: #666666;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab:hover {
  background: #EFEFEF;
}

.tab.active:hover {
  background: #FFFFFF;
}

.tab.active {
  border: solid thin  #DDDDDD;
  border-bottom: none;
  box-shadow: 3px -2px 8px -6px #43606E, 0px 2px 0px 0px #FFFFFF;
  cursor: default; 
}

sidebox {
  display: block;
  color: #444444;
  background-color:#ECECEC;
  border-radius:5px;
  border: 1px solid #CFCFCF;
  margin: 0 0 20px 0;
  font-family: "Lucida Grande", "Bitstream Vera Sans";
  font-size: 13px;
}

sidebox .sidebox-heading {
  color: #cccccc;
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 100%;
  cursor:pointer;
  padding: 6px 5px 0 5px;;
}

sidebox .form-group {
  text-align: center;
  padding: 5px;
}

sidebox .heading-text {
  color: #444444;
  width: 100%;
  text-align:center;
  font-weight:bold;
  font-size: 1.2em;
  cursor:pointer;
}

.sidebox-body {
  display:block;
  background-color: #ECECEC;
  padding: 8px 0 1px;
  overflow-y:hidden;
  max-height: 0;
  transition: max-height 0.35s ease-out;
}

.sidebox-body.expanded {
  max-height: 500px;
  transition: max-height 0.35s ease-out;
}

.sidebox-sub-heading {
  padding:2px 10px;
  background-color:#CCCCCC;
  font-weight:bold;
  margin:10px 0 0 0;
}

sidebox ul {
  list-style-type:none;
}

sidebox ul li {
  padding: 3px;
}
sidebox ul input {
  border: 1px solid #cccccc;
  padding: 2px 0 2px 3px;
  background-color: #ffffff;
  height:24px;

}

fieldset.fieldset-border {
  border: 1px solid #999999 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

legend.legendborder {
  color:#999999;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

.checkbox {
  display: inline-block;
  width: 170px;
  font-size: .9em;
  padding: 0 7px;
  margin: 5px 0;
  text-align: center;
  line-height: normal;
  color: #70706f;
}

.accordion .panel {
  cursor: pointer;
  margin-bottom: 3px;
}

.accordion .panel-heading {
  position: relative;
  padding-left: 10px;
  transition: padding-left 0.5s ease-out;
}

.accordion .panel-heading.expanded {
  transition: padding-left 0.5s ease-out;
  padding-left: 35px;
}

.accordion .panel-selection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
  background-image: linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  border-top-left-radius:3px;
  transition: width 0.5s ease-out;
}

.accordion .panel-heading.expanded .panel-selection {
  width: 25px;
  transition: width 0.5s ease-out;
}

.accordion .panel-body {
  max-height: 0px;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  padding: 0px;
  
}

.accordion .panel-body.expanded {
  max-height: 500px;
  transition: max-height 0.5s ease-out;
}

.panel-content-wrapper {
  padding: 25px;
}

.footer {
  color: #777;
  border-top: 1px solid #ccc;
  background: #1b333f;
  padding: 0px 0px 0px 0px;
  width: 100%;
  bottom: 0px;
  margin-top: 10px;
}

footer a, footer li, footer p {
  color: #fff;
  font-size: .9em;
}

.admin-page h1 {
  font-weight: bold;
  text-rendering: optimizelegibility;
}

.admin-page h1 + hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(112, 112, 111, 0.4), rgba(50, 50, 50, 0));
  margin-top: -10px;
}

.footer-list {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  
  .footer, .header, .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    border-radius: 0px;
  }

}

@media (min-width: 767px) and (max-width: 991px) { 

  .tab-nav li {
    padding: 0px 10px;
    margin-right: 10px;
    min-width: 50px;
    font-size: 1.25em;
  }

}

.registration {
  max-width: 400px;
}