@import "sass/main";

body {
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #70706f;
}

main {
  display: block;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

main footer {
  display: block;
  margin-bottom: 65px;
}

.breadcrumb .divider {
    padding: 0 5px;
    color: #333333;
}

.pageHead {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #cccccc;
}

.pageHead h3 {
    font-size: 2.2em;
    font-weight: normal;
    margin: 0;
}

.center {
    text-align: center;
}

.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.form-group {  
  margin: 18px 0 18px 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;
}

.main {
  padding-bottom: 35px;
}

.tab-nav {
  margin-top: 12px;
}

.tab-nav li {
  background: #92aa9c;
  padding: 0px 10px;
  margin-right: 15px;
  min-width: 75px;
  text-align: center;
  color: #1D3541;
  font-size: 1.75em;
  font-weight: bolder;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 0px -5px 7px -5px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 0px 10px rgba(255, 255, 245, 1), -1px -1px 0px rgba(250, 250, 235, 0.25), 1px 1px 0px rgba(250, 250, 235, 0.5);
}

.tab-nav li.settings-tab {
  font-size: 1.25em;
  padding: 0px 5px;
  margin-top: 15px;
  box-shadow: inset 0px -3px 5px -3px rgba(0, 0, 0, 0.75);
}

.tab-nav li:hover,
.tab-nav li.active {
  cursor: pointer;
  background: #FFFFFF;
  text-shadow: 0px 0px 0px #FFFFFF;
  box-shadow: inset 0px 0px 0px #FFFFFF;
}

.tab-nav li.active:hover {
  cursor: default;
}

.tab-nav li a {
  height: 45px;
  color: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-nav li.settings-tab a {
  height: 30px;
  padding-top: 8px;
}

.tab-nav li a:hover {
  background: inherit;
}

.view {
  margin: 25px 0px;
}

.settings-view h2 {
  font-weight: bold;
  text-rendering: optimizelegibility;
}

.userMenu {
  margin-bottom: 25px;
}

.toggle-href {
  cursor: pointer;
}

.app-menu a, .pager a {
  color: inherit;
  text-decoration: none !important;
}

.tab-pane .well { 
  min-height: 600px
}

.modal-add-btn {
  margin-bottom: 25px;
}

.modal-scroll {
  max-height: 600px;
  overflow-x: auto;
}

.notesWarning {
  margin-top: 15px;
  padding: 15px;
}

.notesText {
  font-weight: bold;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #332c2c;
  background-color: #F2EDE5;
  border-color: #8F8F8C;
}

.btn-primary {
  color: #fff;
  background-color: #4A5C81;
  border-color: #2e6da4;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1D3362;
  border-color: #204d74;
}


.btn-danger {
  color: #fff;
  background-color: #CD7674;
  border-color: #813735;
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #994644;
  border-color: #ac2925;
}

.btn-success {
  color: #fff;
  background-color: #406A76;
  border-color: #4cae4c;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #104554;
  border-color: #398439;
}

.btn-warning {
  color: #fff;
  background-color: #F8CF66;
  border-color: #eea236;
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #F6BF33;
  border-color: #d58512;
}

.metadata-label {
  margin-bottom: 15px;
}

.label-add {
  color: #4A5C81;
}

.label-add:hover {
  cursor: pointer;
}

.label-remove {
  color: #CD7674;
}

.label-remove:hover {
  cursor: pointer;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  background-color: #4A5C81;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: #4A5C81;
  border-color: #1D3362;
}

.vertical-justified {
  width: 100%;
  min-width: 360px;
}

.documents-container {
  min-width: 400px;
}

.users-container {
  min-width: 650px;
}

.assume-status {
  float: left;
  color: #CD7674;
}

.control {
  float: right;
}

.global-nav {
  margin: 0 auto;
  text-align: center;
}

.global-nav, .global-nav .top-bar {
  background: #43606e;
}

.global-nav li {
  border-right: 1px solid #1b333f;
  margin-left: 0;
  display: inline-block;
}

.global-nav li:last-child {
  border-right: 0 solid #1b333f;
}

.global-nav li a {
  background: none;
  color: #fff;
  font-size: 1em;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  margin-left: -5px;
}

.global-nav li a:hover {
  text-decoration: none;
  background: #43606e;
}

.site-title {
  background: #1b333f;
  background: -moz-linear-gradient(top, #43606e 0%, #1b333f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43606e), color-stop(100%,#1b333f));
  background: -webkit-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: -o-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: -ms-linear-gradient(top, #43606e 0%,#1b333f 100%);
  background: linear-gradient(top, #43606e 0%,#1b333f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43606e', endColorstr='#1b333f');

  border-top: 1px solid #8d8d8d;
  
  height: 65px;
  padding-top: 7px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #43606e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #43606e;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.tabs {
  width: 100%;
}

.tabs hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(112, 112, 111, 0.4), rgba(50, 50, 50, 0));
  margin-top: 0px;
}

.tab {
  display: inline-block;
  padding: 8px;
  font-weight: 400;
  font-size: .9em;
  color: #666666;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab:hover {
  background: #EFEFEF;
}

.tab.active:hover {
  background: #FFFFFF;
}

.tab.active {
  border: solid thin  #DDDDDD;
  border-bottom: none;
  box-shadow: 3px -2px 8px -6px #43606E, 0px 2px 0px 0px #FFFFFF;
  cursor: default; 
}

sidebox {
  display: block;
  color: #444444;
  background-color:#ECECEC;
  border-radius:5px;
  border: 1px solid #CFCFCF;
  margin: 0 0 20px 0;
  font-family: "Lucida Grande", "Bitstream Vera Sans";
  font-size: 13px;
}

sidebox .sidebox-heading {
  color: #cccccc;
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 100%;
  cursor:pointer;
  padding: 6px 5px 0 5px;;
}

sidebox .sidebox-body form > .form-group {
  text-align: center;
  padding: 5px;
}

sidebox .heading-text {
  color: #444444;
  width: 100%;
  text-align:center;
  font-weight:bold;
  font-size: 1.2em;
  cursor:pointer;
}

.sidebox-body {
  display:block;
  background-color: #ECECEC;
  padding: 8px 0 1px;
  overflow-y:hidden;
  max-height: 0;
  transition: max-height 0.35s ease-out;
}

.sidebox-body.expanded {
  max-height: 500px;
  transition: max-height 0.35s ease-out;
}

.sidebox-sub-heading {
  padding:2px 10px;
  background-color:#CCCCCC;
  font-weight:bold;
  margin:10px 0 0 0;
  text-transform: uppercase;
}

.sidebox-input {
  margin-left: 15px;
  margin-right: 15px;
}

sidebox ul {
  list-style-type:none;
}

sidebox ul li {
  padding: 3px;
}

sidebox ul input {
  border: 1px solid #cccccc;
  padding: 2px 0 2px 3px;
  background-color: #ffffff;
  height:24px;
}

.hover-pointer:hover {
  cursor: pointer;
}

.locking-text-area {
  border: solid;
  border-width: 1px;
  background-color: #f5f5f5;
  padding: 10px;
  min-height: 200px;
  width: 100%;
}

.locking-text-area:hover {
  cursor: not-allowed;
}

textarea.locking-text-area-not-wysiwyg {
  min-height: 200px;
}

.repeated-span {
  margin-left: 5px;
  margin-right: 5px;
}

.hint {
  color: #999999;
  font-size: 0.8em;
  margin: 13px 0 -4px 0;
}

togglebutton {
  display: block;
  min-height: 20px;
  margin-bottom: 40px;
  margin-top: 25px;
}

.toggle-button-heading {
  font-size: 1em;
  margin-top: 5px;
  display: block;
  position: relative;
}

.toggle-button .btn {
  font-size:1em;
}

.toggle-button .btn:hover {
   background-color: #ffffff;
   cursor: pointer;
}

.toggle-button .btn.active {
  background-color: #a2ccb5;
  color: #FFFFFF;
  border: 1px solid #70706f;
  outline:none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.text-field-heading {
  font-size: 1em;
  margin-top: 5px;
  display: block;
  position: relative;
}

.text-field-form-group {
  margin-top: 2px;
}

.with-tool-tip {
  display: inline-flex;
}

.text-field .expanded .with-tool-tip, .text-field .expanded .with-hint {
  width: 100%;
}

.tooltip-span-adjust {
  margin-left: 10px;
  margin-bottom: 14px;  
  line-height: 2;
  vertical-align: top;
}

a.tooltip-icon {
  float: left;
  margin-top: 1px;
  color: #666666;
  text-decoration: none;
}

a.tooltip-icon:hover {

}

a[title]:hover:after {
  position: absolute;
}

lockingtextarea .glyphicon-info-sign, togglebutton .glyphicon-info-sign {
  line-height: 2;
  margin-left: 10px;
}

.settings-view .glyphicon-info-sign.opaque {
  opacity: .5;
}

h4 {
  line-height: 22px;
}

.lock-control {
  font-size:0.95em;
  margin: 0 0 10px; 
}

.lock-control a {
  color: #666666;
  text-decoration:none;
}

.deposit-location {

}

.custom-action {

}

.graduation-month {

}

.edit-setting-icon:hover {
  cursor: pointer;
}

.sort-div {
  margin-top: -5px;
  margin-bottom: 10px;
}

.as-sortable-dragging {
  position: fixed;
  opacity: .8;
}

.as-sortable-placeholder {
  border: 1px solid #dcdcdc;
}

.td-center-middle {
	text-align: center;
	vertical-align: middle;
}

.draggable-table-row.as-sortable-item, .as-sortable-placeholder {
  display: table-row;
}

.trash-drop-zone {
  text-align: center;
  background: #efefef;
  border: dashed thick #fefefe;
  padding-top: 35px;
  width: 250px;
  height: 150px;
  color: #a6a6a6;
  border-radius: 5px;
  transition: all 0.35s ease-in;
}

.trash-drop-zone.dragging {
  transition: all 0.35s ease-in;
  border-color: #a6a6a6;
}

.trash-drop-zone .glyphicon-trash {
  transition: all 0.35s ease-in;
  color: #fefefe;
  text-shadow: 1px 0 5px #a6a6a6;
  font-size: 70px;
}

.trash-drop-zone.dragging .glyphicon-trash {
  transition: all 0.35s ease-in;
  color: #a6a6a6;
  text-shadow: 1px 0 5px #fefefe;
  font-size: 70px;
}


/* TODO: combine with above to remove redundency */

.upload-drop-zone {
  text-align: center;
  background: #efefef;
  border: dashed thick #fefefe;
  padding-top: 35px;
  max-width: 250px;
  height: 150px;
  color: #a6a6a6;
  border-radius: 5px;
  transition: all 0.35s ease-in;
}

.upload-drop-zone.dragging-accept {
  transition: all 0.35s ease-in;
  border-color: #a6a6a6;
}

.upload-drop-zone .glyphicon-upload {
  transition: all 0.35s ease-in;
  color: #fefefe;
  text-shadow: 1px 0 5px #a6a6a6;
  font-size: 70px;
}

.upload-drop-zone .glyphicon-upload:hover {
  cursor: pointer;
}

.upload-drop-zone.dragging .glyphicon-upload,
.upload-drop-zone.reject .glyphicon-ban-circle {
  transition: all 0.35s ease-in;
  color: #a6a6a6;
  text-shadow: 1px 0 5px #fefefe;
  font-size: 70px;
}

.upload-drop-zone.reject {
  transition: all 0.35s ease-in;
  background:  #f3d9d9;
  color: #d9534f;
  border-color: #d9534f;
}

.upload-drop-zone.reject .glyphicon-ban-circle {
  transition: all 0.35s ease-in;
  color: #d9534f;
}

.red {
  color: red;
}

.cv-change {
  margin-left: 5px;
  margin-right: 5px;
}



/* FILE UPLOAD BUTTON */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


.degreeCodes label {
  margin-top: 3px;
  font-weight: lighter;
}
.degreeCodes p {
  margin-bottom: 15px;
}

fieldset.fieldset-border {
  border: 1px solid #999999 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

legend.legendborder {
  color:#999999;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

.my-profile-section .checkbox  {
  display: inline-block;
  width: 170px;
  font-size: .9em;
  padding: 0 7px;
  margin: 5px 0;
  text-align: center;
  line-height: normal;
  color: #70706f;
}

.footer {
  color: #777;
  border-top: 1px solid #ccc;
  background: #1b333f;
  padding: 0px 0px 0px 0px;
  width: 100%;
  bottom: 0px;
  margin-top: 10px;
}

footer a, footer li, footer p {
  color: #fff;
  font-size: .9em;
}

.admin-page h1,
.my-profile h1 {
  font-weight: bold;
  text-rendering: optimizelegibility;
}

.admin-page h1 + hr,
.my-profile h1 + hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(112, 112, 111, 0.4), rgba(50, 50, 50, 0));
  margin-top: -10px;
}

.admin-settings .panel-heading span, .admin-settings .action {
  text-transform: uppercase;
}

.my-profile h1 {
  font-size: 2.2em;
  font-weight: normal;
  margin: 0;
  line-height: 80px;
}

.my-profile-section {
  padding: 10px 0px 0 0px;
  margin: 1px;
}

/*****************My Profile heading, SETTINGS ACCESS TABLE HEADING*********************/
.my-profile-section h2, .resultHeading {
  color: #666666;
  font-size: 19.5px;
  line-height: 35px;
  padding: 0 0 0 20px;
  border: none;
  margin: 0;
  height: 30px;
  background: -webkit-linear-gradient(#FBFBFB, #E9EAEC);
}

.edit-handle:hover {
  cursor: pointer;
}

.fieldset-border {
  border: 1px solid #999999;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
}

.legendborder {
  color:#70706f;
  font-size: 1.1em;
  text-align: left;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

.my-profile-section .checkbox {
  float: left;
  font-size: .9em;
  padding: 0 19px;
  margin: 5px 0;
  line-height: normal;
  color: #70706f;
}

.control-group.required .control-label:before { 
   content:"*";
   color:#70706f;
}

.pager {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

.add-member {
  padding-bottom: 12px;
}

.btn:focus , input[type=color]:focus { 
  outline:none;
}

/**************************
* LOOK AND FEEL ACCORDION *
***************************/

.look-and-feel .color-reset {
  text-indent: 0em;
  font-size: 0.85em;
  cursor: pointer;
}

.look-and-feel input[type=color] {
  visibility:hidden;
}

.look-and-feel lockingtextarea {
  display: block;
  margin-top: 25px;
}

.look-and-feel .color-input {
  height: 37px;
}

.look-and-feel .color-selector {
  max-width: 200px;
}

.look-and-feel label.color-selector-swatch {
  display: inherit;
  max-width: 23px;
}

.look-and-feel .logo-wraper {
    margin-left: 25px;
}

.look-and-feel .logo-preview {
    text-align: center;
    max-width: 200px;
    max-height: 150px;
    margin-bottom: 25px;
    border: solid thin #efefef;
    padding: 10px;
}

.look-and-feel .logos p {
  margin: 0px 0 3px 4px;
}

.look-and-feel .logos img {
  border: 1px solid black;
  background: #FFF;
  margin:15px 0;
}

.footer-list {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  
  .footer, .header, .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    border-radius: 0px;
  }

  .pull-right-lg {
    float: right;
  }

  .pull-left-lg {
    float: left;
  }

}

@media (min-width: 767px) and (max-width: 991px) { 

  .tab-nav li {
    padding: 0px 10px;
    margin-right: 10px;
    min-width: 50px;
    font-size: 1.25em;
  }

}

.registration {
  max-width: 400px;
}

/************************
* ORGANIZARION/WORKFLOW *
*************************/

.triptych .divider-wrapper {
  text-align:center;
  margin: 20px 0px;
}

.triptych .divider {
  margin: 0px;
}

.triptych .divider-wrapper:hover {
  cursor: pointer;
}

.triptych-wrapper {
  display: block;
  overflow: hidden;
  max-height: 1000px;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}



.triptych-wrapper.collapse {
  max-height: 122px;
}

.triptych .panel-wrapper {
  float: left;
  overflow: hidden;
  max-width: 100%;
  max-height: 0;
  opacity: 0;
  -webkit-transition: max-width 0.35s ease-in-out, opacity 0.35s ease-in-out;
  -moz-transition: max-width 0.35s ease-in-out, opacity 0.35s ease-in-out;
  -o-transition: max-width 0.35s ease-in-out, opacity 0.35s ease-in-out;
  transition: max-width 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.triptych .panel-wrapper.closing {
  max-width: 0%;
} 

.triptych .panel-wrapper.opening {
  max-width: 100%;
}

.triptych .panel-wrapper.shown {
  max-height: 500px;
  opacity: 1;
}

.triptych .panel-heading span {
  text-transform: none;
}

.triptych .panel-heading .category-heading.multiple.active,
.triptych .panel-heading .category-heading.multiple:hover {
  text-decoration: underline;
}

.triptych .panel-heading .category-heading.multiple:hover {
  cursor: pointer;
}

.triptych-navigation {}

.triptych-navigation .breadcrumb {
  min-height: 60px;
  display: inline-block;
  margin-left: 15px;
}

.triptych-navigation .breadcrumb>li:last-child {
  font-weight: bolder;
  display: block;
}

.triptych-navigation .breadcrumb .glyphicon-arrow-down {
  vertical-align: middle;
}

.triptych-navigation breadcrumb {}

.triptych-panels {}

.triptych-panels .glyphicon-arrow-right {
  display: none;
}

.triptych-panel {
  min-height: 250px;
  max-height: 250px;
  min-width: 215px;
}

.triptych-panel.active .glyphicon-arrow-right,
.triptych-panel.previously-active .glyphicon-arrow-right {
  display: inline-block;
}

.triptych-panel .list-group {
    padding-left: 0;
    margin-bottom: 0px;
}

.triptych-panel .list-group-item {
    position: relative;
    min-height: 50px;
}

.triptych-panel .list-group-item .inline-list > li {
  margin-left: 0.5em;
}

.triptych-panel .list-group-item .context-icons {
  font-size: 1.25em;
  line-height: 1.25;
}

.triptych-panel.active .list-group-item.selected .context-icons.active,
.triptych-panel .list-group-item .context-icons:hover {
  color: rgba(31, 58, 71, 0.95);
}

.triptych-panel .list-group-item .category-label {
    position: absolute;
    bottom: 3px;
    left: 15px;
    font-size: 0.75em;
    font-style: italic;
}

.triptych-panel .list-group-item:hover {
    cursor: pointer;
    color: #70706f;
    background: #efefef;
}

.triptych-panel.previously-active .list-group-item.selected {
    color: #70706f;
    background: #E6ECE8;
}   

.triptych-panel .list-group-item.selected {
    color: #fff;
    background: #92AA9C;
} 

.triptych-panel .panel-body {
  max-height: 200px;
  padding: 7px;
  overflow: hidden;
  overflow-y: scroll;
}

.triptych-panel.active .panel-heading {
  color: white;
  background: rgb(31, 58, 71);
  background: -moz-linear-gradient linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -webkit-linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -ms-linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
}

.triptych-panel.previously-active .panel-heading {
  color: white;
  background: rgb(31, 58, 71);
  background: -moz-linear-gradient linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: -webkit-linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: -ms-linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
}

.triptych .down-arrow {
  width: 1px;
  height: 25px;
  margin: auto;
}

.triptych-panel-entry {}

#organizationManagement .panel-wrap {
  display: none;
}

#organizationManagement .panel-wrap.active {
  display: block;
}

#organizationManagement .panel-title span.active {
  color: #337ab7;
  cursor: pointer;
}

#organizationManagement .management-pane-selector:hover {
  cursor: pointer;
}

#organizationManagement .add-workflow-step:hover {
  cursor: pointer;
  color:  #337ab7;
}

/*************
* DIRECTIVES *
**************/

/*Accordion*/

.accordion .panel {
  margin-bottom: 3px;
}

.accordion .panel-heading {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  -webkit-transition: padding-left 0.5s ease-out;
  transition: padding-left 0.5s ease-out;
}

.accordion .panel-heading.expanded {
  padding-left: 50px;
  -webkit-transition: padding-left 0.5s ease-out;
  transition: padding-left 0.5s ease-out;
}

.accordion .panel-selection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
  background: rgb(31, 58, 71);
  background: -moz-linear-gradient linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -webkit-linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -ms-linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  border-top-left-radius:3px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.accordion .panel-heading.expanded .panel-selection {
  width: 40px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.accordion .panel-body {
  max-height: 0px;
  overflow-y: auto; /* degree codes need scroll  overflow: hidden;*/
  padding: 0px;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.accordion .panel-body.expanded {
  max-height: 700px;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.accordion .loader {
  margin-left: 4.5px;
  margin-top: 4.5px;
}

.panel-content-wrapper {
  padding: 25px;
}

/* Tooltip */

.tooltip-wrapper {
  position: relative;
}

.tooltip-handle:hover {
  cursor: help;
}

.tip.hidden {
  z-index: -100;
}

.tip {
  position: fixed;
  top: 999999px;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px #CCC;
  background: rgba(31, 58, 71, 0.95);
  background: -moz-linear-gradient(to bottom, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -webkit-linear-gradient(to bottom, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -ms-linear-gradient(to bottom, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: linear-gradient(to bottom, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.tip.tip-visible {
  opacity: 1;
  z-index: 100;
}

.tip-point {
    position: absolute;
    top: -10px;
    left: 12px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #CCC;
}

.tip-point:after{
    content:'';
    position:absolute;
    top:4px;
    left:-8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(41, 68, 81, 1);
}

.tip-message {
  width: 100%;
  margin: auto;
  color: #EFEFEF;
  font-size: .85em;
}

.tip.tip-visible .tip-message {
  z-index: 102 !important;
}

.mouse-hover-pointer:hover {
  cursor:pointer;
}

#email-template-modal-instructions-label{
  margin-top:20px;
  margin-bottom:5px;
  font-weight:700;
  font-size: 13px;
}

#email-template-modal-instructions-list{
  cursor:help;
}

.accordion-order-box {
  color: #afafaf;
  margin-top: -9px;
  margin-right: -10px;
  text-align: center;
  width: 25px;
}

.accordion-order-box .glyphicon-chevron-down,
.accordion-order-box .glyphicon-chevron-up  {


  color: inherit;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#afafaf, #afafaf);
  background: -o-linear-gradient(#afafaf, #afafaf);
  text-shadow: 0px 2px 3px rgba(255,255,255,0.75);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  // background-color: #afafaf;
  // color: transparent;
  // text-shadow: 0px 2px 3px rgba(255,255,255,0.75);
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // background-clip: text;
}

.panel-heading:hover .accordion-order-box .glyphicon-chevron-down,
.panel-heading:hover .accordion-order-box .glyphicon-chevron-up  {
  color: #afafaf;
  -webkit-text-fill-color: #afafaf;
  background: -webkit-linear-gradient(transparent, transparent);
  background: -o-linear-gradient(transparent, transparent);
  text-shadow: 0px 2px 3px transparent;
  -webkit-background-clip: initial;
  -moz-background-clip: initial;
  background-clip: initial;
}

.panel-heading:hover .accordion-order-box .glyphicon-chevron-down:active,
.panel-heading:hover .accordion-order-box .glyphicon-chevron-up:active, {
  color: #337ab7;
  -webkit-text-fill-color: #337ab7;
}

.field-profile-modal-group {
	margin-top: 55px;
}

.fp-gloss-predicate-button {
	float:right;
	margin-top: 10px;
}

.field-profile .input-group {
  max-width: 40%;
}

.field-profile .input-group.file-input-group {
  max-width: 100%;
}

.field-profile label {
  font-weight: normal;
}

.field-profile label.required {
  font-weight: bold;
}

.field-profile label.required::before {
  content: "*  ";
}

.field-profile .file-info-tip {
  /*margin-top: 10px;
  margin-right: 12px;*/
  position: absolute;
  right: 10px;
  top: 10px;
}

.field-profile .file-preview {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.field-profile .file-preview img,
.field-profile .file-preview .glyphicon {
    display: inline-block;
    font-size: 6em;
    max-width: 69px;
}

.field-profile .file-info {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    vertical-align:top;
}

.field-profile .file-info p {
    margin-bottom: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20ch;
}

.field-profile .file-info .file-name{
  font-weight: bold;
}

.file-preview-container {
  padding-top: 35px;
  padding-left: 0;
  padding-right: 0;

}

/********************
* ETD Table Styling *
********************/


#etd-table {
	.header {
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%);
		background: -webkit-linear-gradient(top, #ffffff 0%,#e4e4e4 100%);
		background: linear-gradient(to bottom, #ffffff 0%,#e4e4e4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
	}
}

/***********************
** STUDENT SUBMISSION **
************************/

.submission-workflow-steps-navigation {
  margin-bottom: 25px;
}

.submission-workflow-step-navigation a {
  width: 95%;
  color: white;
  background: rgb(31, 58, 71);
  background: -moz-linear-gradient linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: -webkit-linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: -ms-linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
  background: linear-gradient(to right, rgba(146, 170, 156, 0.95), rgba(173, 189, 170, 0.95));
}

.submission-workflow-step-navigation a:hover,
.submission-workflow-step-navigation.active a {
  cursor: pointer;
  background: rgb(31, 58, 71);
  background: -moz-linear-gradient linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -webkit-linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: -ms-linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
  background: linear-gradient(to right, rgba(31, 58, 71, 0.95), rgba(80, 114, 129, 0.95));
}

.field-value-input:not(:last-of-type) {
  margin-bottom: 5px;
}

.select-toggle:hover {
  cursor: pointer;
}

.select-option {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
}

.select-option:hover {
  cursor: pointer;
  background: #efefef;
}

.select-value {
  white-space: nowrap;
}



.organization-create-button {
  white-space:normal !important;
  word-wrap:break-word; 
}

/********
* NOTES *
*********/

.note {
  position: relative;
  max-width: 225px;
  padding: 15px 15px 35px 35px;
  background: #f5e49d;
  margin-bottom: 25px;
  box-shadow: 3px 3px 7px 0px #e0ddce;
}

.note .glyphicon {
  position: absolute;
  top: 7px;
  left: 8px;
}

/************************************
 * Submission View Column Selection *
 ************************************/


 .column-modal {
  height: 750px;
  overflow-y: scroll;
 }

.column-background {
  list-style-type: none;
  margin: 0;
  background: #CCCCCC;
  padding: 5px;
}

.displayed-column {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin: 5px;
  padding: 5px;
}

.displayed-column-container {
  margin: 0;
  padding: 0;
}

.disabled-column {
  color: #666666;
  background-color: #EEEEEE;
  border-color: #CCCCCC;
  margin: 5px;
  padding: 5px;
}

.disabled-column-container {
  margin: 0;
  padding: 0;
}

.column-placeholder {
  color: #c09853;
  background-color: #fcf8e3 !important;
  border: 1px solid #fbeed5;
  margin-left: 5px;
  display: inline-block;
}


.results-per-page-container {
  margin-top: 20px;
}

.results-per-page-select {
  width: 50% !important;
  margin-left: 5px;
}

// Now Filtering By Side Module
.now-filtering-by .glyphicon {
  font-size: 0.75em;
}

.now-filtering-by a {
  color:inherit;
}
