<div class="container review-page">
	<h1 class="center">Review Application </h1>

	<reviewsubmissionsields 
		submission="submission" 
		filter-optional="true"
		hide-links="true"
		ng-if="advisorSubmissionRepoReady">	
	</reviewsubmissionsields>

	<div class="row">
		<h3>Application Activity</h3>
		<hr>
	</div>

	<div class="row">
		<h3>Approval</h3>
		<hr>

		<form>
			<div class="row">
				<div class="col-sm-2 col-sm-offset-1 col-xs-12">
					Approve Embargo:
				</div>
				<div class="col-sm-9 col-xs-12">
					<ul class="list-unstyled">
						<div class="radio">
							<label><input type="radio" name="approveEmbargo">I approve of the embargo selection.</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="approveEmbargo">I reject the embargo selection. (Please leave a comment explaining why below)</label>
						</div>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-offset-1 col-xs-12">
					Approve Application:
				</div>
				<div class="col-sm-9 col-xs-12">
					<ul class="list-unstyled">
						<div class="radio">
							<label><input type="radio" name="approveApplication">I approve this application.</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="approveApplication">I reject this application. (Please leave a comment explaining why below)</label>
						</div>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-offset-1 col-xs-12">
					Comments:
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="form-group">
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div class="col-xs-3">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 center">
					<button class="btn btn-primary">Submit</button>
				</div>
			</div>
			

		</form>
	</div>
</div>