<div class="container">
  <div class="submission-view-container">
    <div class="submission-view-top">
      <ul class="breadcrumb">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/submission/history">Submissions</a>
        </li>
        <li class="active">View</li>
      </ul>
      <h1>Submission View</h1>
      <submissiondialog submission="submission" type="actions"></submissiondialog>
      <div class="student-submission-loader" ng-class="{'ready': loaded}">
        <img src="resources/images/ajax-loader.gif"/>
      </div>
      <reviewsubmissionsfields submission="submission" hide-links="true" ng-if="loaded"></reviewsubmissionsfields>

      <div class="row" ng-show="loaded">
        <h3>Application Activity</h3>
        <hr/>
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered table-striped table-hover action-log-table">
            <thead>
              <tr>
                <th>Action By</th>
                <th>Action / Comment</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="actionLog in submission.actionLogs | orderBy:'-' | limitTo:actionLogCurrentLimit" ng-class="{'danger': actionLog.privateFlag}">
                <td>{{actionLog.user.settings.displayName}}</td>
                <td>{{actionLog.entry}}
                  <spam class="private-flag" ng-if="actionLog.privateFlag">[private]</spam>
                </td>
                <td>{{actionLog.actionDate | date:'MMM dd, yyyy HH:mm'}}</td>
              </tr>
            </tbody>
            <tfoot ng-if="submission.actionLogs.length>actionLogLimit">
              <tr>
                <td ng-click="updateActionLogLimit()">
                  <span class="action-log-more-less" ng-if="actionLogCurrentLimit===actionLogLimit">[more]</span>
                  <span class="action-log-more-less" ng-if="actionLogCurrentLimit!==actionLogLimit">[less]</span>
                </td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <div class="submission-view-bottom">
      <submissiondialog submission="submission" type="state"></submissiondialog>
    </div>
  </div>
</div>
