
<div class="row submission-workflow-steps-navigation">
	<div class="col-xs-12">
		<ul class="nav nav-pills nav-justified">
			<li  class="submission-workflow-step-navigation" ng-class="{'active': activeStep.id == workflowStep.id}" ng-repeat="workflowStep in submission.submissionWorkflowSteps">
				<a ng-click="setAcitveStep(workflowStep)">{{workflowStep.name}} <span 	class="glyphicon glyphicon-arrow-right pull-right"
						ng-if="!$last">
				</span> </a>
			</li>
		</ul>
	</div>
</div>

<div class="row submission-workflow-steps">
	<div class="col-xs-12">
		<ul class="list-unstyled">
			<li ng-repeat="fieldProfile in activeStep.aggregateFieldProfiles">
				<div class="form-group">
					<label>{{fieldProfile.fieldGlosses[0].value}}:</label> 
					({{fieldProfile.inputType}})
				</div>
			</li>
		</ul>
	</div>
</div>


