<div class="confirm-submit">
	<h1>Confirm & Submit</h1>

	<h3>Instructions:</h3>

	<p>
	Please verify all the information displayed below before proceeding. Once you click the button to approve this document, you cannot make any more changes to the form's data without contacting your local thesis office.</p>

	<reviewsubmissionsields submission="submission"></reviewsubmissionsields>

	<h3>Warning:</h3>

	<p>After pressing "Confirm and Submit" you cannot make any more changes to the form's data without contacting your local thesis office.</p>

</div>
