<div class="row submission-workflow-steps-navigation">
	<div class="col-xs-12">
		<ul class="nav nav-pills nav-justified">
			<li  class="submission-workflow-step-navigation" ng-class="{'active': activeStep.id == workflowStep.id}" ng-repeat="workflowStep in submission.submissionWorkflowSteps">
				<a ng-click="setActiveStep(workflowStep)">{{$index+1}}. {{workflowStep.name}} <span class="glyphicon glyphicon-arrow-right pull-right"></span></a>
			</li>
			<li  class="submission-workflow-step-navigation" ng-class="{'active': activeStep === 'review'}">
				<a ng-click="setActiveStep('review')">Review</a>
			</li>
		</ul>
	</div>
</div>

<div class="row">

	<div class="col-xs-12 col-sm-7 col-sm-offset-2 submission-workflow-steps">
		<ul class="list-unstyled">
			<li ng-repeat="fp in activeStep.aggregateFieldProfiles">
				<field profile="fp"></field>
			</li>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-3 submission-notes">
		<ul class="list-unstyled">
			<li ng-repeat="n in activeStep.aggregateNotes">
				<submissionnote note="n"></submissionnote>
			</li>
		</ul>
	</div>

</div>

<div class="row">
	<div class="col-xs-12">
		<ul class="inline-list">
			<li><button class="btn btn-default" ng-click="setAcitveStep(nextStep)" ng-if="!onLastStep()">Continue to {{nextStep.name}}</button></li>
		</ul>
	</div>
</div>
