<div class="row">
  <triptych header="{{newSubmissionTextHeader}}">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <form name="newSubmission" ng-if="selectedOrganization.id">
          <button ng-if="!hasSubmission(selectedOrganization) && selectedOrganization.acceptsSubmissions" class="btn btn-primary form-control" ng-click="createSubmission()">
            <span>Start {{selectedOrganization.name}} Submission</span>
          </button>
          <button ng-if="hasSubmission(selectedOrganization)" class="btn btn-primary form-control" ng-click="gotoSubmission(selectedOrganization)">
            <span>Continue {{selectedOrganization.name}} Submission</span>
          </button>
          <button ng-if="!selectedOrganization.acceptsSubmissions" class="btn btn-primary disabled form-control">
            <span>Choose an Organiztion that allows Submissions</span>
          </button>
        </form>
      </div>
    </div>
  </triptych>
</div>
