<div class="input-group">
	<input  type="tel" 
			class="form-control" 
			name="profile.predicate.value" 
			ng-required="!profile.optional" 
			ng-blur="save(value)"
			ng-dissabled="saving===value.id"
			ng-model="values[$index].value" 
	/>
	<span class="input-group-addon">
        <span ng-if="saving===0||saving!==value.id" class="glyphicon glyphicon-info-sign opaque" tooltip="{{ profile.help }}"> </span>
        <span ng-if="saving===value.id" class="glyphicon glyphicon-refresh spinning"> </span>
    </span>
</div>