<div class="input-radio-container" ng-repeat="word in profile.controlledVocabularies[0].dictionary" ng-click="values[$parent.$index].value = word.defenition ? word.defenition : word.name">

	<div class="col-xs-8">
		<span class="radio-label">{{word.name}}:</span>
	</div>
	<div class="col-xs-2">
		<input  type="radio" 
				ng-model="values[$parent.$index].value"
				ng-click="save(value)" 
				name="profile.predicate.value"
				ng-dissabled="saving" 
				value="{{word.defenition ? word.defenition : word.name}}" 
		/>
	</div>
	<div class="col-xs-2">
		<span ng-if="!saving" class="glyphicon glyphicon-info-sign opaque" tooltip="{{ profile.help }}"> </span>
		<span ng-if="saving" class="glyphicon glyphicon-refresh spinning" tooltip="{{ profile.help }}"> </span>
	</div>
	
</div>