<div class="input-group">
	<input  type="text" 
			class="form-control" 
			name="profile.fieldPredicate.value" 
			ng-required="!profile.optional" 
			ng-model="values[$index].value"
			ng-blur="save(value)"
			ng-disabled="saving===value.id"
			placeholder="Input {{profile.fieldGlosses[0].value}}" 
	/>
	<span class="input-group-addon">
        <span ng-if="showInfo(value)" class="glyphicon glyphicon-info-sign opaque" tooltip="{{ profile.help }}"> </span>
        <span ng-if="!showInfo(value)" class="glyphicon glyphicon-refresh spinning"> </span>
    </span>
</div>