<div class="input-group">
	<span class="input-group-addon" ng-click="date=true">
    	<span class="glyphicon glyphicon-calendar"></span>
  	</span>
  	<input  type="text" 
      			class="form-control" 
      			uib-datepicker-popup="MM/dd/yyyy" 
      			ng-model="values[$index].value"
      			ng-change="save(value)"
      			is-open="date"
            ng-disabled="saving===value.id" 
            ng-required="!profile.optional" 
      			close-text="Close"
            stringtodate 
  	/>
  	<span class="input-group-addon">
        <span ng-if="showInfo(value)" class="glyphicon glyphicon-info-sign opaque" tooltip="{{ profile.help }}"> </span>
        <span ng-if="!showInfo(value)" class="glyphicon glyphicon-refresh spinning"> </span>
    </span>
</div>